/* 
https://github.com/soulhotel/FF-CSS-ULTIMA

Tabs Size: (XS = 40px) (S = 140px) (L = 250px)

@import url(theme/all-global-positioning-xs.css);
@import url(theme/all-global-positioning-s.css);
@import url(theme/all-global-positioning-l.css);
*/

/*-------------------------- Change tab size: ------------------------*/

@import url(theme/all-global-positioning-s.css);

/*----------------------------------------------------------------------*/


/*---------------------(Optional) autohide tabs-------------------------*/

/*@import url(theme/function-tabs-autohide-i.css);*/ /*--tabs overlay content--*/
/*@import url(theme/function-tabs-autohide-ii.css);*/ /*--tabs push content to the side--*/

/*----------------------------------------------------------------------*/

@import url(theme/all-global-theme-fullmoon.css);
@import url(theme/all-global-theme-dusky.css);

@import url(theme/position-verttab.css);
@import url(theme/position-findbar.css);

@import url(theme/function-mini-button-bar.css);
@import url(theme/function-tabs-collapse.css);
@import url(theme/function-menu-button.css);
@import url(theme/function-privatemode-indicator.css); /* sourced from MOG */
@import url(theme/function-urlbar.css);
@import url(theme/function-extensions-menu.css);

@import url(theme/theme-return-window-controls.css);
@import url(theme/theme-context-menu.css);
@import url(theme/theme-menubar.css);
@import url(theme/theme-statuspanel.css);
@import url(theme/theme-PIP.css);
@import url(theme/theme-tab-audio-indicator.css);
