/*///////////////////////////////////////////////////////////////////////////////////////\

┏┓┏┓  ┳┳┓ ┏┳┓┳┳┳┓┏┓
┣ ┣   ┃┃┃  ┃ ┃┃┃┃┣┫
┻ ┻   ┗┛┗┛ ┻ ┻┛ ┗┛┗
                   
FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
Wiki:              https://github.com/soulhotel/FF-ULTIMA/wiki
Latest Version:    https://github.com/soulhotel/FF-ULTIMA/releases/latest                 
License:           MPL 2.0 https://github.com/soulhotel/FF-ULTIMA/blob/main/LICENSE

\////////////////////////////////////////////////////////////////////////////////////////*/

@import url(theme/all-global-positioning.css);
@import url(theme/all-color-schemes.css);

@import url(theme/function-sidebar-autohide.css);
@import url(theme/function-sidebery-autohide.css);
@import url(theme/function-privatemode.css); /* sourced from MOG */
@import url(theme/function-urlbar.css);
@import url(theme/function-extensions-menu.css);
/*@import url(theme/function-safeguard.css);*/

@import url(theme/theme-xstyle.css);
@import url(theme/theme-context-menu.css);
@import url(theme/theme-statuspanel.css);
@import url(theme/theme-findbar.css);
@import url(theme/theme-PIP.css);
@import url(theme/theme-tab-audio-indicator.css);

@import url(theme/all-global-configurations.css);


