/*///////////////////////////////////////////////////////////////////////////////////////\

┏┓┏┓  ┳┳┓ ┏┳┓┳┳┳┓┏┓
┣ ┣   ┃┃┃  ┃ ┃┃┃┃┣┫
┻ ┻   ┗┛┗┛ ┻ ┻┛ ┗┛┗
                   
FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
Wiki:              https://github.com/soulhotel/FF-ULTIMA/wiki
Latest Version:    https://github.com/soulhotel/FF-ULTIMA/releases/latest                 
License:           MPL 2.0 https://github.com/soulhotel/FF-ULTIMA/blob/main/LICENSE

\////////////////////////////////////////////////////////////////////////////////////////*/

/* 
- To remove a certain websites style, just delete its line below.
- Then open the website in new tab, no restart needed.
*/

@import url(theme/website-styles.css); /*styling for multiple websites*/

@import url(theme/website-newtab.css); /*new tab page*/

@import url(theme/website-newtab-wallpapers.css); /*new tab page wallpapers*/

@import url(theme/website-reddit.css); /*reddit*/

@import url(theme/website-yt.css); /*youtube*/

@import url(theme/website-private.css); /*private new tab page */

/*@import url(theme/sidebery-theming.css); WIP */

