/*///////////////////////////////////////////////////////////////////////////////////////\

┏┓┏┓  ┳┳┓ ┏┳┓┳┳┳┓┏┓
┣ ┣   ┃┃┃  ┃ ┃┃┃┃┣┫
┻ ┻   ┗┛┗┛ ┻ ┻┛ ┗┛┗
                   
FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
Wiki:              https://github.com/soulhotel/FF-ULTIMA/wiki
Latest Version:    https://github.com/soulhotel/FF-ULTIMA/releases/latest                 
License:           MPL 2.0 https://github.com/soulhotel/FF-ULTIMA/blob/main/LICENSE

\////////////////////////////////////////////////////////////////////////////////////////*/

@import url(theme/all-global-positioning.css);
@import url(theme/all-color-schemes.css);

@import url(theme/function-sidebar-autohide.css);
@import url(theme/function-sidebery-autohide.css);
@import url(theme/function-privatemode.css); /* sourced from MOG */
@import url(theme/function-urlbar.css);
@import url(theme/function-extensions-menu.css);
/*@import url(theme/function-safeguard.css);*/

@import url(theme/theme-xstyle.css);
@import url(theme/theme-context-menu.css);
@import url(theme/theme-statuspanel.css);
@import url(theme/theme-findbar.css);
@import url(theme/theme-PIP.css);
@import url(theme/theme-tab-audio-indicator.css);

@import url(theme/nightly-override.css);

/* will expand on this method for the 135 nightly update soon. Restoring Vertical tab collapsed visual.
@media not (-moz-bool-pref: "nightly-override") {
@media (-moz-bool-pref: "ultima.tabs.autohide") {
  
    :root {--uc-vertical-collapsed-width:101px;}
    #sidebar-main * {--uc-vertical-collapsed-width:56px !important;}
    #sidebar-main:has(#tabbrowser-tabs[expanded]):not(:hover) ~ #tabbrowser-tabbox {z-index:1000 !important;}   
    #sidebar-main:not(:has(#tabbrowser-tabs[expanded])) {
        z-index:0 !important;
      }   
  
}
}
*/
