/*///////////////////////////////////////////////////////////////////////////////////////\

FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
File Desc:         Default Color Scheme - Full Moon (Dark Mode) & Dusky (Light Mode)

All of these Variables - Control the color everywhere
Applying variables further to create the Theme

\////////////////////////////////////////////////////////////////////////////////////////*/

/* All of these Variables - Control the color everywhere. For light mode and dark mode. Allowing most/all customization to be done in one place */

@media (prefers-color-scheme: dark) { :root:not([lwtheme]) {
    --uc-browser-color:        rgb(43, 42, 51);
    --uc-text-color:           white;
    --uc-layered-background:   rgb(35, 35, 42);
    --uc-navbar-background:    var(--uc-browser-color);
    --uc-urlbar-background:    var(--uc-layered-background);
    --uc-bookbar-background:   var(--uc-browser-color);
    --uc-tabbar-background:    var(--uc-browser-color);
    --uc-findbar-background:   var(--uc-layered-background);
    --uc-sidebar-background:   var(--uc-layered-background);
    --uc-tab-selected:         rgb(35, 35, 42);
    --uc-tab-selected-text:    var(--uc-accent-color-5);
    --uc-tab-selected-outline: var(--uc-accent-color-5);
    --uc-tab-background:       transparent;
    --uc-tab-outline:          transparent;
    --uc-button-selected:      rgba(25, 25, 30, 0.6);
    --uc-button-color:         var(--uc-text-color);
    --uc-button-red:           #f54e4e;
    --uc-input-background:     color-mix(in srgb, var(--uc-layered-background) 90%, black);
    --uc-context-menu:         var(--uc-layered-background);
    --uc-menu-background:      var(--uc-layered-background);
    --uc-menu-border:          color-mix(in srgb, var(--uc-menu-background), grey 10%);
    --uc-outline-border:       rgba(150, 150, 155, 0.2);
    --uc-accent-border:        color-mix(in srgb, var(--uc-accent-color-3) 10%, transparent)  !important;
    --uc-accent-color-1:       #f3faaa;
    --uc-accent-color-2:       rgb(90, 121, 156);
    --uc-accent-color-3:       white;
    --uc-accent-color-4:       rgba(28, 27, 34, 0.5);
    --uc-accent-color-5:       rgb(121, 161, 195);
    --uc-transparent:          rgba(0,0,0,0);
    --uc-box-shadow:           0.15rem 0.3rem 0.3rem -0.1rem rgba(0,0,0,0.4);
    --uc-light-box-shadow:     0.15rem 0.3rem 0.3rem -0.1rem rgba(25,25,25,0.2);
    --uc-button-border-radius: 10px;
    --uc-urlbar-border-radius: calc(var(--uc-button-border-radius) - 0px);
    --uc-menu-border-radius:   calc(var(--uc-button-border-radius) - 2px);
    --uc-tab-border-radius:    calc(var(--uc-button-border-radius) - 0px);
}}

@media (prefers-color-scheme: light) { :root:not([lwtheme]) {
    --uc-browser-color:        rgb(250, 250, 255);
    --uc-text-color:           rgb(45, 45, 45);
    --uc-layered-background:   rgb(242, 242, 248);
    --uc-navbar-background:    var(--uc-browser-color);
    --uc-urlbar-background:    var(--uc-layered-background);
    --uc-bookbar-background:   var(--uc-browser-color);
    --uc-tabbar-background:    var(--uc-browser-color);
    --uc-findbar-background:   var(--uc-layered-background);
    --uc-sidebar-background:   var(--uc-layered-background);
    --uc-tab-selected:         rgb(232, 232, 236);
    --uc-tab-selected-text:    var(--uc-accent-color-5);
    --uc-tab-selected-outline: var(--uc-accent-color-5);
    --uc-tab-background:       transparent;
    --uc-tab-outline:          transparent;
    --uc-button-selected:      rgb(220, 220, 255);
    --uc-button-color:         var(--uc-text-color);
    --uc-button-red:           #f54e4e;
    --uc-input-background:     color-mix(in srgb, var(--uc-layered-background) 80%, rgba(200,200,216,0.4));
    --uc-context-menu:         white;
    --uc-menu-background:      white;
    --uc-menu-border:          rgba(125, 125, 125, 0.4);
    --uc-outline-border:       rgba(125, 125, 125, 0.3);
    --uc-accent-border:        color-mix(in srgb, var(--uc-accent-color-3) 10%, transparent);
    --uc-accent-color-1:       #f3faaa;
    --uc-accent-color-2:       rgb(90, 121, 156);
    --uc-accent-color-3:       white;
    --uc-accent-color-4:       rgba(28, 27, 34, 0.5);
    --uc-accent-color-5:       rgb(121, 161, 195);
    --uc-transparent:          rgba(0,0,0,0);
    --uc-box-shadow:           0.1rem 0.3rem 0.4rem -0.1rem rgba(75,75,75,0.3);
    --uc-light-box-shadow:     0.1rem 0.3rem 0.4rem -0.1rem rgba(65,65,65,0.3);
    --uc-button-border-radius: 10px;
    --uc-urlbar-border-radius: calc(var(--uc-button-border-radius) - 0px);
    --uc-menu-border-radius:   calc(var(--uc-button-border-radius) - 2px);
    --uc-tab-border-radius:    calc(var(--uc-button-border-radius) - 0px);
}}

/* Applying all variables to further create the Theme - If a section is empty, that means the style is defaulting to chrome/theme/globals/global-theme.css */

/* Main window adjustments ----------------------------------------*/

:root:not([lwtheme]) { 
    /* main browser window background color = var(--uc-browser-color) */    
    body:has(#browser) {background-color: var(--uc-browser-color) !important;}

    /* you can create a gradient background like this: */
    /*
    &[theme-image-in-toolbox], &:not([theme-image-in-toolbox]) {
        body, #customization-container {
            background-image: linear-gradient( 
                180deg, 
                rgb(0,0,0) 45%, 
                rgb(0,0,250) 100% ) 
                !important;
            background-repeat: var(--toolbox-background-repeat) !important;
            background-position: var(--toolbox-background-position) !important;
            background-size: var(--toolbox-background-size) !important;
        }
        body, #customization-container {
            background-size: 100% !important;
        }
    }
    */
    /* you can even use an actual image on background-image ^ */
}

/* Title bar ------------------------------------------------------*/

:root:not([lwtheme]) {
    /* titlebar buttons - min, max, close */
    .titlebar-button, .titlebar-button .toolbarbutton-icon {
        color: var(--uc-text-color) !important;
        stroke: var(--uc-text-color) !important;
        fill: var(--uc-text-color) !important;
        &:hover {
            color: var(--uc-text-color)  !important;
            fill: var(--uc-text-color)  !important;
            stroke: var(--uc-text-color) !important;
        }
    }
    .titlebar-close:hover .toolbarbutton-icon {
        color: var(--uc-button-red)  !important;
    }
}

/* Nav Bar --------------------------------------------------------*/

:root:not([lwtheme]) {
    /*nav bar buttons*/
    #navigator-toolbox {
        background: var(--uc-navbar-background) !important;
    }
    #navigator-toolbox .toolbarbutton-1 {
        --toolbarbutton-background-color-hover: var(--uc-button-selected) !important;
        --toolbarbutton-background-color-active: var(--uc-button-selected) !important;
        --toolbarbutton-border-radius: var(--uc-button-border-radius) !important;
    }
}

/* URL Bar --------------------------------------------------------*/

:root:not([lwtheme]) {
    .urlbar-background, #searchbar, .urlbarView-background {
        background-color: var(--uc-urlbar-background) !important;
        border-radius: var(--uc-urlbar-border-radius) !important;
        box-shadow: var(--uc-box-shadow) !important;
    }
    #urlbar[focused]:not([suppress-focus-border]) > .urlbar-background {
        outline: 2px solid var(--uc-accent-border) !important;
    }
    #urlbar[popover-open] {
        border-radius: var(--uc-button-border-radius);
    }
    .urlbarView-row {
        color: var(--uc-text-color) !important;
        border-radius: var(--uc-urlbar-border-radius) !important;
        &:hover, &[selected] {
            background-color: var(--uc-button-selected) !important;
            color: var(--uc-accent-color-1) !important;
        }
    }
    .urlbarView-button:hover {
        color: var(--uc-accent-color-1) !important;
        background-color: var(--uc-button-selected) !important;
    }
    #urlbar toolbarbutton, #urlbar box, .urlbar-page-action  {
        border-radius: calc(var(--uc-urlbar-border-radius) - 2px) !important;
    }
    #star-button[starred] {
        fill-opacity: 1 !important;
        fill: var(--uc-accent-color-1) !important;
    }
    #urlbar-zoom-button {
        background-color: var(--uc-button-selected) !important;
    }
}

/* Bookmark bar ---------------------------------------------------*/

:root:not([lwtheme]) {
    .bookmark-item {
        &:hover, &[open] {
            background-color: var(--uc-button-selected) !important;
            /*! box-shadow: var(--uc-box-shadow) !important; */
        }
    }
    .bookmark-item toolbar-menupopup {
        padding: 100px !important;
    }
}

/* Popups/Menis ---------------------------------------------------*/

:root:not([lwtheme]) {
    panel, menupopup {
        --panel-text-color:               var(--uc-text-color) !important;
        --panel-background-color:         var(--uc-menu-background) !important;
        --panel-border-radius:            var(--uc-menu-border-radius) !important;
        --panel-border-color:             var(--uc-outline-border) !important;
        --panel-menuitem-border-radius:   var(--uc-button-border-radius) !important;
        --button-background-color-menu-hover: var(--uc-button-selected) !important;
        --panel-separator-color:          color-mix(in srgb, var(--uc-text-color), transparent 80%) !important;
        --panel-separator-padding:        4px 8px  !important;
        --panel-banner-item-update-supported-bgcolor: var(--uc-accent-color-1) !important;
    }
    #appMenu-popup {
        .toolbarbutton-icon {
            stroke: transparent !important;
            background-color: transparent !important;
        }
        toolbarbutton:hover {
            background-color: var(--uc-button-selected) !important;
            box-shadow: var(--uc-box-shadow) !important;
        }
        toolbarbutton:hover, toolbarbutton:hover .toolbarbutton-icon {
            color: var(--uc-accent-color-2) !important;
        }
    }
    #appMenu-zoom-controls {
        outline: 1px solid var(--uc-outline-border);
        border-radius: 0 var(--uc-button-border-radius) 0 var(--uc-button-border-radius) !important;
        background: var(--uc-input-background) !important;
    }
} 

/* Find bar -------------------------------------------------------*/

:root:not([lwtheme]) {
    .findbar-textbox {
        background-color: var(--uc-layered-background) !important;
        color: var(--uc-text-color) !important;
        border-radius: var(--uc-urlbar-border-radius) !important;
        box-shadow: var(--uc-box-shadow) !important;
        &:focus {outline: 2px solid var(--uc-accent-border) !important;}
    }
    .found-matches {
        font-weight: 700;
        text-shadow: var(--uc-text-shadow);
        background: var(--uc-input-background);
        outline: 1px solid var(--uc-outline-border);
        border-radius: var(--uc-button-border-radius);
        border-top-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }    
}

/* Sidebars -------------------------------------------------------*/

:root:not([lwtheme]) {
    browser#sidebar {
        background: var(--uc-sidebar-background) !important;
    }
}

/* Tabs -----------------------------------------------------------*/

:root:not([lwtheme]) {
    /* vert tabs background */
    #sidebar-container {
        background-color: var(--uc-tabbar-background) !important;
        /* use the background-image from browser window if you'd like */
        background-image: none !important; 
    }
    /* vert and horizontal tab containers */
    #tabbrowser-tabs {
        background: transparent !important;
        color: var(--uc-text-color) !important;
        --tab-text-color: var(--uc-text-color) !important;
        --tab-close-button-text-color: var(--uc-text-color) !important;
    }
    /* tab style */
    .tab-background {
        background: transparent !important;
        border-radius: var(--uc-tab-border-radius) !important;
        border: 0px solid transparent !important;
        outline-offset: -1px !important;
        outline: 2px solid transparent !important;
    }
    /* selected tab style */
    .tab-label-container[selected] {
        color: var(--uc-tab-selected-text) !important;
    }
    .tab-background[selected] {
        background-color: var(--uc-tab-selected) !important;
        outline: 2px solid var(--uc-tab-outline) !important;
        box-shadow: var(--uc-box-shadow) !important;
    }
    .tab-background[multiselected][selected] {
        outline-color: var(--uc-tab-outline) !important;
    }
    .tab-background[multiselected]:not([selected]) {
        outline-color: var(--uc-accent-border) !important;
        box-shadow: var(--uc-box-shadow) !important;
    }
    /* hovered tab style */
    .tabbrowser-tab:hover .tab-background {
        background-color: var(--uc-tab-selected) !important;
        box-shadow: var(--uc-box-shadow) !important;
    }
    .tabbrowser-tab:hover .tab-label-container {
        color: var(--uc-tab-selected-text) !important;
    }
    /* pinned tab style */
    .tabbrowser-tab[pinned] {
        .tab-background {
            background-color: var(--uc-tab-selected) !important;
            box-shadow: var(--uc-box-shadow) !important;
        }
    }
    .tab-label-container[pinned] {
        color: var(--uc-accent-color-5) !important;
    }
    /* close tab button */
    .tab-close-button {
        border-radius: var(--uc-button-border-radius) !important;
        &:hover {
            background: var(--uc-button-selected) !important;
            fill: var(--uc-accent-color-1) !important;
        }
    }
    /*new tab buttons*/
    #vertical-tabs-newtab-button,
    #tabs-newtab-button {
        font-style: italic;
    }
    #vertical-tabs-newtab-button:hover,
    #tabbrowser-tabs[orient="vertical"] #tabs-newtab-button:hover,
    #tabbrowser-tabs[orient="horizontal"] #tabs-newtab-button:hover image
    {
        cursor: pointer !important;
        background-color: var(--uc-tab-selected) !important;
        border-radius: var(--uc-tab-border-radius) !important;
        box-shadow: var(--uc-box-shadow) !important;
    }
    /* tabs preview container */
    #tab-preview-panel {
        --panel-background-color: var(--uc-menu-background) !important;
        --panel-border-radius: var(--uc-menu-border-radius) !important;
        --panel-border-color: var(--uc-menu-border) !important;
    }
    .tab-preview-thumbnail-container canvas {
        border-radius: 0 var(--uc-tab-border-radius) 0 var(--uc-tab-border-radius) !important;
        border: 2px solid var(--uc-menu-border);
    }
    .tab-preview-text-container {
        /*background: var(--uc-input-background);
        border-radius: var(--uc-tab-border-radius) 0 var(--uc-tab-border-radius) 0 !important;
        outline: 1px solid var(--uc-outline-border);*/
    }
    /* audio playing indicator*/
    .tab-audio-button {
        background-color: rgba(30,30,30,0.2) !important;
        border-radius:100% !important;
        --button-icon-fill:  var(--uc-text-color) !important;
        &:hover {
            --button-icon-fill: var(--uc-accent-color-1) !important;
        }
    }
    /* vertical tabs pinned tabs and bottom button strip splitters */
    #vertical-pinned-tabs-splitter,
    #sidebar-tools-and-extensions-splitter {
        border-bottom: 1px dashed var(--uc-accent-color-2) !important;
        &:hover {
            background-color:  var(--uc-accent-color-2) !important;
        }
    }
    /* tab counter color */
    #tabbrowser-arrowscrollbox-periphery::after {
        color: var(--uc-accent-color-2) !important;
    }
}