/*///////////////////////////////////////////////////////////////////////////////////////\

FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
File Desc:         Kanagawa Wave by Pitchaya S @pitchaya-s https://github.com/soulhotel/FF-ULTIMA/commits?author=pitchaya-s

All of these Variables - Control the color everywhere
Detailed customization - Overwriting existing variables
Applying variables further to create the Theme
Custom Icons

\////////////////////////////////////////////////////////////////////////////////////////*/

/* All of these Variables - Control the color everywhere. For light mode and dark mode. Allowing most/all customization to be done in one place */

@media (prefers-color-scheme: dark) { :root {
    --uc-browser-color:      #1F1F28;
    --uc-text:               #DCD7BA;
    --uc-layered-background: #1F1F28;
    --uc-navbar-background:  var(--toolbar-bgcolor);
    --uc-urlbar-background:  var(--uc-layered-background);
    --uc-findbar-background: var(--uc-layered-background);
    --uc-sidebar-background: var(--uc-layered-background);
    --uc-tabsbar-background: var(--uc-browser-color);
    --uc-tab-background:     transparent;
    --uc-tab-selected:       #2A2A37;
    --uc-tab-selected-text:  var(--uc-text);
    --uc-button-selected:    #363646;
    --uc-button-red:         #C34043;
    --uc-context-menu:       #2A2A37;
    --uc-panel-background:   #2A2A37;
    --uc-panel-border:       #1F1F2800;
    --uc-panel-border-2:     #1F1F2800;
    --uc-accent-color-1:     #DCD7BA; /*toolbar icons*/
    --uc-accent-color-2:     var(--uc-text); /*sidebery tabs*/
    --uc-accent-color-3:     #658594; /*url*/
    --uc-accent-color-4:     #1F1F28; /*organizer toolbar*/
    --uc-accent-color-5:     var(--uc-tab-selected-text);  /*sidebery active tab*/
    --uc-accent-color-6:     var(--uc-text); /*pinned tab*/
    --uc-transparent:        rgba(0,0,0,0);
    --uc-box-shadow:         0 0.2rem 0.4rem -0.1rem #16161D00;
    --uc-box-shadow-panel:   0 0.2rem 0.4rem -0.1rem #16161D00;
    --uc-button-border-radius: 8px;
}}

@media (prefers-color-scheme: light) { :root {
    --uc-browser-color:      #F2ECBC;
    --uc-text:               #545464;
    --uc-layered-background: #F2ECBC;
    --uc-navbar-background:  var(--toolbar-bgcolor);
    --uc-urlbar-background:  #a8a79e;
    --uc-findbar-background: var(--uc-layered-background);
    --uc-sidebar-background: var(--uc-layered-background);
    --uc-tabsbar-background: var(--uc-browser-color);
    --uc-tab-background:     transparent;
    --uc-tab-selected:       #e4d794;
    --uc-tab-selected-text:  var(--uc-text);    
    --uc-button-selected:    #d5cea3;
    --uc-button-red:         #C34043;
    --uc-context-menu:       #F2ECBC;
    --uc-panel-background:   #F2ECBC;
    --uc-panel-border:       #1F1F2800;
    --uc-panel-border-2:     #1F1F2800;
    --uc-accent-color-1:     #545464;
    --uc-accent-color-2:     var(--uc-text);
    --uc-accent-color-3:     #658594;
    --uc-accent-color-4:     #F2ECBC;
    --uc-accent-color-5:     var(--uc-tab-selected-text);
    --uc-accent-color-6:     var(--uc-text);
    --uc-transparent:        rgba(0,0,0,0);
    --uc-box-shadow:         0 0 0.2rem 0 #1F1F2800;
    --uc-box-shadow-panel:   0 0 0.2rem 0 #1F1F2800;
    --uc-button-border-radius: 8px;
}}


/* Detailed customization - Overwriting existing variables. Everything below applies the custom variables to elements of the Browser, with some adjustments. */

#main-window:not([lwtheme]) {
    --toolbar-bgcolor: var(--uc-browser-color) !important;
    --inactive-titlebar-opacity: 1 !important;
    --lwt-accent-color-inactive: var(--lwt-accent-color) !important;
    --uc-tabs-lwt: color-mix(in srgb, var(--lwt-accent-color) 75%, #000);
    --uc-sb-lwt: color-mix(in srgb, var(--lwt-accent-color) 75%, #000);
    --toolbox-non-lwt-bgcolor-inactive: ActiveCaption !important;
    --toolbox-non-lwt-textcolor-inactive: CaptionText !important;
    --tab-selected-bgcolor: var(--uc-tab-selected) !important;
    --tab-loading-fill: var(--uc-accent-color-1) !important;
    --tab-selected-textcolor: var(--uc-text) !important;
    --tab-hover-background-color: var(--uc-tab-selected) !important;
    --button-background-color-ghost-hover: var(--uc-button-selected) !important;
    --button-background-color: var(--uc-button-selected) !important;
    --button-background-color-hover: var(--uc-button-selected) !important;
    --button-background-color-active: var(--uc-button-selected) !important;
    --button-hover-bgcolor: var(--uc-button-selected) !important;
    --toolbarbutton-hover-background: var(--uc-button-selected) !important;
    --button-active-bgcolor: var(--uc-button-selected) !important;
    --toolbarbutton-active-background: var(--uc-button-selected) !important;
    --button-primary-bgcolor: var(--uc-accent-color-1) !important;
    --button-primary-hover-bgcolor: var(--uc-accent-color-1) !important;
    --buttons-destructive-hover-bgcolor: #9d1c1c;  /*red*/
    --buttons-destructive-active-bgcolor: var(--uc-button-red); /*red*/
    --toolbarbutton-icon-fill: var(--uc-accent-color-1) !important; /*toolbar button color*/
    --toolbar-field-background-color: var(--uc-accent-color-4) !important;
    --toolbar-field-border-color: var(--uc-accent-color-3) !important;
    --toolbar-field-focus-border-color: var(--uc-accent-color-3) !important;
    --urlbarView-result-button-selected-color: var(--uc-text) !important;
    --urlbarView-result-button-selected-background-color: var(--uc-button-selected) !important;
    --urlbarView-highlight-background: var(--uc-button-selected) !important;
    --urlbarView-hover-background: var(--uc-button-selected) !important;
    --urlbar-box-hover-bgcolor: var(--uc-button-selected) !important;
    --urlbar-box-hover-text-color: var(--uc-text) !important;
    --urlbar-icon-border-radius: var(--uc-button-border-radius) !important;
    --arrowpanel-menuitem-border-radius: var(--uc-button-border-radius) !important;
    --arrowpanel-border-radius: var(--uc-all-border-radius);
    --toolbarbutton-border-radius: var(--uc-button-border-radius) !important;
    --arrowpanel-menuitem-border-radius: var(--uc-button-border-radius) !important;
    --menuitem-border-radius: var(--uc-button-border-radius) !important;
    --button-border-radius: var(--uc-button-border-radius) !important;
    --toolbarbutton-border-radius: var(--uc-button-border-radius) !important;
    --toolbar-field-color: var(--uc-text) !important;
    --toolbar-field-focus-color: var(--uc-text) !important;
    --toolbar-color: var(--uc-text) !important;
    --toolbar-field-color: var(--uc-text) !important;
    --toolbar-field-focus-color: var(--uc-text) !important;
    --sidebar-text-color: var(--uc-text) !important;
    --arrowpanel-background: var(--uc-panel-background) !important;
    --arrowpanel-border-color: var(---uc-panel-border-ii) !important;
    --arrowpanel-color: var(--uc-text) !important;
    --newtab-background-color: var(--uc-tabsbar-background) !important;
    --panel-background: var(--uc-panel-background) !important;
    --panel-item-hover-bgcolor: var(--uc-button-selected) !important;
    --panel-banner-item-hover-bgcolor: var(--uc-button-selected) !important;
    --short-notification-background: var(--uc-accent-color-2) !important;
    --panel-border-color: var(--uc-panel-border) !important;
    --organizer-toolbar-background: var(--uc-accent-color-4) !important;
    --organizer-pane-background: var(--uc-accent-color-4) !important;
    --organizer-content-background: var(--uc-accent-color-4) !important;
    --organizer-hover-background: var(--uc-accent-color-4) !important;
    --organizer-selected-background: var(--uc-button-selected) !important;
    --organizer-focus-selected-color: var(--uc-button-selected) !important;
    --organizer-outline-color: rgb(0,221,255) !important;
    --organizer-toolbar-field-background: var(--uc-accent-color-4) !important;
    --organizer-toolbar-field-background-focused: var(--uc-accent-color-1) !important;
    --content-select-background-image: none !important;
} 
        
/* Applying variables  further to create the Theme --------------------------------*/

/* Main window adjustments ----------------------------------------*/
    

/* URL Bar ----------------------------------------*/

#main-window:not([lwtheme]) {
    & #urlbar:not([open]) {
        & #urlbar-background, & #searchbar, & .urlbar-background {
            background-color: transparent !important;
            border-radius: var(--uc-button-border-radius) !important;
            box-shadow: none !important;
        }
    }
    & #urlbar-background, & #searchbar, & .urlbar-background
    & #urlbar:is([focused="true"], & [open]) > #urlbar-background,
    & #urlbar:is([focused="true"], & [open]) > .urlbar-background,
    & #searchbar:focus-within {
        background-color: var(--uc-context-menu) !important;
        border-radius: var(--uc-button-border-radius) !important;
        box-shadow: 0.1rem 0.4rem 0.9rem -0.1rem rgba(25,25,25,0.9) !important;
    }
    & #urlbar-background, & #searchbar, & .urlbar-background,
    & #urlbar:is([focused="true"], & [open]) > #urlbar-background,
    & #urlbar:is([focused="true"], & [open]) > .urlbar-background,
    & #searchbar:focus-within { @media (prefers-color-scheme: light) {
        box-shadow: var(--uc-box-shadow) !important;
    }}
    & .urlbarView-row { &[selected] {
        color: var(--uc-text) !important;
    }}
    & .urlbarView-row:hover {
        color: var(--uc-accent-color-1) !important;
    }
    & #urlbar[focused]:not([suppress-focus-border]) > #urlbar-background,
    & #urlbar[focused]:not([suppress-focus-border]) > .urlbar-background {
        outline-color: color-mix(in srgb, var(--uc-accent-color-3) 85%, transparent)  !important;
        outline-offset: -1px !important;
    }
    & #urlbar[focused]:not([suppress-focus-border]) > #urlbar-background { @media (prefers-color-scheme: light) {
        outline-color: color-mix(in srgb, var(--uc-accent-color-3) 15%, transparent)  !important;
        outline-offset: none !important;
    }}
    & #urlbar[focused]:not([suppress-focus-border]) > .urlbar-background { @media (prefers-color-scheme: light) {
        outline-color: color-mix(in srgb, var(--uc-accent-color-3) 15%, transparent)  !important;
        outline-offset: none !important;
    }}
    & .urlbarView-url {
        color: var(--uc-accent-color-3) !important;
    }
}

/* Find bar -------------------------------------------------------*/


/* Sidebars -------------------------------------------------------*/

.sidebar-panel .text-link, .sidebar-panel a, .sidebar-panel ::part(support-link),
.customize-group .text-link, .customize-group a, .customize-group ::part(support-link) {
    color: var(--uc-accent-color-3) !important;
}
@layer input-common { #input {
    accent-color: var(--uc-accent-color-3) !important;
}}

/* Tabs -----------------------------------------------------------*/
    
#main-window:not([lwtheme]) {
    /* tabs - selected tabs */
    & .tab-label-container[selected] {
        color: var(--uc-tab-selected-text) !important;
    }
    & .tab-background[multiselected] {
        outline-color: var(--uc-accent-color-3) !important;
        outline-offset: 1px !important;
    } 
    /* tabs - pinned tabs */
    & .tab-label-container[pinned] {
        color: var(--uc-accent-color-6) !important;
    }
    & #vertical-pinned-tabs-splitter {
        border-top: 1px var(--uc-accent-color-2) dashed !important;
        min-height: 3px !important;
        &:hover {
            background: var(--uc-accent-color-2) !important;
        }
    }
    /*tabs - all other tabs */
    & .tab-label-container:not([selected=""],[pinned]) {
        color: var(--uc-text) !important;
    }
}

/* Button Adjustments ---------------------------------------------*/

#main-window:not([lwtheme]) {  
    & .toolbarbutton-1 {color:var(--uc-accent-color-2) !important;}
    & .toolbarbutton-icon:hover,
        & .toolbarbutton-icon[open] {
            background-color: var(--uc-button-selected) !important;
        }
    & .toolbarbutton-text {
        color: var(--toolbarbutton-icon-fill);
    }
    & #TabsToolbar #firefox-view-button:hover:not([open]) > .toolbarbutton-icon {
        background-color: var(--uc-button-selected) !important;
    }
    & #star-button[starred] {
        fill-opacity: 1 !important;
        fill: var(--uc-accent-color-1) !important;
    }
    & .titlebar-button {
        border-radius: var(--uc-button-border-radius);
    }
    & .titlebar-button:hover {
        background-color: var(--uc-button-selected) !important;
    }
    @media (-moz-platform: windows) {
        .titlebar-close:hover {
            background-color: var(--uc-button-selected) !important;
            color: var(--uc-button-red) !important;
        }
    }
}
    
/* Popups/Menus ---------------------------------------------------*/
/* Context Menu ---------------------------------------------------*/

#main-window:not([lwtheme]), #main-window[lwtheme] {
    menupopup:not(#ContentSelectDropdownPopup), panel:not(.autoscroller) {
        --panel-color: var(--uc-text) !important;
    }
    menuitem:hover {
        color: var(--uc-accent-color-1) !important;
    }
    menu:where([_moz-menuactive="true"]:not([disabled="true"])),
    menuitem:where([_moz-menuactive="true"]:not([disabled="true"])){
        color: var(--uc-accent-color-1) !important;
    }
}
#contentAreaContextMenu {
    --panel-color: var(--uc-text) !important;
    menuitem:hover {
        color: var(--uc-accent-color-1) !important;
    }
    menu:where([_moz-menuactive="true"]:not([disabled="true"])),
    menuitem:where([_moz-menuactive="true"]:not([disabled="true"])){
        background-color: var(--uc-button-selected) !important;
        color: var(--uc-accent-color-1) !important;
    }
}

/* Custom Icons ---------------------------------------------------*/

@media -moz-pref("ultima.theme.icons") {
    /* extension menu */
    #main-window:not([lwtheme]) #unified-extensions-button {
        list-style-image: url("../../icons/extensions.svg") !important;
        fill: var(--toolbarbutton-icon-fill) !important;
    }
    #main-window[lwtheme] #unified-extensions-button {
        list-style-image: url("../../icons/extensions.svg") !important;
    }
    /* bookmarks folder icon */
    .bookmark-item[container=true] {
        list-style-image: url("../../icons/bm.svg") !important;
    }
    /* ublock on */
    #ublock0_raymondhill_net-BAP image{
        list-style-image: url("../../icons/ublock.svg") !important;
    }
    /* ublock off */
    #ublock0_raymondhill_net-BAP[tooltiptext="uBlock Origin (off)"] image {
        list-style-image: url("../../icons/ublock.svg") !important;
        fill: var(--uc-accent-color-3) !important;
    }
    #forward-button image {
        list-style-image: url("chrome://global/skin/icons/arrow-right.svg") !important;
        stroke: var(--uc-accent-color-3) !important;
    }
    #back-button image {
        list-style-image: url("chrome://global/skin/icons/arrow-left.svg") !important;
        stroke: var(--uc-accent-color-3) !important;
    }
}

