/*///////////////////////////////////////////////////////////////////////////////////////\

FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
File Desc:         Kanagawa Wave by Pitchaya S @pitchaya-s https://github.com/soulhotel/FF-ULTIMA/commits?author=pitchaya-s

All of these Variables - Control the color everywhere
Detailed customization - Overwriting existing variables
Applying variables further to create the Theme
Custom Icons

\////////////////////////////////////////////////////////////////////////////////////////*/

/* All of these Variables - Control the color everywhere. For light mode and dark mode. Allowing most/all customization to be done in one place */

@media (prefers-color-scheme: dark) { :root {
    color-scheme: dark !important;
    --uc-browser-color:      #1F1F28;
    --uc-text:               #DCD7BA;
    --uc-layered-background: #1F1F28;
    --uc-navbar-background:  var(--toolbar-bgcolor);
    --uc-urlbar-background:  var(--uc-layered-background);
    --uc-findbar-background: var(--uc-layered-background);
    --uc-sidebar-background: var(--uc-layered-background);
    --uc-tabsbar-background: var(--uc-browser-color);
    --uc-tab-background:     transparent;
    --uc-tab-selected:       #2A2A37;
    --uc-tab-selected-text:  var(--uc-accent-color-5);
    --uc-button-selected:    #363646;
    --uc-button-red:         #f54e4e;
    --uc-context-menu:       #2A2A37;
    --uc-panel-background:   var(--uc-layered-background);
    --uc-panel-border:       #1F1F2800;
    --uc-panel-border-2:     #1F1F2800;
    --uc-accent-color-1:     #DCD7BA; /*yel*/
    --uc-accent-color-2:     #727169; /*toolbar icons*/
    --uc-accent-color-3:     #658594; /*idk*/
    --uc-accent-color-4:     #1F1F28; /*organizer toolbar*/
    --uc-accent-color-5:     #658594;  /*url bar*/
    --uc-accent-color-6:     #E82424; /*red*/
    --uc-accent-color-7:     rgb(44, 55, 80); /*unuse*/
    --uc-transparent:        rgba(0,0,0,0);
    --uc-box-shadow:         0.1rem 0.4rem 0.4rem -0.1rem rgba(25,25,25,0);
    --uc-box-shadow-panel:   0.1rem 0.3rem 0.4rem -0.1rem rgba(25,25,25,0);
    --uc-button-border-radius: 10px;
}}

@media (prefers-color-scheme: light) { :root {
    color-scheme: light !important;
    --uc-browser-color:      #d1d0c9;
    --uc-text:               #1F1F28;
    --uc-layered-background: rgb(242, 242, 248);
    --uc-navbar-background:  var(--toolbar-bgcolor);
    --uc-urlbar-background:  #a8a79e;
    --uc-findbar-background: var(--uc-layered-background);
    --uc-sidebar-background: var(--uc-layered-background);
    --uc-tabsbar-background: var(--uc-browser-color);
    --uc-tab-background:     transparent;
    --uc-tab-selected:       #b8b6b2;
    --uc-tab-selected-text:  var(--uc-accent-color-5);
    --uc-button-selected:    rgba(121, 121, 181,0.5);
    --uc-button-red:         #f54e4e;
    --uc-context-menu:       #c2c0b8;
    --uc-panel-background:   #c2c0b8;
    --uc-panel-border:       #1F1F2800;
    --uc-panel-border-2:     #1F1F2800;
    --uc-accent-color-1:     #5e5d54;
    --uc-accent-color-2:     #1F1F28;
    --uc-accent-color-3:     black;
    --uc-accent-color-4:     #1F1F28;
    --uc-accent-color-5:     #f1c40f;
    --uc-accent-color-6:     #727169;
    --uc-accent-color-7:     #656999;
    --uc-transparent:        rgba(0,0,0,0);
    --uc-box-shadow: 0.1rem 0.3rem 0.2rem -0.1rem rgba(75,75,75,0.3);
    --uc-box-shadow-panel: 0.1rem 0.3rem 0.4rem -0.1rem rgba(65,65,65,0.3);
    --uc-button-border-radius: 10px;
}}


/* Detailed customization - Overwriting existing variables. Everything below applies the custom variables to elements of the Browser, with some adjustments. */

#main-window:not([lwtheme]), :root:not([lwtheme]) {    
    --inactive-titlebar-opacity: 1 !important;
    --toolbar-bgcolor: var(--uc-browser-color) !important;
    --lwt-accent-color-inactive: var(--lwt-accent-color) !important;
    --uc-tabs-lwt: color-mix(in srgb, var(--lwt-accent-color) 75%, #000);
    --uc-sb-lwt: color-mix(in srgb, var(--lwt-accent-color) 75%, #000);
    --toolbox-non-lwt-bgcolor-inactive: ActiveCaption !important;
    --toolbox-non-lwt-textcolor-inactive: CaptionText !important;
    --tab-selected-bgcolor: var(--uc-tab-selected) !important;
    --tab-loading-fill: var(--uc-accent-color-1) !important;
    --tab-selected-textcolor: var(--uc-text) !important;
    --tab-hover-background-color: var(--uc-tab-selected) !important;
    --button-background-color-ghost-hover: var(--uc-button-selected) !important;
    --button-background-color: var(--uc-button-selected) !important;
    --button-background-color-hover: var(--uc-button-selected) !important;
    --button-background-color-active: var(--uc-button-selected) !important;
    --button-hover-bgcolor: var(--uc-button-selected) !important;
    --toolbarbutton-hover-background: var(--uc-button-selected) !important;
    --button-active-bgcolor: var(--uc-button-selected) !important;
    --toolbarbutton-active-background: var(--uc-button-selected) !important;
    --button-primary-bgcolor: var(--uc-accent-color-1) !important;
    --button-primary-hover-bgcolor: var(--uc-accent-color-1) !important;
    --buttons-destructive-hover-bgcolor: #9d1c1c;  /*red*/
    --buttons-destructive-active-bgcolor: var(--uc-button-red); /*red*/
    --toolbarbutton-icon-fill: var(--uc-accent-color-1) !important; /*toolbar button color*/
    --toolbar-field-background-color: var(--uc-accent-color-4) !important;
    --toolbar-field-border-color: var(--uc-accent-color-3) !important;
    --toolbar-field-focus-border-color: var(--uc-accent-color-5) !important;
    --urlbarView-result-button-selected-color: var(--uc-text) !important;
    --urlbarView-result-button-selected-background-color: var(--uc-button-selected) !important;
    --urlbarView-highlight-background: var(--uc-button-selected) !important;
    --urlbarView-hover-background: var(--uc-button-selected) !important;
    --urlbar-box-hover-bgcolor: var(--uc-button-selected) !important;
    --urlbar-box-hover-text-color: var(--uc-text) !important;
    --urlbar-icon-border-radius: var(--uc-button-border-radius) !important;
    --arrowpanel-menuitem-border-radius: var(--uc-button-border-radius) !important;
    --arrowpanel-border-radius: var(--uc-all-border-radius);
    --toolbarbutton-border-radius: var(--uc-button-border-radius) !important;
    --arrowpanel-menuitem-border-radius: var(--uc-button-border-radius) !important;
    --menuitem-border-radius: var(--uc-button-border-radius) !important;
    --button-border-radius: var(--uc-button-border-radius) !important;
    --toolbarbutton-border-radius: var(--uc-button-border-radius) !important;
    --toolbar-field-color: var(--uc-text) !important;
    --toolbar-field-focus-color: var(--uc-text) !important;
    --toolbar-color: var(--uc-text) !important;
    --toolbar-field-color: var(--uc-text) !important;
    --toolbar-field-focus-color: var(--uc-text) !important;
    --sidebar-text-color: var(--uc-text) !important;
    --arrowpanel-background: var(--uc-panel-background) !important;
    --arrowpanel-border-color: var(---uc-panel-border-ii) !important;
    --arrowpanel-color: var(--uc-text) !important;
    --newtab-background-color: var(--uc-tabsbar-background) !important;
    --panel-background: var(--uc-panel-background) !important;
    --panel-item-hover-bgcolor: var(--uc-button-selected) !important;
    --panel-banner-item-hover-bgcolor: var(--uc-button-selected) !important;
    --short-notification-background: var(--uc-accent-color-2) !important;
    --panel-border-color: var(--uc-panel-border) !important;
    --organizer-toolbar-background: var(--uc-accent-color-4) !important;
    --organizer-pane-background: var(--uc-accent-color-4) !important;
    --organizer-content-background: var(--uc-accent-color-4) !important;
    --organizer-hover-background: var(--uc-accent-color-4) !important;
    --organizer-selected-background: var(--uc-button-selected) !important;
    --organizer-focus-selected-color: var(--uc-button-selected) !important;
    --organizer-outline-color: rgb(0,221,255) !important;
    --organizer-toolbar-field-background: var(--uc-accent-color-4) !important;
    --organizer-toolbar-field-background-focused: var(--uc-accent-color-1) !important;
    --content-select-background-image: none !important;
} 
        
/* Applying variables  further to create the Theme --------------------------------*/

/* Main window adjustments ----------------------------------------*/
    

/* URL Bar ----------------------------------------*/

#main-window:not([lwtheme]) {
    & #urlbar:not([open]) {
        & #urlbar-background, & #searchbar {
            background-color: transparent !important;
            border-radius: var(--uc-button-border-radius) !important;
            box-shadow: none !important;
        }
    }
    & #urlbar-background, & #searchbar,
    & #urlbar:is([focused="true"], & [open]) > #urlbar-background, & #searchbar:focus-within {
        background-color: var(--uc-context-menu) !important;
        border-radius: var(--uc-button-border-radius) !important;
        box-shadow: 0.1rem 0.4rem 0.9rem -0.1rem rgba(25,25,25,0.9) !important;
    }
    & #urlbar-background, & #searchbar,
    & #urlbar:is([focused="true"], & [open]) > #urlbar-background, & #searchbar:focus-within { @media (prefers-color-scheme: light) {
        box-shadow: var(--uc-box-shadow) !important;
    }}
    & .urlbarView-row { &[selected] {
        color: var(--uc-text) !important;
    }}
    & .urlbarView-row:hover {
        color: var(--uc-accent-color-1) !important;
    }
    & .urlbarView-row:hover { @media (prefers-color-scheme: light) {
        color: var(--uc-accent-color-5) !important;
    }}
    & #urlbar[focused]:not([suppress-focus-border]) > #urlbar-background {
        outline-color: color-mix(in srgb, var(--uc-accent-color-5) 85%, transparent)  !important;
        outline-offset: -1px !important;
    }
    & #urlbar[focused]:not([suppress-focus-border]) > #urlbar-background { @media (prefers-color-scheme: light) {
        outline-color: color-mix(in srgb, var(--uc-accent-color-5) 15%, transparent)  !important;
        outline-offset: none !important;
    }}
    & .urlbarView-url {
        color: var(--uc-accent-color-3) !important;
    }
}

/* Browser Content adjustments ------------------------------------*/
    

/* Find bar -------------------------------------------------------*/


/* Sidebars -------------------------------------------------------*/


/* Tabs -----------------------------------------------------------*/
    
#main-window:not([lwtheme]) {
    /* tabs - selected tabs */
    & .tab-label-container[selected] {
        color: var(--uc-tab-selected-text) !important;
    }
    & .tab-label-container[selected] { @media (prefers-color-scheme: light) {
        color: var(--uc-accent-color-7) !important;
    }}
    & .tab-background[multiselected] {
        outline-color: var(--uc-accent-color-3) !important;
        outline-offset: 1px !important;
    } 
    & .tab-background[multiselected] { @media (prefers-color-scheme: light) {
        outline-color: var(--uc-accent-color-5) !important;
        outline-offset: -1px !important;
    }}
    /* tabs - pinned tabs */
    & .tab-label-container[pinned] {
        color: var(--uc-accent-color-6) !important;
    }
    & #vertical-pinned-tabs-splitter {
        border-top: 1px var(--uc-accent-color-2) dashed !important;
        min-height: 3px !important;
        &:hover{background: var(--uc-accent-color-2) !important;}
    }
    /*tabs - all other tabs */
    & .tab-label-container:not([selected=""],[pinned]) {
        color: var(--uc-text) !important;
    }
}

/* Button Adjustments ---------------------------------------------*/

#main-window:not([lwtheme]) {  
    & .toolbarbutton-1 {color:var(--uc-accent-color-2) !important;}
    & .toolbarbutton-icon:hover,
        & .toolbarbutton-icon[open] {
            background-color: var(--uc-button-selected) !important;
        }
    & .toolbarbutton-text {
        color: var(--toolbarbutton-icon-fill);
    }
    & #TabsToolbar #firefox-view-button:hover:not([open]) > .toolbarbutton-icon {
        background-color: var(--uc-button-selected) !important;
    }
    & #star-button[starred] {
        fill-opacity: 1 !important;
        fill: var(--uc-accent-color-1) !important;
    }
    & .titlebar-button {
        border-radius: var(--uc-button-border-radius);
    }
    & .titlebar-button:hover {
        background-color: var(--uc-button-selected) !important;
    }
    @media (-moz-platform: windows) {
        .titlebar-close:hover {
            background-color: var(--uc-accent-color-6) !important;
        }
    }
}
    
/* Popups/Menus ---------------------------------------------------*/
/* Context Menu ---------------------------------------------------*/

menuitem,
menu {
    color: var(--uc-text) !important;
    border: none !important;
}


menupopup {
    --menupopup-border: none !important;
    --menupopup-shadow: none !important;
}
.menupopup-arrowscrollbox {
    border: var(--menupopup-border, 1px solid var(--panel-border-color)) !important;
    box-shadow: var(--menupopup-shadow, 0 0 4px hsla(0,0%,0%,.2)) !important;
}

/* Custom Icons ---------------------------------------------------*/

@media -moz-pref("ultima.theme.icons") {
    /* extension menu */
    #main-window:not([lwtheme]) #unified-extensions-button {
        list-style-image: url("../../icons/extensions.svg") !important;
        fill: var(--toolbarbutton-icon-fill) !important;
    }
    #main-window[lwtheme] #unified-extensions-button {
        list-style-image: url("../../icons/extensions.svg") !important;
    }
    /* bookmarks folder icon */
    .bookmark-item[container=true] {
        list-style-image: url("../../icons/bm.svg") !important;
    }
    /* ublock on */
    #ublock0_raymondhill_net-BAP image{
        list-style-image: url("../../icons/ublock.svg") !important;
    }
    /* ublock off */
    #ublock0_raymondhill_net-BAP[tooltiptext="uBlock Origin (off)"] image {
        list-style-image: url("../../icons/ublock.svg") !important;
        fill: var(--uc-accent-color-3) !important;
    }
    #forward-button image {
        list-style-image: url("chrome://global/skin/icons/arrow-right.svg") !important;
        stroke: var(--uc-accent-color-3) !important;
    }
    #back-button image {
        list-style-image: url("chrome://global/skin/icons/arrow-left.svg") !important;
        stroke: var(--uc-accent-color-3) !important;
}

