/*--
In this file:
I will basically revert the implementation of verticle tabs by,
keeping the titlebar displayed, and collapsing the tabs width to 0
*/

@media not all and (-moz-bool-pref: "ultima.tabs.vertical") {

/*--POOF tabs gone--*/

:root:not([customizing],[chromehidden~="menubar"]){
    --uc-vertical-tabs-width: 0px;
    --uc-vertical-tabs-width-revert: 0px;
    --uc-navbar-height: 40px;
    --uc-collapsed-tabs-width: 0px;
}

/*--adjust browser content margins for no tabs--*/

#tab-notification-deck, .global-notificationbox,
#main-window:not([inDOMFullscreen]) #browser{
    margin-left: 0 !important;
}

/*--adjust spacing, margins for everything--*/

:root, body, *{
    /*bookmarkbar height*/
    --uc-bookbar-height: 22px;
    /*rounded corners*/
    --uc-all-border-radius: 10px;
    --uc-all-margins: 0px 6px 6px 0px;
    /*--sidebar margins--*/
    --uc-sb-margin-leftside: 0px 3px 7px -2px;
    --uc-sb-margin-rightside: 0px 6px 6px 0px;
}

/*-------------------------------------------------------------------------------*/
/*--adjustments. dont display none title bar, just remove siblings individually--*/
/*--keep the toolbar customizable, this allows user to still manipulate buttons on the bar--*/

#main-window:not([customizing="true"]) #titlebar {
  width: 0 !important;
  position: fixed;
  top: -100px;
}

#titlebar{
    will-change: none !important;transition: none !important;opacity: 1 !important;z-index: 1 !important;
}

#alltabs-button, #new-tab-button, #tabs-newtab-button{
    display: none !important;
}

/*--v--should cover everything but we'll do more below--*/
#tabbrowser-arrowscrollbox *{
    display: none !important; width: 0 !important;
}

tabbrowser-arrowscrollbox-periphery,
#tabbrowser-arrowscrollbox {&::part(scrollbutton-up), &::part(scrollbutton-down){
    display: none !important; width: 0 !important;
}}

:root:not([privatebrowsingmode], [firefoxviewhidden]) :is(toolbarbutton, toolbarpaletteitem) + #tabbrowser tabs, 
:root[privatebrowsingmode]:not([firefoxviewhidden]) :is(toolbarbutton:not(#firefox-view-button), toolbarpaletteitem:not(#wrapper-firefox-view-button)) + #tabbrowser-tabs{
    border-inline-start: 0px; padding-inline-start: 0px; margin-inline-start: 0px;
}

/*------------------------------------------------------------------------------*/

