/*///////////////////////////////////////////////////////////////////////////////////////\

FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
File Desc:         Scarlet Color Scheme

All of these Variables - Control the color everywhere
Detailed customization - Overwriting existing variables
Applying variables further to create the Theme
Custom Icons

\////////////////////////////////////////////////////////////////////////////////////////*/

/* All of these Variables - Control the color everywhere. For light mode and dark mode. Allowing most/all customization to be done in one place */

@media (prefers-color-scheme: dark) { :root {
    --uc-browser-color:      rgb(77, 41, 48);
    --uc-text:               #7db0a5;
    --uc-layered-background: rgb(69, 34, 41);
    --uc-navbar-background:  var(--toolbar-bgcolor);
    --uc-urlbar-background:  var(--uc-layered-background);
    --uc-findbar-background: var(--uc-layered-background);
    --uc-sidebar-background: var(--uc-layered-background);
    --uc-tabsbar-background: var(--uc-browser-color);
    --uc-tab-background:     transparent;
    --uc-tab-selected:       var(--uc-layered-background);
    --uc-tab-selected-text:  var(--uc-accent-color-6);
    --uc-button-selected:    rgb(92, 58, 63);
    --uc-button-red:         #f54e4e;
    --uc-context-menu:       var(--uc-layered-background);
    --uc-panel-background:   var(--uc-layered-background);
    --uc-panel-border:       rgba(101, 143, 117,0.5);
    --uc-panel-border-2:     rgba(101, 143, 117,0.5);
    --uc-accent-color-1:     rgb(241, 196, 198); 
    --uc-accent-color-2:     rgb(152, 103, 111);
    --uc-accent-color-3:     rgb(152, 103, 111); 
    --uc-accent-color-4:     rgb(51, 152, 171); 
    --uc-accent-color-5:     rgb(255, 50, 68); 
    --uc-accent-color-6:     rgb(10, 128, 102);
    --uc-accent-color-7:     rgb(44, 55, 80);
    --uc-transparent:        rgba(0,0,0,0);
    --uc-box-shadow:         0.1rem 0.4rem 0.3rem -0.1rem rgba(25,25,25,0.6);
    --uc-box-shadow-panel:   0.1rem 0.3rem 0.4rem -0.1rem rgba(25,25,25,0.4);
    --uc-button-border-radius: 10px;
    --uc-tab-border-radius: 8px;
}}

@media (prefers-color-scheme: light) { :root {
    --uc-browser-color:      rgb(180, 191, 187);
    --uc-text:               rgb(82, 57, 57);
    --uc-layered-background: rgb(191, 187, 187);
    --uc-navbar-background:  var(--toolbar-bgcolor);
    --uc-urlbar-background:  var(--uc-layered-background);
    --uc-findbar-background: var(--uc-layered-background);
    --uc-sidebar-background: var(--uc-layered-background);
    --uc-tabsbar-background: var(--uc-browser-color);
    --uc-tab-background:     transparent;
    --uc-tab-selected:       var(--uc-layered-background);
    --uc-tab-selected-text:  rgb(82, 57, 57);
    --uc-button-selected:    rgb(168, 151, 151);
    --uc-button-red:         #f54e4e;
    --uc-context-menu:       var(--uc-layered-background);
    --uc-panel-background:   var(--uc-layered-background);
    --uc-panel-border:       rgba(125, 125, 125, 0.4);
    --uc-panel-border-2:     rgba(125, 125, 125, 0.3);
    --uc-accent-color-1:     rgb(241, 196, 198); 
    --uc-accent-color-2:     rgb(74, 110, 117);
    --uc-accent-color-3:     rgb(74, 110, 117); 
    --uc-accent-color-4:     rgb(152, 103, 111); 
    --uc-accent-color-5:     rgb(255, 50, 68);
    --uc-accent-color-6:     rgb(37, 90, 99);
    --uc-accent-color-7:     rgb(44, 55, 80);
    --uc-transparent:        rgba(0,0,0,0);
    --uc-box-shadow: 0.15rem 0.4rem 0.4rem -0.1rem rgba(25,25,25,0.2);
    --uc-box-shadow: 0.15rem 0.4rem 0.4rem -0.1rem rgba(25,25,25,0.2);
    --uc-button-border-radius: 10px;
}}


/* Detailed customization - Overwriting existing variables. Everything below applies the custom variables to elements of the Browser, with some adjustments. */

#main-window:not([lwtheme]) {   
    --toolbar-bgcolor: var(--uc-browser-color) !important;
    --inactive-titlebar-opacity: 1 !important;
    --lwt-accent-color-inactive: var(--lwt-accent-color) !important;
    --uc-tabs-lwt: color-mix(in srgb, var(--lwt-accent-color) 75%, #000);
    --uc-sb-lwt: color-mix(in srgb, var(--lwt-accent-color) 75%, #000);
    --toolbox-non-lwt-bgcolor-inactive: ActiveCaption !important;
    --toolbox-non-lwt-textcolor-inactive: CaptionText !important;
    --tab-selected-bgcolor: var(--uc-tab-selected) !important;
    --tab-selected-textcolor: var(--uc-text) !important;
    --tab-hover-background-color: var(--uc-tab-selected) !important;
    --tab-loading-fill: var(--uc-accent-color-1) !important;
    --button-background-color-ghost-hover: var(--uc-button-selected) !important;
    --button-background-color: var(--uc-button-selected) !important;
    --button-background-color-hover: var(--uc-button-selected) !important;
    --button-background-color-active: var(--uc-button-selected) !important;
    --button-hover-bgcolor: var(--uc-button-selected) !important;
    --toolbarbutton-hover-background: var(--uc-button-selected) !important;
    --button-active-bgcolor: var(--uc-button-selected) !important;
    --toolbarbutton-active-background: var(--uc-button-selected) !important;
    --button-primary-bgcolor: var(--uc-accent-color-1) !important;
    --button-primary-hover-bgcolor: var(--uc-accent-color-1) !important;
    --buttons-destructive-hover-bgcolor: #9d1c1c;  /*red*/
    --buttons-destructive-active-bgcolor: var(--uc-button-red); /*red*/
    --toolbarbutton-icon-fill: var(--uc-text) !important; /*toolbar button color*/
    --toolbar-field-background-color: var(--uc-accent-color-4) !important;
    --toolbar-field-border-color: var(--uc-accent-color-3) !important;
    --toolbar-field-focus-border-color: var(--uc-accent-color-3) !important;
    --urlbarView-result-button-selected-color: var(--uc-text) !important;
    --urlbarView-result-button-selected-background-color: var(--uc-button-selected) !important;
    --urlbarView-highlight-background: var(--uc-button-selected) !important;
    --urlbarView-hover-background: var(--uc-button-selected) !important;
    --urlbar-box-hover-bgcolor: var(--uc-button-selected) !important;
    --urlbar-box-hover-text-color: var(--uc-text) !important;
    --urlbar-icon-border-radius: var(--uc-all-border-radius);
    --arrowpanel-menuitem-border-radius: var(--uc-all-border-radius);
    --arrowpanel-border-radius: var(--uc-all-border-radius);
    --toolbarbutton-border-radius: var(--uc-all-border-radius);
    --urlbar-icon-border-radius: var(--uc-all-border-radius);
    --arrowpanel-menuitem-border-radius: var(--uc-button-border-radius) !important;
    --menuitem-border-radius: var(--uc-button-border-radius) !important;
    --button-border-radius: var(--uc-button-border-radius) !important;
    --toolbarbutton-border-radius: var(--uc-button-border-radius) !important;
    --toolbar-field-color: var(--uc-text) !important;
    --toolbar-field-focus-color: var(--uc-text) !important;
    --toolbar-color: var(--uc-text) !important;
    --toolbar-field-color: var(--uc-text) !important;
    --toolbar-field-focus-color: var(--uc-text) !important;
    --sidebar-text-color: var(--uc-text) !important;
    --arrowpanel-background: var(--uc-panel-background) !important;
    --arrowpanel-border-color: var(---uc-panel-border-ii) !important;
    --arrowpanel-color: var(--uc-text) !important;
    --newtab-background-color: var(--uc-tabsbar-background) !important;
    --panel-background: var(--uc-panel-background) !important;
    --panel-item-hover-bgcolor: var(--uc-button-selected) !important;
    --panel-banner-item-hover-bgcolor: var(--uc-button-selected) !important;
    --short-notification-background: var(--uc-accent-color-2) !important;
    --panel-border-color: var(--uc-panel-border) !important;
    --organizer-toolbar-background: var(--uc-accent-color-4) !important;
    --organizer-pane-background: var(--uc-accent-color-4) !important;
    --organizer-content-background: var(--uc-accent-color-4) !important;
    --organizer-hover-background: var(--uc-accent-color-4) !important;
    --organizer-selected-background: var(--uc-button-selected) !important;
    --organizer-focus-selected-color: var(--uc-button-selected) !important;
    --organizer-outline-color: rgb(0,221,255) !important;
    --organizer-toolbar-field-background: var(--uc-accent-color-4) !important;
    --organizer-toolbar-field-background-focused: var(--uc-accent-color-1) !important;
    --content-select-background-image: none !important;
} 


/* Applying variables  further to create the Theme --------------------------------*/

/* If a section is empty, that means the style is defaulting to chrome/theme/ffu-internal-appearance.css */

/* Main window adjustments ----------------------------------------*/
    
#main-window:not([lwtheme]) {  
    /* main browser window background color */
    background-color: var(--uc-browser-color) !important;
    & body {background: var(--uc-browser-color) !important;}
    /* keep consistency with the navigation assets (including the tabs container) */
    & #navigator-toolbox {
        background-color: var(--uc-navbar-background) !important;
    }    
}

/* URL Bar --------------------------------------------------------*/

#main-window:not([lwtheme]) {
    & #urlbar[open] {
        box-shadow: var(--uc-box-shadow) !important;
    }
    & #urlbar-background, & #searchbar, & .urlbar-background,
    & #urlbar:is([focused="true"], & [open]) > #urlbar-background,
    & #urlbar:is([focused="true"], & [open]) > .urlbar-background,
    & #searchbar:focus-within {
        background-color: var(--uc-urlbar-background) !important;
        border-radius: var(--uc-button-border-radius) !important;
        box-shadow: var(--uc-box-shadow) !important;
    }
    & #urlbar[open] > #urlbar-background,
    & #urlbar[open] > .urlbar-background {
        border-color: var(--uc-accent-color-3) !important;
    }
    & #urlbar[breakout][breakout-extend] {
        background-color: transparent !important;
        border-radius: var(--uc-button-border-radius);
    }
    & #urlbar-zoom-button {
        background-color: var(--uc-button-selected) !important;
    }
    & .urlbarView-row { &[selected] {
        color: var(--uc-text) !important;
    }}
    & .urlbarView-row:hover {
        background-color: var(--uc-button-selected) !important;
        color: var(--uc-text) !important;
    }
    & #urlbar[focused]:not([suppress-focus-border]) > #urlbar-background,
    & #urlbar[focused]:not([suppress-focus-border]) > .urlbar-background {
        outline-color: color-mix(in srgb, var(--uc-accent-color-3) 20%, transparent)  !important;
    }
}

/* Find bar -------------------------------------------------------*/


/* Sidebars -------------------------------------------------------*/

#main-window:not([lwtheme]) {  
    #sidebar {
        background:var(--uc-sidebar-background) !important;
    }
}
/*sidebar check boxes*/
@layer input-common { #input {
    accent-color: var(--uc-accent-color-4) !important;
}}
/*sidebar links*/
.sidebar-panel .text-link, .sidebar-panel a, .sidebar-panel ::part(support-link),
.customize-group .text-link, .customize-group a, .customize-group ::part(support-link) {
    color: var(--uc-accent-color-4) !important;
}

/* Tabs -----------------------------------------------------------*/
    
#main-window:not([lwtheme]) {
    & .tab-label-container[selected] {
        color: var(--uc-tab-selected-text) !important;
    }
    & .tab-label-container[selected] { @media (prefers-color-scheme: light) {
        color: var(--uc-accent-color-4) !important;
    }}
    & .tab-background[multiselected] {
        outline-color: var(--uc-accent-color-1) !important;
    } 
    & .tab-background[multiselected] { @media (prefers-color-scheme: light) {
        outline-color: var(--uc-accent-color-3) !important;
        outline-offset: none !important;
    }}
    /* tabs - pinned tabs */
    & .tab-label-container[pinned] {
        color: var(--uc-accent-color-2) !important;
    }
    & #vertical-pinned-tabs-splitter {
        border-top: 1px var(--uc-accent-color-2) dashed !important;
        min-height: 3px !important;
        &:hover{background: var(--uc-accent-color-2) !important;}
    }
    /*tabs - all other tabs */
    & .tab-label-container:not([selected=""],[pinned]) {
        color: var(--uc-accent-color-3) !important;
    }
}

/* Button Adjustments ---------------------------------------------*/


/* Popups/Menus ---------------------------------------------------*/


/* Context Menu ---------------------------------------------------*/

#main-window:not([lwtheme]) {
    menupopup:not(#ContentSelectDropdownPopup), panel {
        color-scheme: light dark;
        --panel-background: var(--uc-context-menu) !important;
        --panel-border-radius: var(--uc-button-border-radius) !important;
        --panel-border-color: var(--uc-panel-border-2) !important;
        --panel-color: var(--uc-text) !important;
    }
    menupopup {--panel-shadow:none !important;}
    menuitem:hover {
        background-color: var(--uc-button-selected) !important;
        --panel-color: var(--uc-accent-color-1) !important;
        color: var(--uc-accent-color-1) !important;
        border-radius: 6px !important;
    }
    menu:where([_moz-menuactive="true"]:not([disabled="true"])),
    menuitem:where([_moz-menuactive="true"]:not([disabled="true"])){
        background-color: var(--uc-button-selected) !important;
        color: var(--uc-accent-color-1) !important;
    }
}

/* Custom Icons ---------------------------------------------------*/


