#root {
    /* Tab and PinnedTab height adjustment */
    --tabs-height: 33px;
    --tabs-pinned-height: var(--tabs-height);
    --tabs-pinned-width: var(--tabs-height);

    /* Theme */
    --bg: #1a1b26 !important;
    --tabs-fg: #d4d4d4 !important;
    --tabs-bg-hover: #3b3948 !important;
    --tabs-activated-bg: #5b5b66 !important;
    --nav-btn-activated-bg: #1f222f !important;
    --panel-btn: #f2f2f2 !important;
    --warn: #8c4351 !important;
    --search-icon-width: 38px;
}

#root .Tab {
    --tabs-indent: 7px;
}

/* TABS */

.Tab .lvl-wrapper:after {
    display: none;
}

.Tab {
    margin: auto;
    width: 100%;
    border-radius: 3px;
}

.Tab .close>svg:hover {
    /* Styling the tab close button */
    border-radius: 3px;
    background: var(--warn) !important;
    opacity: 80%;
}

.Tab .title {
    overflow: hidden !important;
}

/* PINNED TABS */

.PinnedTabsBar {
    padding-top: 2px !important;
    background-color: var(--bg) !important;
}

/* NAV BAR */

.NavigationBar {
    height: 41px !important;
    padding: 4.5px 0px 0px 4.5px !important;
    /*background-color: # !important;*/
    margin-bottom: 5px;
}

.NavigationBar .panel-btn:hover {
    border-radius: 3px !important;
    background-color: var(--tabs-bg-hover) !important;
}

.NavigationBar .panel-btn[data-active="true"] {
    border-radius: 3px !important;
    background-color: var(--bg) !important;
}

.NavigationBar .panel-btn[data-active="true"]:hover {
    border-radius: 3px !important;
    background-color: var(--tabs-bg-hover) !important;
}

.NavigationBar .panel-btn>svg,
.NavigationBar .panel-btn>img {
    fill: var(--panel-btn) !important;
}

/* SIDEBAR HACK PATCHES */

@media (max-width: 50px) {

    /* Show first if there are notifications available */
    .PinnedTabsBar .tab-wrapper:has(.Tab[data-updated="true"]) {
        order: -2 !important;
    }

    .PinnedTabsBar .tab-wrapper:has(.Tab[data-active="true"]) {
        order: -1 !important;
    }

    /* Fix to tab tree identation when minimised */
    #root:not(:hover) .Tab {
        --tabs-indent: 0px;
    }

    .Tab[data-lvl]>div.lvl-wrapper {
        right: -2px;
    }

    .Tab {
        max-width: 34px;
    }

    .Tab .fav {
        z-index: 1;
    }

    .Tab .audio {
        z-index: 1;
        margin-left: -12px;
        height: 26px;
    }

    .Tab .title {
        display: none;
    }

    .NavigationBar .settings-btn {
        display: none;
    }
}

/* OPTIONAL */

/* Disable these two snippets below to make pinned tabs wrap when minimized */
.PinnedTabsBar {
    flex-wrap: nowrap !important;
}

.PinnedTabsBar .Tab {
    overflow: hidden !important;
    min-width: var(--tabs-pinned-width) !important;
}

/* Optional patch for better tab notifications on pinned tabs */

.PinnedTabsBar .Tab[data-audible] .fav>img,
.PinnedTabsBar .Tab[data-muted] .fav>img,
.PinnedTabsBar .Tab[data-loading] .fav>img,
.PinnedTabsBar .Tab .fav>img {
    mask: none;
}

.PinnedTabsBar .Tab[data-updated="true"] .fav>img {
    mask: radial-gradient(circle at calc(100% - 2px) calc(100% - 2px), rgba(0, 0, 0, 0.141), rgba(0, 0, 0, 0.141) 4px, #000 5px, #000);
}

.PinnedTabsBar .Tab .audio-badge {
    top: 5px;
}

.PinnedTabsBar .Tab .update-badge {
    opacity: 0;
}

.PinnedTabsBar .Tab[data-updated="true"] .update-badge {
    opacity: 100;
}

.Tab .title {
    transition: margin-left 300ms ease;
}

.Tab:hover {
    --tabs-inner-gap: 8px;
}

.Tab:hover .title {
    margin-left: 8px;
}

.Tab[data-discarded="true"] .title {
    opacity: 80%;
}