@media not -moz-pref("user.theme.dark.a") {
@media not -moz-pref("user.theme.light.a") {
@media not -moz-pref("user.theme.dark.catppuccin") {
@media not -moz-pref("user.theme.dark.catppuccin-frappe") {
@media not -moz-pref("user.theme.dark.catppuccin-mocha") {
@media not -moz-pref("user.theme.dark.gruvbox") {
@media not -moz-pref("user.theme.light.gruvbox") {
@media not -moz-pref("user.theme.dark.midnight") {
@media not -moz-pref("user.theme.dark.scarlet") {

/* Establishing custom variables - allowing most(/all) customization to be done in one place. */
    
:root, body, * {
    --uc-ultima-window: var(--toolbar-bgcolor);
    --uc-text: var(--toolbox-non-lwt-textcolor);

    --uc-transparent: rgba(0,0,0,0);
    --uc-button-selected: var(--toolbarbutton-hover-background);
    --uc-tab-selected-bg: var(--toolbarbutton-hover-background);
    --uc-urlbar-background: var(--toolbox-non-lwt-bgcolor);
    --uc-panel-background: var(--toolbox-non-lwt-bgcolor);
    --uc-panel-border: rgba(45, 45, 45, 0.5);
    --uc-panel-border-ii: rgba(45, 45, 45, 0.5);
    --uc-context-menu: Menu;
    --uc-tabs-background: var(--uc-background-main);
    --uc-sb-background: var(--uc-background-main);
    --uc-tabs-lwt: color-mix(in srgb, var(--lwt-accent-color) 75%, #000);
    --uc-sb-lwt: color-mix(in srgb, var(--lwt-accent-color) 75%, #000);
    --urlbar-icon-border-radius: var(--uc-all-border-radius);
    --arrowpanel-menuitem-border-radius: var(--uc-all-border-radius);
    --arrowpanel-border-radius: var(--uc-all-border-radius);
    --toolbarbutton-border-radius: var(--uc-all-border-radius);
    --urlbar-icon-border-radius: var(--uc-all-border-radius);
    --button-border-radius: 10px;
    --uc-button-border-radius: 10px;
    --uc-box-shadow: 0.1rem 0.4rem 0.4rem -0.1rem rgba(25,25,25,0.6);
    --uc-box-shadow-panel: 0.1rem 0.3rem 0.4rem -0.1rem rgba(25,25,25,0.6);
    --inactive-titlebar-opacity: 1 !important;
    --lwt-accent-color-inactive: var(--lwt-accent-color) !important;
    /*vertical tab toolbar buttons v*/
}
#main-window:not([lwtheme]) {      
    --toolbar-bgcolor: ActiveCaption !important;
    --toolbox-bgcolor-inactive: ActiveCaption !important;
    --toolbox-textcolor-inactive: ActiveCaptionText !important;    
}
#main-window[lwtheme] {      
    --uc-accent-i: var(--lwt-accent-color);
    --uc-accent-ii: var(--lwt-accent-color);
    --uc-accent-iii: var(--lwt-accent-color);
    --uc-accent-iv: var(--lwt-accent-color);
    --uc-accent-v: var(--lwt-accent-color);
}    

/* Main window adjustments ----------------------------------------*/  
#main-window:not([lwtheme]) {  
    /* keep consistency with the navigation assets (including the tabs container) */
    & #navigator-toolbox {
        border-bottom: 0px solid transparent !important;
    &:-moz-window-inactive {
        background-color: var(--toolbar-bgcolor) !important;
        color: var(--uc-text) !important;}
    }    
}

/* Browser Content adjustments ------------------------------------*/    
#main-window:not([lwtheme]) {  
    /* content window */
    & #appcontent, & #browser, & #tabbrowser-tabbox, 
    & #tabbrowser-tabpanels, & .browserSidebarContainer { 
        background: var(--toolbar-bgcolor) !important; 
    }
}

/* Sidebars -------------------------------------------------------*/
#main-window:not([lwtheme]) {  
    #sidebar-main {
        background:var(--uc-ultima-window) !important;
    }
}    

/* Tabs -----------------------------------------------------------*/
#main-window:not([lwtheme]) {  
    & .tab-background[selected] {
        box-shadow: var(--uc-box-shadow) !important;
        background: var(--uc-tab-selected-bg) !important;
    }
    & #vertical-tabs .tabbrowser-tab[pinned] .tab-background {
        box-shadow: var(--uc-box-shadow) !important;
    }
    & .tab-background {
        .tabbrowser-tab:hover > .tab-stack > &:not([selected], [multiselected]) {
            box-shadow: var(--uc-box-shadow) !important;
        }
    }
    /* tabs tooltip styling */
    & .tab-preview-container {
        background-color: var(--uc-tabs-background) !important;
        color: var(--uc-text) !important;
        width: 225px !important;
        border: 1px solid var(--uc-panel-border) !important;
    }
    & .titlebar-spacer[type="post-tabs"] {opacity:0 !important;}
}

/* URL Bar --------------------------------------------------------*/
#main-window:not([lwtheme]) {  
    /* URL bar */
    & #urlbar:is([focused="true"], & [open]) > #urlbar-background, & #searchbar:focus-within {
        margin-top: 3px !important;
        border-radius: var(--uc-all-border-radius) !important;
        box-shadow: 0.1rem 0.4rem 0.9rem -0.1rem rgba(25,25,25,0.9) !important;
    }
    & #urlbar:is([focused="true"], & [open]) > #urlbar-background, & #searchbar:focus-within {
        border-radius: var(--uc-all-border-radius) !important;
    }
    & #urlbar-background, & #searchbar {
        border-radius: 10px !important;
        border: 0 !important;
        box-shadow: var(--uc-box-shadow);
    }
    & #urlbar[breakout][breakout-extend] {
        border-radius: 10px;
    }
    & #urlbar-zoom-button {
        margin-top:3px !important;
    }

}

/* Buttons --------------------------------------------------------*/
#main-window:not([lwtheme]) {  
    & .titlebar-button {
      border-radius: var(--uc-button-border-radius);
    }
    @media (-moz-platform: windows) {
        .titlebar-close:hover {
            background-color: rgb(191, 66, 66) !important;
        }
    }
}
    
/* Custom Icons -----------------------------------------------------------------*/
@media -moz-pref("ultima.theme.icons") {
    #forward-button image{
      list-style-image: url("chrome://global/skin/icons/arrow-right.svg") !important;
      stroke: var(--uc-accent-iii) !important;
    }
    #back-button image{
      list-style-image: url("chrome://global/skin/icons/arrow-left.svg") !important;
      stroke: var(--uc-accent-iii) !important;
    }
    /* overflow icon changed to a "more" icon */
    #nav-bar-overflow-button {
        list-style-image: url("chrome://global/skin/icons/more.svg") !important;
    }
    #alltabs-button {
        list-style-image: url("chrome://global/skin/icons/arrow-down-12.svg") !important;
    }
}
    
  
}}}}}}}}}
