/*This page is undergoing heavy modification due to Firefox v131 changes to the browser,
sections marked below with a (***) will indicate any ongoing progression or mods pending completion
due to the expectation of changes and updates to Vertical Tabs as Firefox devs continue to patch the feature*/

/*
This file handles positioning of all main elements within the browser.

[Index]
ctrl+f to find a section:

Global variables
Compact spacing
OS Window control margins
Title bar
Nav bar
Menu bar
Browser Content
Side bar ***
Vertical Tabs ***
Vertical Tabs settings ***
Autohide
*/


/* Global variables for quick modifications ------------------------------------------*/

:root, body, * {
    --chrome-content-separator-color: transparent;
    --uc-collapsed-tabs-width: 41px;
    --uc-navbar-height: 40px;
    --uc-bookbar-height: 22px;

    /*rounded corners*/
    --uc-all-border-radius: 10px;
    --uc-content-border-radius: var(--uc-all-border-radius);
    --uc-tab-border-radius: var(--uc-all-border-radius);
    --uc-sidebar-border-radius: var(--uc-all-border-radius);
    --uc-button-border: 4px;

    /* margins */
    --uc-content-margins: 0px 5px 5px 5px; 
    --uc-tab-margins-left: 3.5px 0 5px 0px; /*placehold*/
    --uc-tab-margins-right: 3.5px 0px 5px 0; /*placehold*/
        
    --uc-sb-margins: 2px 0px 5px 1px;
    --uc-sb-margins-right: 2px 1px 5px 0px;
    --uc-tab-padding: 2px;
    
    /* OS window controls margins */
    --uc-window-control-margins: 86px;

    /*global spacing pixels*/
    --uc-spacing-px0: 0px;
    --uc-spacing-px1: 1px;
    --uc-spacing-px2: 2px;
    --uc-spacing-px3: 3px;
    --uc-spacing-px4: 4px;
    --uc-spacing-px5: 5px;
    
    /*tabs*/
    --uc-vertical-collapsed-width:0.4px;
    
    /*individual tabs*/
    --tab-min-height: 35px;
    --tab-min-width: initial !important; /*dont touch*/
    --tab-overflow-pinned-tabs-width: initial !important; /*dont touch*/
    --inline-tab-padding: 10px;
    --tab-block-margin: 2px;
}

:root[uidensity="compact"]:not([customizing],[chromehidden~="menubar"]) {
    --uc-navbar-height: 34px;
}


/* Compact spacing -----------------------------------------------------------------------*/

/*compact spacing setting*/
@media (-moz-bool-pref: "ultima.spacing.compact") { 
    :root, body, * {
        /*rounded corners*/
        --uc-content-border-radius: 0px;
        --uc-tab-border-radius: 0px;
        --uc-sidebar-border-radius: 0px;
        --uc-button-border: 4px;
        /* margins */
        --uc-content-margins: 0px;
        --uc-tab-margins-left: 0px;
        --uc-tab-margins-right: 0px; 
        --uc-sb-margins: 0px;
        --uc-sb-margins-right: 0px;
        }
}

/*full screen compacting*/
#main-window[sizemode="fullscreen"] * {
    /*rounded corners*/
    --uc-content-border-radius: 0px;
    --uc-tab-border-radius: 0px;
    --uc-sidebar-border-radius: 0px;
    /* margins */
    --uc-content-margins: 0px;
    --uc-tab-margins-left: 0px;
    --uc-tab-margins-right: 0px; 
    --uc-sb-margins: 0px;
    --uc-sb-margins-right: 0px;
}


/* OS Window control margins -------------------------------------------------------------*/

/*mac*/
@media (-moz-os-version: macos), (-moz-platform: macos) {
    :root, body, * { --uc-window-control-margins: 84px;}
    #nav-bar { margin-left: var(--uc-window-control-margins) !important;}
    toolbar {min-height: 0px !important;}
}

/*windows*/
@media (-moz-platform: windows) {
    :root, body, * { --uc-window-control-margins: 96px;}
    #nav-bar { margin-right: var(--uc-window-control-margins) !important;}
}

/*linux*/
@media (-moz-platform: linux), (-moz-os-version: linux) {
    :root, body, * { --uc-window-control-margins: 86px;}
    #nav-bar { margin-right: var(--uc-window-control-margins) !important;}
    :root .titlebar-button {--uc-selected: transparent !important;background: transparent !important;background-color: transparent !important;}
}


/* Title bar ----------------------------------------------------------------------*/

/*titlebar corrections*/
.titlebar-spacer {width:5px !important;}
#tabbrowser-tabs {border-inline-start: 0px !important;}
#TabsToolbar { margin: 2px 2px 0 0 !important; }

/*titlebar corrections*/
#main-window:not([lwtheme]) .titlebar-button { stroke: initial !important; }
#main-window[lwtheme] .titlebar-button { stroke: var(--toolbarbutton-icon-fill) !important; }
#main-window:not([lwtheme]) .titlebar-button:hover { fill: initial !important; }
#main-window[lwtheme] .titlebar-button:hover { fill: var(--toolbarbutton-icon-fill) !important; }
:root:where([tabsintitlebar]){--inactive-titlebar-opacity: 1 !important;--toolbox-non-lwt-textcolor-inactive:var(--toolbox-non-lwt-textcolor);}


/* Nav bar ------------------------------------------------------------------------*/

#nav-bar {
    min-height:var(--uc-navbar-height) !important;
}    

#nav-bar .toolbarbutton-1 {
    margin-top:4.5px !important;
}


/* Menu bar -----------------------------------------------------------------------*/

#toolbar-menubar {
    max-height: var(--uc-navbar-height) !important;
    height: var(--uc-navbar-height);
    margin-left:8px !important;
}
#main-menubar menu {
   border-radius: 10px !important; 
}
#menubar-items {
  background: var(--uc-ultima-window) !important;
  border-radius: 10px !important;
  justify-content: center !important;
  color: var(--uc-text) !important;
}
#toolbar-menubar:not([inactive="true"]) #main-menubar > menu { &[_moz-menuactive] {
  background-color: var(--uc-selected) !important;
  color: var(--uc-text) !important;
  border-radius: 5px !important;
}}
menubar > menu[open] {
    border-bottom: 1px var(--uc-accent-ii) solid !important;
}


/* Browser Content ----------------------------------------------------------------------*/

/* remove default borders and shadows v131 */

#appcontent { @media (-moz-bool-pref: "sidebar.revamp") { & {
    border-top: 0 !important;
    border-inline-start: 0 !important;
    box-shadow: none !important;
}}}
#main-window {
    & #tabbrowser-tabpanels browser[type] {
        margin: var(--uc-content-margins) !important;
        border-radius: var(--uc-content-border-radius) !important;
        outline: 4px solid var(--toolbar-bgcolor) !important;
    }          
}
#main-window[lwtheme] {        
    & #tabbrowser-tabpanels browser[type] {
        outline: 3px solid var(--lwt-accent-color) !important;
        @media (-moz-bool-pref: "ultima.xstyle.lwtheme") {
            outline: 3px solid var(--arrowpanel-background) !important;
        }
    }
}


/* Side bar *** ------------------------------------------------------------------------*/

/* bigger sidebar, 50vw = 50% of the screen width */
/* great for view-tab-in-sidebar extensions */
#sidebar-box {
    max-width: 50vw !important;
    min-width: 40px !important;
    width: 18em;
}
/* rework default spacing */
#sidebar-box { @media (-moz-bool-pref: "sidebar.revamp") { & {
      padding-block-end: 0 !important;
      padding-inline-end: 0 !important;
}}}

#sidebar-box { @media (-moz-bool-pref: "sidebar.revamp") { &[positionend] {
      padding-inline-end: 0 !important;
      padding-inline-start: 0 !important;
}}}
/*custom margins*/
#sidebar-box {
    margin: var(--uc-sb-margins) !important;
}
#sidebar-box[positionend] {
    margin: var(--uc-sb-margins-right) !important;
}
/*smaller splitter, less visible*/
#sidebar-splitter {
    background-color: transparent !important;
    border: transparent solid 0px !important;
    width: 2px !important;
}
/* custom border */
#sidebar-box, #sidebar, #sidebar-header {
    border-radius: var(--uc-sidebar-border-radius) !important;
}
#sidebar-header {
    border-top-left-radius: var(--uc-sidebar-border-radius) !important;
    border-top-right-radius: var(--uc-sidebar-border-radius) !important;
}
#sidebar {
    border-bottom-left-radius: var(--uc-sidebar-border-radius) !important;
    border-bottom-right-radius: var(--uc-sidebar-border-radius) !important;
}

#sidebar { @media (-moz-bool-pref: "sidebar.revamp") { & {
      box-shadow: 0 2px 6px 0 light-dark(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.8)) !important;
      border: 0px solid var(--sidebar-border-color) !important;
}}}

#sidebar {
    margin-top:-2px !important;
}

/* Vertical Tabs ----------------------------------------------------------------------*/

/* TABS Side Bar */

#sidebar-main {
    border-radius: var(--uc-sidebar-border-radius);
}

#sidebar-main:not([positionend="true"]) {
	margin: var(--uc-tab-margins-left) !important;
}
        
#sidebar-main[positionend="true"] {
	margin: var(--uc-tab-margins-right) !important;
}

#sidebar-main *, #sidebar-main .wrapper {
    border-inline-end: 0px solid red !important;
}

#vertical-tabs-newtab-button {
    height:40px !important;
    border-radius:30px !important;
    background:red !important;
    margin-inline: 3px 3px !important;;
}

#sidebar-main:has([expanded]) .tab-label-container {
  margin-left: 10px !important;
}


/* Vertical Tabs settings *** -----------------------------------------------------------*/

/* Disable tabs completely for sidebery-like setups */

@media (-moz-bool-pref: "ultima.tabs.disabled") {
    @media (-moz-bool-pref: "sidebar.verticalTabs") {
        #sidebar-main:has([expanded=""]) {
            display: none !important;
        }
    }
    @media not (-moz-bool-pref: "sidebar.verticalTabs") {
        #sidebar-main:has([expanded=""]) {
            display: none !important;
        }            
        #TabsToolbar .toolbar-items {
            opacity:0;
            pointer-events: none;
        }
        #titlebar {
            height:var(--uc-navbar-height) !important; width:100vw;
            position: absolute;
            top:0px;right:0px;z-index:999;
        }
        #titlebar:has([inactive="true"]) {
            z-index:997 !important;
        }
        #nav-bar {
            z-index:998 !important;
        }
        @media not (-moz-bool-pref: "ultima.keep.titlebar") {
            #nav-bar {
                margin-left:0px !important;
                margin-right: 0px !important;
            }
        }
    }
    @media not (-moz-bool-pref: "ultima.spacing.compact") {
        #sidebar-main:has([expanded=""]) + #sidebar-box[checked="true"] {
            margin-left:5px !important;
            }
        #sidebar-main:has([expanded=""]) + #sidebar-box[positionend="true"] {
            margin-inline:0 5px !important;
            }
        }
}
        
@media not (-moz-bool-pref: "ultima.tabs.disabled") {
@media not (-moz-bool-pref: "sidebar.verticalTabs") {
    @media (-moz-bool-pref: "ultima.keep.titlebar") {
        #nav-bar {
            margin-left:0px !important;
            margin-right: 0px !important;
        }
    }
}
}


/* keep titlebar window controls */

/* until firefox removes the leftover title bar taking up space,
when off hide titlebar, accessible via alt key or toggling the menubar on,
when on merge the titlebar (window controls) into the navigation bar */

/* when using vert tabs */
@media (-moz-bool-pref: "sidebar.verticalTabs") {
    /*when on, merge window controls into the nav bar*/
    @media (-moz-bool-pref: "ultima.keep.titlebar") {
        #TabsToolbar .toolbar-items {
            opacity:0;
            pointer-events: none;
        }
        #titlebar {
            height:var(--uc-navbar-height) !important;
            width:100vw;
            position: absolute;
            top:0px;
            right:0px;
            z-index:999;
        }
        #titlebar:has([inactive="true"]){
            /* for menu bar visibility */
            z-index:997 !important;}
        #nav-bar {
            z-index:998 !important;
        }
    }
    /*when off hide titlebar, accessible via alt key or toggling the menubar on*/
    @media not (-moz-bool-pref: "ultima.keep.titlebar") {
        #TabsToolbar, #TabsToolbar-customization-target {
            display: none !important;
        }
        #nav-bar {
            margin-left:0px !important;
            margin-right: 0px !important;
        }
    }
}


/*Autohide implementation ------------------------------------------------------------*/

/*not using animation yet, feature is still being analyzed,
visual stutter and elements overlapping,
most likely need to transform the new sidebar into a fixed element,
still should be way easier than the original verttab hack just gotta wait*/
/*
@media (-moz-bool-pref: "ultima.tabs.autohide") {
    #sidebar-main:has([expanded]) {
        transition: width 80ms linear 300ms !important;
        will-change: width !important;
        width:initial;
    }    
    #sidebar-main:has([expanded]):not(:hover) {
        width: var(--uc-vertical-collapsed-width) !important;
        z-index: 0;
    }
    #sidebar-main:has([expanded]):not(:hover) + #sidebar-box {
        margin-left:var(--uc-spacing-px5) !important;
    }
    #sidebar-main:has([expanded]):hover + #sidebar-box {
        margin-left:var(--uc-spacing-px0) !important;
    }
}
*/


