/* *** for future tab auto color support, blurred firefox window support */

/*---------------------------- Unthemed Global Variables -----------------------------
- Global variables used for ease of modification, and future customization
 
[Index] ctrl+f a line to find the specified section:

-------------------------------------------------------------------------------------*/

:root, body, * {
  color-scheme: dark !important; /*--<--dont touch--*/
  /*--toolbar-bgcolor:hmm;*/
  /*--uc-ultima-window: hmm;*/
  --uc-dark-color: #000;
  --uc-light-color: #fff;
  --uc-accent-i: #EDF783; /* accent colors - blues, yellows, etc. */
  --uc-accent-ii: rgb(90, 121, 156);
  --uc-accent-iii: rgb(255, 255, 255);
  --uc-accent-iv: rgba(28, 27, 34, 0.5);
  --uc-accent-v: rgb(121, 161, 195);
  --uc-background-main: rgba(28, 27, 34, 0.5);
  --uc-background-panel: rgba(28, 27, 34, 0.95);
  --uc-background-solid: rgba(28, 27, 34, 1);
  --uc-background-secondary: rgb(35, 35, 42);
  --uc-transparent: rgba(0,0,0,0);
  --uc-selected: rgba(25, 25, 35, 0.8);
  --uc-active: rgb(35, 35, 42);
  --uc-text: rgb(255, 255, 255);
  --uc-panel-border: rgba(25, 25, 25, 1);
  --uc-panel-border-ii: rgba(45, 45, 45, 0.5);
  --uc-context-menu: rgba(28, 27, 34,1);
  --uc-tabs-background: var(--uc-background-main);
  --uc-sb-background: var(--uc-background-main);
  --uc-sb-background-header: var(--uc-accent-iv);
  --uc-sb-background-container: var(--uc-transparent);
  --uc-tabs-lwt: color-mix(in srgb, var(--lwt-accent-color) 75%, #000);
  --uc-sb-lwt: color-mix(in srgb, var(--lwt-accent-color) 75%, #000);
  --urlbar-icon-border-radius: var(--uc-all-border-radius);
  --arrowpanel-menuitem-border-radius: var(--uc-all-border-radius);
  --arrowpanel-border-radius: var(--uc-all-border-radius);
  --toolbarbutton-border-radius: var(--uc-all-border-radius);
  --urlbar-icon-border-radius: var(--uc-all-border-radius);
  --button-border-radius: 10px;
  --uc-button-border-radius: 10px;
}

/*-----------------------------------------------------------------------------------*/
/*quick adjustments*/

:root{ --toolbar-bgcolor:rgb(0,0,0) !important;}

#navigator-toolbox {
  background-color: var(--toolbar-bgcolor) !important;
  border-bottom: 0 !important;
  &:-moz-window-inactive {
    background-color: var(--toolbar-bgcolor) !important;
  }
}

body {
  background-color: var(--toolbar-bgcolor) !important;
}

#tabbrowser-tabpanels {
  background-color: var(--toolbar-bgcolor) !important;
}
