#main-window[lwtheme] {
    --lwt-accent-color: var(--arrowpanel-background) !important;
    --uc-background-layered: red !important;
    --uc-ultima-window: var(--lwt-accent-color) !important;
    /* main browser window background color */
    background-color: var(--lwt-accent-color) !important; 
    & body {background: var(--lwt-accent-color) !important;}

    /* keep consistency with the navigation assets (including the tabs container) */
    & #nav-bar {background: initial !important;}
    & #navigator-toolbox {background-color: var(--toolbar-bgcolor) !important; border-bottom: 1px solid rgba(0,0,0,0) !important;}    
    
    /* content window */
    & #appcontent, & #browser, & #tabbrowser-tabbox, 
    & #tabbrowser-tabpanels, & .browserSidebarContainer, & .browserStack { 
        background: var(--uc-transparent) !important; 
    } 
    & #tabbrowser-tabpanels browser[type] {
        margin-top:4px !important;
        outline: 3px solid var(--lwt-accent-color) !important;
    }     
        
    /* side bar */
    & #sidebar-header, & #sidebar, & #sidebar-box {
        background-color: color-mix(in srgb, var(--lwt-accent-color) 75%, #000) !important;
    }
    & #sidebar-box {
        box-shadow: var(--uc-box-shadow) !important;
    }
    & #sidebar-search-container #search-box, & #sidebar-search-container #viewButton {
        appearance: none !important;
        border-radius: 10px !important;
        background-color: var(--uc-accent-iv) !important;
        box-shadow: var(--uc-box-shadow-panel);
    }
    & #bookmarksPanel #sidebar-search-container #search-box {
        appearance: none !important;
        border-radius: 10px !important;
        background-color: var(--uc-accent-iv) !important;
    }
    & .sidebar-panel[lwt-sidebar] {
        background-color: var(--uc-transparent) !important;
    }
    
    /* everything related to tabs */

    --tab-selected-bgcolor: var(--lwt-accent-color) !important;

    & #sidebar-main {
        background-color: var(--lwt-accent-color) !important;
    }
    & #TabsToolbar-customization-target {
        background: var(--lwt-accent-color) !important;
    }
    /* pinned tabs style */       
    & .tab-content[pinned=""] .tab-background,
    & .tab-content[pinned="true"] .tab-background { 
        background: var(--lwt-accent-color);
    }
    & .tabbrowser-tab[pending="true"] {
        opacity: 0.3 !important;
    }
    
    /* URL bar */
    & #urlbar:is([focused="true"], & [open]) > #urlbar-background, & #searchbar:focus-within {
        margin-top: 3px !important; /*new*/
        background-color: color-mix(in srgb, var(--uc-urlbar-background) 10%, var(--lwt-accent-color) 90%) !important;
        border-radius: var(--uc-all-border-radius) !important;
    }
    & #urlbar:is([focused="true"], & [open]) > #urlbar-background, & #searchbar:focus-within {
        border-radius: var(--uc-all-border-radius) !important;
    }
    & #urlbar-background, & #searchbar {
        background-color: var(--uc-accent-iv) !important;
        border-radius: 10px !important;
        border: 0 !important;
        box-shadow: 0.1rem 0.4rem 0.4rem -0.1rem rgba(0,0,0,0.5);
    }
    & #urlbar[open] > #urlbar-background {
        border-color: var(--uc-accent-iii) !important;
    }
    & #urlbar[breakout][breakout-extend] {
        background-color: transparent !important;
        border-radius: 10px;
    }
    & #urlbar-zoom-button {
        background-color: var(--uc-button-selected) !important;
        margin-top:3px !important;
    }
    & .urlbarView-row {
        &[selected] {
            color: var(--uc-text) !important;
        }
    }
    /* extra styling - customize toolbar page */     
    & #customization-container {background-color: var(--lwt-accent-color) !important;}
    & #unified-extensions-button {fill: var(--lwt-text-color) !important;}
    & #PersonalToolbar {background-color: transparent !important;}
       
     
    /* menus */
       
    & .panel-subview-body {
        background: var(--lwt-accent-color) !important;
    }
    & panelview,
    & #unified-extensions-view {
        background: var(--lwt-accent-color) !important;
    }    
    /* drop down menus */
    & #ContentSelectDropdown > menupopup[customoptionstyling="true"]::part(arrowscrollbox) {
        --panel-color: black !important;
    }
    & #ContentSelectDropdownPopup .menupopup-arrowscrollbox::part(content) {
        --panel-color: black !important;
    }
    & #ContentSelectDropdownPopup menupopup,
    & #ContentSelectDropdownPopup panel {
        --panel-color: black !important;
    }        
         
    /* extra styling - customize toolbar page */     
    & #customization-container {background-color: var(--lwt-accent-color) !important;}    
    & #menubar-items {background: transparent !important; color: var(--toolbar-field-color) !important;}
    
    /* context menus / right click menus */
    & menupopup  {
        --panel-background: var(--lwt-accent-color) !important;
        --panel-color: var(--toolbar-field-color) !important;
        /*--panel-padding-block: 4px !important;
        --panel-padding: var(--panel-padding-block) 0;
        --panel-border-radius: 4px;*/
        --panel-border-color: color-mix(in srgb, var(--lwt-accent-color) 25%, rgba(0,0,0,0.3)) !important;      
    }
 
    
    
} /* < end of Add-On Theme Styling */
 
