/*---------------------------- Global Color Scheme Fallback -----------------------------
- This file serves as a fallback for default color/design around the FF Ultima theme
- Including global/default styles that are used throughout every other color scheme
- Including a base/foundation for tab autotab color extension
 
[Index] ctrl+f a line to find the specified section:
Establishing custom variables
Overwriting existing variables
Applying variables to create the Dark Mode theme
Adapting to add-on-theme styling
Global styling - applies everywhere
Global styling - Icons
--------------------------------------------------------------------------------------*/


:root, body, * {
  color-scheme: dark !important; /*--<--dont touch--*/
  /*--toolbar-bgcolor:hmm;*/
  /*--uc-ultima-window: hmm;*/
  --uc-dark-color: #000;
  --uc-light-color: #fff;
  --uc-accent-i: #EDF783; /* accent colors - blues, yellows, etc. */
  --uc-accent-ii: rgb(90, 121, 156);
  --uc-accent-iii: rgb(255, 255, 255);
  --uc-accent-iv: rgba(28, 27, 34, 0.5);
  --uc-accent-v: rgb(121, 161, 195);
  --uc-background-main: rgba(28, 27, 34, 0.5);
  --uc-background-panel: rgba(28, 27, 34, 0.95);
  --uc-background-solid: rgba(28, 27, 34, 1);
  --uc-background-secondary: rgb(35, 35, 42);
  --uc-transparent: rgba(0,0,0,0);
  --uc-selected: rgba(25, 25, 35, 0.8);
  --uc-active: rgb(35, 35, 42);
  --uc-text: rgb(255, 255, 255);
  --uc-panel-border: rgba(25, 25, 25, 1);
  --uc-panel-border-ii: rgba(45, 45, 45, 0.5);
  --uc-context-menu: rgba(28, 27, 34,1);
  --uc-tabs-background: var(--uc-background-main);
  --uc-sb-background: var(--uc-background-main);
  --uc-sb-background-header: var(--uc-accent-iv);
  --uc-sb-background-container: var(--uc-transparent);
  --uc-tabs-lwt: color-mix(in srgb, var(--lwt-accent-color) 75%, #000);
  --uc-sb-lwt: color-mix(in srgb, var(--lwt-accent-color) 75%, #000);
  --urlbar-icon-border-radius: var(--uc-all-border-radius);
  --arrowpanel-menuitem-border-radius: var(--uc-all-border-radius);
  --arrowpanel-border-radius: var(--uc-all-border-radius);
  --toolbarbutton-border-radius: var(--uc-all-border-radius);
  --urlbar-icon-border-radius: var(--uc-all-border-radius);
  --button-border-radius: 10px;
  --uc-button-border-radius: 10px;
}

/*-----------------------------------------------------------------------------------*/
/*quick adjustments*/

:root{ --toolbar-bgcolor:rgb(0,0,0) !important;}

#navigator-toolbox {
  background-color: var(--toolbar-bgcolor) !important;
  border-bottom: 0 !important;
  &:-moz-window-inactive {
    background-color: var(--toolbar-bgcolor) !important;
  }
}

body {
  background-color: var(--toolbar-bgcolor) !important;
}

#tabbrowser-tabpanels {
  background-color: var(--toolbar-bgcolor) !important;
}


/* Overwriting existing variables -------------------------------------------------*/
/* Global Defaults ----------------------------------------------------------------*/

/* scroll bars */
* {scrollbar-width:auto !important; scrollbar-color:rgba(50, 50, 60, 0.3) rgba(5,5,5, 0.0) !important;}
#navigator-toolbox {scrollbar-width:auto !important; scrollbar-color:rgba(50, 50, 60, 0.3) rgba(5,5,5, 0.0) !important;}     
    
/* global dialog box */
:root[dialogroot] {
  --in-content-page-background: var(--uc-background-layered) !important;
  color: var(--uc-text)  !important;
}    
    
/* fix for inactive/unfocused window altering nav bar color */    
@media (-moz-platform: windows), (-moz-platform: linux) {
    root{--inactive-titlebar-opacity: 1 !important;}
}    
        
/* tooltip, worth a try */    
tooltip {
    background-color: var(--uc-background-main) !important;
    color: var(--uc-text) !important;
    border-color: var(--uc-panel-border) !important;
}

/* side bar - font size, padding, borders, etc */
#sidebar-search-container #search-box {
    height: 3em;
}
splitter {@media (-moz-platform: windows) { & {
  border-width: 0 0px !important;
  border-style: solid !important;
  background-color: transparent !important;
} } }
@media not (-moz-platform: linux) { .sidebar-splitter {
  border: 0 solid !important;
  border-inline-end-width: 1px !important;
  border-color: transparent !important;
  min-width: 1px !important;
  width: 4px !important;
  background-color: transparent !important;
  margin-inline-start: -7px !important;
} }

#sidebar-search-container #search-box, & #sidebar-search-container #viewButton {
    appearance: none !important;
    border-radius: 10px !important;
    background-color: var(--uc-button-selected) !important;
    box-shadow: var(--uc-box-shadow-panel);
}
#bookmarksPanel #sidebar-search-container #search-box {
    appearance: none !important;
    border-radius: 10px !important;
    background-color: var(--uc-button-selected) !important;
}

#main-window {
    &:not([lwtheme]) .titlebar-button {
        stroke: var(--toolbarbutton-icon-fill) !important;
    } 
    &[lwtheme] .titlebar-button {
        stroke: var(--toolbarbutton-icon-fill) !important;
    }
}

/*notification badges*/
.toolbarbutton-1 {
    &:not([badge-status="update-restart"]) .toolbarbutton-badge,
    &:not([tooltiptext="Account"]) .toolbarbutton-badge {
        background-color: rgba(0,0,0,0.3) !important;
        box-shadow: 0 !important;
        color: var(--uc-text) !important;
        text-shadow: #FDFFFF 0.5px 0 15px!important;
    }
}

/* autoscroller restored to default style with adjustment */
.autoscroller {
    --panel-border-radius: 100% !important;
    --panel-background: rgba(166,166,170,0.8) no-repeat center var(--autoscroll-background-image) !important;
}

/* Full screen button in the Menu (≡) Panel */
#appMenu-fullscreen-button2 > .toolbarbutton-icon {
    border-radius: 4px !important;
}

/* for user accessibility - pointer cursor to certain buttons  */
.urlbarView-action:hover,
#unified-extensions-panel toolbarbutton:hover,
#urlbar .urlbar-page-action:hover,
#urlbar .identity-box-button:hover
{cursor: pointer !important; box-shadow: var(--uc-box-shadow);}

/* zoom controls seperator/border removed */
#zoom-controls separator {display:none !important;}

/* devtools bottom view splitter removed */
.devtools-horizontal-splitter {
    opacity: 0 !important;
}

/* context menu seperators reduced visibility */
menupopup menuseparator {opacity:0.2 !important;}

/* add box shadow to hovered tabs*/
.tab-background { .tabbrowser-tab:hover > .tab-stack > &:not([selected], [multiselected]) {
    box-shadow: var(--uc-box-shadow) !important;
}}

/* full screen indicator label */
/*--the label that says ("website.com is now in full screen...")--*/
#fullscreen-warning { 
    &, *.pointerlockfswarning {
        opacity: 0 !important;
        border-radius: 20px !important;
    }
    & * {
        border-radius: var(--uc-all-border-radius) !important;
    }
} 

/* titlebar opacity safe guard, hopefully */
:root { @media (-moz-platform: windows) {
  --inactive-titlebar-opacity: 1 !important;
}}

/* title bar buttons - min max close*/
#main-window {
    &:not([lwtheme]) .titlebar-button {
        stroke: var(--toolbarbutton-icon-fill) !important;
    } 
    &[lwtheme] .titlebar-button {
        stroke: var(--toolbarbutton-icon-fill) !important;
    }
}




/* Global Icons -------------------------------------------------------------------*/

@media (-moz-bool-pref: "ultima.theme.icons") {  
    /* extension menu */
    #main-window:not([lwtheme]) #unified-extensions-button {
      list-style-image: url("icons/extensions.svg") !important;
      fill: var(--toolbarbutton-icon-fill) !important;
    }
    #main-window[lwtheme] #unified-extensions-button {
      list-style-image: url("icons/extensions.svg") !important;
      fill: var(--lwt-text-color) !important;
    }
    /* bookmarks folder icon */
    .bookmark-item[container=true] {
      list-style-image: url("icons/bm.png") !important;
    }
    /* ublock on */
    #ublock0_raymondhill_net-BAP image{
      list-style-image: url("icons/ubon.png") !important;
    }
    /* ublock off */
    #ublock0_raymondhill_net-BAP[tooltiptext="uBlock Origin (off)"] image{
      list-style-image: url("icons/uboff.png") !important;
    }
    #forward-button image{
      list-style-image: url("chrome://global/skin/icons/arrow-right.svg") !important;
      stroke: var(--toolbar-color) !important;
    }
    #back-button image{
      list-style-image: url("chrome://global/skin/icons/arrow-left.svg") !important;
      stroke: var(--toolbar-color) !important;
    }
    /* overflow icon changed to a "more" icon */
    #nav-bar-overflow-button {
        list-style-image: url("chrome://global/skin/icons/more.svg") !important;
    }
    #alltabs-button {
        list-style-image: url("chrome://global/skin/icons/arrow-down-12.svg") !important;
    }
}    
