/*///////////////////////////////////////////////////////////////////////////////////////\

FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
File Desc:         Handle Configurations for Nightly, Autoconfig, ...
Wiki:              Todo

Nightly Configurations
Autoconfig Configurations

\////////////////////////////////////////////////////////////////////////////////////////*/


/* Nightly Configurations (quick patches specific to nightly) ----------------------------------------------- */

@media (-moz-bool-pref: "ultima.enable.nightly.config") {


    
} /*end nightly*/


/* Autoconfig Configurations -------------------------------------------------------------------------------- */

@media (-moz-bool-pref: "ultima.enable.js.config") {


    
} /*end js*/

@media not (-moz-bool-pref: "ultima.enable.js.config") {
    
    /* fix, verttab autohiding, 135 update, shouldnt apply to autoconfig */
    @media (-moz-bool-pref: "ultima.tabs.autohide") {     
        /* the verttab container (collapsed width) should now be >100px to escape the scripted state behavior of firefox */
        :root {--uc-vertical-collapsed-width: 101px;}
        /* but the content inside of the verttab container should remain how it was, 56px works */
        #sidebar-main * {--uc-vertical-collapsed-width: 56px !important;}    
        /* the tabbrowsertabbox (browser content) needs to overlay the extra unused verttab container space, when not hovered */
        #tabbrowser-tabbox {z-index: 999 !important;}
        #sidebar-main:has([expanded]):hover ~ #tabbrowser-tabbox {z-index: 998 !important;}
        /* the verttab container should not overlay browser content when it is in firefox's built-in collapsed-state */
        #sidebar-main:not(:has([expanded]) {z-index:1001 !important;} 
        #sidebar-main:not(:hover) ~ #sidebar-box {z-index: 1000 !important;}
        @media (-moz-bool-pref: "ultima.disable.verticaltab.bar.withindicator") {
            #sidebar-main:not(:has([expanded]) {z-index:1001 !important;}  
        }
    }
    
} /*end js*/

  

