/*
This page is undergoing heavy modification due to Firefox v131 changes to the browser,
sections marked below with a (***) will indicate any ongoing progression or mods pending completion
due to the expectation of changes and updates to Vertical Tabs as Firefox devs continue to patch the feature

* sidebar-main wrapper can be used as container for entire vertical tabs sidebar with accented color,
* sidebar-main wrapper can be given a margin of 5px, while keeping autohide feature trigger-able @ screen edge
* vertical-tabs container (width) can be modded to expand content within, including individual tab width
* sidebar-main width can only be ultered when these conditions above are met
* the bullets above will also restore the ability to let the user set custom vertical tab widths
* the bullets above will restore the original ff ultima design of vert tabs, and --uc-sidebar-border-radius
*/

/*
This file handles positioning of all main elements within the browser.

[Index]
ctrl+f to find a section:

Global variables
Compact spacing
OS Window control margins
Title bar
Nav bar
Menu bar
Browser Content
Side bar ***
Vertical Tabs ***
Vertical Tabs settings ***
Autohide
*/


/* Global variables for quick modifications ------------------------------------------*/

:root, body, * {
    --chrome-content-separator-color: transparent;
    --uc-collapsed-tabs-width: 41px;
    --uc-navbar-height: 40px;
    --uc-bookbar-height: 22px;

    /*rounded corners*/
    --uc-all-border-radius: 10px;
    --uc-content-border-radius: var(--uc-all-border-radius);
    --uc-tab-border-radius: var(--uc-all-border-radius);
    /*--uc-sidebar-border-radius: var(--uc-all-border-radius);*/
    --uc-sidebar-border-radius: 0;
    --uc-button-border: 4px;

    /* margins */
    --uc-content-margins: 2px 5px 5px 5px; 
    --uc-tab-margins-left: 3.5px 0 5px 0px; /*placehold*/
    --uc-tab-margins-right: 3.5px 0px 5px 0; /*placehold*/
        
    --uc-sb-margins: 2px 5px 5px 1px;
    --uc-sb-margins-right: 2px 1px 5px 5px;
    --uc-tab-padding: 2px;

    /*global spacing pixels*/
    --uc-spacing-px0: 0px;
    --uc-spacing-px1: 1px;
    --uc-spacing-px2: 2px;
    --uc-spacing-px3: 3px;
    --uc-spacing-px4: 4px;
    --uc-spacing-px5: 5px;
    
    /*tabs*/
    --uc-vertical-collapsed-width:50px;
    --uc-vertical-expanded-width:250px;
    
    /*individual tabs*/
    --tab-min-height: 35px;
    --tab-min-width: initial !important; /*dont touch*/
    --tab-overflow-pinned-tabs-width: initial !important; /*dont touch*/
    --inline-tab-padding: 10px;
    --tab-block-margin: 2px;
}

:root[uidensity="compact"]:not([customizing],[chromehidden~="menubar"]) {
    --uc-navbar-height: 34px;
}


/* Compact spacing -----------------------------------------------------------------------*/

/*compact spacing setting*/
@media (-moz-bool-pref: "ultima.spacing.compact") { 
    :root, body, * {
        /*rounded corners*/
        --uc-content-border-radius: 0px;
        --uc-tab-border-radius: 0px;
        --uc-sidebar-border-radius: 0px;
        --uc-button-border: 4px;
        /* margins */
        --uc-content-margins: 0px;
        --uc-tab-margins-left: 0px;
        --uc-tab-margins-right: 0px; 
        --uc-sb-margins: 0px;
        --uc-sb-margins-right: 0px;
        }
}

/*full screen compacting*/
#main-window[sizemode="fullscreen"] * {
    /*rounded corners*/
    --uc-content-border-radius: 0px;
    --uc-tab-border-radius: 0px;
    --uc-sidebar-border-radius: 0px;
    /* margins */
    --uc-content-margins: 0px;
    --uc-tab-margins-left: 0px;
    --uc-tab-margins-right: 0px; 
    --uc-sb-margins: 0px;
    --uc-sb-margins-right: 0px;
}


/* Vertical Tabs Width ------------------------------------------------------------*/

@media (-moz-bool-pref: "sidebar.verticalTabs") {
/* small width tabs */
@media (-moz-bool-pref: "ultima.tabs.width.small") { 
    @media not (-moz-bool-pref: "ultima.tabs.width.medium") { 
    @media not (-moz-bool-pref: "ultima.tabs.width.large") { 
    @media not (-moz-bool-pref: "ultima.tabs.width.huge") {
        :root, body, * {--uc-vertical-expanded-width: 250px !important;}
        #tabbrowser-tabs {width: var(--uc-vertical-expanded-width) !important;}
}}}}
/* medium width tabs */
@media (-moz-bool-pref: "ultima.tabs.width.medium") { 
    @media not (-moz-bool-pref: "ultima.tabs.width.small") { 
    @media not (-moz-bool-pref: "ultima.tabs.width.large") {
    @media not (-moz-bool-pref: "ultima.tabs.width.huge") {
        :root, body, * {--uc-vertical-expanded-width:300px !important;}
        #tabbrowser-tabs {width:var(--uc-vertical-expanded-width) !important;}
}}}}
/* large width tabs */
@media (-moz-bool-pref: "ultima.tabs.width.large") { 
    @media not (-moz-bool-pref: "ultima.tabs.width.small") {
    @media not (-moz-bool-pref: "ultima.tabs.width.medium") {
    @media not (-moz-bool-pref: "ultima.tabs.width.huge") {
        :root, body, * {--uc-vertical-expanded-width:350px !important;}
        #tabbrowser-tabs {width:var(--uc-vertical-expanded-width) !important;}
}}}}
/* huge width tabs */
@media (-moz-bool-pref: "ultima.tabs.width.huge") { 
    @media not (-moz-bool-pref: "ultima.tabs.width.small") { 
    @media not (-moz-bool-pref: "ultima.tabs.width.medium") {
    @media not (-moz-bool-pref: "ultima.tabs.width.large") {
        :root, body, * {--uc-vertical-expanded-width:450px !important;}
        #tabbrowser-tabs {width:var(--uc-vertical-expanded-width) !important;}
}}}}
}

/* OS Window controls -------------------------------------------------------------*/

/*mac*/
@media (-moz-os-version: macos), (-moz-platform: macos) {
    /*:root, body, * { --uc-window-control-margins: 84px;}
    #nav-bar { margin-left: var(--uc-window-control-margins) !important;}*/
    toolbar {min-height: 0px !important;}
}
/*windows*/
@media (-moz-platform: windows) {
    /*:root, body, * { --uc-window-control-margins: 120px;}
    #nav-bar { margin-right: var(--uc-window-control-margins) !important;}*/
}
/*linux - kde spacing*/
@media (-moz-platform: linux), (-moz-os-version: linux) {
    /*:root, body, * { --uc-window-control-margins: 86px;}
    #nav-bar { margin-right: var(--uc-window-control-margins) !important;}*/
    :root .titlebar-button {--uc-selected: transparent !important;background: transparent !important;background-color: transparent !important;}
}

/*option to disable window controls*/
@media (-moz-bool-pref: "ultima.disable.windowcontrols.button") {
    .titlebar-buttonbox-container {display:none !important;}
    #toolbar-menubar:not([inactive="true"]) .titlebar-buttonbox-container {display:flex !important;}
}


/* Title bar ----------------------------------------------------------------------*/

/*titlebar corrections*/
.titlebar-spacer[type="pre-tabs"] {width:4px !important;}
.titlebar-spacer[type="post-tabs"] {width:1px !important;}
#tabbrowser-tabs {border-inline-start: 0px !important;}
#TabsToolbar { margin: 2px 2px 0 0 !important; }
@media (-moz-bool-pref: "ultima.disable.alltabs.button") {
    #alltabs-button {
    	display: none !important;
    }
}
@media (-moz-bool-pref: "ultima.theme.icons") {
    #alltabs-button { list-style-image: url("chrome://global/skin/icons/arrow-down-12.svg") !important; }
}

/*titlebar corrections*/
#main-window:not([lwtheme]) .titlebar-button { stroke: initial !important; }
#main-window[lwtheme] .titlebar-button { stroke: var(--toolbarbutton-icon-fill) !important; }
#main-window:not([lwtheme]) .titlebar-button:hover { fill: initial !important; }
#main-window[lwtheme] .titlebar-button:hover { fill: var(--toolbarbutton-icon-fill) !important; }
:root:where([tabsintitlebar]){--inactive-titlebar-opacity: 1 !important;--toolbox-non-lwt-textcolor-inactive:var(--toolbox-non-lwt-textcolor);}
toolbar {
  &:-moz-window-inactive {
    background-color: var(--toolbar-bgcolor) !important;
    /*color: -moz-headerbarinactivetext;*/
  }
}

/* Nav bar ------------------------------------------------------------------------*/

#nav-bar {
    min-height:var(--uc-navbar-height) !important;
}    
#nav-bar .toolbarbutton-1 {
    margin-top:4.5px !important;
}
#titlebar:has([inactive="true"]){
    z-index:997 !important;
}
#nav-bar {
    z-index:998 !important;
}

/*URL bar*/
/*fix overlapping buttons (spacing) - when the Browser falls under a certain width*/
@media (max-width: 700px) {
  #nav-bar[downloadsbuttonshown][unifiedextensionsbuttonshown] #urlbar-container {
    width: 120px !important;
  }
}
@media (max-width: 600px) {
  #unified-extensions-button, #PanelUI-button {display:none}
}


/* Menu bar -----------------------------------------------------------------------*/

#toolbar-menubar {
    max-height: var(--uc-navbar-height) !important;
    height: var(--uc-navbar-height);
    margin-left:8px !important;
}
#main-menubar menu {
   border-radius: 10px !important; 
}
#menubar-items {
  background: var(--uc-ultima-window) !important;
  border-radius: 10px !important;
  justify-content: center !important;
  color: var(--uc-text) !important;
}
#toolbar-menubar:not([inactive="true"]) #main-menubar > menu { &[_moz-menuactive] {
  background-color: var(--uc-button-selected) !important;
  color: var(--uc-text) !important;
  border-radius: 5px !important;
}}
menubar > menu[open] {
    border-bottom: 1px var(--uc-accent-ii) solid !important;
}

@media not (-moz-os-version: macos) {
@media (-moz-bool-pref: "ultima.theme.menubar") { 
    #toolbar-menubar {
    	position:fixed !important;
    	z-index:999999 !important;
    	right:0;
    }
    #toolbar-menubar:not([inactive="true"]) .titlebar-buttonbox-container {
        background:var(--uc-ultima-window) !important;
    }  
}
}


/* Browser Content ----------------------------------------------------------------------*/

/* remove default borders and shadows v131 */
#appcontent { @media (-moz-bool-pref: "sidebar.revamp") { & {
    border-top: 0 !important;
    border-inline-start: 0 !important;
    box-shadow: none !important;
}}}
#tabbrowser-tabbox { @media (-moz-bool-pref: "sidebar.revamp") {
    outline: 0px solid var(--chrome-content-separator-color) !important;
    box-shadow: none !important;
}}


/* add borders margins*/
/* wrap content in outline border for overlapping webpages*/
#main-window {
    & #tabbrowser-tabpanels browser[type] {
        margin: var(--uc-content-margins) !important;
        border-radius: var(--uc-content-border-radius) !important;
        outline: 4px solid var(--uc-ultima-window) !important;
        
    }          
}
#main-window[lwtheme] {        
    & #tabbrowser-tabpanels browser[type] {
        outline: 3px solid var(--lwt-accent-color) !important;
        @media (-moz-bool-pref: "ultima.xstyle.lwtheme") {
            outline: 3px solid var(--arrowpanel-background) !important;
        }
    }
}


/* Side bar *** ------------------------------------------------------------------------*/

/* bigger sidebar, 50vw = 50% of the screen width */
/* great for view-tab-in-sidebar extensions */
#sidebar-box {
    max-width: 50vw !important;
    min-width: 40px !important;
    width: 18em;
    z-index:998 !important;
}
/* rework default spacing */
#sidebar-box { @media (-moz-bool-pref: "sidebar.revamp") { & {
      padding-block-end: 0 !important;
      padding-inline-end: 0 !important;
}}}

#sidebar-box { @media (-moz-bool-pref: "sidebar.revamp") { &[positionend] {
      padding-inline-end: 0 !important;
      /*padding-inline-start: 0 !important;*/
}}}
/*custom margins*/
#sidebar-box {
    margin: var(--uc-sb-margins) !important;
}
#sidebar-box[positionend] {
    margin: var(--uc-sb-margins-right) !important;
}
/*smaller splitter, less visible*/
#sidebar-splitter {
    background-color: transparent !important;
    border: transparent solid 0px !important;
    width: 2px !important;
}
/* custom border */
#sidebar-box, #sidebar {
    border-radius: var(--uc-sidebar-border-radius) !important;
}

#main-window[inFullscreen="true"] {
    #sidebar-box, #sidebar {
        border-radius: 0px !important;
    }
}

#sidebar { @media (-moz-bool-pref: "sidebar.revamp") { & {
      box-shadow: 0 2px 6px 0 light-dark(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.8)) !important;
      border: 0px solid var(--sidebar-border-color) !important;
}}}

#sidebar {
    margin-top:-2px !important;
}


/* Vertical Tabs ----------------------------------------------------------------------*/

/*spacing corrections*/
#sidebar-main:has([expanded]) #vertical-tabs { &[visible] {
    /*margin-inline-end: -5px !important;*/ /*less unused space at end of individual tab*/
}}
#sidebar-main:has([expanded]) .tab-label-container {
  margin-left: 10px !important; /*more space between inidividial tab icon and text*/
}
#sidebar-main *, #sidebar-main .wrapper {
    border-inline-end: 0px solid red !important;
}
#sidebar-main:not([positionend="true"]) {
	margin: var(--uc-tab-margins-left) !important;
}      
#sidebar-main[positionend="true"] {
	margin: var(--uc-tab-margins-right) !important;
}

/*quick styling*/
#sidebar-main {
    border-radius: var(--uc-sidebar-border-radius);
    background:var(--uc-ultima-window) !important;
}
/*new tab button*/
#vertical-tabs-newtab-button {
    border-radius:10px !important;
}
/*pinned tabs*/
#vertical-tabs .tabbrowser-tab[pinned] .tab-background {
    box-shadow: 0.1rem 0.4rem 0.4rem -0.1rem rgba(25,25,25,0.6);
}

/*hide the vert tab bar*/

@media (-moz-bool-pref: "ultima.disable.verticaltab.bar") {

    #sidebar-main:has([expanded=""]) {
        width:5px !important;
    }
    #main-window[inFullscreen="true"] #sidebar-main:has([expanded=""]) {
        width:0px !important;
    }
    @media (-moz-bool-pref: "ultima.spacing.compact") {
        #sidebar-main:has([expanded=""]) {
            width:0px !important;
        }
    }
    #sidebar-box::before {

    }
}      


/*Autohide implementation ------------------------------------------------------------*/

/*
animation works well now,
hard setting the size of the elements works well here because they wont overlap the sidebar itself
animating the elements inside may cause visual stutters, an eye sore
full screen optimization needs improvement but firefox developers are changing Firefox Fullscreen elements as well,
so this optimization will have to wait
*/


@media (-moz-bool-pref: "ultima.tabs.autohide") {
@media (-moz-bool-pref: "sidebar.verticalTabs") {
@media not (-moz-bool-pref: "ultima.disable.verticaltab.bar") {

    /*fixed positioning to overlay content instead of pushing it to the side*/
    #sidebar-main {       
        position:fixed !important;
        top:36px !important;
        left:0px !important;
        height:calc(100vh - 40px) !important;
        z-index:997 !important;
    }
    
    @media (-moz-bool-pref: "sidebar.revamp") {
        #main-window #browser {
            margin-left:55px !important;
        }
        #main-window[inDOMFullscreen="true"] #browser {
            margin-left:0px !important;
        }   
        #main-window[inFullscreen="true"] #sidebar-main {
            top:0 !important;
            height:100vh !important;   
        }  
    }
    #main-window:not([inFullscreen="true"]) #navigator-toolbox:has([collapsed="false"]) + #browser #sidebar-main {
        top:calc(var(--uc-navbar-height) + var(--uc-bookbar-height) + 4px) !important;
        height:calc(100vh - var(--uc-navbar-height) - var(--uc-bookbar-height)) !important;
    }
    
    
    /*autohide*/
    #sidebar-main:has([expanded]) {
        transition: width 80ms linear 70ms !important;
        will-change: width !important;
        width:var(--uc-vertical-expanded-width) !important;
    }    
    #sidebar-main:has([expanded]):not(:hover) {
        width: var(--uc-vertical-collapsed-width) !important;
        z-index: 0;
    }
    #sidebar-main:has([expanded]):not(:hover) + #sidebar-box {
        margin-left:var(--uc-spacing-px5) !important;
    }
    #sidebar-main:has([expanded]):hover + #sidebar-box {
        margin-left:var(--uc-spacing-px0) !important;
    }

    /*adjustments for elements within the autohidden state*/
    #sidebar-main:has([expanded=""]):not(:hover) .tabbrowser-tab{width: 56px !important; min-width: 0px !important} /*all tabs*/
    #sidebar-main:has([expanded=""]):not(:hover) .tabbrowser-tab[pinned=""]{width: 43px !important; min-width: 0px !important} /*pinned tabs*/
    #sidebar-main:has([expanded=""]):not(:hover) .tab-label-container, #sidebar-main:not(:hover) .tab-close-button{ display: none !important; }
    #sidebar-main:has([expanded=""]):not(:hover) #vertical-tabs-newtab-button{min-width: 0px !important; appearance: none !important;}

    /*styling toolbar buttons within*/
    .tools-and-extensions:not(:hover){ opacity:0.5 !important;}
    .button-background {&.labelled { gap: 15px !important;}}
    #tabbrowser-arrowscrollbox[orient="vertical"] > #tabbrowser-arrowscrollbox-periphery > #tabs-newtab-button, #vertical-tabs-newtab-button {
        & > .toolbarbutton-text {
            padding-inline-start: var(--tab-icon-end-margin);
            margin-left:7px !important;
        }
    }	

}}}


/* Misc Modifications - To be moved to a more relevant file location -----------------*/

/* Full screen button in the Menu (≡) Panel */
#appMenu-fullscreen-button2 > .toolbarbutton-icon {
    border-radius: 4px !important;
}

/* autoscroller restored to default style with adjustment */
.autoscroller {
    --panel-border-radius: 100% !important;
    --panel-background: rgba(166,166,170,0.8) no-repeat center var(--autoscroll-background-image) !important;
}

/* for user accessibility - pointer cursor to certain buttons  */
.urlbarView-action:hover,
#unified-extensions-panel toolbarbutton:hover,
#urlbar .urlbar-page-action:hover,
#urlbar .identity-box-button:hover
{cursor: pointer !important; box-shadow: 0.1rem 0.4rem 0.4rem -0.1rem rgba(35,35,35,0.9);}

/* zoom controls seperator/border removed */
#zoom-controls separator {display:none !important;}

/* overflow icon changed to a "more" icon */
#main-window:not([lwtheme]) #nav-bar-overflow-button {
    list-style-image: url("chrome://global/skin/icons/more.svg") !important;
}
#main-window[lwtheme] #nav-bar-overflow-button {
    list-style-image: url("chrome://global/skin/icons/more.svg") !important;
}

/* devtools bottom view splitter removed */
.devtools-horizontal-splitter {
    opacity: 0 !important;
}

/* context menu seperators reduced visibility */
menupopup menuseparator {opacity:0.2 !important;}
/*------------------------------------------------------------------------------------*/
/* --------------------------------------------------*/

/* *** use before/after as a substitute for sidebar margins */
/*
#sidebar-main::before {
    content:"'";
    background:red;
}
#sidebar-main::after {
    content:"'";
    background:red;
    opacity:0;
}
*/
