/*///////////////////////////////////////////////////////////////////////////////////////\

FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
File Desc:         LIGHT Mode Color Scheme, Gruvbox

Establishing custom variables
Overwriting existing variables
Applying variables to create the Dark Mode theme
Custom Icons

\////////////////////////////////////////////////////////////////////////////////////////*/


@media (prefers-color-scheme: light) {

    /* Establishing custom variables - allowing most(/all) customization to be done in one place. */
        
:root, body, * {
    color-scheme: light !important;
    --uc-ultima-window: rgb(220, 220, 220);
    --uc-text: rgb(198, 63, 41);
    --uc-dark-color: rgb(89, 53, 34);
    --uc-light-color: #fff;
    --uc-accent-i: rgb(72, 136, 141); /* accent colors - blues, yellows, etc. */
    --uc-accent-ii: #17347B;
    --uc-accent-iii: rgb(89, 53, 34);
    --uc-accent-iv: rgb(220, 220, 220);
    --uc-accent-v: rgb(206, 95, 20);
    --uc-accent-vi: rgb(206, 95, 20);
    --uc-accent-vii: rgb(243, 182, 221);
    --uc-accent-viii: rgb(55, 55, 105);
    --uc-background-main: rgb(250, 220, 220);
    --uc-background-layered: rgb(255, 255, 255);
    --uc-transparent: rgba(0,0,0,0);
    --uc-button-selected: rgb(114, 155, 170);
    --uc-tab-selected-bg: rgb(221, 147, 112);
    --uc-urlbar-background: rgb(220, 220, 220);
    --uc-panel-background: rgb(230, 225, 225);
    --uc-panel-border: rgba(66, 25, 25, 1);
    --uc-panel-border-ii: rgba(66, 40, 40, 0.5);
    --uc-context-menu: rgb(250, 220, 220);
    --uc-tabs-background: var(--uc-background-main);
    --uc-sb-background: var(--uc-background-main);
    --uc-sb-background-container: var(--uc-transparent);
    --uc-tabs-lwt: color-mix(in srgb, var(--lwt-accent-color) 75%, #ffffff);
    --uc-sb-lwt: color-mix(in srgb, var(--lwt-accent-color) 75%, #ffffff);
    --urlbar-icon-border-radius: var(--uc-all-border-radius);
    --arrowpanel-menuitem-border-radius: var(--uc-all-border-radius);
    --arrowpanel-border-radius: var(--uc-all-border-radius);
    --toolbarbutton-border-radius: var(--uc-all-border-radius);
    --urlbar-icon-border-radius: var(--uc-all-border-radius);
    --button-border-radius: 10px;
    --uc-button-border-radius: 10px;
    --uc-box-shadow: 0.1rem 0.3rem 0.4rem -0.1rem rgba(125,125,125,0.7);
    --uc-box-shadow-panel: 0.1rem 0.3rem 0.4rem -0.1rem rgba(125,125,125,0.3);
    --inactive-titlebar-opacity: 1 !important;
    --toolbox-non-lwt-bgcolor-inactive: ActiveCaption !important;
    --toolbox-non-lwt-textcolor-inactive: CaptionText !important;
    --lwt-accent-color-inactive: var(--lwt-accent-color) !important;
    /*vertical tab toolbar buttons v*/
    --button-background-color-ghost-hover: var(--uc-button-selected) !important;
    --button-background-color: var(--uc-button-selected) !important;
    --button-background-color-hover: var(--uc-button-selected) !important;
    --button-background-color-active: var(--uc-button-selected) !important;
}
    
        
        
        
/* Overwriting existing variables -------------------------------------------------*/
    
#main-window:not([lwtheme]), :root:not([lwtheme]) {
        
    --toolbar-bgcolor: var(--uc-ultima-window) !important;

    --tab-selected-bgcolor: var(--uc-tab-selected-bg) !important;
    --tab-hover-background-color: var(--uc-tab-selected-bg) !important;
    --tab-selected-textcolor: var(--uc-text) !important;
    --tab-loading-fill: var(--uc-accent-i) !important;

    --button-hover-bgcolor: var(--uc-button-selected) !important;
    --toolbarbutton-hover-background: var(--uc-button-selected) !important;
    --button-active-bgcolor: var(--uc-button-selected) !important;
    --toolbarbutton-active-background: var(--uc-button-selected) !important;
    --button-primary-bgcolor: var(--uc-accent-i) !important;
    --button-primary-hover-bgcolor: var(--uc-accent-i) !important;
    --buttons-destructive-hover-bgcolor: #9d1c1c;  /*red*/
    --buttons-destructive-active-bgcolor: #7d2828; /*red*/
    --toolbarbutton-icon-fill: var(--uc-text) !important; /*toolbar button color*/

    --toolbar-field-background-color: var(--uc-accent-iv) !important;
    --toolbar-field-border-color: var(--uc-accent-iii) !important;
    --toolbar-field-focus-border-color: var(--uc-accent-iv) !important;
    --urlbarView-result-button-selected-color: var(--uc-text) !important;
    --urlbarView-result-button-selected-background-color: var(--uc-button-selected) !important;
    --urlbarView-highlight-background: var(--uc-button-selected) !important;
    --urlbarView-hover-background: var(--uc-button-selected) !important;
    --urlbar-box-hover-bgcolor: var(--uc-button-selected) !important;
    --urlbar-box-hover-text-color: var(--uc-text) !important;

    --toolbar-field-color: var(--uc-text) !important;
    --toolbar-field-focus-color: var(--uc-text) !important;
    --toolbar-color: var(--uc-text) !important;
    --toolbar-field-color: var(--uc-text) !important;
    --toolbar-field-focus-color: var(--uc-text) !important;

    --sidebar-text-color: var(--uc-text) !important;
    --arrowpanel-background: var(--uc-panel-background) !important;
    --arrowpanel-border-color: var(--uc-panel-border-ii) !important;
    --arrowpanel-color: var(--uc-text) !important;
    --newtab-background-color: var(--uc-tabs-background) !important;

    --panel-background: var(--uc-panel-background) !important;
    --panel-item-hover-bgcolor: var(--uc-button-selected) !important;
    --panel-banner-item-hover-bgcolor: var(--uc-button-selected) !important;
    --short-notification-background: var(--uc-accent-ii) !important;
    --panel-border-color: var(--uc-panel-border) !important;

    --content-select-background-image: none !important;
}
    
    
    
        
/* Applying variables to create the Light Mode theme --------------------------------*/

/* Main window adjustments ----------------------------------------*/
    
#main-window:not([lwtheme]) {  
    /* main browser window background color */
    background-color: var(--uc-ultima-window) !important;  
    & body {background: var(--uc-ultima-window) !important;}    
    /* keep consistency with the navigation assets (including the tabs container) */
    & #navigator-toolbox {
        background-color: var(--toolbar-bgcolor) !important;
        border-bottom: 1px solid transparent !important;
    &:-moz-window-inactive {
        background-color: var(--toolbar-bgcolor) !important;
        color: var(--uc-text) !important;}
    }    
}

/* Browser Content adjustments ------------------------------------*/
    
#main-window:not([lwtheme]) {  
    /* content window */
    & #appcontent, & #browser, & #tabbrowser-tabbox, 
    & #tabbrowser-tabpanels, & .browserSidebarContainer { 
        background: var(--toolbar-bgcolor) !important; 
    }
    & .browserStack { background: var(--uc-transparent) !important; }
}

/* Sidebars -------------------------------------------------------*/

#main-window:not([lwtheme]) {  
    #sidebar-main {
        background:var(--uc-ultima-window) !important;
    }
    #sidebar {
        /*background:var(--uc-sb-background) !important;*/
    }
}    

/* Tabs -----------------------------------------------------------*/
    
#main-window:not([lwtheme]) {  
    /* tabs container */
    & #tabbrowser-tabs {
        background: transparent !important;
        --tab-loading-fill: var(--uc-accent-i) !important;
    }
    /* tabs - selected tabs */
    & .tab-label-container[selected] {
        color: var(--uc-accent-viii) !important;
    }
    & .tab-background[selected] {
        box-shadow: var(--uc-box-shadow) !important;
    }
    /* tabs - pinned tabs */
    & .tab-label-container[pinned] {
        color: var(--uc-accent-vii) !important;
    }
    & .tabbrowser-tab[pinned=""] .tab-background,
    & .tabbrowser-tab[pinned="true"] .tab-background {
        background-color: var(--uc-button-selected) !important;
    }
    & #vertical-tabs .tabbrowser-tab[pinned] .tab-background {
        box-shadow: var(--uc-box-shadow) !important;
    }
    /*tabs - all other tabs */
    & .tab-label-container:not([selected=""],[pinned]) {
        color: var(--uc-dark-color) !important;
    }
    & .tab-background {
        .tabbrowser-tab:hover > .tab-stack > &:not([selected], [multiselected]) {
            box-shadow: var(--uc-box-shadow) !important;
        }
    }
    /* tabs tooltip styling */
    & .tab-preview-container {
        background-color: var(--uc-tabs-background) !important;
        color: var(--uc-text) !important;
        width: 225px !important;
        border: 1px solid var(--uc-panel-border) !important;
    }
    & .titlebar-spacer[type="post-tabs"] {opacity:0 !important;}
}

/* URL Bar ----------------------------------------*/

#main-window:not([lwtheme]) {  
    /* URL bar */
    & #urlbar:is([focused="true"], & [open]) > #urlbar-background, & #searchbar:focus-within {
        margin-top: 3px !important; /*new*/
        background-color: var(--uc-urlbar-background) !important;
        border-radius: var(--uc-all-border-radius) !important;
    }
    & #urlbar:is([focused="true"], & [open]) > #urlbar-background, & #searchbar:focus-within {
        border-radius: var(--uc-all-border-radius) !important;
    }
    & #urlbar-background, & #searchbar {
        background-color: var(--uc-urlbar-background) !important;
        border-radius: 10px !important;
        border: 0 !important;
        box-shadow: var(--uc-box-shadow) !important;
    }
    & #urlbar[open] > #urlbar-background {
        border-color: var(--uc-accent-iii) !important;
    }
    & #urlbar[breakout][breakout-extend] {
        background-color: transparent !important;
        border-radius: 10px;
    }
    & #urlbar-zoom-button {
        background-color: var(--uc-button-selected) !important;
        margin-top:3px !important;
    }
    & .urlbarView-row {
        &[selected] {
            color: var(--uc-text) !important;
        }
    }
    & #urlbar[focused]:not([suppress-focus-border]) > #urlbar-background {
      outline-color: rgba(0,0,0,0.2) !important;
    }
}

/* Buttons --------------------------------------------------------*/

#main-window:not([lwtheme]) {  
    /* toolbar buttons */
    & .toolbarbutton-1 {color:var(--uc-accent-i) !important;}
    & .toolbarbutton-icon:hover,
    & .toolbarbutton-icon[open] {
        background-color: var(--uc-button-selected) !important;
    }        
    & #TabsToolbar #firefox-view-button:hover:not([open]) > .toolbarbutton-icon
      {background-color: var(--uc-button-selected) !important;}
    /* bookmark button in URL bar */
    & #star-button[starred] {
      fill-opacity: 1 !important;
      fill: var(--uc-accent-i) !important;
    }
    /* title bar buttons - min, max, close */
    & .titlebar-button {
      border-radius: var(--uc-button-border-radius);
    }
    & .titlebar-button:hover {
      background-color: var(--uc-button-selected) !important;
    }
    @media (-moz-platform: windows) {
        .titlebar-close:hover {
            background-color: rgb(191, 66, 66) !important;
        }
    }
}
    
/* Popups/Menus ---------------------------------------------------*/

#main-window:not([lwtheme]) {  
    /* other panels & extensions panel */
    & .panel-subview-body {
        background: var(--uc-panel-background) !important;
    }
    & panelview,
    & #unified-extensions-view {
        background: var(--uc-panel-background) !important;
    }    
    /* drop down menus */
    & #ContentSelectDropdown > menupopup[customoptionstyling="true"]::part(arrowscrollbox) {
        --panel-color: black !important;
    }
    & #ContentSelectDropdownPopup .menupopup-arrowscrollbox::part(content) {
        --panel-color: black !important;
    }
    & #ContentSelectDropdownPopup menupopup,
    & #ContentSelectDropdownPopup panel {
        --panel-color: black !important;
    }        
        
    /* extra styling - bookmark toolbar adjustment */
    & #PersonalToolbar {background: var(--uc-transparent) !important;}        
    /* extra styling - customize toolbar page */     
    & #customization-container {background-color: var(--uc-ultima-window) !important;}    
    
    /* menu popups */
    & .panel-subview-body {
        background: color-mix(in srgb, var(--uc-panel-background) 10%, var(--ultima-window) 90%) !important;
    }
    & .menupopup-arrowscrollbox {
        background-color: var(--uc-panel-background) !important;
    }
}   

    

    


    
/* Custom Icons -----------------------------------------------------------------*/

@media (-moz-bool-pref: "ultima.theme.icons") {  
    /* extension menu */
    #main-window:not([lwtheme]) #unified-extensions-button {
      list-style-image: url("icons/extensions.svg") !important;
      fill: var(--toolbarbutton-icon-fill) !important;
    }
    #main-window[lwtheme] #unified-extensions-button {
      list-style-image: url("icons/extensions.svg") !important;
    }
    /* bookmarks folder icon */
    .bookmark-item[container=true] {
      list-style-image: url("icons/bm.svg") !important;
    }
    /* ublock on */
    #ublock0_raymondhill_net-BAP image{
      list-style-image: url("icons/ublock.svg") !important;
    }
    /* ublock off */
    #ublock0_raymondhill_net-BAP[tooltiptext="uBlock Origin (off)"] image{
      list-style-image: url("icons/ublock.svg") !important;
      fill: rgb(231, 107, 127) !important;
    }
    #forward-button image{
      list-style-image: url("chrome://global/skin/icons/arrow-right.svg") !important;
      stroke: var(--uc-accent-iii) !important;
    }
    #back-button image{
      list-style-image: url("chrome://global/skin/icons/arrow-left.svg") !important;
      stroke: var(--uc-accent-iii) !important;
    }
    /* overflow icon changed to a "more" icon */
    #nav-bar-overflow-button {
        list-style-image: url("chrome://global/skin/icons/more.svg") !important;
    }
    #alltabs-button {
        list-style-image: url("chrome://global/skin/icons/arrow-down-12.svg") !important;
    }
}    




} /* fin */
    
