@-moz-document url(chrome://browser/content/browser.xul), url(about:newtab), url(about:home) {
@media not (-moz-bool-pref: "browser.newtabpage.activity-stream.newtabWallpapers.v2.enabled") {
  
/*
This file handles New Tab Backgrounds for Color Schemes.
Create Your Own - TUTORIAL: https://github.com/soulhotel/FF-ULTIMA/blob/main/doc/New-Color-scheme.md

Use the template below to enter your theme into the list:

@media (-moz-bool-pref: "user.theme.dark.MYTHEME"){body{background-image: url("pic/MYTHEME.png") !important;}

@media (-moz-bool-pref: "user.theme.light.MYTHEME"){body{background-image: url("pic/MYTHEME.png") !important;}
*/

/*--------------------------------- DARK COLOR SCHEME SECTION ---------------------------------*/

@media (prefers-color-scheme: dark) {

@media (-moz-bool-pref: "user.theme.dark.a"){body{background-image: url("pic/fullmoon.png") !important;}}

@media (-moz-bool-pref: "user.theme.dark.catppuccin"){body{background-image: url("pic/catppuccin.png") !important;}}

@media (-moz-bool-pref: "user.theme.dark.catppuccin-mocha"){body{background-image: url("pic/catppuccin.png") !important;}}

@media (-moz-bool-pref: "user.theme.dark.gruvbox"){body{background-image: url("pic/gruvbox.png") !important;}}

@media (-moz-bool-pref: "user.theme.dark.midnight"){body{background-image: url("pic/midnight.png") !important;}}

}

/*--------------------------------- LIGHT COLOR SCHEME SECTION ---------------------------------*/

@media (prefers-color-scheme: light){

@media (-moz-bool-pref: "user.theme.light.a"){body{background-image: url("pic/dusky.png") !important;}}

@media (-moz-bool-pref: "user.theme.light.gruvbox"){body{background-image: url("pic/gruvbox-l.png") !important;}}

  
  
  
  
  
}
}
}
