/*///////////////////////////////////////////////////////////////////////////////////////\

FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
File Desc:         Handle Configurations for Nightly, Autoconfig, ...
Wiki:              Todo

Nightly Configurations
Autoconfig Configurations

\////////////////////////////////////////////////////////////////////////////////////////*/


/* Nightly Configurations (quick patches specific to nightly) ----------------------------------------------- */

@media -moz-pref("ultima.enable.nightly.config") {


    
} /*end nightly*/


/* Autoconfig Configurations -------------------------------------------------------------------------------- */

@media -moz-pref("ultima.enable.js.config") {



} /*end js*/


/* Temporary solutions no config ----------------------------------------------------------------------------- */

@media not -moz-pref("ultima.enable.js.config") {
    
    #navigator-toolbox[movingtab] > #nav-bar {
      pointer-events: auto !important;
    }
    /* these are defaults set by firefox source content-area.css Line 7-13
    https://searchfox.org/mozilla-central/source/browser/themes/shared/tabbrowser/content-area.css#7-13 */
    @media (-moz-content-prefers-color-scheme: light) {
        :root {--tabpanel-background-color: #f9f9fb !important;}
    }
    @media (-moz-content-prefers-color-scheme: dark) {
        :root {--tabpanel-background-color: #2b2a33 !important;}
    }
    /*
    transparency
    #tabbrowser-tabs[orient="vertical"][overflow]::after {
      content: none !important;
    }
    */
    /* window title in menu bar */
    :root:not([sizemode="fullscreen"]):has(#toolbar-menubar:not([inactive="true"])) > head {
        display: block;
        position: fixed; top: 12px; right: 140px;
        width: calc(100vw - 285px);
        text-align: center;
        pointer-events: none;
        text-overflow: ellipsis;
        overflow-x: hidden;
        z-index: 1;
        & title {
            display: contents;
            max-width: 50vw;
            white-space: nowrap;
        }
        & * {
            display: none;
        }
    }
    #inputs, .extensions {
        --sidebar-box-border: var(--sidebar-box-border-width) solid color-mix(in srgb, var(--sidebar-box-border-color) 10%, transparent) !important;
    }
    moz-card {
        background-color: color-mix(in srgb, var(--uc-layered-background) 95%, black) !important;
    }
    
} /*end non js*/

  

/* //

- discontinue window title in menu bar, unconsistent across OS's
- need to test pointer events unforced on windows, hopefully this issue is finally corrected in firefox
- follow progress on tab split viewing https://bugzilla.mozilla.org/show_bug.cgi?id=1980370 tab-split-view-wrapper, *[split-view-first], *[split-view-second]
*/