/*///////////////////////////////////////////////////////////////////////////////////////\

FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
File Desc:         Autohide Sidebery, the other Sidebars remain static/resizable

\////////////////////////////////////////////////////////////////////////////////////////*/


@media (-moz-bool-pref: "ultima.sidebar.hidden") {
    @media (-moz-bool-pref: "ultima.sidebery.autohide") {
        #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] { 
            --uc-sidebar-width: 0.4px !important; 
            margin:0 !important;
        }
    }
}

@media (-moz-bool-pref: "ultima.sidebery.autohide") {
    @media (-moz-bool-pref: "ultima.sidebar.longer") {
        #sidebar-box {--uc-sidebar-hover-width: 400px !important;} 
    }
}

@media (-moz-bool-pref: "ultima.sidebery.autohide") {
    :root {
        --bg: #1a1b26;
    }
    /*#TabsToolbar-customization-target, #tabbrowser-tabs {
        z-index: 999 !important;
    }*/
    
    /* sidebar adopts theme borders */
    #sidebar {
        border-radius: var(--uc-all-border-radius) !important;
    }
    
    /* autohide */
    #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
        --uc-sidebar-width: 38px;
        --uc-sidebar-hover-width: 320px;
        --uc-autohide-sidebar-delay: 4ms;
        /* Waiting time before hiding sidebar */
        position: relative;
        min-width: var(--uc-sidebar-width) !important;
        width: var(--uc-sidebar-width) !important;
        max-width: var(--uc-sidebar-width) !important;
        z-index: 1;
    }

    #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"][positionend] {
        direction: rtl;
    }

    #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"][positionend]>* {
        direction: ltr;
    }

    #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"][positionend]:-moz-locale-dir(rtl) {
        direction: ltr;
    }

    #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"][positionend]:-moz-locale-dir(rtl)>* {
        direction: rtl;
    }

    /* HIDE SIDE BAR IN FULL SCREEN */
    #main-window[titlepreface*="[S] "][inFullscreen="true"] #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
        --uc-sidebar-width: 0px;
    }

    #sidebar {
        transition: min-width 115ms linear var(--uc-autohide-sidebar-delay) !important;
        min-width: var(--uc-sidebar-width) !important;
        will-change: min-width;
    }

    #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover>#sidebar {
        min-width: var(--uc-sidebar-hover-width) !important;
        transition-delay: 0ms !important;
    }

    .sidebar-panel {
        background-color: transparent !important;
    }

    .sidebar-panel #search-box {
        -moz-appearance: none !important;
        background-color: var(--uc-button-selected) !important;
        color: inherit !important;
    }

    /* Move statuspanel over so it doesn't get covered by sidebar */

    #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not([positionend]):hover~#appcontent #statuspanel {
        inset-inline: auto 0px !important;
    }

    #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not([positionend]):hover~#appcontent #statuspanel-label {
        margin-inline: 0px !important;
        border-left-style: solid !important;
    }

}
