/*---------------------------------------------------------

collapse the tabs panel - on full screen
collapse tabs on small browser width

---------------------------------------------------------*/

@media not (-moz-bool-pref: "ultima.tabs.vertical") {
    #main-window[sizemode="fullscreen"] * {--uc-all-margins: 0px 0.1px 0px 0.1px !important; --uc-all-border-radius: 0px !important;}
}

@media (-moz-bool-pref: "ultima.tabs.vertical") {
    
    /* collapse the tabs panel - on full screen */

    #main-window[sizemode="fullscreen"]{
        --uc-vertical-tabs-width: var(--uc-collapsed-tabs-width) !important;
        & * {--uc-all-margins: 0px 0.1px 0px 0.1px !important;}
        & #browser * {--uc-all-border-radius: 0px !important;}
        /* shame. doesnt work well.
        & #TabsToolbar-customization-target:not(:hover) {
            left: -30px !important;
        }
        */
    }

    #tabbrowser-tabs{
        transition: width 80ms linear 70ms !important;
        will-change: width !important;
    }

    #main-window[sizemode="fullscreen"] #browser{
        transition: margin-left 80ms linear 150ms !important;
        will-change: margin-left !important;}

    #main-window[sizemode="fullscreen"] #tabbrowser-tabs,
    #main-window[sizemode="fullscreen"] #browser{
        transition-delay: 0ms !important;
    }

    /* full screen tabs panel height correction */

    @media not (-moz-bool-pref: "ultima.tabs.vertical.hide") {
      
      #main-window[sizemode="fullscreen"] #TabsToolbar-customization-target {
        height: calc(100vh - 56px) !important;
        top: 46px !important;
      }
    }
    @media not (-moz-bool-pref: "ultima.tabs.vertical.onlyinprivate") {
      #main-window[sizemode="fullscreen"] #TabsToolbar-customization-target {
        height: calc(100vh - 56px) !important;
        top: 46px !important;
      }
    }

    /* collapse tabs on small browser width */

    @media (max-width:850px){
        #main-window {
            --uc-vertical-tabs-width: var(--uc-collapsed-tabs-width) !important;
        }
        #tabbrowser-tabs {
            transition: width 80ms linear 70ms !important;
            will-change: width !important;
        }
        @media not (-moz-bool-pref: "ultima.tabs.vertical.rightside") {
            #main-window[sizemode="fullscreen"] #browser {
                transition: margin-left 80ms linear 150ms !important;
                will-change: margin-left !important;
            }
        }
        @media (-moz-bool-pref: "ultima.tabs.vertical.rightside") {
            #main-window[sizemode="fullscreen"] #browser {
                transition: margin-right 80ms linear 150ms !important;
                will-change: margin-right !important;
            }
        }   
        #tabbrowser-tabs, #browser{
            transition-delay: 0ms !important;
        }    
        #tabbrowser-tabs .tab-close-button, #tabbrowser-tabs .close-icon{
            padding: 0px !important; display: none !important; margin-inline-end: -3px !important;
        }
    }
}
