/* ----------------------------------------------------------

- this file is enabled by tabs.vertical.onlyprivate in about:config
- function: hide vertical tabs ~ except for private windows
- this file works in conjunction with all-global-positioning.css and position-verttab.css
- https://github.com/soulhotel/FF-ULTIMA/blob/main/doc/spreadsheet-all-ultima-variables.md

-----------------------------------------------------------*/

@media (-moz-bool-pref: "ultima.tabs.vertical") {
@media (-moz-bool-pref: "ultima.tabs.vertical.onlyprivate") {

    /*⏰ DIVIDE BELOW INTO TWO SECTIONS - ONE FOR WHEN XSTYLE.SQUARED IS ENABLED ⏰*/
    
    /* adjust spacing, margins for everything */    
    :root:not([privatebrowsingmode="temporary"]):not([customizing],[chromehidden~="menubar"]) {
        --uc-vertical-tabs-width: 0px;
        --uc-vertical-tabs-width-revert: 0px;
        --uc-navbar-height: 40px;
        --uc-collapsed-tabs-width: 0px;
    }        
    :root:not([privatebrowsingmode="temporary"]) *{
        --uc-all-margins: 0px 6px 6px 6px;
    }
    @media (-moz-bool-pref: "ultima.tabs.vertical.rightside") {
        :root:not([privatebrowsingmode="temporary"]) *{
            --uc-all-margins: 0px 6px 6px 6px;
        }   
    } 
     
    /* POOF! tabs gone */    
    #main-window:not([customizing="true"],[privatebrowsingmode="temporary"]) #TabsToolbar-customization-target {
        visibility: collapse !important;
    }

  
}
}

