/*///////////////////////////////////////////////////////////////////////////////////////\

FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
File Desc:         Autohide the Sidebar

\////////////////////////////////////////////////////////////////////////////////////////*/

@media (-moz-bool-pref: "ultima.sidebar.hidden") {
    @media (-moz-bool-pref: "ultima.sidebar.autohide") {
        #sidebar-box { 
            --uc-sidebar-width: 0.4px !important; 
            margin-inline: 0px !important;
        }
    }
}
@media (-moz-bool-pref: "ultima.sidebar.autohide") {
    @media (-moz-bool-pref: "ultima.sidebar.longer") {
        #sidebar-box {--uc-sidebar-hover-width: 350px !important;} 
    }
}

@media (-moz-bool-pref: "ultima.sidebar.autohide") {

    /* remove splitter (responsible for adjusting sidebar width) */
    
    #sidebar-splitter { display: none !important; }

    /* use variables. one for collapsed width, one for hover width */

    #sidebar-box {
        --uc-sidebar-width: 38px; /* width when not in view */
        --uc-sidebar-hover-width: 270px; /* width when in full view */
        --uc-autohide-sidebar-delay: 300ms;
        --uc-autohide-transition-duration: 80ms;
        --uc-autohide-transition-type: linear;
        position: relative;
        min-width: var(--uc-sidebar-width) !important;
        width: var(--uc-sidebar-width) !important;
        max-width: var(--uc-sidebar-width) !important;
        z-index:1;
    }

    #sidebar-box[positionend] { direction: rtl }
    #sidebar-box[positionend] > * { direction: ltr }
    #sidebar-box[positionend]:-moz-locale-dir(rtl) { direction: ltr }
    #sidebar-box[positionend]:-moz-locale-dir(rtl) > * { direction: rtl }

    /* on full screen collapse to 1 NOT 0 */

    #main-window[sizemode="fullscreen"] #sidebar-box { --uc-sidebar-width: 2px; margin:0px !important; }
    #main-window[sizemode="fullscreen"] #sidebar-box:not(:hover) { opacity: 0 !important; }
    #main-window[sizemode="fullscreen"] #sidebar { margin-inline:0px !important; }

    /* final adjustments pre styling */

    #sidebar, #sidebar-header{
        border-inline: 0px solid rgba(0,0,0,0);
        border-inline-width: 0px 0px;
    }

    #sidebar-box:not([positionend]) > :-moz-locale-dir(rtl),
    #sidebar-box[positionend] > * {
        border-inline-width: 1px 0px;
    }

    #sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel {
        inset-inline: auto 0px !important;
    }

    #sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel-label {
        margin-inline: 0px !important;
        border-left-style: solid !important;
    }

    /* hide/show/animation */
    
    #sidebar {
        transition:
            min-width var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type) var(--uc-autohide-sidebar-delay) !important;
        min-width: var(--uc-sidebar-width) !important;
        will-change: min-width;
    }

    #sidebar-box:hover > #sidebar {
        min-width: var(--uc-sidebar-hover-width) !important;
        transition-delay: 0ms !important;
    }

    &:not([chromehidden~="toolbar"]) {
        min-width: var(--uc-sidebar-hover-width) !important;
    }

    /*------------------------------------------------------------------------------*/

    /* light styling. mostly centering and positioning. */  

    #sidebar-switcher-target {
        margin-left: 5px !important;
    }
    #sidebar-switcher-target #sidebar-title {
        padding-inline: 15px 4px !important;
    }
    #sidebar .close-icon {
        border-radius: 7px !important;
        margin-right: 7px !important;
    }

    
} /* fin */
