/*---------------------------------------------------
- Containerized tab styling
---------------------------------------------------*/

/* Needs to be added to avoid overflowing, needs testing if this doesn't break anything */
.tabbrowser-tab .tab-background {
    overflow: clip;
}

/* Style 1 */
/* Simply changing border to the left side of tab icon */
@media (-moz-bool-pref: "ultima.xstyle.containertabs.i") {
.tabbrowser-tab .tab-context-line {
  width: 3px;
  height: 35px !important;
  margin: 0 !important;
}
}

/* Style 2 */
/* Border around full tab */
@media (-moz-bool-pref: "ultima.xstyle.containertabs.ii") {
 .tabbrowser-tab .tab-context-line {
  border: 2px solid var(--identity-icon-color);
  margin: 0 !important;
  width: 100%;
  height: 100% !important;
  background: transparent !important;
  border-radius: var(--tab-border-radius) !important;
  opacity: 0.6;
} 
}

/* Style 3 */
/* Full color overlay */
@media (-moz-bool-pref: "ultima.xstyle.containertabs.iii") {
/* Will needs tweaks as text color could be unreadable in some combinations */
 .tabbrowser-tab .tab-context-line {
  width: 100%;
  height: 100% !important;
  margin: 0 !important;
  opacity: 0.7;
}
} 
