/*-----------------------------------------------------------------
- adding a somewhat static-bar to the tabs panel
- utilizing the available tabs toolbar to position buttons
- positioning the bar on the customize toolbar page accordingly
- correction: hiding the bar when browser height is limited
-----------------------------------------------------------------*/

/* -------------------------------MINI button bar-------------------------------------- */

@media (-moz-bool-pref: "ultima.tabs.vertical") {

/* first to utilize the unused tabs toolbar space */

#TabsToolbar-customization-target {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--uc-navbar-height) - var(--uc-margin-top) - var(--uc-margin-bottom));
  top: var(--uc-navbar-height);
  left: -2px;
  margin: var(--uc-tab-margins) !important;
  border-radius: var(--uc-all-border-radius);
  background: var(--uc-ultima-background-iv);
}

/* tabs relative to siblings */

#tabbrowser-tabs {
  position: relative !important;
  display: flex;
  top: unset;
  left: unset;
  margin: 0 !important;
  bottom: unset;
  right: unset;
  height: 837px !important;
}

/* visual indicator, when hovered */

@media (-moz-bool-pref: "ultima.tabs.l"), (-moz-bool-pref: "ultima.tabs.s") {

/*OPTION 1 - Functions well, however the lack of animation causes a minor pause/delay on the tabs autohiding animation*/

#TabsToolbar-customization-target .toolbarbutton-1:not(#tabs-newtab-button) {
  justify-content: left !important;
  margin-left:2px !important;
}

#TabsToolbar-customization-target:not(:hover) .toolbarbutton-1:not(#tabs-newtab-button){
  max-width: 39px !important;
}

#TabsToolbar-customization-target:not(:hover) .toolbarbutton-1:not(#tabs-newtab-button) .toolbarbutton-text {
  margin-left: 0px !important;
  display: none !important;
}

#TabsToolbar-customization-target:hover .toolbarbutton-1:not(#tabs-newtab-button) .toolbarbutton-text {
  display: flex;
  margin-left: 5px !important;
  overflow:clip;
}

/*--OPTION 2. THIS REMOVES the pause in animation caused by the toolbarbuttons text label on hover. It works! But it needs a little more optimization--*/
/*
#TabsToolbar-customization-target .toolbarbutton-1:not(#tabs-newtab-button) {
  justify-content: left !important;
  margin-left:2px !important;
  max-width: 39px !important;
}

#TabsToolbar-customization-target .toolbarbutton-1:not(#tabs-newtab-button) .toolbarbutton-text {
  margin-left: 0px !important;
  padding: 0 !important;
  transition:
    min-width 80ms linear 300ms !important;
  min-width:0px !important;
  will-change: min-width;
}

#TabsToolbar-customization-target:hover .toolbarbutton-1:not(#tabs-newtab-button) .toolbarbutton-text {
  display: flex !important;
  min-width:200px !important;
  transition-delay: 0ms !important;
  margin-left: 5px !important;
  overflow:clip;
  padding: var(--toolbarbutton-inner-padding) !important;
}
*/

:root:not([customizing]) #TabsToolbar-customization-target toolbarbutton:hover + #tabbrowser-tabs {
  width: var(--uc-vertical-tabs-width-revert);
}
:root:not([customizing]) #TabsToolbar-customization-target toolbarbutton:hover ~ #tabbrowser-tabs {
  width: var(--uc-vertical-tabs-width-revert);
}
:root:not([customizing]) #TabsToolbar-customization-target:hover #tabbrowser-tabs {
  width: var(--uc-vertical-tabs-width-revert);
}

} /*--Visual indicator for label--*/


/* visual indicator, when on customize toolbar screen */

#TabsToolbar:is([customizing="true"]) #TabsToolbar-customization-target {
  background: var(--uc-ultima-background-iii) !important;
  padding-bottom: 32px !important;
  min-width: 42px;
  top: 120px;
  left: 0px;
}

:root[customizing] .customization-target:not(#widget-overflow-fixed-list) {
  min-width: 42px !important;
}

/* move customize toolbar list of buttons to the side */

#customization-palette:not([hidden]) {
  margin-left: 40px !important;
}

/*-----------------------adjustments-----------------------------*/

#titlebar {
  z-index: 1 !important;
}

#TabsToolbar:is([customizing="true"]) #tabbrowser-tabs {
  display: none;
}

#TabsToolbar:is([customizing="true"]) #tabbrowser-arrowscrollbox {
  display: none;
}

#tabbrowser-arrowscrollbox {
  position: relative;
}

#preferences-button {
  position: relative;
  top: auto;
  left: auto;
}

#TabsToolbar toolbarbutton-1 {
  top: auto;
  left: auto;
  position: relative;
}

/*-----------------------end adjustments-----------------------------*/

/*--positioning button bar--*/

#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(1) {
  /* top: calc(100vh - 85px); */
  order: 1;
}
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(4) {
  /* top: calc(100vh - 122px); */
  order: 2;
}
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(5) {
  /* top: calc(100vh - 159px); */
  order: 3;
}
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(6) {
  /* top: calc(100vh - 196px); */
  order: 4;
}
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(7) {
  /* top: calc(100vh - 233px); */
  order: 5;
}
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(8) {
  /* top: calc(100vh - 270px); */
  order: 6;
}
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(9) {
  /* top: calc(100vh - 307px); */
  order: 7;
}
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(10) {
  /* top: calc(100vh - 344px); */
  order: 8;
}
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(11) {
  /* top: calc(100vh - 381px); */
  order: 9;
}
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(12) {
  /* top: calc(100vh - 418px); */
  order: 10;
}
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(13) {
  /* top: calc(100vh - 455px); */
  order: 11;
}
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(14) {
  /* top: calc(100vh - 492px); */
  order: 12;
}
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(15) {
  /* top: calc(100vh - 529px); */
  order: 13
}
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(16) {
  /* top: calc(100vh - 566px); */
  order: 14;
}
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(17) {
  /* top: calc(100vh - 603px); */
  order: 15;
}

#TabsToolbar:is([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(1),
#TabsToolbar:is([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(4),
#TabsToolbar:is([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(5),
#TabsToolbar:is([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(6),
#TabsToolbar:is([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(7),
#TabsToolbar:is([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(8),
#TabsToolbar:is([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(9),
#TabsToolbar:is([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(10),
#TabsToolbar:is([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(11),
#TabsToolbar:is([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(12),
#TabsToolbar:is([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(13),
#TabsToolbar:is([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(14),
#TabsToolbar:is([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(15),
#TabsToolbar:is([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(16),
#TabsToolbar:is([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(17) {

  position: relative;
  display: flex;
  background: rgba(255, 255, 255, 0.2);
  z-index: 2;
}


/*--when screen height falls below xx dont display buttons--*/

@media (max-height: 600px) {
  #TabsToolbar:not([customizing="true"]) .toolbarbutton-1[removable="true"] {
    display: none !important;
  }
  #new-tab-button {
    display: none !important;
  }
}

}
