/*----------------------------------------------------------

this file handles Alternative Styles for different aspects of the theme

[Index: For ctrl+f a line to find a section]

URL Bar
theme colors
pinned tabs
container tabs

----------------------------------------------------------*/


/* ------------------------------------------------------------------------------------ */
/*alternative styling for URL Bar*/

@media (-moz-bool-pref: "ultima.xstyle.urlbar") {

    #main-window[lwtheme], #main-window:not([lwtheme]) {
      & #urlbar-background, & #searchbar {
          background-color: transparent !important;
          box-shadow: 0.1rem 0.4rem 0.4rem -0.1rem rgba(0,0,0,0);
      }
    }
}


/* ------------------------------------------------------------------------------------ */
/*alternative styling for theme colors by rearranging current color palette/varialbes*/

@media (-moz-bool-pref: "ultima.xstyle.lwtheme") {
  
  #main-window:not([lwtheme]) {
    & #sidebar-header {
        background-color: var(--uc-ultima-window) !important;
    }
    & #sidebar {
        background: var(--uc-ultima-window) !important;
    }
    @media (-moz-bool-pref: "ultima.tabs.vertical") {
        & #TabsToolbar-customization-target, & #tabbrowser-arrowscrollbox {
            background: var(--uc-ultima-window) !important;
        }
    }
  }   
}


/* ------------------------------------------------------------------------------------ */
/*alternative styling for pinned tabs*/

@media (-moz-bool-pref: "ultima.xstyle.pinnedtabs.i") {
  @media (prefers-color-scheme: dark) {
    .tabbrowser-tab[pinned=""] .tab-background, .tabbrowser-tab[pinned="true"] .tab-background {
      background-color: var(--tab-selected-bgcolor) !important;
      box-shadow: inset 0 !important;
    }
  }
  @media (prefers-color-scheme: light) {
    .tabbrowser-tab[pinned=""] .tab-background, .tabbrowser-tab[pinned="true"] .tab-background {
      background-color: var(--tab-selected-bgcolor) !important;
      box-shadow: inset 0 !important;
    }
  }
}

/* ------------------------------------------------------------------------------------ */
/*alternative styling for container tabs*/
/* *** currently only works for horizontal tabs, be patient, firefox's vertical tabs feature is still progressing! *** */

/*---------------------------------------------------
- Containerized tab styling
- by Kaedriz
---------------------------------------------------*/

/* Needs to be added to avoid overflowing, needs testing if this doesn't break anything */
.tabbrowser-tab .tab-background {
    overflow: clip;
}

/* Style 1 */
/* Simply changing border to the left side of tab icon */
@media (-moz-bool-pref: "ultima.xstyle.containertabs.i") {
.tabbrowser-tab .tab-context-line {
  width: 3px;
  height: 35px !important;
  margin: 0 !important;
}
}
/* Style 2 */
/* Border around full tab */
@media (-moz-bool-pref: "ultima.xstyle.containertabs.ii") {
 .tabbrowser-tab .tab-context-line {
  border: 2px solid var(--identity-icon-color);
  margin: 0 !important;
  width: 100%;
  height: 100% !important;
  background: transparent !important;
  border-radius: var(--tab-border-radius) !important;
  opacity: 0.6;
} 
}
/* Style 3 */
/* Full color overlay */
@media (-moz-bool-pref: "ultima.xstyle.containertabs.iii") {
/* Will needs tweaks as text color could be unreadable in some combinations */
 .tabbrowser-tab .tab-context-line {
  width: 100%;
  height: 100% !important;
  margin: 0 !important;
  opacity: 0.7;
}
} 
