/*----------------------------------------------------------
- this file handles multiple optional settings via about:config
- overriding aspects of the theme to accomplish different styles

[Index: For ctrl+f a line to find a section]
no margins, borders, or rounded corners
no margins, borders, keep rounded corners
restore close tab buttons
pinned tabs alternative style
----------------------------------------------------------*/

/* no margins, borders, or rounded corners ------------------------------------------ */

@media (-moz-bool-pref: "ultima.xstyle.squared"), (-moz-bool-pref: "ultima.xstyle.squished") {
  :root, body, * {
    --uc-tab-margins: 0px !important;
    --uc-margin-top: 0px !important;
    --uc-margin-bottom: 0px !important;
    --uc-margin-inline: 0px !important;
    --uc-sb-margin-leftside: 0px !important;
    --uc-sb-margin-rightside: 0px !important;
    --uc-all-border-radius: 0px;
    --tab-border-radius: 10px;
    --arrowpanel-menuitem-border-radius: 10px;
    --arrowpanel-border-radius: 10px;
    --toolbarbutton-border-radius: 10px;
    --urlbar-icon-border-radius: 10px;
    --button-border-radius: 10px;
    --uc-button-border-radius: 10px;
  }
  #main-window
  #tabbrowser-tabpanels { browser[type] {
      outline: 0px solid var(--toolbar-bgcolor);
  }}
  #main-window[lwtheme="true"]
  #tabbrowser-tabpanels { browser[type] {
      outline: 0px solid var(--lwt-accent-color);
  }}

  #sidebar-box { height:100vh !important; }
  
}

/* no margins, borders, keep rounded corners ---------------------------------------- */

@media (-moz-bool-pref: "ultima.xstyle.squished") {
  :root, body, * {
    --uc-tab-margins: 0px !important;
    --uc-margin-top: 0px !important;
    --uc-margin-bottom: 0px !important;
    --uc-margin-inline: 0px !important;
    --uc-sb-margin-leftside: 0 4px 0 0px !important;
    --uc-sb-margin-rightside: 0 0px 0 4px !important;
    --uc-all-border-radius: 10px;
    --tab-border-radius: 10px;
    --arrowpanel-menuitem-border-radius: 10px;
    --arrowpanel-border-radius: 10px;
    --toolbarbutton-border-radius: 10px;
    --urlbar-icon-border-radius: 10px;
    --button-border-radius: 10px;
    --uc-button-border-radius: 10px;
  }
  #main-window
  #tabbrowser-tabpanels { browser[type] {
      outline: 0px solid var(--toolbar-bgcolor);
  }}
  #main-window[lwtheme="true"]
  #tabbrowser-tabpanels { browser[type] {
      outline: 0px solid var(--lwt-accent-color);
  }}

  #sidebar-box { height:100vh !important; }
  
  @media (-moz-bool-pref: "ultima.sidebar.autohide") {
      :root, body, * {
		      --uc-sb-margin-leftside: 0px !important;
    		  --uc-sb-margin-rightside: 0px !important;
      }
  }
  
}

/* xstyle alternative theming ------------------------------------------------------- */


@media (-moz-bool-pref: "ultima.xstyle.lwtheme") {
  
  #main-window:not([lwtheme]) {
    & #sidebar-header {
        background-color: var(--uc-ultima-window) !important;
    }
    & #sidebar {
        background: var(--uc-ultima-window) !important;
    }
    @media (-moz-bool-pref: "ultima.tabs.vertical") {
        & #TabsToolbar-customization-target, & #tabbrowser-arrowscrollbox {
            background: var(--uc-ultima-window) !important;
        }
    }
  }   
}



/* ------------------------------------------------------------------------------------ */

/* restore close tab buttons */
/* ive opted for this styling option, which shows the close button only on the specified hovering tab,
this simple approach still allows - closing multiple selected tabs when they are all selected, and one close button is triggered
while keeping a clean consistent look across the theme, refer to position-verttab.css for styling of the close button */

@media (-moz-bool-pref: "ultima.tabs.closetabsbutton") { @media not (-moz-bool-pref: "ultima.tabs.size.xs") {
  #tabbrowser-tabs .tab-close-button,
  #tabbrowser-tabs .close-icon {
    display:flex !important;
  }
  @media (-moz-bool-pref: "ultima.tabs.autohide") {
    :root:not([customizing]) #TabsToolbar-customization-target *:not(:hover) .tab-close-button,
    :root:not([customizing]) #TabsToolbar-customization-target *:not(:hover) .close-icon {
      display: none !important;
      opacity: 0 !important;
    }
  }  
}} /* end (-moz-bool-pref: "ultima.tabs.closetabsbutton") + tabs size xs */



/* pinned tabs alternative style. Experimental. Havent decided on style yet. */

@media (-moz-bool-pref: "ultima.xstyle.pinnedtabs.i") {
  @media (prefers-color-scheme: dark) {
    .tabbrowser-tab[pinned=""] .tab-background, .tabbrowser-tab[pinned="true"] .tab-background {
      background-color: var(--tab-selected-bgcolor) !important;
      box-shadow: inset 0 !important;
    }
  }
  @media (prefers-color-scheme: light) {
    .tabbrowser-tab[pinned=""] .tab-background, .tabbrowser-tab[pinned="true"] .tab-background {
      background-color: var(--tab-selected-bgcolor) !important;
      box-shadow: inset 0 !important;
    }
  }
} /* end (-moz-bool-pref: "ultima.xstyle.pinnedtabs.i") */


/* alternative URL BAR style, for when add on themes are applied */

@media (-moz-bool-pref: "ultima.xstyle.urlbar") {

    #main-window[lwtheme] {
      & #urlbar-background, & #searchbar {
          background-color: transparent !important;
        box-shadow: 0.1rem 0.4rem 0.4rem -0.1rem rgba(0,0,0,0);
      }
    }
}


