/*-----------------------------------------------------------------
- this file automatically overides necessary components of the theme
    - strictly for when the users OS is linux and mac (despite the name)

Index: For ctrl+f search of a section

--KDE-- (kde speficic overrides)
--GNOME-- (gnome speficic overrides)
--mac-- (mac speficic overrides)
-----------------------------------------------------------------*/

/*--Default Linux Overrides - Inactivity titlebar, Nav bar spacing, More--*/

@media (-moz-platform: linux), (-moz-os-version: linux) {

    /*--Default dark/light mode color should match cross platform--*/
    #main-window:not([lwtheme]),:root:not([lwtheme]) {
        --toolbar-bgcolor: var(--uc-ultima-window) !important;
    }

    /*--update nav bar spacing--*/
    #nav-bar {margin-right: 86px !important;}
    
    /*--override inactive window style--*/
    :root:where([tabsintitlebar]) {
        --toolbox-non-lwt-textcolor: var(--uc-light-dark);
        --toolbox-non-lwt-textcolor-inactive: var(--uc-light-dark);
    } :root {
        --inactive-titlebar-opacity: 1 !important;
    }

    /*--remove secondary background, and correct stroke--*/
    #main-window:not([lwtheme="true"]) .titlebar-button {
        stroke: var(--uc-ultima-accent-iii) !important;
    } #main-window[lwtheme="true"] .titlebar-button {
        stroke: var(--toolbarbutton-icon-fill) !important;
    }
    #main-window:not([lwtheme="true"]) .titlebar-button:hover {
        fill: black !important;
    } #main-window[lwtheme="true"] .titlebar-button:hover {
        fill: black !important;
    }
    
    /*--sidebar border correction--*/
    .sidebar-splitter {
        border: 0 solid !important;
        border-inline-end-width: 1px !important;
        border-color: transparent !important;
        min-width: 1px !important;
        width: 4px !important;
        background-color: transparent !important;
        margin-inline-start: -4px !important;
    }
    
} /*--<--end linux media query--*/

/*------------------------------------------------------------------------*/
/*--KDE--*/

@media (-moz-bool-pref: "ultima.OS.kde") {
@media (-moz-platform: linux), (-moz-os-version: linux) {

    :root[tabsintitlebar] .titlebar-buttonbox {
        top: 7px !important;
        right: 5px !important;
    }
    
    .titlebar-button, .titlebar-button[lwtheme="true"] {
        appearance: none !important;
        margin: 0 !important;
        margin-top: 0px !important;
        padding: 4px 4px !important;
        justify-content: center !important;
        color: inherit !important;
        -moz-context-properties: fill, fill-opacity !important;
        fill: var(--toolbarbutton-icon-fill) !important;
        stroke: var(--toolbarbutton-icon-fill) !important;
        border-radius: var(--uc-button-border-radius);
    }
    
    .titlebar-button .toolbarbutton-icon,
    .titlebar-button[lwtheme="true"] .toolbarbutton-icon,
    .titlebar-button[lwtheme="true"] .toolbarbutton-icon[lwtheme="true"] {
        border-radius: var(--toolbarbutton-border-radius) !important;
        list-style-image: url("chrome://global/skin/icons/arrow-down.svg");
        opacity: 1 !important;
        padding: 3px !important;
    }

    /*--icons override, default icons dont override when there is window inactivity--*/
    .titlebar-button.titlebar-close .toolbarbutton-icon{
        list-style-image: url("icons/lin-close.svg") !important;
        margin-top: -1px !important;
    }
    .titlebar-button.titlebar-min .toolbarbutton-icon{
        list-style-image: url("icons/lin-min.svg") !important;
        margin-top: -1px !important;
    }
    .titlebar-button.titlebar-max .toolbarbutton-icon{
        list-style-image: url("icons/lin-max.svg") !important;
        margin-top: -1px !important;
    }
    .titlebar-button.titlebar-restore .toolbarbutton-icon{
        list-style-image: url("icons/lin-restore.svg") !important;
        margin-top: -1px !important;
    }

    /*--override background changes when hovered--*/
    #main-window .titlebar-button:hover,    
    #main-window:not([lwtheme]) .titlebar-button:hover {
        background-color: transparent !important;
        border-radius: var(--uc-button-border-radius);
    } .titlebar-close:hover {
        background-color: rgb(191, 66, 66) !important;
    }
    
    /*--override padding--*/
    .titlebar-button > .toolbarbutton-icon[lwtheme="true"] {
        padding: 4px 4px !important;
        -moz-context-properties: revert !important;
        stroke: currentColor;
        border-radius: var(--uc-button-border-radius);
    }
} /*--<--end linux media query--*/
} /*--<--end OS preference query--*/

/*------------------------------------------------------------------------*/
/*--GNOME--*/

@media (-moz-bool-pref: "ultima.OS.gnome") {
@media (-moz-platform: linux), (-moz-os-version: linux) {

    /*--size and positioning of the nav bar for less titlebar buttons--*/
    #nav-bar {margin-right: 100px !important;}
    
    :root[tabsintitlebar] .titlebar-buttonbox {
        top: 8px !important;
        right: 5px !important;
    }
} /*--<--end linuxmedia query--*/
} /*--<--end OS preference query--*/

/*------------------------------------------------------------------------*/
/*--mac--*/

@media (-moz-bool-pref: "ultima.OS.mac") {
@media not (-moz-platform: windows) { @media not (-moz-platform: linux) {

    #nav-bar {
        margin-left: 64px !important;
        margin-right: 0px !important;
    }    
    
    :root[tabsintitlebar] .titlebar-buttonbox {
        top: 9px !important;
        right: unset !important;
        left: 2px !important;
    }
}} /*--<--end mac media query--*/
} /*--<--end OS preference query--*/

/*------------------------------------------------------------------------*/
/*--TEST--*/

@media (-moz-bool-pref: "ultima.OS.linux") {
@media (-moz-platform: linux), (-moz-os-version: linux) {

    :root[tabsintitlebar] .titlebar-buttonbox {
        top: 7px !important;
        right: 5px !important;
    }
    
    .titlebar-button, .titlebar-button[lwtheme="true"] {
        appearance: none !important;
        margin: 0 !important;
        margin-top: 0px !important;
        padding: 4px 4px !important;
        justify-content: center !important;
        color: inherit !important;
        -moz-context-properties: fill, fill-opacity !important;
        fill: var(--toolbarbutton-icon-fill) !important;
        stroke: var(--toolbarbutton-icon-fill) !important;
        border-radius: var(--uc-button-border-radius);
    }
    
    .titlebar-button .toolbarbutton-icon,
    .titlebar-button[lwtheme="true"] .toolbarbutton-icon,
    .titlebar-button[lwtheme="true"] .toolbarbutton-icon[lwtheme="true"] {
        border-radius: var(--toolbarbutton-border-radius) !important;
        list-style-image: url("chrome://global/skin/icons/arrow-down.svg");
        opacity: 1 !important;
        padding: 3px !important;
    }

    /*--icons override, default icons dont override when there is window inactivity--*/
    .titlebar-button.titlebar-close .toolbarbutton-icon{
        list-style-image: url("icons/lin-close.svg") !important;
        margin-top: -1px !important;
    }
    .titlebar-button.titlebar-min .toolbarbutton-icon{
        list-style-image: url("icons/lin-min.svg") !important;
        margin-top: -1px !important;
    }
    .titlebar-button.titlebar-max .toolbarbutton-icon{
        list-style-image: url("icons/lin-max.svg") !important;
        margin-top: -1px !important;
    }
    .titlebar-button.titlebar-restore .toolbarbutton-icon{
        list-style-image: url("icons/lin-restore.svg") !important;
        margin-top: -1px !important;
    }

    /*--override background changes when hovered--*/
    #main-window .titlebar-button:hover,    
    #main-window:not([lwtheme]) .titlebar-button:hover {
        background-color: var(--uc-selected) !important;
        border-radius: var(--uc-button-border-radius);
    } .titlebar-close:hover {
        background-color: rgb(191, 66, 66) !important;
    }
    
    /*--override padding--*/
    .titlebar-button > .toolbarbutton-icon[lwtheme="true"] {
        padding: 4px 4px !important;
        -moz-context-properties: revert !important;
        stroke: currentColor;
        border-radius: var(--uc-button-border-radius);
    }
} /*--<--end linux media query--*/
} /*--<--end OS preference query--*/
