/*--------------------------------------------------------------------------------------

- this file automatically overides necessary components of the theme for mac Users
    - more testing needs to be done
    - valid results for Sonama and Ventura
    - also includes mac style for linux and mac style for windows

--------------------------------------------------------------------------------------*/

/* macos layout */

@media (-moz-os-version: macos), (-moz-platform: macos) {
    :root, * {
        --wc-top: 12px;
        --wc-left: 3px;
        --wc-right: unset;
        --navbar-margin: 84px;
        --mb-height: 20px;
    }
    
    #nav-bar {
        margin-left: var(--navbar-margin) !important;
        margin-right: 0px !important;
    }    
    
    toolbar {
        min-height: 0px !important;
    }
}


/*------------------------------------------------------------------------------------*/

/* mac style for linux */

@media (-moz-bool-pref: "ultima.OS.mac") and (-moz-platform: linux) { 
   
    /* update spacing and positioning */
    :root, * {
        --wc-top: 8px !important;
        --wc-left: 5px !important;
        --wc-right: unset !important;
        --navbar-margin: 100px !important;
        &[uidensity="compact"] * {
            --wc-top: 11px !important;
        }
    }  
    :root[tabsintitlebar] .titlebar-buttonbox {
        top:var(--wc-top) !important;
        left:var(--wc-left) !important;
        right:var(--wc-right) !important;
    }
        
    /* no double backgrounds */
    :root .titlebar-button:hover {
        --uc-selected: transparent !important;
        background: transparent !important;
        background-color: transparent !important;
    }
  
    /*simulate mac style*/
    .titlebar-buttonbox-container { direction: rtl !important; }    
    #nav-bar { margin-left: var(--navbar-margin) !important; margin-right: 0px !important; } 
    
}  
    
/*------------------------------------------------------------------------------------*/

/* mac style for windows */

@media (-moz-bool-pref: "ultima.OS.mac") and (-moz-platform: windows) { 
   
    /* update spacing and positioning */
    :root, * {
        --wc-top: 3px !important;
        --wc-left: 5px !important;
        --wc-right: unset !important;
        --navbar-margin: 100px !important;
        &[uidensity="compact"] * {
            --wc-top: 6px !important;
        }
    }  
    :root[tabsintitlebar] .titlebar-buttonbox {
        top:var(--wc-top) !important;
        left:var(--wc-left) !important;
        right:var(--wc-right) !important;
    }
        
  
    /*simulate mac style*/
    .titlebar-buttonbox-container { direction: rtl !important; }    
    #nav-bar { margin-left: var(--navbar-margin) !important; margin-right: 0px !important; } 
    
}  
