/*-----------------------------------------------------------------
- this file automatically overides necessary components of the theme
    - strictly for when the users OS is linux and mac (despite the name)

[Index: ctrl+f a line to find a section]
KDE window controls
Gnome window controls
Mac positioned controls (for any OS)
KDE compat. for themed Window decoration buttons
Gnome compat. for themed Window decoration buttons
-----------------------------------------------------------------*/

/*--Default Linux Overrides - Inactivity titlebar, Nav bar spacing, More--*/

@media (-moz-platform: linux), (-moz-os-version: linux) {

    /*--Default dark/light mode color should match cross platform--*/
    #main-window:not([lwtheme]),:root:not([lwtheme]) {
        --toolbar-bgcolor: var(--uc-ultima-window) !important;
    }

    /*--update nav bar spacing--*/
    #nav-bar {margin-right: 86px !important;}
    
    /*--override inactive window style--*/
    :root:where([tabsintitlebar]) {
        --toolbox-non-lwt-textcolor: var(--uc-text);
        --toolbox-non-lwt-textcolor-inactive: var(--uc-text);
    } :root {
        --inactive-titlebar-opacity: 1 !important;
    }

    /*--remove secondary background, and correct stroke--*/
    #main-window:not([lwtheme="true"]) .titlebar-button {
        stroke: var(--uc-accent-iii) !important;
    } #main-window[lwtheme="true"] .titlebar-button {
        stroke: var(--toolbarbutton-icon-fill) !important;
    }
    #main-window:not([lwtheme="true"]) .titlebar-button:hover {
        fill: black !important;
    } #main-window[lwtheme="true"] .titlebar-button:hover {
        fill: black !important;
    }
    
    /*--sidebar border correction--*/
    .sidebar-splitter {
        border: 0 solid !important;
        border-inline-end-width: 1px !important;
        border-color: transparent !important;
        min-width: 1px !important;
        width: 4px !important;
        background-color: transparent !important;
        margin-inline-start: -4px !important;
    }
    
} /*--<--end linux media query--*/

/*------------------------------------------------------------------------*/
/* KDE window controls */

@media (-moz-bool-pref: "ultima.OS.kde") {
@media (-moz-platform: linux), (-moz-os-version: linux) {

    :root[tabsintitlebar] {
        .titlebar-buttonbox {
            top: 7px !important;
            right: 5px !important;
        }
        &[uidensity="compact"] .titlebar-buttonbox {
            top: 4px !important;
        }
    }
    
    .titlebar-button, .titlebar-button[lwtheme="true"] {
        appearance: none !important;
        margin: 0 !important;
        margin-top: 0px !important;
        padding: 4px 4px !important;
        justify-content: center !important;
        color: inherit !important;
        -moz-context-properties: fill, fill-opacity !important;
        fill: var(--toolbarbutton-icon-fill) !important;
        stroke: var(--toolbarbutton-icon-fill) !important;
        border-radius: var(--uc-button-border-radius);
    }
    
    .titlebar-button .toolbarbutton-icon,
    .titlebar-button[lwtheme="true"] .toolbarbutton-icon,
    .titlebar-button[lwtheme="true"] .toolbarbutton-icon[lwtheme="true"] {
        border-radius: var(--toolbarbutton-border-radius) !important;
        list-style-image: url("chrome://global/skin/icons/arrow-down.svg");
        opacity: 1 !important;
        padding: 3px !important;
    }

    /*--icons override, default icons dont override when there is window inactivity--*/
    .titlebar-button.titlebar-close .toolbarbutton-icon{
        list-style-image: url("icons/lin-close.svg") !important;
        margin-top: -1px !important;
    }
    .titlebar-button.titlebar-min .toolbarbutton-icon{
        list-style-image: url("icons/lin-min.svg") !important;
        margin-top: -1px !important;
    }
    .titlebar-button.titlebar-max .toolbarbutton-icon{
        list-style-image: url("icons/lin-max.svg") !important;
        margin-top: -1px !important;
    }
    .titlebar-button.titlebar-restore .toolbarbutton-icon{
        list-style-image: url("icons/lin-restore.svg") !important;
        margin-top: -1px !important;
    }

    /*--override background changes when hovered--*/
    #main-window .titlebar-button:hover,    
    #main-window:not([lwtheme]) .titlebar-button:hover {
        background-color: transparent !important;
        border-radius: var(--uc-button-border-radius);
    } .titlebar-close:hover {
        background-color: rgb(191, 66, 66) !important;
    }
    
    /*--override padding--*/
    .titlebar-button > .toolbarbutton-icon[lwtheme="true"] {
        padding: 4px 4px !important;
        -moz-context-properties: revert !important;
        stroke: currentColor;
        border-radius: var(--uc-button-border-radius);
    }
} /*--<--end linux media query--*/
} /*--<--end OS preference query--*/

/*------------------------------------------------------------------------*/
/* Gnome window controls */

@media (-moz-bool-pref: "ultima.OS.gnome") {
@media (-moz-platform: linux), (-moz-os-version: linux) {

    /*--size and positioning of the nav bar for less titlebar buttons--*/
    #nav-bar {margin-right: 100px !important;}
    
    :root[tabsintitlebar] .titlebar-buttonbox {
        top: 8px !important;
        right: 5px !important;
    }
    :root .titlebar-button {
        --uc-selected: transparent !important;
    }
} /*--<--end linuxmedia query--*/
} /*--<--end OS preference query--*/

/*------------------------------------------------------------------------*/
/* Mac positioned controls (for any OS) */
/* all mac overrides have been moved to a dedicated file override-mac.css*/
/* this preferences will be recycled into an alternative style for titlebar buttons */

@media (-moz-bool-pref: "ultima.OS.mac"), (-moz-os-version: linux) {
        #nav-bar {
            margin-left: 100px !important;
            margin-right: 0px !important;
        }        
        :root[tabsintitlebar] .titlebar-buttonbox {
            top: 4px !important;
            right: unset !important;
            left: 3px !important;
        }
        /* optional: flip button order */
        .titlebar-buttonbox-container { direction: rtl !important; }
} /*--<--end OS preference query--*/

/*------------------------------------------------------------------------*/
/*--TEST--*/

@media (-moz-bool-pref: "ultima.OS.linux") {
@media (-moz-platform: linux), (-moz-os-version: linux) {

    :root[tabsintitlebar] .titlebar-buttonbox {
        top: 7px !important;
        right: 5px !important;
    }
    
    .titlebar-button, .titlebar-button[lwtheme="true"] {
        appearance: none !important;
        margin: 0 !important;
        margin-top: 0px !important;
        padding: 4px 4px !important;
        justify-content: center !important;
        color: inherit !important;
        -moz-context-properties: fill, fill-opacity !important;
        fill: var(--toolbarbutton-icon-fill) !important;
        stroke: var(--toolbarbutton-icon-fill) !important;
        border-radius: var(--uc-button-border-radius);
    }
    
    .titlebar-button .toolbarbutton-icon,
    .titlebar-button[lwtheme="true"] .toolbarbutton-icon,
    .titlebar-button[lwtheme="true"] .toolbarbutton-icon[lwtheme="true"] {
        border-radius: var(--toolbarbutton-border-radius) !important;
        list-style-image: url("chrome://global/skin/icons/arrow-down.svg");
        opacity: 1 !important;
        padding: 3px !important;
    }

    /*--icons override, default icons dont override when there is window inactivity--*/
    .titlebar-button.titlebar-close .toolbarbutton-icon{
        list-style-image: url("icons/lin-close.svg") !important;
        margin-top: -1px !important;
    }
    .titlebar-button.titlebar-min .toolbarbutton-icon{
        list-style-image: url("icons/lin-min.svg") !important;
        margin-top: -1px !important;
    }
    .titlebar-button.titlebar-max .toolbarbutton-icon{
        list-style-image: url("icons/lin-max.svg") !important;
        margin-top: -1px !important;
    }
    .titlebar-button.titlebar-restore .toolbarbutton-icon{
        list-style-image: url("icons/lin-restore.svg") !important;
        margin-top: -1px !important;
    }

    /*--override background changes when hovered--*/
    #main-window .titlebar-button:hover,    
    #main-window:not([lwtheme]) .titlebar-button:hover {
        background-color: var(--uc-selected) !important;
        border-radius: var(--uc-button-border-radius);
    } .titlebar-close:hover {
        background-color: rgb(191, 66, 66) !important;
    }
    
    /*--override padding--*/
    .titlebar-button > .toolbarbutton-icon[lwtheme="true"] {
        padding: 4px 4px !important;
        -moz-context-properties: revert !important;
        stroke: currentColor;
        border-radius: var(--uc-button-border-radius);
    }
} /*--<--end linux media query--*/
} /*--<--end OS preference query--*/

/*------------------------------------------------------------------------*/
/* Linux compat. for themed Window decoration buttons */

@media (-moz-bool-pref: "ultima.OS.kde.wds") {
@media (-moz-platform: linux), (-moz-os-version: linux) {

    :root[tabsintitlebar] .titlebar-buttonbox {
        top: 7px !important;
        right: 5px !important;
    }
    
    .titlebar-button, .titlebar-button[lwtheme="true"] {
        appearance: none !important;
        margin: 0 !important;
        margin-top: 0px !important;
        padding: 4px 4px !important;
        justify-content: center !important;
        color: inherit !important;
        -moz-context-properties: fill, fill-opacity !important;
        fill: var(--toolbarbutton-icon-fill) !important;
        stroke: var(--toolbarbutton-icon-fill) !important;
        border-radius: var(--uc-button-border-radius);
    }
    
    .titlebar-button .toolbarbutton-icon,
    .titlebar-button[lwtheme="true"] .toolbarbutton-icon,
    .titlebar-button[lwtheme="true"] .toolbarbutton-icon[lwtheme="true"] {
        border-radius: var(--toolbarbutton-border-radius) !important;
        list-style-image: url("chrome://global/skin/icons/arrow-down.svg");
        opacity: 1 !important;
        padding: 3px !important;
    }

    /*--icons override, default icons dont override when there is window inactivity--*/
    .titlebar-button.titlebar-close .toolbarbutton-icon{
        list-style-image: url("icons/lin-close-decoration.svg") !important;
        margin-top: -1px !important;
    }
    .titlebar-button.titlebar-min .toolbarbutton-icon{
        list-style-image: url("icons/lin-min-decoration.svg") !important;
        margin-top: -1px !important;
    }
    .titlebar-button.titlebar-max .toolbarbutton-icon{
        list-style-image: url("icons/lin-max-decoration.svg") !important;
        margin-top: -1px !important;
    }
    .titlebar-button.titlebar-restore .toolbarbutton-icon{
        list-style-image: url("icons/lin-restore-decoration.svg") !important;
        margin-top: -1px !important;
    }

    /*--override background changes when hovered--*/
    #main-window .titlebar-button:hover,    
    #main-window:not([lwtheme]) .titlebar-button:hover {
        background-color: transparent !important;
        border-radius: var(--uc-button-border-radius);
    } .titlebar-close:hover {
        background-color: rgb(191, 66, 66) !important;
    }
    
    /*--override padding--*/
    .titlebar-button > .toolbarbutton-icon[lwtheme="true"] {
        padding: 4px 4px !important;
        -moz-context-properties: revert !important;
        stroke: currentColor;
        border-radius: var(--uc-button-border-radius);
    }
} /*--<--end linux media query--*/
} /*--<--end OS preference query--*/

/*------------------------------------------------------------------------*/
/* Gnome compat. for themed Window decoration buttons */

@media (-moz-bool-pref: "ultima.OS.gnome.wds") {
@media (-moz-platform: linux), (-moz-os-version: linux) {

    /*--size and positioning of the nav bar for less titlebar buttons--*/
    #nav-bar {margin-right: 83px !important;}    
    :root[tabsintitlebar] .titlebar-buttonbox {
        top: 12px !important;
        right: 7px !important;
    }
    :root .titlebar-button {
        --uc-selected: transparent !important;
    }

} /*--<--end linuxmedia query--*/
} /*--<--end OS preference query--*/

/*------------------------------------------------------------------------*/
/* Gnome compat. for themed Window decoration buttons 2 */

@media (-moz-bool-pref: "ultima.OS.gnome.wdl") {
@media (-moz-platform: linux), (-moz-os-version: linux) {

    /*--size and positioning of the nav bar for less titlebar buttons--*/
    #nav-bar {margin-right: 108px !important;}    
    :root[tabsintitlebar] .titlebar-buttonbox {
        top: 11px !important;
        right: 2px !important;
    }
    :root .titlebar-button {
        --uc-selected: transparent !important;
    }

} /*--<--end linuxmedia query--*/
} /*--<--end OS preference query--*/
