/* this file automatically overides necessary components of the theme, strictly for when the users OS is linux

[Index: ctrl+f a line to find a section]
Default Linux Overrides
Gnome window controls
KDE window controls
KDE compat. for themed Window decoration buttons
Gnome compat. for themed Window decoration buttons

------------------------------------------------------------------------------------------------------------*/

/* Default Linux Overrides */

@media (-moz-platform: linux), (-moz-os-version: linux) {

    /*--Default dark/light mode color should match cross platform--*/
    #main-window:not([lwtheme]),:root:not([lwtheme]) {
        --toolbar-bgcolor: var(--uc-ultima-window) !important;
    }

    /* update spacing and positioning */
    :root, * {
      --wc-top: 7px;
      --wc-left: 5px;
      --wc-right: 5px;
      --navbar-margin: 86px;
    }
    
    /* override inactive window style */
    :root:where([tabsintitlebar]) {
        --inactive-titlebar-opacity: 1 !important;
        --toolbox-non-lwt-textcolor-inactive: var(--toolbox-non-lwt-textcolor);
    }

    /* correct window controls drawing on top of each other */
    #main-window:not([lwtheme]) .titlebar-button {
        stroke: initial !important;
    } #main-window[lwtheme] .titlebar-button {
        stroke: var(--toolbarbutton-icon-fill) !important;
    }
    #main-window:not([lwtheme]) .titlebar-button:hover {
        fill: initial !important;
    } #main-window[lwtheme] .titlebar-button:hover {
        fill: var(--toolbarbutton-icon-fill) !important;
    }
    
    /*--sidebar border correction--*/
    .sidebar-splitter {
        border: 0 solid !important;
        border-inline-end-width: 1px !important;
        border-color: transparent !important;
        min-width: 1px !important;
        width: 4px !important;
        background-color: transparent !important;
        margin-inline-start: -4px !important;
    }
    
}

/*---------------------------------------------------------------------------------*/

/* Gnome window controls (compatible with cinnamon) */

@media (-moz-bool-pref: "ultima.OS.gnome") {
@media (-moz-platform: linux), (-moz-os-version: linux) {

    /* update spacing and positioning */
    :root, * {
      --wc-top: 6px !important;
      --wc-left: 5px !important;
      --wc-right: 5px !important;
      --navbar-margin: 100px !important;
      &[uidensity="compact"] * {
         --wc-top: 6px !important;
      }
    }  

    /* no double backgrounds */
    :root .titlebar-button {
        --uc-selected: transparent !important;
        background: transparent !important;
        background-color: transparent !important;
    }
}
}

/*--------------------------------------------------------------------------------*/

/* KDE window controls */

@media (-moz-bool-pref: "ultima.OS.kde") {
@media (-moz-platform: linux), (-moz-os-version: linux) {

    :root[tabsintitlebar] {
        .titlebar-buttonbox {
            --wc-top: 7px !important;
            --wc-left: 5px !important;
            --wc-right: 5px !important;
            --navbar-margin: 86px !important;
        }
        &[uidensity="compact"] .titlebar-buttonbox {
            --wc-top: 7px !important;
        }
    }
    
    /* simulating toolbar button appearance */
    .titlebar-button, .titlebar-button[lwtheme="true"] {
        appearance: none !important;
        margin: 0 !important;
        margin-top: 0px !important;
        padding: 4px 4px !important;
        justify-content: center !important;
        color: inherit !important;
        -moz-context-properties: fill, fill-opacity !important;
        fill: var(--toolbarbutton-icon-fill) !important;
        stroke: var(--toolbarbutton-icon-fill) !important;
        border-radius: var(--uc-button-border-radius);
    }
    
    /* icon-use prep */
    .titlebar-button .toolbarbutton-icon,
    .titlebar-button[lwtheme="true"] .toolbarbutton-icon,
    .titlebar-button[lwtheme="true"] .toolbarbutton-icon[lwtheme="true"] {
        border-radius: var(--toolbarbutton-border-radius) !important;
        list-style-image: url("chrome://global/skin/icons/arrow-down.svg");
        opacity: 1 !important;
        padding: 3px !important;
    }

    /*--icons override, default icons dont override when there is window inactivity--*/
    .titlebar-button.titlebar-close .toolbarbutton-icon{
        list-style-image: url("icons/lin-close.svg") !important;
        margin-top: -1px !important;
    }
    .titlebar-button.titlebar-min .toolbarbutton-icon{
        list-style-image: url("icons/lin-min.svg") !important;
        margin-top: -1px !important;
    }
    .titlebar-button.titlebar-max .toolbarbutton-icon{
        list-style-image: url("icons/lin-max.svg") !important;
        margin-top: -1px !important;
    }
    .titlebar-button.titlebar-restore .toolbarbutton-icon{
        list-style-image: url("icons/lin-restore.svg") !important;
        margin-top: -1px !important;
    }

    /* override background changes when hovered */
    #main-window .titlebar-button:hover,    
    #main-window:not([lwtheme]) .titlebar-button:hover {
        background-color: transparent !important;
        border-radius: var(--uc-button-border-radius);
    } .titlebar-close:hover {
        background-color: rgb(191, 66, 66) !important; /*red*/
    }
    
    /* override padding when themed*/
    .titlebar-button > .toolbarbutton-icon[lwtheme="true"] {
        padding: 4px 4px !important;
        -moz-context-properties: revert !important;
        stroke: currentColor;
        border-radius: var(--uc-button-border-radius);
    }
}
}

/*------------------------------------------------------------------------------*/

/* KDE compat. for themed Window decoration buttons */

@media (-moz-bool-pref: "ultima.OS.kde.wds") {
@media (-moz-platform: linux), (-moz-os-version: linux) {

    :root[tabsintitlebar] {
        .titlebar-buttonbox {
            --wc-top: 9px !important;
            --wc-left: 7px !important;
            --wc-right: 7px !important;
            --navbar-margin: 86px !important;
        }
        &[uidensity="compact"] .titlebar-buttonbox {
            --wc-top: 8px !important;
        }
    }
    
    /* simulating toolbar button appearance */
    .titlebar-button, .titlebar-button[lwtheme] {
        appearance: none !important;
        margin: 0 !important;
        margin-top: 0px !important;
        padding: 4px 4px !important;
        justify-content: center !important;
        color: inherit !important;
        -moz-context-properties: fill, fill-opacity !important;
        fill: var(--toolbarbutton-icon-fill) !important;
        stroke: var(--toolbarbutton-icon-fill) !important;
        border-radius: var(--uc-button-border-radius);
    }
    
    /* icon-use prep */
    .titlebar-button .toolbarbutton-icon,
    .titlebar-button[lwtheme="true"] .toolbarbutton-icon,
    .titlebar-button[lwtheme="true"] .toolbarbutton-icon[lwtheme] {
        border-radius: var(--toolbarbutton-border-radius) !important;
        list-style-image: url("chrome://global/skin/icons/arrow-down.svg");
        opacity: 1 !important;
        padding: 3px !important;
    }

    /*--icons override, default icons dont override when there is window inactivity--*/
    .titlebar-button.titlebar-close .toolbarbutton-icon{
        list-style-image: url("icons/lin-close.svg") !important;
        margin-top: -1px !important;
    }
    .titlebar-button.titlebar-min .toolbarbutton-icon{
        list-style-image: url("icons/lin-min.svg") !important;
        margin-top: -1px !important;
    }
    .titlebar-button.titlebar-max .toolbarbutton-icon{
        list-style-image: url("icons/lin-max.svg") !important;
        margin-top: -1px !important;
    }
    .titlebar-button.titlebar-restore .toolbarbutton-icon{
        list-style-image: url("icons/lin-restore.svg") !important;
        margin-top: -1px !important;
    }

    /* override background changes when hovered */
    #main-window .titlebar-button:hover,    
    #main-window:not([lwtheme]) .titlebar-button:hover {
        background-color: transparent !important;
        border-radius: var(--uc-button-border-radius);
    } .titlebar-close:hover {
        background-color: rgb(191, 66, 66) !important; /*red*/
    }
    
    /* override padding when themed*/
    .titlebar-button > .toolbarbutton-icon[lwtheme="true"] {
        padding: 4px 4px !important;
        -moz-context-properties: revert !important;
        stroke: currentColor;
        border-radius: var(--uc-button-border-radius);
    }
}
}

/*------------------------------------------------------------------------------*/

/* Gnome compat. for themed Window decoration buttons with small spacing */

@media (-moz-bool-pref: "ultima.OS.gnome.wds") {
@media (-moz-platform: linux), (-moz-os-version: linux) {

    /* update spacing and positioning */
    :root, * {
      --wc-top: 12px !important;
      --wc-left: 7px !important;
      --wc-right: 7px !important;
      --navbar-margin: 83px !important;
      &[uidensity="compact"] * {
         --wc-top: 11px !important;
      }
    }  

    /* no double backgrounds */
    :root .titlebar-button {
        --uc-selected: transparent !important;
        background: transparent !important;
        background-color: transparent !important;
    }
}
}

/*----------------------------------------------------------------------------*/

/* Gnome compat. for themed Window decoration buttons with big spacing */

@media (-moz-bool-pref: "ultima.OS.gnome.wdl") {
@media (-moz-platform: linux), (-moz-os-version: linux) {

    /* update spacing and positioning */
    :root, * {
      --wc-top: 11px !important;
      --wc-left: 2px !important;
      --wc-right: 2px !important;
      --navbar-margin: 108px !important;
      &[uidensity="compact"] * {
         --wc-top: 9px !important;
      }
    }  

    /* no double backgrounds */
    :root .titlebar-button {
        --uc-selected: transparent !important;
        background: transparent !important;
        background-color: transparent !important;
    }
}
}
