/* Baseline theme for tabs on top layout -- 'ultima.tabs.vertical' off -- not a priority

[Index] (ctrl+f a line below to find a section)

baseline
browser adjustments
menu bar adjustments
tabs container adjustments
tabs (style)
compatibility for xstyle.squared preference
insert more styles for the tabs on top layout here

*/

@media not (-moz-bool-pref: "ultima.tabs.vertical") {

    /* baseline */
    :root, body, * {
        --uc-all-margins: 0 6px 6px 6px !important;
        --tab-min-height: 33px;
        --tab-min-width: initial !important;
        --tab-overflow-pinned-tabs-width: initial !important;
        --inline-tab-padding: 10px;
        --tab-block-margin: 2px;
    }
    #browser {margin:var(--uc-all-margins);}
  
    /* browser adjustments */
    #navigator-toolbox,
    #main-window:not([lwtheme]),
    #main-window:not([lwtheme]) body,
    #tabbrowser-tabpanels browser[type] {
        background-color: var(--uc-ultima-window) !important;
    }
    #tabbrowser-tabpanels browser[type] {
        padding-top:1px !important;
        outline: 3px solid var(--uc-ultima-window) !important;
    }
    #main-window[lwtheme] #tabbrowser-tabpanels browser[type] {
        padding-top:1px !important;
        outline: 3px solid var(--lwt-accent-color) !important;
    }
    #navigator-toolbox {
        z-index:9999 !important;
        border-bottom: 0px solid rgba(0,0,0,0) !important;
    }
    #browser,
    #appcontent,
    .browserStack,
    #tabbrowser-tabbox,
    #tabbrowser-tabpanels,
    .browserSidebarContainer {
        border-radius: 0 !important;
    }
    #titlebar {
    	margin-inline: 6.5px !important;
    }
  
    /* menu bar */
    #toolbar-menubar[autohide="false"],
    #toolbar-menubar[autohide="true"]:not([inactive="true"]) {
        z-index:999 !important;
        position: fixed;
        left: calc(50vw - 500px) !important;
        top: 3px !important;
        min-height:38px !important;
        min-width: 700px !important;
        & #menubar-items {
            min-width: 1000px !important;
        }
    }
    
    /* tabs container adjustments */
    #main-window[lwtheme] #TabsToolbar-customization-target,
    #main-window:not([lwtheme]) #TabsToolbar-customization-target{        
        background: transparent !important;
        box-shadow: none !important;
    }
    #main-window[lwtheme] #TabsToolbar-customization-target {        
        background: transparent !important;
    }
	
    /* tabs (style) */
    #main-window:not([lwtheme]) .tabbrowser-tab[pinned] .tab-background,
    #main-window:not([lwtheme]) .tabbrowser-tab[selected] .tab-background {
        background-color: var(--uc-background-secondary) !important;
        box-shadow: 0.1rem 0.4rem 0.4rem -0.1rem rgba(25,25,25,0.7) !important;
    }
	
    /* bookmarks style */
    /* toolbarbuttons */
    /* navbar */

    
    /* insert more styles for the tabs on top layout here ⬆️ */
    
}

