/* ----------------------------------------------------------
- findbar styling
-----------------------------------------------------------*/

findbar{
  border-top: 0px !important;
  padding-block: 2px !important;
  margin-inline: 4px !important;
  border-radius: 10px !important;
}

.findbar-container{
  height: 38px !important;
  padding-bottom: 4px !important;
}

.findbar-textbox{
  width: 20em !important;
  padding-bottom: 9px !important;
  padding-top: 8px !important;
  border: 0px !important;
  background-color: var(--uc-ultima-background-i) !important;
  color: var(--uc-light-dark) !important;
}

.findbar-textbox:focus{
  background-color: var(--uc-ultima-background-i) !important;
}
