/* ----------------------------------------------------------
- this file is enabled by the tabs.vertical setting in about:config
- this file works in conjunction with all-global-positioning.css
- https://github.com/soulhotel/FF-ULTIMA/blob/main/doc/spreadsheet-all-ultima-variables.md
- reverting position-verttab.css
- keeping the titlebar displayed (not visible), and collapsing the tabs width to 0
- included handling of the sidebar.autohide setting
-----------------------------------------------------------*/

@media not all and (-moz-bool-pref: "ultima.tabs.vertical") {

/*--POOF tabs gone--*/

:root:not([customizing],[chromehidden~="menubar"]){
    --uc-vertical-tabs-width: 0px;
    --uc-vertical-tabs-width-revert: 0px;
    --uc-navbar-height: 40px;
    --uc-collapsed-tabs-width: 0px;
}

/*--adjust browser content margins for no tabs--*/

#tab-notification-deck, .global-notificationbox,
#main-window:not([inDOMFullscreen]) #browser{
    margin-left: 0 !important;
}

/*--adjust spacing, margins for everything--*/

:root, body, *{
    /*bookmarkbar height*/
    --uc-bookbar-height: 22px;
    /*rounded corners*/
    --uc-all-border-radius: 10px;
    --uc-all-margins: 0px 6px 6px 0px;
    /*--sidebar margins--*/
    --uc-sb-margin-leftside: 0px 7px 7px -2px;
    --uc-sb-margin-rightside: 0px 6px 6px 0px;
}

/*-------------------------------------------------------------------------------*/
/*--adjustments. dont display none title bar, just remove siblings individually--*/
/*--keep the toolbar customizable, this allows user to still manipulate buttons on the bar--*/

#main-window:not([customizing="true"]) #titlebar {
  width: 0 !important;
  position: fixed;
  top: -100px;
}

#titlebar{
    will-change: none !important;
    transition: none !important;
    opacity: 1 !important;
    z-index: 1 !important;
}

#alltabs-button, #new-tab-button, #tabs-newtab-button{
    display: none !important;
}

/*--v--should cover everything but we'll do more below--*/
#tabbrowser-arrowscrollbox *{
    display: none !important;
    width: 0 !important;
}

tabbrowser-arrowscrollbox-periphery,
#tabbrowser-arrowscrollbox {&::part(scrollbutton-up), &::part(scrollbutton-down){
    display: none !important;
    width: 0 !important;
}}

:root:not([privatebrowsingmode], [firefoxviewhidden]) :is(toolbarbutton, toolbarpaletteitem) + #tabbrowser tabs, 
:root[privatebrowsingmode]:not([firefoxviewhidden]) :is(toolbarbutton:not(#firefox-view-button), toolbarpaletteitem:not(#wrapper-firefox-view-button)) + #tabbrowser-tabs{
    border-inline-start: 0px; padding-inline-start: 0px; margin-inline-start: 0px;
}

/*------------------------------------------------------------------------------*/

/*--autohide sidebar--*/

@media (-moz-bool-pref: "ultima.sidebar.autohide") {

/*--remove header--*/
/*--although it may be wiser to style the header instead,
so you can keep the ability to switch from left to right--*/
/*#sidebar-header { display: none !important; }*/

/*--remove splitter (responsible for adjusting sidebar width)--*/

#sidebar-splitter { display:none !important; }

/*--use variables. one for collapsed width, one for hover width--*/
/*--sidebar is a sibling to the browser content, no need to make it absolute--*/

#sidebar-box {
    --uc-sidebar-width: 38px; /*width when not in view*/
    --uc-sidebar-hover-width: 250px; /*width when in full view*/
    --uc-autohide-sidebar-delay: 300ms;
    --uc-autohide-transition-duration: 80ms;
    --uc-autohide-transition-type: linear;
    position: relative;
    min-width: var(--uc-sidebar-width) !important;
    width: var(--uc-sidebar-width) !important;
    max-width: var(--uc-sidebar-width) !important;
    z-index:1;
}

#sidebar-box[positionend] { direction: rtl }
#sidebar-box[positionend] > * { direction: ltr }

#sidebar-box[positionend]:-moz-locale-dir(rtl) { direction: ltr }
#sidebar-box[positionend]:-moz-locale-dir(rtl) > * { direction: rtl }

/*--on full screen collapse to 1px NOT 0--*/

#main-window[sizemode="fullscreen"] #sidebar-box { --uc-sidebar-width: 1px; }
#main-window[sizemode="fullscreen"] #sidebar-box { margin-inline:0px !important; }
#main-window[sizemode="fullscreen"] #sidebar { margin-inline:0px !important; }

#sidebar-header{
    overflow: hidden; padding-inline: 0 !important;
}

#sidebar-header::before,
#sidebar-header::after{ 
    content: ""; display: flex; padding-left: 1px;
}

#sidebar-header, #sidebar{
    transition:
        min-width var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type) var(--uc-autohide-sidebar-delay) !important;
    min-width: var(--uc-sidebar-width) !important;
    will-change: min-width;
}
  
#sidebar-box:hover > #sidebar-header, #sidebar-box:hover > #sidebar{
    min-width: var(--uc-sidebar-hover-width) !important;
    transition-delay: 0ms !important;
}

&:not([chromehidden~="toolbar"]) {
    min-width: var(--uc-sidebar-hover-width) !import;
}

/* Visible Divider for the sidebar to window I set it to 0px */

#sidebar, #sidebar-header{
    border-inline: 1px solid rgba(0,0,0,0);
    border-inline-width: 0px 0px;
}

#sidebar-box:not([positionend]) > :-moz-locale-dir(rtl), #sidebar-box[positionend] > *{
    border-inline-width: 1px 0px;
}

#sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel{
    inset-inline: auto 0px !important;
}

#sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel-label{
    margin-inline: 0px !important;
    border-left-style: solid !important;
}

/*------------------------------------------------------------------------------*/

/*--light styling for the sidebar, centering and positioning header elements--*/

#sidebar-switcher-target { margin-left: 5px !important; }

#sidebar-switcher-target #sidebar-title { padding-inline: 12px 4px !important; }

.close-icon { border-radius: 7px !important; margin-right: 7px !important; }

/*--color correction for overlapping windows--*/

@media (prefers-color-scheme: dark) {

#sidebar-header, #sidebar{
    background: var(--uc-ultima-background-iv) !important;
} #main-window[lwtheme="true"] #sidebar-header, #main-window[lwtheme="true"] #sidebar{
    background: var(--uc-tabs-lwt) !important;
}

} @media (prefers-color-scheme: light) {

#sidebar-header, #sidebar
{ background: var(--uc-ultima-background-iv) !important;
} #main-window[lwtheme="true"] #sidebar-header, #main-window[lwtheme="true"] #sidebar
{ background: var(--uc-tabs-lwt) !important; }

}
}
}  /*--<--end of media query for ultima.tabs.vertical--*/

/* adding some more overall padding to the sidebar title */

#sidebar-switcher-target #sidebar-title { padding-inline: 15px 4px !important; }

/*--DONT TOUCH--*/

/*-------------Safeguard for users who incorrectly enable two tab size preferences--------------*/

/*--if xs size is set and s is set, dont display until corrected, if s size is set and l is set dont display until... and so on.--*/

@media (-moz-bool-pref: "ultima.tabs.xs") { @media (-moz-bool-pref: "ultima.tabs.s") {
:root:not([customizing],[chromehidden~="menubar"]){
    --uc-vertical-tabs-width: 0px;
    --uc-vertical-tabs-width-revert: 0px;
    --uc-navbar-height: 40px;
    --uc-collapsed-tabs-width: 0px;
}
#tab-notification-deck, .global-notificationbox,
#main-window:not([inDOMFullscreen]) #browser{
    margin-left: 0 !important;
}
:root, body, *{
    /*bookmarkbar height*/
    --uc-bookbar-height: 22px;
    /*rounded corners*/
    --uc-all-border-radius: 10px;
    --uc-all-margins: 0px 6px 6px 6px;
    /*--sidebar margins--*/
    --uc-sb-margin-leftside: 0px 3px 6px 6px;
    --uc-sb-margin-rightside: 0px 6px 6px 0px;
}
#main-window:not([customizing="true"]) #titlebar {
  width: 0 !important;
  position: fixed;
  top: -100px;
} #titlebar{
    will-change: none !important;transition: none !important;opacity: 1 !important;z-index: 1 !important;
} #alltabs-button, #new-tab-button, #tabs-newtab-button{
    display: none !important;
} #tabbrowser-arrowscrollbox *{display: none !important; width: 0 !important;}
tabbrowser-arrowscrollbox-periphery,#tabbrowser-arrowscrollbox {&::part(scrollbutton-up), &::part(scrollbutton-down){
display: none !important; width: 0 !important;
}}
:root:not([privatebrowsingmode], [firefoxviewhidden]) :is(toolbarbutton, toolbarpaletteitem) + #tabbrowser tabs, 
:root[privatebrowsingmode]:not([firefoxviewhidden]) :is(toolbarbutton:not(#firefox-view-button), toolbarpaletteitem:not(#wrapper-firefox-view-button)) + #tabbrowser-tabs{
    border-inline-start: 0px; padding-inline-start: 0px; margin-inline-start: 0px;
} #sidebar-splitter { display:none !important; }
#sidebar-box {
    --uc-sidebar-width: 38px; /*width when not in view*/
    --uc-sidebar-hover-width: 240px; /*width when in full view*/
    --uc-autohide-sidebar-delay: 300ms;
    --uc-autohide-transition-duration: 80ms;
    --uc-autohide-transition-type: linear;
    position: relative;
    min-width: var(--uc-sidebar-width) !important;
    width: var(--uc-sidebar-width) !important;
    max-width: var(--uc-sidebar-width) !important;
    z-index:1;
} #sidebar-box[positionend] { direction: rtl } #sidebar-box[positionend] > * { direction: ltr }
#sidebar-box[positionend]:-moz-locale-dir(rtl) { direction: ltr }
#sidebar-box[positionend]:-moz-locale-dir(rtl) > * { direction: rtl }
#main-window[sizemode="fullscreen"] #sidebar-box { --uc-sidebar-width: 1px; }
#main-window[sizemode="fullscreen"] #sidebar-box { margin-inline:0px !important; }
#main-window[sizemode="fullscreen"] #sidebar { margin-inline:0px !important; }
#sidebar-header{overflow: hidden; padding-inline: 0 !important;}
#sidebar-header::before,
#sidebar-header::after{ content: ""; display: flex; padding-left: 1px;}
#sidebar-header, #sidebar{
    transition:
        min-width var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type) var(--uc-autohide-sidebar-delay) !important;
    min-width: var(--uc-sidebar-width) !important;
    will-change: min-width;
} #sidebar-box:hover > #sidebar-header, #sidebar-box:hover > #sidebar{
    min-width: var(--uc-sidebar-hover-width) !important;
    transition-delay: 0ms !important;
} #sidebar, #sidebar-header{
    border-inline: 1px solid rgba(0,0,0,0);
    border-inline-width: 0px 0px;
} #sidebar-box:not([positionend]) > :-moz-locale-dir(rtl), #sidebar-box[positionend] > *{
    border-inline-width: 1px 0px;
} #sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel{
    inset-inline: auto 0px !important;
} #sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel-label{
    margin-inline: 0px !important;border-left-style: solid !important;
}
#sidebar-switcher-target { margin-left: 5px !important; }
#sidebar-switcher-target #sidebar-title { padding-inline: 10px 4px !important; }
.close-icon { border-radius: 7px !important; margin-right: 7px !important; }
@media (prefers-color-scheme: dark) {
#sidebar-header, #sidebar{
    background: var(--uc-ultima-background-iv) !important;
} #main-window[lwtheme="true"] #sidebar-header, #main-window[lwtheme="true"] #sidebar{
    background: var(--uc-tabs-lwt) !important;
}
} @media (prefers-color-scheme: light) {
#sidebar-header, #sidebar
{ background: var(--uc-ultima-background-iv) !important;
} #main-window[lwtheme="true"] #sidebar-header, #main-window[lwtheme="true"] #sidebar
{ background: var(--uc-tabs-lwt) !important; }
}
}}

@media (-moz-bool-pref: "ultima.tabs.l") { @media (-moz-bool-pref: "ultima.tabs.s") {
:root:not([customizing],[chromehidden~="menubar"]){
    --uc-vertical-tabs-width: 0px;
    --uc-vertical-tabs-width-revert: 0px;
    --uc-navbar-height: 40px;
    --uc-collapsed-tabs-width: 0px;
}
#tab-notification-deck, .global-notificationbox,
#main-window:not([inDOMFullscreen]) #browser{
    margin-left: 0 !important;
}
:root, body, *{
    /*bookmarkbar height*/
    --uc-bookbar-height: 22px;
    /*rounded corners*/
    --uc-all-border-radius: 10px;
    --uc-all-margins: 0px 6px 6px 6px;
    /*--sidebar margins--*/
    --uc-sb-margin-leftside: 0px 3px 6px 6px;
    --uc-sb-margin-rightside: 0px 6px 6px 0px;
}
#main-window:not([customizing="true"]) #titlebar {
  width: 0 !important;
  position: fixed;
  top: -100px;
} #titlebar{
    will-change: none !important;transition: none !important;opacity: 1 !important;z-index: 1 !important;
} #alltabs-button, #new-tab-button, #tabs-newtab-button{
    display: none !important;
} #tabbrowser-arrowscrollbox *{display: none !important; width: 0 !important;}
tabbrowser-arrowscrollbox-periphery,#tabbrowser-arrowscrollbox {&::part(scrollbutton-up), &::part(scrollbutton-down){
display: none !important; width: 0 !important;
}}
:root:not([privatebrowsingmode], [firefoxviewhidden]) :is(toolbarbutton, toolbarpaletteitem) + #tabbrowser tabs, 
:root[privatebrowsingmode]:not([firefoxviewhidden]) :is(toolbarbutton:not(#firefox-view-button), toolbarpaletteitem:not(#wrapper-firefox-view-button)) + #tabbrowser-tabs{
    border-inline-start: 0px; padding-inline-start: 0px; margin-inline-start: 0px;
} #sidebar-splitter { display:none !important; }
#sidebar-box {
    --uc-sidebar-width: 38px; /*width when not in view*/
    --uc-sidebar-hover-width: 240px; /*width when in full view*/
    --uc-autohide-sidebar-delay: 300ms;
    --uc-autohide-transition-duration: 80ms;
    --uc-autohide-transition-type: linear;
    position: relative;
    min-width: var(--uc-sidebar-width) !important;
    width: var(--uc-sidebar-width) !important;
    max-width: var(--uc-sidebar-width) !important;
    z-index:1;
} #sidebar-box[positionend] { direction: rtl } #sidebar-box[positionend] > * { direction: ltr }
#sidebar-box[positionend]:-moz-locale-dir(rtl) { direction: ltr }
#sidebar-box[positionend]:-moz-locale-dir(rtl) > * { direction: rtl }
#main-window[sizemode="fullscreen"] #sidebar-box { --uc-sidebar-width: 1px; }
#main-window[sizemode="fullscreen"] #sidebar-box { margin-inline:0px !important; }
#main-window[sizemode="fullscreen"] #sidebar { margin-inline:0px !important; }
#sidebar-header{overflow: hidden; padding-inline: 0 !important;}
#sidebar-header::before,
#sidebar-header::after{ content: ""; display: flex; padding-left: 1px;}
#sidebar-header, #sidebar{
    transition:
        min-width var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type) var(--uc-autohide-sidebar-delay) !important;
    min-width: var(--uc-sidebar-width) !important;
    will-change: min-width;
} #sidebar-box:hover > #sidebar-header, #sidebar-box:hover > #sidebar{
    min-width: var(--uc-sidebar-hover-width) !important;
    transition-delay: 0ms !important;
} #sidebar, #sidebar-header{
    border-inline: 1px solid rgba(0,0,0,0);
    border-inline-width: 0px 0px;
} #sidebar-box:not([positionend]) > :-moz-locale-dir(rtl), #sidebar-box[positionend] > *{
    border-inline-width: 1px 0px;
} #sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel{
    inset-inline: auto 0px !important;
} #sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel-label{
    margin-inline: 0px !important;border-left-style: solid !important;
}
#sidebar-switcher-target { margin-left: 5px !important; }
#sidebar-switcher-target #sidebar-title { padding-inline: 10px 4px !important; }
.close-icon { border-radius: 7px !important; margin-right: 7px !important; }
@media (prefers-color-scheme: dark) {
#sidebar-header, #sidebar{
    background: var(--uc-ultima-background-iv) !important;
} #main-window[lwtheme="true"] #sidebar-header, #main-window[lwtheme="true"] #sidebar{
    background: var(--uc-tabs-lwt) !important;
}
} @media (prefers-color-scheme: light) {
#sidebar-header, #sidebar
{ background: var(--uc-ultima-background-iv) !important;
} #main-window[lwtheme="true"] #sidebar-header, #main-window[lwtheme="true"] #sidebar
{ background: var(--uc-tabs-lwt) !important; }
}
}}

@media (-moz-bool-pref: "ultima.tabs.xs") { @media (-moz-bool-pref: "ultima.tabs.l") {
:root:not([customizing],[chromehidden~="menubar"]){
    --uc-vertical-tabs-width: 0px;
    --uc-vertical-tabs-width-revert: 0px;
    --uc-navbar-height: 40px;
    --uc-collapsed-tabs-width: 0px;
}
#tab-notification-deck, .global-notificationbox,
#main-window:not([inDOMFullscreen]) #browser{
    margin-left: 0 !important;
}
:root, body, *{
    /*bookmarkbar height*/
    --uc-bookbar-height: 22px;
    /*rounded corners*/
    --uc-all-border-radius: 10px;
    --uc-all-margins: 0px 6px 6px 6px;
    /*--sidebar margins--*/
    --uc-sb-margin-leftside: 0px 3px 6px 6px;
    --uc-sb-margin-rightside: 0px 6px 6px 0px;
}
#main-window:not([customizing="true"]) #titlebar {
  width: 0 !important;
  position: fixed;
  top: -100px;
} #titlebar{
    will-change: none !important;transition: none !important;opacity: 1 !important;z-index: 1 !important;
} #alltabs-button, #new-tab-button, #tabs-newtab-button{
    display: none !important;
} #tabbrowser-arrowscrollbox *{display: none !important; width: 0 !important;}
tabbrowser-arrowscrollbox-periphery,#tabbrowser-arrowscrollbox {&::part(scrollbutton-up), &::part(scrollbutton-down){
display: none !important; width: 0 !important;
}}
:root:not([privatebrowsingmode], [firefoxviewhidden]) :is(toolbarbutton, toolbarpaletteitem) + #tabbrowser tabs, 
:root[privatebrowsingmode]:not([firefoxviewhidden]) :is(toolbarbutton:not(#firefox-view-button), toolbarpaletteitem:not(#wrapper-firefox-view-button)) + #tabbrowser-tabs{
    border-inline-start: 0px; padding-inline-start: 0px; margin-inline-start: 0px;
} #sidebar-splitter { display:none !important; }
#sidebar-box {
    --uc-sidebar-width: 38px; /*width when not in view*/
    --uc-sidebar-hover-width: 240px; /*width when in full view*/
    --uc-autohide-sidebar-delay: 300ms;
    --uc-autohide-transition-duration: 80ms;
    --uc-autohide-transition-type: linear;
    position: relative;
    min-width: var(--uc-sidebar-width) !important;
    width: var(--uc-sidebar-width) !important;
    max-width: var(--uc-sidebar-width) !important;
    z-index:1;
} #sidebar-box[positionend] { direction: rtl } #sidebar-box[positionend] > * { direction: ltr }
#sidebar-box[positionend]:-moz-locale-dir(rtl) { direction: ltr }
#sidebar-box[positionend]:-moz-locale-dir(rtl) > * { direction: rtl }
#main-window[sizemode="fullscreen"] #sidebar-box { --uc-sidebar-width: 1px; }
#main-window[sizemode="fullscreen"] #sidebar-box { margin-inline:0px !important; }
#main-window[sizemode="fullscreen"] #sidebar { margin-inline:0px !important; }
#sidebar-header{overflow: hidden; padding-inline: 0 !important;}
#sidebar-header::before,
#sidebar-header::after{ content: ""; display: flex; padding-left: 1px;}
#sidebar-header, #sidebar{
    transition:
        min-width var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type) var(--uc-autohide-sidebar-delay) !important;
    min-width: var(--uc-sidebar-width) !important;
    will-change: min-width;
} #sidebar-box:hover > #sidebar-header, #sidebar-box:hover > #sidebar{
    min-width: var(--uc-sidebar-hover-width) !important;
    transition-delay: 0ms !important;
} #sidebar, #sidebar-header{
    border-inline: 1px solid rgba(0,0,0,0);
    border-inline-width: 0px 0px;
} #sidebar-box:not([positionend]) > :-moz-locale-dir(rtl), #sidebar-box[positionend] > *{
    border-inline-width: 1px 0px;
} #sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel{
    inset-inline: auto 0px !important;
} #sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel-label{
    margin-inline: 0px !important;border-left-style: solid !important;
}
#sidebar-switcher-target { margin-left: 5px !important; }
#sidebar-switcher-target #sidebar-title { padding-inline: 10px 4px !important; }
.close-icon { border-radius: 7px !important; margin-right: 7px !important; }
@media (prefers-color-scheme: dark) {
#sidebar-header, #sidebar{
    background: var(--uc-ultima-background-iv) !important;
} #main-window[lwtheme="true"] #sidebar-header, #main-window[lwtheme="true"] #sidebar{
    background: var(--uc-tabs-lwt) !important;
}
} @media (prefers-color-scheme: light) {
#sidebar-header, #sidebar
{ background: var(--uc-ultima-background-iv) !important;
} #main-window[lwtheme="true"] #sidebar-header, #main-window[lwtheme="true"] #sidebar
{ background: var(--uc-tabs-lwt) !important; }
}
}}
