/* --------------------------------------------------------------------------------

- this file positions the tabs panel (globally), works in conjunction with all-global-positioning.css
- https://github.com/soulhotel/FF-ULTIMA/blob/main/doc/spreadsheet-all-ultima-variables.md

[Index] (ctrl + f a line to find section)

(1. global layout)
position tabs globally
browser positioning
set position of container
tab scrollbox position
force consistent model
tab container height
individual tabs
pinned position
position the content inside of individual tabs
tab container extra buttons
adjustments 
Scrollbox Shadow
patch, hovering tab edges triggers a collapse
patch, tabs slide out of view when attempting to rearrange them

(2. dynamic layouts)
tabs autohide ~ setting
collapse the tabs panel - on full screen
hide tabs, except for private browsing ~ setting
vertical tabs on rightside ~ setting
tabs hidden ~ setting
tabs on top ~ setting

(0. account for each user set preference in each layout)
@media (-moz-bool-pref: "ultima.tabs.vertical")
@media (-moz-bool-pref: "ultima.tabs.autohide")
@media (-moz-bool-pref: "ultima.tabs.vertical.onlyinprivate")
@media (-moz-bool-pref: "ultima.tabs.vertical.rightside")
@media (-moz-bool-pref: "ultima.tabs.vertical.hide")
@media not (-moz-bool-pref: "ultima.tabs.vertical")

-------------------------------------------------------------------------------- */

/* position tabs globally ----------------------------------------------------------------------*/
  
@media (-moz-bool-pref: "ultima.tabs.vertical") {
    @media not all and (-moz-bool-pref: "ultima.tabs.vertical.hide") {
                
        /* set position of container */  
        :root:not([customizing]) #tabbrowser-tabs {
            position: relative !important;
            /* height: var(--uc-tabbar-height) !important; */
            height: 300px !important;
            width: var(--uc-vertical-tabs-width);
            /* left: 0px; */
            contain: size !important;
            overflow: hidden !important;
            order: 0;
            border-radius: var(--uc-all-border-radius);
            border-inline-start: 0 !important;
            margin: 0 !important;
            padding-inline: 0 !important;
            margin-left: 2px !important;
        }
        /* tab scrollbox position */  
        #tabbrowser-arrowscrollbox,
        #tabbrowser-arrowscrollbox .scrollbox-clip,
        #tabbrowser-arrowscrollbox scrollbox {
            width: var(--uc-vertical-tabs-width) !important;
        }
        /* force consistent model */  
        :root:not([customizing]) #tabbrowser-arrowscrollbox {
            --uc-scrollbox-box-model: -webkit-box;
            --uc-scrollbox-height: 100vh;
            --uc-scrollbutton-display: none;
            --uc-scrollbox-overflow: auto;
        }
        #tabbrowser-tabs:is(haspinnedtabs="") scrollbox[orient="horizontal"],
        #tabbrowser-tabs[positionpinnedtabs] scrollbox[orient="horizontal"],
        scrollbox[orient="horizontal"] {
            display: var(--uc-scrollbox-box-model, flex);
            -webkit-box-orient: vertical;
            height: 100%;
            overflow: var(--uc-scrollbox-overflow, initial) !important;
        }
        #tabbrowser-tabs:is(haspinnedtabs="") scrollbox[orient="horizontal"],
        #tabbrowser-tabs[positionpinnedtabs] scrollbox[orient="horizontal"] {
            display: var(--uc-scrollbox-box-model, flex);
            -webkit-box-orient: vertical;
            height: 100%;
            overflow: var(--uc-scrollbox-overflow, initial);
        }
        /* required to keep from scolling < > */  
        #tabbrowser-arrowscrollbox,
        #tabbrowser-arrowscrollbox .scrollbox-clip {
            contain: inline-size !important;
            margin-left: -1px !important;
        }
        /* tabs container height */  
        :root:has([collapsed="false"]) #TabsToolbar-customization-target {
            top: calc(var(--uc-bookbar-height) + var(--uc-navbar-height));
            height: var(--uc-tabbar-height-adjust) !important;
        }
        /* height in full screen mode */
        #main-window:is([inDOMFullscreen]) #TabsToolbar-customization-target {
            top: var(--uc-navbar-height) !important;
        }
        /* individual tabs */
        .tabbrowser-tab:not([pinned]),
        .tabbrowser-tab:is([pinned]) {
            min-width: calc(var(--uc-vertical-tabs-width)-1px) !important;
            width: calc(var(--uc-vertical-tabs-width)-1px) !important;
            padding: 0 2px !important;
            --tab-label-mask-size: 0.6em !important;
        }
        .tabbrowser-tab:not([pinned]) {
            max-width: calc(var(--uc-vertical-tabs-width)-1px) !important;
            min-width: calc(var(--uc-vertical-tabs-width)-1px) !important;
            transition: min-width 100ms ease-out, max-width 100ms ease-out;
        }
        /* pinned position */  
        .tabbrowser-tab:is([pinned]),
        #tabbrowser-tabs[positionpinnedtabs]>#tabbrowser-arrowscrollbox>.tabbrowser-tab[pinned] {
            position: initial !important;
            flex-shrink: initial !important;
            margin-left: initial !important;
            margin: 0 !important;
            align-items: stretch !important;
            justify-content: flex-start !important;
            overflow: clip !important;
            overflow-clip-margin: 2px !important;
        }
        .tab-icon-stack:is([pinned]) {
            margin-right: 5.5px;
        }
        .tab-throbber,
        .tab-icon-pending,
        .tab-icon-image,
        .tab-sharing-icon-overlay,
        .tab-icon-overlay {
            &:not([pinned]) {
                margin-inline-end: 5.5px;
            }
        }
        .tab-label-container[textoverflow][labeldirection="ltr"]:not([pinned]),
        .tab-label-container[textoverflow]:not([labeldirection],
        [pinned]):-moz-locale-dir(ltr) {
            mask-image: linear-gradient(to left,
                transparent,
                black var(--tab-label-mask-size));
            direction: ltr;
        }

        /* position the content inside of individual tabs */ 
        /* tab container for (favicon,url,closebutton) */  
        .tab-stack {
            margin-inline: 0px !important;
        }  
        .tab-background {
            border-radius: var(--tab-border-radius) !important;
            margin-block: var(--tab-block-margin) !important;
            min-height: var(--tab-min-height) !important;
        }  
        .tab-content {
            padding: 0 10px !important;
            min-width: 0 !important;
        }  
        .tab-content {
            :root:not([uidensity="compact"]) &[pinned] {
                padding: 0px;
            }
        }
        .tab-label-container {
            overflow: hidden;
        }  
        .tab-label {
            margin-inline: 0;
            white-space: nowrap;
        }
        .tabbrowser-tab:not([labelendaligned], :hover)>.tab-stack>.tab-content>.tab-close-button {
            padding-inline-start: 0px !important;
            width: 16px !important;
            height: 16px !important;
        }
        /* close buttons disabled, but still positioned */  
        #tabbrowser-tabs .tab-close-button {
            margin-inline-end: -3px !important;
            height: 16px !important;
            width: 16px !important;
            border-radius: var(--uc-button-border) !important;
            display: none !important;
            /*--removable--*/
        }
        #tabbrowser-tabs .close-icon {
            padding: 2px !important;
            border-radius: var(--uc-button-border) !important;
            display: none !important;
            /*--removable--*/
        }
        .tab-throbber,
        .tab-icon-pending,
        .tab-icon-image,
        .tab-sharing-icon-overlay,
        .tab-icon-overlay {
            height: 16px;
            width: 16px;
        }
        /* tab container extra buttons */   
        #tabs-newtab-button,
        #tabs-newtab-button>.toolbarbutton-icon {
            background: none !important;
            border-radius: var(--tab-border-radius);
        }
        #tabbrowser-tabs[hasadjacentnewtabbutton] #tabs-newtab-button {
            display: flex !important;
            width: 100%;
            height: 50px;
        }
        #tabbrowser-tabs:hover #tabs-newtab-button {
            justify-content: center !important;
        }
        #tabs-newtab-button:active {
            background: rgba(0, 0, 0, 0.2) !important;
        }
        /*---------------------adjustments DO NOT TOUCH--------------------------*/
        /*--(dont touch) removal of inconsistent buttons, and adjustments--*/
        #scrollbutton-up,
        #scrollbutton-down {
            display: var(--uc-scrollbutton-display, initial);
        }
        #titlebar {
            will-change: none !important;
            transition: none !important;
            opacity: 1 !important;
            z-index: 1 !important;
        }
        #tabbrowser-arrowscrollbox {
            &:not([scrolledtostart])::part(overflow-start-indicator) {
                margin-inline: -2 !important;
                opacity: 0 !important;
            }
        }
        #tabbrowser-arrowscrollbox {

            &[scrolledtostart]::part(overflow-start-indicator),
            &[scrolledtoend]::part(overflow-end-indicator) {
                opacity: 1;
            }
        }
        .tabbrowser-tab:not([pinned], [fadein]) {
            max-width: 0.1px;
            min-width: 0.1px;
            visibility: initial;
            opacity: 1;
        }
        .tabbrowser-tab:not([pinned]) {
            flex: 100 100;
        }
        .tabbrowser-tab,
        .tabbrowser-tab:not([pinned]),
        .tabbrowser-tab:is([pinned]) {
            padding: 0 2px !important;
            flex-shrink: 0;
            --tab-label-mask-size: 2em;
        }
        #tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])>#tabbrowser-arrowscrollbox>.tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
            margin-inline-start: 0px !important;
        }
        #tabbrowser-tabs[hasadjacentnewtabbutton]:not([overflow])~#new-tab-button,
        #tabbrowser-tabs[overflow]>#tabbrowser-arrowscrollbox>#tabbrowser-arrowscrollbox-periphery>#tabs-newtab-button,
        #tabbrowser-tabs:not([hasadjacentnewtabbutton])>#tabbrowser-arrowscrollbox>#tabbrowser-arrowscrollbox-periphery>#tabs-newtab-button,
        #TabsToolbar[customizing="true"] #tabs-newtab-button {
            display: flex !important;
            justify-content: left;
            pointer-events: none !important;
        }
        #new-tab-button {
            background: transparent !important;
            opacity: 0 !important;
            left: 5px;
            position: absolute;
            display: none !important;
        }
        /* this button is a pain */
        #alltabs-button {
            display: none;
        }
        /* make sure closed tabs update the scrollbox */
        .tabbrowser-tab:not([pinned], [fadein]) {
            max-width: 0.1px !important;
            min-width: 0.1px !important;
            visibility: collapse !important;
        }
        /* to prevent tabs from triggering autohide events at tab sensitive edges */
        .tabbrowser-tab {
            margin-bottom: -2.4px !important;
        }
        /* patch, tabs slide out of view when attempting to rearrange them */
        .tabbrowser-tab[style*="transform"] {
            transform: translateX(0px) !important;
            transform: translateY(0px) !important;
        }  
        /*----------------------END OF ADJUSTMENTS------------------------*/

        /*------------------Scrollbox Shadow------------------------------*/

        /* Source code for shadow inspired by */
        /* https://css-tricks.com/books/greatest-css-tricks/scroll-shadows/ */

        @media (prefers-color-scheme: dark) {
            #main-window:not([lwtheme="true"]) .scrollbox-clip scrollbox[smoothscroll="true"] {
                background:
                    /* Shadow Cover TOP */
                    /* TODO: Need to be changed to variable */
                    linear-gradient(#23232A 30%,
                        rgba(255, 255, 255, 0)) center top,
                    /* Shadow Cover BOTTOM */
                    linear-gradient(var(--uc-background-secondary),
                        var(--uc-background-secondary) 70%) center bottom,
                    /* Shadow TOP */
                    /* TODO: Change to variable indicating scrollable area */
                    radial-gradient(farthest-side at 50% 0,
                        black,
                        rgba(0, 0, 0, 0)) center top,
                    /* Shadow BOTTOM */
                    radial-gradient(farthest-side at 50% 100%,
                        black,
                        rgba(0, 0, 0, 0)) center bottom;

                background-repeat: no-repeat;
                background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
                background-attachment: local, local, scroll, scroll;
            }
        }
        @media (prefers-color-scheme: light) {
            #main-window:not([lwtheme="true"]) .scrollbox-clip scrollbox[smoothscroll="true"] {
                background:
                    /* Shadow Cover TOP */
                    /* TODO: Need to be changed to variable */
                    linear-gradient(#b7b7da 30%,
                        rgba(0, 0, 0, 0)) center top,
                    /* Shadow Cover BOTTOM */
                    linear-gradient(var(--uc-background-secondary),
                        var(--uc-background-secondary) 70%) center bottom,
                    /* Shadow TOP */
                    /* TODO: Change to variable indicating scrollable area */
                    radial-gradient(farthest-side at 50% 0,
                        rgb(162, 153, 182),
                        rgba(255, 255, 255, 0)) center top,
                    /* Shadow BOTTOM */
                    radial-gradient(farthest-side at 50% 100%,
                        rgb(162, 153, 182),
                        rgba(255, 255, 255, 0)) center bottom;

                background-repeat: no-repeat;
                background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
                background-attachment: local, local, scroll, scroll;
            }
        }
    }
}


/*tabs autohide ~ setting ----------------------------------------------------------------------*/

/*
ultima.tabs.autohide
hide/show tabs on hover
*/

@media (-moz-bool-pref: "ultima.tabs.vertical") {
    
    /* when disabled */
    @media not (-moz-bool-pref: "ultima.tabs.autohide") {
        :root, body, * {
            --uc-all-margins: 0px 6px 6px calc(var(--uc-vertical-tabs-width) + var(--uc-margin-inline) + var(--uc-margin-inline)) !important; 
        }
        #browser {
                margin: var(--uc-all-margins) !important;
                /*refresh*/
            }    
    }
    
    /* when disabled and rightside tabs enabled */
    @media not (-moz-bool-pref: "ultima.tabs.autohide") { @media (-moz-bool-pref: "ultima.tabs.vertical.rightside") {
        :root, body, * {
            --uc-all-margins: 0px calc(var(--uc-vertical-tabs-width) + var(--uc-margin-inline) + var(--uc-margin-inline)) 6px 6px !important; 
        }
        #browser {
                margin: var(--uc-all-margins) !important;
                /*refresh*/
            }    
    }}
    
    /* when disabled and squared setting enabled */
    @media not (-moz-bool-pref: "ultima.tabs.autohide") { @media (-moz-bool-pref: "ultima.xstyle.squared"), (-moz-bool-pref: "ultima.xstyle.squished") {
        :root, body, * {
            --uc-all-margins: 0px 0px 0px calc(var(--uc-vertical-tabs-width) + var(--uc-margin-inline) + var(--uc-margin-inline)) !important; 
        }
        #browser {
                margin: var(--uc-all-margins) !important;
                /*refresh*/
            }            
    }}
    
 
    
    /*autohide default */
    @media (-moz-bool-pref: "ultima.tabs.autohide") { @media not (-moz-bool-pref: "ultima.tabs.vertical.rightside")  {
                
        /* autohide tabs based on predefined variables (all-global-positioning.css) */    
        :root:not([customizing]) #TabsToolbar-customization-target:not(hover) #tabbrowser-tabs {
            width: var(--uc-collapsed-tabs-width) !important;
        }    
        :root:not([customizing]) #TabsToolbar-customization-target:hover #tabbrowser-tabs {
            width: var(--uc-vertical-tabs-width-revert) !important;
        }             
        
        /* browser content positioning */
        :root, body, * {
            --uc-all-margins: 0px 6px 6px calc(var(--uc-collapsed-tabs-width) + var(--uc-margin-inline) + var(--uc-margin-inline)) !important; 
        }
        #browser {
            margin: var(--uc-all-margins) !important;
            /*refresh*/
        }  
        
        /* adjustment for xstyle.squared preference */
        @media (-moz-bool-pref: "ultima.xstyle.squared"), (-moz-bool-pref: "ultima.xstyle.squished") {
            :root, body, * {
                --uc-all-margins: 0px  0px 0px calc(var(--uc-collapsed-tabs-width) + var(--uc-margin-inline) + var(--uc-margin-inline)) !important; 
            }
            #browser {
                margin: var(--uc-all-margins) !important;
                /*refresh*/
            }
            @media (-moz-bool-pref: "ultima.tabs.vertical.onlyprivate") {
                :root:not([privatebrowsingmode="temporary"],[windowtype="Toolkit:PictureInPicture"]) #browser {
                    --uc-all-margins: 0px 0px 0px 0px !important; 
                    /*refresh*/
                }
                :root:not([privatebrowsingmode="temporary"],[windowtype="Toolkit:PictureInPicture"]) #browser:has([positionend="true"]) {
                    --uc-all-margins: 0px 0px 0px 0px !important; 
                    /*refresh*/
                }
                :root:not([sizemode="fullscreen"]) #browser {
                    --uc-all-margins: 0px 0px 0px 0px !important; 
                }
            }
            @media (-moz-bool-pref: "ultima.tabs.vertical.hide") {
                #browser:has([positionend="true"]) {
                    --uc-all-margins: 0px 0px 0px 0px !important; 
                    /*refresh*/
                }
                #browser {
                    --uc-all-margins: 0px 0px 0px 0px !important; 
                }
            }
        }
    }}
    
    /*autohide with rightside */
    @media (-moz-bool-pref: "ultima.tabs.autohide") { @media (-moz-bool-pref: "ultima.tabs.vertical.rightside") {
                
        /* autohide tabs based on predefined variables (all-global-positioning.css) */    
        :root:not([customizing]) #TabsToolbar-customization-target:not(hover) #tabbrowser-tabs {
            width: var(--uc-collapsed-tabs-width) !important;
        }    
        :root:not([customizing]) #TabsToolbar-customization-target:hover #tabbrowser-tabs {
            width: var(--uc-vertical-tabs-width-revert) !important;
        }             
        
        /* browser content positioning */
        :root, body, * {
            --uc-all-margins: 0px calc(var(--uc-collapsed-tabs-width) + var(--uc-margin-inline) + var(--uc-margin-inline)) 6px 6px !important; 
        }
        #browser {
            margin: var(--uc-all-margins) !important;
            /*refresh*/
        }  
        
        /* adjustment for xstyle.squared preference */
        @media (-moz-bool-pref: "ultima.xstyle.squared"), (-moz-bool-pref: "ultima.xstyle.squished") {
            :root, body, * {
                --uc-all-margins: 0px calc(var(--uc-collapsed-tabs-width) + var(--uc-margin-inline) + var(--uc-margin-inline)) 0px 0px !important; 
            }
            #browser {
                --uc-all-margins: 0px calc(var(--uc-collapsed-tabs-width) + var(--uc-margin-inline) + var(--uc-margin-inline)) 0px 0px !important; 
                margin: var(--uc-all-margins) !important;
                /*refresh*/
            }
            #TabsToolbar-customization-target {
                right: 0px !important;
            }
        }
    }}    
    
    /* background and visibility */
    #navigator-toolbox {
        z-index: 2 !important;
    }
    @media (prefers-color-scheme: dark) {    
        #tabbrowser-arrowscrollbox {
            background: var(--uc-background-secondary) !important;
        }
        #main-window[lwtheme="true"] #tabbrowser-arrowscrollbox {
            background: var(--uc-tabs-lwt) !important;
        }    
    }
    @media (prefers-color-scheme: light) {    
        #tabbrowser-arrowscrollbox {
            background: var(--uc-background-secondary) !important;
        }
        #main-window[lwtheme="true"] #tabbrowser-arrowscrollbox {
            background: var(--uc-tabs-lwt) !important;
        }    
    }

    /* Userchrome-toggler extension support */
    /* @Kaedriz - https://github.com/soulhotel/FF-ULTIMA/tree/userchrome-toggler */
    :root[titlepreface="᠎"] {
        & #browser {
            --uc-vertical-tabs-width: 250px !important;
            --uc-vertical-tabs-width-revert: 250px !important;
            margin-left: var(--uc-vertical-tabs-width) !important;
        }
        & #tabbrowser-tabs {
            --uc-vertical-tabs-width: 250px !important;
            --uc-vertical-tabs-width-revert: 250px !important;
        }
    }
    
}


/* collapse the tabs panel - on full screen ------------------------------------------------------*/

/*
when in fullscreen mode (F11), reposition tabs and remove rounded borders
*/

@media not (-moz-bool-pref: "ultima.tabs.vertical") {
    #main-window[sizemode="fullscreen"] #browser,
    #main-window[sizemode="fullscreen"] #browser * {
        --uc-all-margins: 0px 0.2px 0px 0.2px !important;
        --uc-all-border-radius: 0px !important;
    }
}

@media (-moz-bool-pref: "ultima.tabs.vertical") {
  
    /* collapse the tabs panel - on full screen */
    #main-window[sizemode="fullscreen"]{
        --uc-vertical-tabs-width: var(--uc-collapsed-tabs-width) !important;

        @media (-moz-bool-pref: "ultima.tabs.vertical.rightside") { @media not (-moz-platform: macos) {
            .titlebar-buttonbox { display: none !important; z-index: 0 !important;}
            #nav-bar { margin-right: 0px !important; }    
        }}     
        & #browser *, & #browser {--uc-all-border-radius: 0px !important;}
        & #sidebar-switcher-target {border-radius: 10px !important;}
        /* shame. doesnt work well.
        & #TabsToolbar-customization-target:not(:hover) {
            left: -30px !important;
        }
        */
        @media not (-moz-bool-pref: "ultima.tabs.vertical.rightside") {
            & #TabsToolbar-customization-target:not(:hover) {
                left:-40px !important;
                opacity: 0;
            }
            & #TabsToolbar-customization-target:hover {
                left:-6px !important;
            }            
            & * {
                --uc-all-margins: 0px 0px 0px 0px !important;
            }
        }
        @media (-moz-bool-pref: "ultima.tabs.vertical.rightside") {
            & #TabsToolbar-customization-target:not(:hover) {
                right:-40px !important;
                opacity: 0;
            }
            & #TabsToolbar-customization-target:hover {
                right:0px !important;
            }             
            & * {
                --uc-all-margins: 0px 0.2px 0px 0px !important;
            }
        }
    }
    #tabbrowser-tabs{
        transition: width 80ms linear 70ms !important;
        will-change: width !important;
    }
    #main-window[sizemode="fullscreen"] #browser {
        transition: margin-left 80ms linear 150ms !important;
        will-change: margin-left !important;
    }
    #main-window[sizemode="fullscreen"] #tabbrowser-tabs,
    #main-window[sizemode="fullscreen"] #browser {
        transition-delay: 0ms !important;
    }

    
    
    
    /* full screen tabs panel height correction */
    @media not (-moz-bool-pref: "ultima.tabs.vertical.hide") {      
      #main-window[sizemode="fullscreen"] #TabsToolbar-customization-target {
        @media (-moz-bool-pref: "ultima.xstyle.squared"), (-moz-bool-pref: "ultima.xstyle.squished") {
            left: -2px;
        }
      }
    }


    /* collapse tabs on small browser width */
    @media (max-width:850px){
        #main-window {
            --uc-vertical-tabs-width: var(--uc-collapsed-tabs-width) !important;
        }
        #tabbrowser-tabs {
            transition: width 80ms linear 70ms !important;
            will-change: width !important;
        }
        @media not (-moz-bool-pref: "ultima.tabs.vertical.rightside") {
            #main-window[sizemode="fullscreen"] #browser {
                transition: margin-left 80ms linear 150ms !important;
                will-change: margin-left !important;
            }
        }
        @media (-moz-bool-pref: "ultima.tabs.vertical.rightside") {
            #main-window[sizemode="fullscreen"] #browser {
                transition: margin-right 80ms linear 150ms !important;
                will-change: margin-right !important;
            }
        }   
        #tabbrowser-tabs, #browser{
            transition-delay: 0ms !important;
        }    
        #tabbrowser-tabs .tab-close-button, #tabbrowser-tabs .close-icon{
            padding: 0px !important; display: none !important; margin-inline-end: -3px !important;
        }
    }
}


/* hide tabs, except for private browsing ~ setting ----------------------------------------------*/

/* 
tabs.vertical.onlyprivate
hide vertical tabs ~ except for private windows
*/

@media (-moz-bool-pref: "ultima.tabs.vertical") {
    @media (-moz-bool-pref: "ultima.tabs.vertical.onlyprivate") {          
        /* adjust spacing, margins for everything */    
        :root:not([privatebrowsingmode="temporary"]):not([customizing],[chromehidden~="menubar"]) {
            --uc-vertical-tabs-width: 0px;
            --uc-vertical-tabs-width-revert: 0px;
            --uc-navbar-height: 40px;
            --uc-collapsed-tabs-width: 0px;
        }        
        :root:not([privatebrowsingmode="temporary"],[windowtype="Toolkit:PictureInPicture"]) *{
            --uc-all-margins: 0px 6px 6px 6px !important;
        }
        @media (-moz-bool-pref: "ultima.tabs.vertical.rightside") {
            :root:not([privatebrowsingmode="temporary"],[windowtype="Toolkit:PictureInPicture"]) *{
                --uc-all-margins: 0px 6px 6px 6px;
            }   
        } 
        /* POOF! tabs gone */    
        #main-window:not([customizing="true"],[privatebrowsingmode="temporary"]) #TabsToolbar-customization-target {
            visibility: collapse !important;
        }      
    }
}
  

/* vertical tabs on rightside ~ setting --------------------------------------------------------------------*/

/*
ultima.tabs.vertical.rightside
*/

@media (-moz-bool-pref: "ultima.tabs.vertical") {
  @media (-moz-bool-pref: "ultima.tabs.vertical.rightside") {
      :root, body, * {
          --uc-tabbar-height:
          calc(100vh - var(--uc-navbar-height) - var(--uc-margin-top) - var(--uc-margin-bottom));
          --uc-tabbar-height-adjust:
          calc(100vh - var(--uc-bookbar-height) - var(--uc-navbar-height) - var(--uc-margin-top) - var(--uc-margin-bottom));
          --uc-all-margins: 0px calc(var(--uc-vertical-tabs-width) + var(--uc-margin-inline) + var(--uc-margin-inline)) 6px 6px;     
          --uc-tab-margins: 0px 0px 7px 0px;
      }
      @media (-moz-bool-pref: "ultima.xstyle.squared"), (-moz-bool-pref: "ultima.xstyle.squished") {
          :root, body, * {
              --uc-all-margins: 0px calc(var(--uc-vertical-tabs-width) + var(--uc-margin-inline) + var(--uc-margin-inline)) 0px 0px !important;
          }
          #TabsToolbar-customization-target {
              right: 0px !important;
          }
      }
  }
}


/*tabs hidden ~ setting ------------------------------------------------------------------------*/


@media (-moz-bool-pref: "ultima.tabs.vertical") {
    @media (-moz-bool-pref: "ultima.tabs.vertical.hide") {
    
        /* adjust positioning for everything */    
        :root:not([customizing],[chromehidden~="menubar"]) {
            --uc-vertical-tabs-width: 0px;
            --uc-vertical-tabs-width-revert: 0px;
            --uc-navbar-height: 40px;
            --uc-collapsed-tabs-width: 0px;
        }        
        :root, body, * {
            --uc-all-margins: 0px 6px 6px 6px !important;
            --uc-tab-margins: 0px !important;
            --uc-sb-margin-leftside: 0px 6px 0px 0px;
            --uc-sb-margin-rightside: 0px 0px 0px 6px;
            #browser {
                margin: var(--uc-all-margins) !important;
                /*refresh*/
            }
        }        

        /* adjust browser content margins for no tabs */    
        #tab-notification-deck, .global-notificationbox {
            margin: calc(var(--uc-collapsed-tabs-width) + var(--uc-margin-inline)) !important; width: auto !important;
            margin-top: 0px !important; margin-bottom: 0px !important;
        }
    
        /* POOF! tabs gone */    
        #main-window:not([customizing="true"]) #TabsToolbar-customization-target {
            visibility: collapse !important;
        }        
        @media (-moz-bool-pref: "ultima.xstyle.squared"), (-moz-bool-pref: "ultima.xstyle.squished") {     
            :root, body, * {
                --uc-all-margins: 0px  !important;
                --uc-tab-margins: 0px !important;
                --uc-sb-margin-leftside: 0px;
                --uc-sb-margin-rightside: 0px;
                & #browser {
                    margin: var(--uc-all-margins) !important;
                    /*refresh*/
                }
            }                
        }
    }
}


/* tabs on top ~ setting -----------------------------------------------------------------------------------*/

@media not (-moz-bool-pref: "ultima.tabs.vertical") {

    /* baseline */
    :root, body, * {
        --uc-all-margins: 0 6px 6px 6px !important;
        --tab-min-height: 33px;
        --tab-min-width: initial !important;
        --tab-overflow-pinned-tabs-width: initial !important;
        --inline-tab-padding: 10px;
        --tab-block-margin: 2px;
    }
    @media (-moz-bool-pref: "ultima.xstyle.squared"), (-moz-bool-pref: "ultima.xstyle.squished") {:root, body, * {--uc-all-margins: 0 !important;} }
    #browser {margin:var(--uc-all-margins);}

    /* browser adjustments */
    #navigator-toolbox,
    #main-window:not([lwtheme]),
    #main-window:not([lwtheme]) body,
    #tabbrowser-tabpanels browser[type] {
        background-color: var(--uc-ultima-window) !important;
    }
    #tabbrowser-tabpanels browser[type] {
        padding-top:1px !important;
        outline: 3px solid var(--uc-ultima-window) !important;
    }
    #main-window[lwtheme] #tabbrowser-tabpanels browser[type] {
        padding-top:1px !important;
        outline: 3px solid var(--lwt-accent-color) !important;
    }
    #navigator-toolbox {
        z-index:9999 !important;
        border-bottom: 0px solid rgba(0,0,0,0) !important;
    }
    #browser,
    #appcontent,
    .browserStack,
    #tabbrowser-tabbox,
    #tabbrowser-tabpanels,
    .browserSidebarContainer {
        border-radius: 0 !important;
    }
    #titlebar {
      margin-inline: 6.5px !important;
    }

    /* menu bar */
    #toolbar-menubar[autohide="false"],
    #toolbar-menubar[autohide="true"]:not([inactive="true"]) {
        z-index:999 !important;
        position: fixed;
        left: calc(50vw - 500px) !important;
        top: 3px !important;
        min-height:38px !important;
        min-width: 700px !important;
        & #menubar-items {
            min-width: 1000px !important;
        }
    }
    
    /* tabs container adjustments */
    #main-window[lwtheme] #TabsToolbar-customization-target,
    #main-window:not([lwtheme]) #TabsToolbar-customization-target{        
        background: transparent !important;
        box-shadow: none !important;
    }
    #main-window[lwtheme] #TabsToolbar-customization-target {        
        background: transparent !important;
    }

    /* tabs (style) */
    #main-window:not([lwtheme]) .tabbrowser-tab[pinned] .tab-background,
    #main-window:not([lwtheme]) .tabbrowser-tab[selected] .tab-background {
        background-color: var(--uc-background-secondary) !important;
        box-shadow: 0.1rem 0.4rem 0.4rem -0.1rem rgba(25,25,25,0.7) !important;
    }

    /* bookmarks style */
    /* toolbarbuttons */
    /* navbar */
    /* insert more styles for the tabs on top layout here ⬆️ */    
}
