/* Positioning vertical tabs when ultima.tabs.vertical.rightside is enabled

------------------------------------------------------------------------------------------------------------*/

@media (-moz-bool-pref: "ultima.tabs.vertical.rightside") {

    :root, body, * {
        --uc-tabbar-height:
        calc(100vh - var(--uc-navbar-height) - var(--uc-margin-top) - var(--uc-margin-bottom));
        --uc-tabbar-height-adjust:
        calc(100vh - var(--uc-bookbar-height) - var(--uc-navbar-height) - var(--uc-margin-top) - var(--uc-margin-bottom));
        --uc-all-margins: 0px calc(var(--uc-vertical-tabs-width) + var(--uc-margin-inline) + var(--uc-margin-inline)) 6px 6px;     
        --uc-tab-margins: 0px 0px 7px 0px;
    }
    @media (-moz-bool-pref: "ultima.xstyle.squared") {
        :root, body, * {
            --uc-all-margins: 0px calc(var(--uc-vertical-tabs-width) + var(--uc-margin-inline) + var(--uc-margin-inline)) 0px 0px !important;
        }
        #TabsToolbar-customization-target {
            right: 0px !important;
        }
    }
    
}

