/*///////////////////////////////////////////////////////////////////////////////////////\

FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
File Desc:         Nav Bar & Top Bar Settings, Bookmark Settings are split between floating and non floating styles

nav bar autohide
tweak to allow urlbar to spring up with a bottom nav bar
nav bar hide buttons
bookmarks scrollable
bookmarks float
bookmarks centered
bookmarks autohide
update ready label
navbar text for icons
bookmarked/selected tab indicator
compact menu panels
blur content when viewing bookmarks panel
enable bookmark url editting (add bookmark menu)

\////////////////////////////////////////////////////////////////////////////////////////*/


/* nav bar autohide --------------------------------------------------------------------------------- */

@media -moz-pref("ultima.navbar.autohide") {
    #main-window:is([sizemode="normal"],[sizemode="maximized"]):not([customizing=""])  {
        /* quick adjustment for compact */
        @media not -moz-pref("ultima.spacing.compact") {#browser {margin-top:3px;}}
        /* absolute positioning */
        #navigator-toolbox {
            position: absolute !important;
            box-shadow: var(--uc-box-shadow) !important;
            left: 0;right: 0;
            @media not -moz-pref("ultima.navbar.position","bottom") {
                top: 0; bottom: unset;
                transition: top 0.2s ease 0.5ms !important;
            }
            @media -moz-pref("ultima.navbar.position","bottom") {
                top: unset; bottom: 0;
                transition: bottom 0.2s ease 0.5ms !important;
            }
            /* autohide */
            &:not(:hover) {
                @media not -moz-pref("ultima.navbar.position","bottom") {
                    top: calc(var(--uc-topbars-combined-height) - (var(--uc-topbars-combined-height) * 2) - 3px);
                    transition: top 0.3s ease 0.5s !important;
                }
                @media -moz-pref("ultima.navbar.position","bottom") {
                    bottom: calc(var(--uc-topbars-combined-height) - (var(--uc-topbars-combined-height) * 2) - 3px);
                    transition: bottom 0.3s ease 0.5s !important;
                }
            }
            /* we will append two hover zones */
            /* a hot zone in the middle, for easy entry */
            &::after {
                content:""; background:none; position:absolute;
                height:20px; border-radius:10px; text-align:center;
                left: 30%;right: 20%;
                @media not -moz-pref("ultima.navbar.position","bottom") {
                    top: var(--uc-topbars-combined-height);
                }
                @media -moz-pref("ultima.navbar.position","bottom") {
                    bottom: var(--uc-topbars-combined-height);
                }
            }
            /* a full width zone that doesn't get in the way of sidebars */
            &::before {
                content:""; background:none; position:absolute;
                left:0%;right:0%;
                height:12px;
                @media not -moz-pref("ultima.navbar.position","bottom") {
                    top:var(--uc-topbars-combined-height);
                }
                @media -moz-pref("ultima.navbar.position","bottom") {
                    bottom:var(--uc-topbars-combined-height);
                }
            }
        }   
        /* exceptions for menu interactions */
        &:has(#placesContext:hover),                            &:has(#appMenu-popup[panelopen="true"]),            &:has(#downloads-button-autohide-panel:hover),
        &:has(#appMenu-notification-popup[panelopen="true"]),   &:has(#unified-extensions-panel[panelopen="true"]), &:has(#widget-overflow[panelopen="true"]),
        &:has(#unified-extensions-context-menu:hover),          &:has(#notification-popup:hover),                   &:has(.bookmark-item[open="true"]),
        &:has(#blockedPopupOptions:hover),                      &:has(#toolbar-context-menu:hover),                 &:has(#backForwardMenu:hover), &:has(#customizationui-widget-panel[panelopen="true"]),
        &:has(#full-page-translations-panel[panelopen="true"]), &:has(panel[id*="_-panel"][panelopen="true"]),      &:has(#editBookmarkPanel[panelopen="true"]),
        &:has(#feature-callout[panelopen="true"]),              &:has(#notification-popup[panelopen="true"]),       &:has(#window-modal-dialog[open]),
        &:has(#pageActionPanel[panelopen="true"])
        {
            #navigator-toolbox {
                @media not -moz-pref("ultima.navbar.position","bottom") {top:0 !important;}
                @media -moz-pref("ultima.navbar.position","bottom") {bottom:0 !important;}
            }
        }
        @media not -moz-pref("ultima.navbar.autohide.ignore.urlbar") {
            &:has(#urlbar[focused=""][breakout-extend="true"]) {
                #navigator-toolbox {
                    @media not -moz-pref("ultima.navbar.position","bottom") {top:0 !important;}
                    @media -moz-pref("ultima.navbar.position","bottom") {bottom:0 !important;}
                }
            }
            #urlbar[breakout-extend="true"] {
                @media not -moz-pref("ultima.navbar.position","bottom") {top:0 !important;}
                @media -moz-pref("ultima.navbar.position","bottom") {bottom:0 !important;}
            }
        }
    }
}

@media -moz-pref("ultima.navbar.float"), -moz-pref("ultima.navbar.float.fullsize") {
    #main-window:is([sizemode="normal"],[sizemode="maximized"]):not([customizing=""])  {
        /* quick adjustment for compact */
        @media not -moz-pref("ultima.spacing.compact") {#browser {margin-top:3px;}}
        /* absolute positioning */
        #navigator-toolbox {
            position: absolute !important;
            border-radius: 18px !important;
            z-index: 99999999999 !important;
            box-shadow: var(--uc-box-shadow) !important;
            padding: 4px !important;
            height: calc(var(--uc-topbars-combined-height) + 10px) !important;
            left: 20%; right: 20%;
            @media (max-width: 1250px) {left: 1.5%; right: 1.5%;}
            @media -moz-pref("ultima.navbar.float.fullsize") {left: 12px; right: 12px;}
            & #nav-bar {
                border-radius: 18px !important;
            }
            @media not -moz-pref("ultima.navbar.position","bottom") {
                top: 14px; bottom: unset;
                transition: top 0.06s ease 0.5ms !important;
            }
            @media -moz-pref("ultima.navbar.position","bottom") {
                top: unset; bottom: 14px;
                transition: top 0.06s ease 0.5ms !important;
            }
            /* autohide */
            &:not(:hover) {
                @media not -moz-pref("ultima.navbar.position","bottom") {
                    top: calc(var(--uc-topbars-combined-height) - (var(--uc-topbars-combined-height) * 2) - 10px);
                    transition: top 0.3s ease 0.5s !important;
                }
                @media -moz-pref("ultima.navbar.position","bottom") {
                    bottom: calc(var(--uc-topbars-combined-height) - (var(--uc-topbars-combined-height) * 2) - 10px);
                    transition: bottom 0.3s ease 0.5s !important;
                }
            }
            /* we will append two hover zones */
            /* a hot zone in the middle, for easy entry */
            &::after {
                content:""; background:none; position:absolute;
                left:0 ;right:0; height:30px; text-align:center;
                @media not -moz-pref("ultima.navbar.position","bottom") {
                    top: var(--uc-topbars-combined-height);
                }
                @media -moz-pref("ultima.navbar.position","bottom") {
                    bottom: var(--uc-topbars-combined-height);
                }
            }
            /* a full width zone that doesn't get in the way of sidebars */
            &::before {
                content:"";background:none;position:absolute;
                left:0%;right:0%;; height:18px;
                @media not -moz-pref("ultima.navbar.position","bottom") {
                    top: -15px;
                }
                @media -moz-pref("ultima.navbar.position","bottom") {
                    bottom: -15px;
                }
            }
        }   
        /* exceptions for menu interactions */
        &:has(#placesContext:hover),                            &:has(#appMenu-popup[panelopen="true"]),            &:has(#downloads-button-autohide-panel:hover),
        &:has(#appMenu-notification-popup[panelopen="true"]),   &:has(#unified-extensions-panel[panelopen="true"]), &:has(#widget-overflow[panelopen="true"]),
        &:has(#unified-extensions-context-menu:hover),          &:has(#notification-popup:hover),                   &:has(.bookmark-item[open="true"]), &:has(#tabContextMenu:hover),
        &:has(#blockedPopupOptions:hover),                      &:has(#toolbar-context-menu:hover),                 &:has(#backForwardMenu:hover), &:has(#customizationui-widget-panel[panelopen="true"]),
        &:has(#full-page-translations-panel[panelopen="true"]), &:has(panel[id*="_-panel"][panelopen="true"]),      &:has(#editBookmarkPanel[panelopen="true"]),
        &:has(#feature-callout[panelopen="true"]),              &:has(#notification-popup[panelopen="true"]),       &:has(#window-modal-dialog[open]),
        &:has(#pageActionPanel[panelopen="true"])
        {
            #navigator-toolbox {
                @media not -moz-pref("ultima.navbar.position","bottom") {top: 14px !important;}
                @media -moz-pref("ultima.navbar.position","bottom") {bottom: 14px !important;}
            }
        }
        @media not -moz-pref("ultima.navbar.autohide.ignore.urlbar") {
            &:has(#urlbar[focused=""][breakout-extend="true"])
            {
                #navigator-toolbox {
                    @media not -moz-pref("ultima.navbar.position","bottom") {top: 0 !important;}
                    @media -moz-pref("ultima.navbar.position","bottom") {bottom: 16px !important;}
                }
            }
            #urlbar[breakout-extend="true"] {
                @media not -moz-pref("ultima.navbar.position","bottom") {top: 14px !important;}
                @media -moz-pref("ultima.navbar.position","bottom") {bottom: 14px !important;}
            }
        }
    }
}

/* tweak to allow urlbar to spring up with a bottom nav bar ------------------------------------------- */

@media (-moz-pref("ultima.navbar.autohide")) or (-moz-pref("ultima.navbar.float")) or (-moz-pref("ultima.navbar.float.fullsize")) {
    @media -moz-pref("ultima.navbar.position","bottom") {
        @media not -moz-pref("ultima.urlbar.float") {
            #urlbar {
                &[open] {
                }
                &[breakout-extend] {
                    top: unset !important;
                    bottom: 24px !important; /* this does nothing, perhaps use margin */
                    margin-bottom: 36px !important;
                }
            }
        }
    }
}

/* nav bar hide buttons (off hover)  ---------------------------------------------------------------- */

@media -moz-pref("ultima.navbar.hide.buttons") {
    @media not -moz-pref("ultima.navbar.float") { 
        @media not -moz-pref("ultima.navbar.float.fullsize") {
            #nav-bar:not(:focus-within, :hover) toolbarbutton:not(.titlebar-button, #customizationui-widget-panel *) {
                opacity:0 !important;
                transition:opacity ease 2s 2s;
            }
            :root:has(#appMenu-popup[panelopen="true"]) #PanelUI-menu-button,
            :root:has(#unified-extensions-panel[panelopen="true"]) #unified-extensions-button,
            :root:has(#downloadsPanel[panelopen="true"]) #downloads-button,
            :root:has(#customizationui-widget-panel[panelopen="true"]) #alltabs-button,
            #nav-bar:not(:focus-within):not(:hover) #downloads-button[progress="true"],
            #nav-bar:not(:focus-within):not(:hover) #urlbar-searchmode-switcher[open] {
                opacity: 1 !important;
            }
        }
    }
}

/* bookmarks scrollable ----------------------------------------------------------------------------- */
/*
    When the Browser Window reaches a small enough width, or amount of Bookmarks overlap the browser width,overlapping bookmark items are:
        1. set as hidden.
        2. duplicated into the overflow menu.
    This style simply does the following...
        1. enabling scrolling on the toolbar
        2. restoring visibility of hidden bookmarks.
*/
@media -moz-pref("ultima.navbar.bookmarks.scrollable") {
    #PlacesToolbarItems {
        overflow-x: auto !important;
    }
    .bookmark-item {
        visibility: initial !important
    }
    #PlacesToolbar #PlacesChevron {
        visibility: collapse !important;
    }
    #PlacesToolbarItems {
        scrollbar-width: thin !important;
    }
    #PersonalToolbar:not(:has(#PlacesToolbarItems)) {
        overflow-x: auto !important;
    }
}

/* bookmarks float ---------------------------------------------------------------------------------- */

@media -moz-pref("ultima.navbar.bookmarks.float") {
    @media not -moz-pref("ultima.navbar.float") {
        @media not -moz-pref("ultima.navbar.float.fullsize") {
            :root {--uc-bookbar-height:0px !important;}
            #main-window, #main-window:not([lwtheme]) {
                /* floating setup */
                & #PersonalToolbar {
                    z-index: 1 !important;
                    background: var(--uc-browser-color) !important;
                    border-radius: calc(var(--uc-button-border) + 8px) !important;
                    box-shadow: var(--uc-box-shadow) !important;
                    padding:0 !important;
                    position:fixed !important;
                    top: calc(var(--uc-topbars-combined-height) + 5px) !important;
                    @media not -moz-pref("sidebar.VerticalTabs"){
                        top: calc(var(--uc-topbars-combined-height) + 10px) !important;
                    }
                    /*
                    @media not -moz-pref("ultima.navbar.bookmarks.centered") {
                        @media not -moz-pref("ultima.navbar.bookmarks.float.right") {
                            left: 5px !important; top: 1px !important; z-index:999999 !important;
                        }
                    }*/
    /*                 left: 245px !important; */
                    left: 55px !important;
                    width: 800px !important; height: 40px !important;
                    @media -moz-pref("ultima.navbar.bookmarks.position","right") {
                        left: unset !important; transform: translateX(0) !important;
                        right: 17px !important;
                    }
                }
                &:has(#tabbrowser-tabs[orient="horizontal"]) #PersonalToolbar {
                    width: fit-content !important;
                    max-width: calc(100vw - 34px) !important;
                }
            }
            #main-window[lwtheme] { & #PersonalToolbar{ background: var(--lwt-accent-color) !important;} }
        }
    }
}
/* bookmarks centered ------------------------------------------------------------------------------- */

/* can be simplified if using the new bool approach */

@media -moz-pref("ultima.navbar.bookmarks.position","center") { 
    @media not -moz-pref("ultima.navbar.bookmarks.float") { 
        @media not -moz-pref("ultima.navbar.float") {
            @media not -moz-pref("ultima.navbar.float.fullsize") {
                #main-window, #main-window:not([lwtheme]) {
                    #PlacesToolbarItems {
                        @media only screen and (min-width: 1000px) {justify-content: center !important;}
                    }
                }
            }
        }
    }
}
@media -moz-pref("ultima.navbar.bookmarks.position","center") { 
    @media not -moz-pref("ultima.navbar.bookmarks.float") { 
        @media not -moz-pref("ultima.navbar.bookmarks.position","right") { 
            @media not -moz-pref("ultima.navbar.float") {
                @media not -moz-pref("ultima.navbar.float.fullsize") {
                    #main-window, #main-window:not([lwtheme]) {
                        #PlacesToolbarItems {
                            @media only screen and (min-width: 1000px) {justify-content: center !important;}
                        }
                    }
                }
            }
        }
    }
}
@media -moz-pref("ultima.navbar.bookmarks.position","center") { 
    @media -moz-pref("ultima.navbar.bookmarks.float") { 
        @media not -moz-pref("ultima.navbar.bookmarks.position","right") { 
            @media not -moz-pref("ultima.navbar.float") {
                @media not -moz-pref("ultima.navbar.float.fullsize") {
                     #main-window, #main-window:not([lwtheme]) {
                        #PersonalToolbar {
                            left:50vw !important; transform: translateX(-50%);
                        }
                    }
                }
            }
        }
    }
}
#personal-toolbar-empty {
    width: 5px !important;
}


/* bookmarks autohide ------------------------------------------------------------------------------- */

@media -moz-pref("ultima.navbar.bookmarks.autohide") { @media not -moz-pref("ultima.navbar.bookmarks.float") {  @media not -moz-pref("ultima.navbar.autohide") {
    :root:has(#navigator-toolbox:hover) {
        #navigator-toolbox {transition: max-height, height, 0.5s ease !important;}
        #PersonalToolbar {transition: max-height, height, 0.1s ease;}
    }
    :root:has(#PersonalToolbar[collapsed="false"]):not(:has(#navigator-toolbox:hover)):has(#placesContext:not(:hover)):not(:has(.bookmark-item[open])),
    :root:has(#PersonalToolbar:not([collapsed])):not(:has(#navigator-toolbox:hover)):has(#placesContext:not(:hover)):not(:has(.bookmark-item[open])) {
        &#main-window:not([inFullscreen="true"]) {
            /* hide --uc-bookbar-height:1px !important;*/
            --uc-bookbar-height:0px !important;
            #navigator-toolbox {transition: max-height, height, 0.9s ease 0.9s !important;}
            #PersonalToolbar {transition: max-height, height, 0.3s ease 0.9s !important;}

            /* visibility */
            #PlacesToolbarItems {
                /* default */
                overflow:visible !important;
                opacity: 1 !important;
                transition: opacity 0.3s ease-out;
                /* display */
                &:hover {
                    opacity: 1 !important;
                    transition: opacity 0.2s ease-in;
                }
            }
        }
    }
}}}
@media -moz-pref("ultima.navbar.bookmarks.autohide") { @media -moz-pref("ultima.navbar.bookmarks.float") {
    #main-window, #main-window:not([lwtheme]) {
        /* initial setup */
        & #PersonalToolbar {
            overflow:visible !important;
            :root[sessionrestored] &:not(.instant) {transition: height ease 0.1s, opacity ease 0.3s !important;}
            /* edge detection */
            &::after {
                content: "";background-color:none;position: absolute;
                z-index: 998;top: -10px; right: 0; width: 100%;height: 10px;
            }
            /* autohiding */
            &:not(:hover):not(:has([open])) {
                transition: height ease 0.9s, opacity ease 0.8s !important;
                height: 5px !important; opacity: 0 !important;
            }
            &:hover {opacity: 1 !important;}
        }
    }
}}



/* bookmarks compact -------------------------------------------------------------------------------- */

@media -moz-pref("ultima.navbar.bookmarks.compact") { @media not -moz-pref("ultima.navbar.bookmarks.float") {
    #main-window, #main-window:not([lwtheme]) {
        --uc-bookbar-height:20px !important;
        & .bookmark-item {
            margin-inline: 0 !important;
            &:hover {
                cursor:pointer;
            }
        }
    }
}}

@media -moz-pref("ultima.navbar.bookmarks.compact") { @media -moz-pref("ultima.navbar.bookmarks.float") {
    #main-window, #main-window:not([lwtheme]) {
        & #PersonalToolbar {
            /*height:30px !important;*/
            height:36px !important;
            width:200px !important;
        }
    }
}}

/* bookmarks hide icons ----------------------------------------------------------------------------- */

@media -moz-pref("ultima.navbar.bookmarks.hide.icons") {
    .bookmark-item {
        letter-spacing: 0.03rem !important;
        font-weight: 600 !important;
        text-transform: lowercase;
        & .toolbarbutton-icon {
            visibility: collapse !important;
        }
    }
}

/* update ready label ------------------------------------------------------------------------------- */

@media -moz-pref("ultima.navbar.update.ready.label") {
    #PanelUI-menu-button[badge-status="update-restart"] .toolbarbutton-text {
        display: flex !important;
    }
    #PanelUI-menu-button[badge-status="update-restart"] .toolbarbutton-text::before {
        content:"update ready";
        text-transform: uppercase;
    }
}

/* navbar text for icons ---------------------------------------------------------------------------- */
/* to replaces toolbar icons with their text labels */

@media -moz-pref("ultima.navbar.text.for.icons") {
    #nav-bar toolbaritem[class="toolbarbutton-1"], #nav-bar toolbarbutton {
        &:not(#nav-bar-overflow-button, #zoom-in-button, #zoom-out-button, .titlebar-buttonbox-container *, #urlbar *) {
            .toolbarbutton-icon, .toolbarbutton-badge, image {
                display: none !important;
            }
            .toolbarbutton-badge-stack {
                padding: 0 !important;
            }
            .toolbarbutton-text {
                display: flex;
                text-transform: uppercase;
            }
        }
    }
}

/* bookmarked/selected tab indicator ---------------------------------------------------------------- */

@media -moz-pref("ultima.navbar.bookmarks.tab.indicator") {
    :root:has(#star-button[starred]) {
        browser[type="content"] {
            border: 2px var(--uc-accent-color-1) solid !important;
            @media -moz-pref("ultima.spacing.compact") {
                border-left-width: 5px !important;
                /*should probably seperate border left and right for vertical tab layouts
                but this layout seems to be heading into too many adjustments needed for different settings
                maybe a different indicator style is needed*/
            }
        }
    }
}

/* compact menu panels ------------------------------------------------------------------------------ */

@media -moz-pref("ultima.spacing.compact.menupanel") {
    .subview-subheader, panelview .toolbarbutton-1, .subviewbutton, .widget-overflow-list .toolbarbutton-1 {
        --arrowpanel-menuitem-padding: 4px 8px;
    }
    #tabgroup-preview-panel {
        --panel-padding: 0 !important;
        --menuitem-margin: 0 !important;
    }
}

/* blur content when viewing bookmarks panel -------------------------------------------------------- */

/* Made in the same style as ultima.urlbar.focus.blur from chrome/theme/settings-urlbar.css,
mostly to preserve and re-use the ::before element used by the original setting */

@media -moz-pref("ultima.navbar.bookmarks.focus.blur") {
    #tabbrowser-tabpanels::before {
        content: "";
        backdrop-filter: blur(25px);
        background-color:rgba(1,1,1,0.1);

        z-index: 999;
        display: flex;
        position: fixed;
        top: 0; bottom: 0; left: 0; right: 0;

        border-radius: 10px;
        margin: var(--uc-content-margins);

        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s linear;
    }
    #main-window:has(.bookmark-item[open]) {
        #tabbrowser-tabpanels::before {
            opacity: 1;
        }
        browser[type] {
            backdrop-filter: blur(25px);
        }
    }
}

/* enable bookmark url editting (add bookmark menu) ------------------------------------------------- */

/* Enable option to edit bookmark URLs under Add Bookmark (blue star) menu */
.editBMPanel_locationRow {
    display: initial !important;
}