/*///////////////////////////////////////////////////////////////////////////////////////\

FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
File Desc:         Nav Bar & Top Bar Settings, Bookmark Settings are split between floating and non floating styles

nav bar autohide
nav bar hide buttons
bookmarks scrollable
bookmarks float
bookmarks centered
bookmarks autohide

\////////////////////////////////////////////////////////////////////////////////////////*/


/* nav bar autohide --------------------------------------------------------------------------------- */

@media -moz-pref("ultima.navbar.autohide") {
    #main-window:is([sizemode="normal"],[sizemode="maximized"]) {
        #sidebar-main {--uc-topbars-combined-height: 2px !important;}
        @media -moz-pref("sidebar.verticalTabs") {
            #nav-bar {padding-left:42px !important;}
            #PersonalToolbar {padding-left: 54px !important;}
            #toolbar-menubar {padding-left: 54px !important;}
        }
        #navigator-toolbox:not(:hover) {
            --uc-topbars-combined-height: 2px !important;
            transform-origin: top !important;
            transform: rotateX(82deg) !important;
            @media (-moz-platform: windows) {transform: rotateX(75deg) !important;}
            transition: height 0.3s ease !important;
        }
        #navigator-toolbox:not(:hover) #urlbar:not(:hover):not([breakout-extend]) {
            transform-origin: top !important;
            transform: rotateX(92deg) !important;
            transition: transform 0.3s ease !important;
            opacity:0;
        }
        #urlbar[breakout] {
            & > .urlbar-input-container {
                height: 100% !important;
            }
        }
        #navigator-toolbox:not(:hover) { #toolbar-menubar, #TabsToolbar, #PersonalToolbar {
            opacity: 0 !important;
        }}
        #navigator-toolbox:not(:hover) { .titlebar-buttonbox-container, #PanelUI-button, #nav-bar-customization-target *:not(#urlbar-container *) {
            opacity:0 !important;
        }}
        :root:not([sessionrestored]) #navigator-toolbox {
            transform:none !important;
        }
    }
}

/* nav bar hide buttons (off hover)  ---------------------------------------------------------------- */

@media -moz-pref("ultima.navbar.hidebuttons") {
    #nav-bar:not(:focus-within):not(:hover) toolbarbutton:not(.titlebar-button) {
        opacity:0 !important;
        transition:opacity ease 2s;
    }
    :root:has(#appMenu-popup[panelopen="true"]) #PanelUI-menu-button,
    :root:has(#unified-extensions-panel[panelopen="true"]) #unified-extensions-button,
    :root:has(#downloadsPanel[panelopen="true"]) #downloads-button,
    #nav-bar:not(:focus-within):not(:hover) #downloads-button[progress="true"],
    #nav-bar:not(:focus-within):not(:hover) #urlbar-searchmode-switcher[open] {
        opacity: 1 !important;
    }
}

/* bookmarks scrollable ----------------------------------------------------------------------------- */
/*
    When the Browser Window reaches a small enough width, or amount of Bookmarks overlap the browser width,overlapping bookmark items are:
        1. set as hidden.
        2. duplicated into the overflow menu.
    This style simply does the following...
        1. enabling scrolling on the toolbar
        2. restoring visibility of hidden bookmarks.
*/
@media -moz-pref("ultima.navbar.bookmarks.scrollable") {
    #PlacesToolbarItems {
        overflow-x: auto !important;
    }
    .bookmark-item {
        visibility: initial !important
    }
    #PlacesToolbar #PlacesChevron {
        visibility: collapse !important;
    }
    #PlacesToolbarItems {
        scrollbar-width: thin !important;
    }
    #PersonalToolbar:not(:has(#PlacesToolbarItems)) {
        overflow-x: auto !important;
    }
}

/* bookmarks float ---------------------------------------------------------------------------------- */

@media -moz-pref("ultima.navbar.bookmarks.float") {

    :root {--uc-bookbar-height:0px !important;}
    #main-window, #main-window:not([lwtheme]) {
        /* floating setup */
        & #PersonalToolbar {
            z-index: 1 !important;
            background: var(--uc-browser-color) !important;
            border-radius: calc(var(--uc-button-border) + 8px) !important;
            box-shadow: var(--uc-box-shadow) !important;
            padding:0 !important;
            position:fixed !important;
            top: calc(var(--uc-topbars-combined-height) + 5px) !important;
            @media not -moz-pref("sidebar.VerticalTabs"){
                top: calc(var(--uc-topbars-combined-height) + 10px) !important;
            }
            /*
            @media not -moz-pref("ultima.navbar.bookmarks.centered") {
                @media not -moz-pref("ultima.navbar.bookmarks.float.right") {
                    left: 5px !important; top: 1px !important; z-index:999999 !important;
                }
            }*/
            left: 245px !important;
            width: 600px !important; height: 40px !important;
            @media -moz-pref("ultima.navbar.bookmarks.float.right") {
                left: unset !important; transform: translateX(0) !important;
                right: 17px !important;
            }
        }
    }
    #main-window[lwtheme] { & #PersonalToolbar{ background: var(--lwt-accent-color) !important;} }
}

/* bookmarks centered ------------------------------------------------------------------------------- */

@media -moz-pref("ultima.navbar.bookmarks.centered") { @media not -moz-pref("ultima.navbar.bookmarks.float") {
    #main-window, #main-window:not([lwtheme]) {
        #PlacesToolbarItems {
            @media only screen and (min-width: 1000px) {justify-content: center !important;}
        }
    }
}}
@media -moz-pref("ultima.navbar.bookmarks.centered") { @media not -moz-pref("ultima.navbar.bookmarks.float") { @media not -moz-pref("ultima.navbar.bookmarks.float.right") {
    #main-window, #main-window:not([lwtheme]) {
        #PlacesToolbarItems {
            @media only screen and (min-width: 1000px) {justify-content: center !important;}
        }
    }
}}}
@media -moz-pref("ultima.navbar.bookmarks.centered") { @media -moz-pref("ultima.navbar.bookmarks.float") { @media not -moz-pref("ultima.navbar.bookmarks.float.right") {
     #main-window, #main-window:not([lwtheme]) {
        #PersonalToolbar {
            left:50vw !important; transform: translateX(-50%);
        }
    }
}}}
#personal-toolbar-empty {
    width: 5px !important;
}

/* bookmarks autohide ------------------------------------------------------------------------------- */

@media -moz-pref("ultima.navbar.bookmarks.autohide") { @media not -moz-pref("ultima.navbar.bookmarks.float") {
    :root:has(#PersonalToolbar[collapsed="false"]):not(:has(#navigator-toolbox:hover)):has(#placesContext:not(:hover)) {
        &#main-window:not([inFullscreen="true"]) {
            /* hide --uc-bookbar-height:1px !important;*/
            --uc-bookbar-height:0px !important;
            /* visibility */
            #PlacesToolbarItems {
                /* default */
                overflow:visible !important;
                opacity: 1 !important;
                transition: opacity 0.3s ease-out;
                /* display */
                &:hover {
                    opacity: 1 !important;
                    transition: opacity 0.2s ease-in;
                }
            }
        }
    }
}}
@media -moz-pref("ultima.navbar.bookmarks.autohide") { @media -moz-pref("ultima.navbar.bookmarks.float") {
    #main-window, #main-window:not([lwtheme]) {
        /* initial setup */
        & #PersonalToolbar {
            overflow:visible !important;
            transition: height ease 0.1s, opacity ease 0.3s;
            /* edge detection */
            &::after {
                content: "";background-color:none;position: absolute;
                z-index: 998;top: -10px; right: 0; width: 100%;height: 10px;
            }
            /* autohiding */
            &:not(:hover) {
                transition: height ease 0.9s, opacity ease 0.8s;
                height: 5px !important; opacity: 0 !important;
            }
            &:hover {opacity: 1 !important;}
        }
    }
}}

/* bookmarks compact -------------------------------------------------------------------------------- */

@media -moz-pref("ultima.navbar.bookmarks.compact") { @media not -moz-pref("ultima.navbar.bookmarks.float") {
    #main-window, #main-window:not([lwtheme]) {
        --uc-bookbar-height:20px !important;
        & .bookmark-item {
            margin-inline: 0 !important;
            &:hover {
                cursor:pointer;
                transform: scale(0.95);
            }
        }
    }
}}

@media -moz-pref("ultima.navbar.bookmarks.compact") { @media -moz-pref("ultima.navbar.bookmarks.float") {
    #main-window, #main-window:not([lwtheme]) {
        & #PersonalToolbar {
            /*height:30px !important;*/
            height:36px !important;
            width:200px !important;
        }
    }
}}
