/*///////////////////////////////////////////////////////////////////////////////////////\

FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
File Desc:         Alternative Styles for the Find Bar

findbar on top

\////////////////////////////////////////////////////////////////////////////////////////*/

/* findbar on top ------------------------------------------------------------ */
/*by he (https://github.com/he23251) */

@media -moz-pref("ultima.findbar.position.top") {
    /* Show searchbox at the top */
    .browserContainer > findbar {
        order: -1;
        margin-top: 10px;
    }

    /* Limit the searchbox width */
    .browserContainer > findbar .findbar-textbox {
        max-width: 200px;
    }

    /* Improve searchbox visibility and look */
    .found-matches {
        border-radius: var(--toolbarbutton-border-radius) !important;
        border: solid 2px var(--uc-accent-color-2) !important;
        background-color: var(--uc-accent-color-2) !important;
        @media (prefers-color-scheme: light) {
            background-color: color-mix(in srgb,  var(--uc-accent-color-2) 30%, transparent) !important;
            border: solid 2px color-mix(in srgb,  var(--uc-accent-color-2) 30%, transparent) !important;
        }
        padding-right: 10px !important;
        padding-left: 10px !important;
        line-height: 1.7 !important;
        font-weight: 600 !important;
    }
}

/* --------------------------------------------------------------------------- */

/* findbar on top ------------------------------------------------------------ */
/* findbar on top ------------------------------------------------------------ */

@media -moz-pref("ultima.findbar.disable.background.image") {
    #main-window[lwtheme] {
        & findbar {
            background-color: var(--lwt-accent-color) !important;
            background-image: none !important;
        }
        & .findbar-container {
            background: transparent !important;
        }
    }
}

/* --------------------------------------------------------------------------- */

