/*///////////////////////////////////////////////////////////////////////////////////////\

FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
File Desc:         Context Menu Settings

custom spacing
icon visibility
restore unload tab option
remove excess options


\////////////////////////////////////////////////////////////////////////////////////////*/

/* custom spacing -------------------------------------------------- */

@media -moz-pref("ultima.spacing.compact.contextmenu") {
    menupopup, menuitem {
        --menuitem-padding: .15em .3em !important;
    }
    menupopup {
        & .menu-text {
            width: fit-content !important;
            padding: 1px !important;
        }
        & menu::after, & .menu-accel {
            padding: 0px !important;
            margin-inline: 0px !important;
            transform: scale(0.6);
        }
    }
}
@media -moz-pref("ultima.spacing.relaxed.contextmenu") {
    menupopup, menuitem {
        --menuitem-padding: .55em .7em !important;
    }
}

/* icon visibility ------------------------------------------------- */

/* hide context menu icons (except for top navigation) */
@media -moz-pref("ultima.contextmenu.no.icons") {
    #contentAreaContextMenu, #tabContextMenu {
        .menu-icon:not(menugroup *) {
            visibility: collapse !important;
        }
    }
}
/* hide all context menu icons */
@media -moz-pref("ultima.contextmenu.no.navigation.icons") {
    #contentAreaContextMenu, #tabContextMenu {
        .menu-icon, #context-sep-navigation {
            visibility: collapse !important;
        }
    }
}

/* restore unload tab option --------------------------------------- */

#context_unloadTab {
  display: initial !important;
}


/* remove excess options ------------------------------------------- */

@media -moz-pref("ultima.contextmenu.reduce.options") {
    #context-sep-screenshots,
    #context-sendimage,
    #context-sep-setbackground,
    #context-openlinkinusercontext-menu,
    #context-viewsource,
    
    #toolbar-context-selectAllTabs,
    #toolbar-context-bookmarkSelectedTab,
    
    #context_selectAllTabs,
    #context_closeTabOptions,
    
    #tabContextMenu #context_duplicateTab,         
    #tabContextMenu #context_duplicateTabs,
    #tabContextMenu #context_bookmarkSelectedTabs,
    #context_openANewTab[data-l10n-id="tab-context-new-tab-open-vertical"]
    {
        display: none !important;
    }
    /* #context_undoCloseTab {order: -2;}
    #context_unloadTab {order: -1;}
    #context_pinTab {order: -3;} */
    #context-sendimage,
    #context-openlinkinusercontext-menu {
        display: none !important;
    }
    #tabContextMenu #context_bookmarkSelectedTabs,
    #context_openANewTab[data-l10n-id="tab-context-new-tab-open-vertical"] {
        display: none !important;
    }
}

/* hide seperators ------------------------------------------------ */

@media -moz-pref("ultima.contextmenu.hide.separators") {
    #appMenu-popup {
        toolbarseparator {display: none;}
    }
    #unified-extensions-view #unified-extensions-area {
        border-bottom: none !important;
    }
    #contentAreaContextMenu,
    #tabContextMenu,
    #toolbar-context-menu,
    #placesContext {
        menuseparator { display: none; }
    }
}