/*///////////////////////////////////////////////////////////////////////////////////////\

FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
File Desc:         Sidebar & Sidebery Settings

note: sidebar  -  refers to all sidebars  (including sidebery) (not vertical tabs)
note: sidebery -  refers to only sidebery (not other sidebars) (not vertical tabs)

sidebar hide new header
sidebar Seperator
sidebery expand on in-active windows
sidebar splitter visibility
autohide sidebery
adjustment for Sidebery only setups
autohide all sidebars
adjustments for disabled vertical tab bar
adjustments for accessible splitter

\////////////////////////////////////////////////////////////////////////////////////////*/


/* sidebar hide new header -------------------------------------------------------------------------- */

@media -moz-pref("ultima.sidebar.hide.header") {
    #sidebar-panel-header {
      display: none !important;
    }
}

/* sidebar Seperator --------------------------------------------------------------------*/

@media -moz-pref("ultima.sidebar.seperator") {
    /*vert tabs left, sidebar right*/
    #sidebar-box[checked="true"]:not([sidebar-positionend]) {
        order:7 !important;
        margin-right:5px !important;
        @media -moz-pref("ultima.spacing.compact") {
            margin-right:0px !important;
        }
    }
    @media (-moz-pref("ultima.tabs.tabbar.autohide")) or (-moz-pref("ultima.tabs.tabbar.disabled")) {
        @media -moz-pref("sidebar.verticalTabs") {
            #main-window:not([sidebar-expand-on-hover=""]) {
                #sidebar-main[sidebar-positionend=""] {
                    left: 0 !important; right: unset !important;
                }
                #sidebar-main:not([sidebar-positionend=""]) {
                    left: unset !important; right: 0 !important;
                }
            }
        }
    }
    #main-window:has(#sidebar-box[checked="true"]:not([sidebar-positionend])) #tabbrowser-tabbox {
        margin-left:-5px !important;
        @media -moz-pref("ultima.spacing.compact") {
            margin-left:0px !important;
        }
    }
    #main-window:has(#sidebar-box[checked="true"]:not([sidebar-positionend])) #sidebar-splitter {
        order:6 !important;
    }
    /*vert tabs right, sidebar left*/
    #sidebar-box[checked="true"][sidebar-positionend] {
        order:1 !important;
        margin-left:5px !important;
        @media -moz-pref("ultima.spacing.compact") {
            margin-left:0px !important;
        }
    }
    #main-window:has(#sidebar-box[sidebar-positionend]) #tabbrowser-tabbox {
        margin-right:-9px !important;
        margin-left:5px !important;
        @media -moz-pref("ultima.spacing.compact") {
            margin-left:0px !important;
            margin-right:0px !important;
        }
    }
    #main-window:has(#sidebar-box[checked="true"][sidebar-positionend]) #sidebar-splitter {
        order:1 !important;
    }
}

/* sidebery expand on inactive windows -------------------------------------------------------------- */

@media -moz-pref("ultima.sidebery.expandon.inactive.windows") {
    #sidebar-box:-moz-window-inactive:not(:hover) {
        max-width: unset !important;
    }
}


/* sidebar splitter visibility ---------------------------------------------------------------------- */

/* since ffu 3.0 & the removal of previous handling of sidebar splitters,
the default resizeable bars are just way too small & hard to trigger on hover...
but the removal of previous handling (which made them thicker through 2.5px padding) introduced issues...
browser content shifting to the side by 2.5px. sidebars shifting to the side when hovering screen edge...
due to the new handling (visual changes) the splitter will behave like default behavior, and with autohide...
it will remained fixed to the left or right of the sidebar (except for vertical tabs - default behavior).....
with a visual indicator to slightly improve accessibility.
*/

:root:has(#sidebar-box[checked]) {
    :has(#sidebar-box:not([sidebar-positionend])) {
        #sidebar-splitter {
            position: fixed; left:5px; height:85vh !important;
        }
        :has(#sidebar-splitter:hover) #sidebar-box::after {
            content:"";
            position: fixed; display: flex;  z-index: 99999;
            top: 45vh; right: 10px;
            height: 36px; width: 36px;
            background: url("icons/splitter.gif") center center no-repeat;
            background-size: contain;
            background-color: var(--uc-accent-color-2);
            border-radius:100%;
            transition: opacity ease-in-out 1s, background-color ease 1s;
        }
    }
    :has(#sidebar-box[sidebar-positionend]) {
        #sidebar-splitter {
            position: fixed; right:5px; height:85vh !important;
        }
        :has(#sidebar-splitter:hover) #sidebar-box::after {
            content:"";
            position: fixed; display: flex;  z-index: 99999;
            top: 45vh; left: 10px;
            height: 36px; width: 36px;
            background: url("icons/splitter-r.gif") center center no-repeat;
            background-size: contain;
            background-color: var(--uc-accent-color-2);
            border-radius:100%;
            transition: opacity ease-in-out 1s, background-color ease 1s;
        }
    }
}


/* autohide sidebery ---------------------------------------------------------------------------------*/

@media -moz-pref("ultima.sidebery.autohide") {
    /* this method allows the sidebar-splitter (resizeable bar) to be used to resize the expanded sidebar width */
    #sidebar-box, #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
        will-change: max-width !important;
    }    
    #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover {
        /* animation when expanding (speed, delay) */
        transition: max-width 0.2s linear 0s !important;
    }
    #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not(:hover) {
        /* animation when collapsing (speed, delay) */
        transition: max-width 0.2s linear 0s !important;
    }
    /* positioning, collapsed width, minimum & maximums */
    /* used to match content with sidebar collapsed width in various "spacing" scenarios */
    :root {--browser-autohide-margin:36px;}
    #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not(:hover) {
        --uc-sidebar-collapsed-width: 38px; /* collapsed width */
        position: relative;
        min-width: var(--uc-sidebar-collapsed-width);
        max-width: var(--uc-sidebar-collapsed-width) !important;
    }
    #main-window:has(#sidebar-splitter:hover) #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover,
    #main-window:has(#sidebar-splitter:hover) #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not(:hover) {
        min-width: var(--uc-sidebar-collapsed-width);
        max-width: 75vw !important;
    }
    #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"][positionend] {
        direction: rtl;
    }
    #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"][positionend]>* {
        direction: ltr;
    }
    #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"][positionend]:-moz-locale-dir(rtl) {
        direction: ltr;
    }
    #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"][positionend]:-moz-locale-dir(rtl)>* {
        direction: rtl;
    }
    .sidebar-panel {
        background-color: transparent !important;
    }
}

/* adjustment for Sideberry only setups --------------------------------------------------------------*/


@media (-moz-pref("ultima.tabs.tabbar.autohide")) or (-moz-pref("ultima.tabs.tabbar.disabled")) {
    @media -moz-pref("ultima.sidebery.autohide") {
        /*default position*/
        #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
            position: fixed !important;
            top:calc(var(--uc-topbars-combined-height) - 1px) !important;
            height:calc(100vh - var(--uc-topbars-combined-height) - 5px) !important;
            /*left side*/
            left: 0px !important;
            right: unset !important;
            /*right side*/
            &[sidebar-positionend] {
                left: unset !important;
                right: 0px !important;
            }
        }
        /*browser content margins left then right*/
        #main-window:has(#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"][checked="true"]:not([sidebar-positionend])) #tabbrowser-tabbox {
            margin-left: var(--browser-autohide-margin) !important;
        }
        #main-window[inDOMFullscreen]:has(#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"][checked="true"]:not([sidebar-positionend])) #tabbrowser-tabbox {
            margin-left: 0px !important;
        }
        #main-window:has(#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"][checked="true"][sidebar-positionend]) #tabbrowser-tabbox {
            margin-right: var(--browser-autohide-margin) !important;
        }
        #main-window[inDOMFullscreen]:has(#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"][checked="true"][sidebar-positionend]) #tabbrowser-tabbox {
            margin-right: 0px !important;
        }
        /*fullscreen adjust*/
        #main-window[inFullscreen="true"] {
            /*in fullscreen mode take up whole left side*/
            & #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
                top: 0 !important;
                height: 100vh !important;
            }
            /*adjust for autohidden navigation bar*/
            &:has(#navigator-toolbox:hover) #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
                top: var(--uc-topbars-combined-height) !important;
            }
            /*adjust for rightside*/
            & #sidebar-box[sidebar-positionend][sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
                right: 1px !important;
            }
            & #tabbrowser-tabbox {
                --browser-autohide-margin: 36px !important;
            }
        }
        /*compact spacing adjust*/
        @media -moz-pref("ultima.spacing.compact") {
            & #tabbrowser-tabbox {
                --browser-autohide-margin: 42px !important;
            }
            & #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
                height: calc(100vh - var(--uc-topbars-combined-height) + 2px) !important;
            }
        }
        #main-window[sidebar-expand-on-hover=""] {
            & #tabbrowser-tabbox {
                --browser-autohide-margin: 0px !important;
            }
        }       
        /*when using navbar autohide settings */
        @media -moz-pref("ultima.navbar.float"), -moz-pref("ultima.navbar.float.fullsize"), -moz-pref("ultima.navbar.autohide") {
            #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
                top: 3px !important;
                height:calc(100vh - 8px) !important;
                @media -moz-pref("ultima.spacing.compact") {top:0 !important;height:100% !important;}
            }
        }
    }
}

/* adjustments for accessible splitter ---------------------------------------------------------*/

@media (-moz-pref("ultima.tabs.tabbar.autohide")) or (-moz-pref("ultima.tabs.tabbar.disabled")) {
@media -moz-pref("ultima.sidebery.autohide")  {
    
    :root:has(#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"][checked]) {
        :has(#sidebar-box:not([sidebar-positionend])) {
            #sidebar-splitter {
                position: fixed; left: 3px; height: 85vh !important;
                @media (-moz-platform:macos) {left: 5px;}
            }
            :has(#sidebar-splitter:hover) #sidebar-box::after {
                content:"";
                position: fixed; display: flex;  z-index: 99999;
                top: 45vh; left: 10px;
                height: 36px; width: 36px;
                background: url("icons/splitter.gif") center center no-repeat;
                background-size: contain;
                pointer-events: none;
                background-color: var(--uc-accent-color-2);
                border-radius:100%;
                transition: opacity ease-in-out 1s, background-color ease 1s;
            }
        }
        :has(#sidebar-box[sidebar-positionend]) {
            #sidebar-splitter {
                position: fixed; right: 3px; height: 85vh !important;
                @media (-moz-platform:macos) {right: 5px;}
            }
            :has(#sidebar-splitter:hover) #sidebar-box::after {
                content:"";
                position: fixed; display: flex;  z-index: 99999;
                top: 45vh; right: 10px;
                height: 36px; width: 36px;
                background: url("icons/splitter-r.gif") center center no-repeat;
                background-size: contain;
                pointer-events: none;
                background-color: var(--uc-accent-color-2);
                border-radius:100%;
                transition: opacity ease-in-out 1s, background-color ease 1s;
            }
        }
    }
    :root:has(#sidebar-box:not([sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"])[checked]) {
        :has(#sidebar-box:not([sidebar-positionend])) {
            #sidebar-splitter {
                position: fixed; left: 0px; height: 85vh !important;
                @media (-moz-platform:macos) {left: 3px;}
            }
        }
        :has(#sidebar-box[sidebar-positionend]) {
            #sidebar-splitter {
                position: fixed; right: 0px; height: 85vh !important;
                @media (-moz-platform:macos) {right: 3px;}
            }
        }
    }
}}   
