/*///////////////////////////////////////////////////////////////////////////////////////\

FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
File Desc:         Alternative Styles for the URL Bar

\////////////////////////////////////////////////////////////////////////////////////////*/

/* urlbar settings --------------------------------------------------- */

@media -moz-pref("ultima.urlbar.transparent") {
    #main-window[lwtheme], #main-window:not([lwtheme]) {
        & #urlbar:not([open]) {
            & #urlbar-background, & #searchbar {
                background-color: transparent !important;
                border-radius: var(--uc-button-border-radius) !important;
                box-shadow: none !important;
            }
        }
    }
}

@media -moz-pref("ultima.urlbar.suggestions") {
    #urlbar .search-one-offs:not([hidden]) {
        display:none !important;
    }
}

@media -moz-pref("ultima.urlbar.centered") {   
    #urlbar .urlbar-input-box {
        text-align: center;
    }  
    #urlbar .urlbar-input {
        text-overflow: ellipsis !important;
        overflow: hidden;
        white-space: nowrap; 
    }
}

@media -moz-pref("ultima.urlbar.hidebuttons") {
    #urlbar #identity-box,
    #urlbar #page-action-buttons,
    #urlbar #tracking-protection-icon-container {
        opacity: 0 !important;
    }
    #urlbar:hover #identity-box,
    #urlbar:hover #page-action-buttons,
    #urlbar:hover #tracking-protection-icon-container {
        opacity: 1 !important;
        transition: opacity 100ms ease !important;
    }
}

@media -moz-pref("ultima.urlbar.animate.open") {
    #urlbar[breakout] {
        max-height: var(--urlbar-min-height) !important;
        transition: max-height 1s ease !important;
        will-change: max-height;
    }
    #urlbar[breakout][breakout-extend] {
        overflow: hidden !important;
        max-height: 600px !important; /* Choose a value big enough to cover the tallest state */
    }
}
@media -moz-pref("ultima.urlbar.animate.options") {
    .urlbarView-row-inner {
        .urlbarView-favicon, .urlbarView-type-icon {
            transition: margin-left 1s ease-in-out !important;
        }
    }
    .urlbarView-row-inner:hover {
        .urlbarView-favicon, .urlbarView-type-icon {
            margin-left:-27px !important;
            transition: margin-left 1.6s ease-in-out !important;
        }
    }
}

@media -moz-pref("ultima.urlbar.float") {
    #urlbar {
        transition: transform 0.3s ease-in-out !important;
        &[open] {
            --urlbarView-separator-color: transparent !important;
            padding-top:3px !important;
            & #urlbar-background {
                box-shadow: var(--uc-box-shadow) !important;
            }
        }
        &[breakout-extend] {
            transform: translateY(20vh) scale(1.3);
            max-width:30vw !important; margin-left:5vw !important; /* control position */
        }
        /*situational*/
        &:hover:not([open]) {
            transition: transform 0.3s ease-in-out 5s !important;
            transform: translateY(20vh) scale(1.3) !important;
        }
    }
    /*situational*/
    :root:has(#urlbar-searchmode-switcher[open]) {
        & #urlbar  {
            padding-bottom:0px !important;
            transition: transform 0.3s ease-in-out 5s !important;
            transform: translateY(20vh) scale(1.3) !important;
        }
    }
}
