/*///////////////////////////////////////////////////////////////////////////////////////\

FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
File Desc:         Alternative Styles for the URL Bar

ultima.urlbar.transparent
ultima.urlbar.hide.buttons.in.edge
ultima.urlbar.hide.searchsuggestions
ultima.urlbar.centered
ultima.urlbar.hide.buttons
ultima.urlbar.hide.buttons.in.edge
ultima.urlbar.animate.open
ultima.urlbar.animate.options
ultima.urlbar.float
ultima.urlbar.drags.window
ultima.urlbar.scrollable
ultima.urlbar.focus.blur
ultima.urlbar.focus.blur.all
ultima.urlbar.focus.align.left
ultima.urlbar.hide.trackingprotection.icon

\////////////////////////////////////////////////////////////////////////////////////////*/

/* urlbar settings --------------------------------------------------- */

@media -moz-pref("ultima.urlbar.transparent") {
    #main-window[lwtheme], #main-window:not([lwtheme]) {
        & #urlbar:not([open]) {
            & #urlbar-background,
            & .urlbar-background, & #searchbar {
                background-color: transparent !important;
                border-radius: var(--uc-button-border-radius) !important;
                box-shadow: none !important;
            }
        }
    }
}

@media -moz-pref("ultima.urlbar.hide.searchsuggestions") {
    #urlbar .search-one-offs:not([hidden]) {
        display: none !important;
    }
    #urlbar-searchmode-switcher {
        display: none !important;
    }
}

@media -moz-pref("ultima.urlbar.centered") {   
    #urlbar .urlbar-input-box {
        text-align: center;
    }  
    #urlbar .urlbar-input {
        text-overflow: ellipsis !important;
        overflow: hidden;
        white-space: nowrap; 
    }
}

@media -moz-pref("ultima.urlbar.hide.buttons") {
    #urlbar #identity-box,
    #urlbar #page-action-buttons,
    #urlbar .urlbar-revert-button-container,
    #urlbar #tracking-protection-icon-container {
        opacity: 0 !important;
    }
    #urlbar:hover #identity-box,
    #urlbar:hover #page-action-buttons,
    #urlbar:hover .urlbar-revert-button-container,
    #urlbar:hover #tracking-protection-icon-container {
        opacity: 1 !important;
        transition: opacity 100ms ease !important;
    }
}

@media -moz-pref("ultima.urlbar.hide.buttons.in.edge") {
/* hides the action buttons within the url bar, until the select area is hovered */
/* the spacing of the url input text is effected by this, so hiding these buttons to achieve more space will also result in the text jumping around a bit */
    #identity-box, #page-action-buttons {
        transition: max-width 0.5s ease, opacity 0.7s ease !important;
        max-width:fit-content !important;
        opacity: 1 !important;
        overflow: hidden;
        &:not(:hover) {
            transition: max-width 1s ease, opacity 0.2s ease !important;
            max-width: 16px !important;
            opacity: 0 !important;
        }
    }
}

@media -moz-pref("ultima.urlbar.animate.open") {
    #urlbar[breakout] {
        max-height: var(--urlbar-min-height) !important;
        transition: max-height 1s ease !important;
        will-change: max-height;
    }
    #urlbar[breakout][breakout-extend] {
        overflow: hidden !important;
        max-height: 600px !important; /* Choose a value big enough to cover the tallest state */
    }
}
@media -moz-pref("ultima.urlbar.animate.options") {
    .urlbarView-row-inner {
        .urlbarView-favicon, .urlbarView-type-icon {
            transition: margin-left 1s ease-in-out !important;
        }
    }
    .urlbarView-row-inner:hover {
        .urlbarView-favicon, .urlbarView-type-icon {
            margin-left:-27px !important;
            transition: margin-left 1.6s ease-in-out !important;
        }
    }
}

@media -moz-pref("ultima.urlbar.float") {
@media not -moz-pref("ultima.urlbar.limit.popout") {
    #urlbar {
        /* baseline transition */
        transition: transform 0.3s ease-in-out !important;
        &[open] {
            /* appearance adjustments */
            --urlbarView-separator-color: transparent !important;
            padding-top:3px !important;
            & #urlbar-background,
            & .urlbar-background {
                box-shadow: var(--uc-box-shadow) !important;
            }
        }
        /* when extended = scale */
        &[breakout-extend] {
            transform: translateY(20vh) scale(1.1);
            @media (min-width: 1925px) { max-width:37vw !important; margin-left:1vw !important;}
            @media (min-width: 2500px) { max-width:33vw !important; margin-left:9vw !important;}
        }
        /*situational = scale */
        &:hover:not([open]) {
            transition: transform 0.3s ease-in-out 5s !important;
            transform: translateY(20vh) scale(1.2) !important;
        }
    }
    /*situational = scale */
    :root:has(#urlbar-searchmode-switcher[open]) {
        & #urlbar  {
            padding-bottom:0px !important;
            transition: transform 0.3s ease-in-out 5s !important;
            transform: translateY(20vh) scale(1.2) !important;
        }
    }
}
}

@media -moz-pref("ultima.urlbar.float") {
@media -moz-pref("ultima.urlbar.limit.popout") {
    #urlbar[pageproxystate="valid"] {
        height: 36px !important;
    }
    #urlbar[pageproxystate="invalid"] {
        /* baseline transition */
        transition: transform 0.3s ease-in-out !important;
        &[open] {
            /* appearance adjustments */
            --urlbarView-separator-color: transparent !important;
            padding-top:3px !important;
            & #urlbar-background,
            & .urlbar-background {
                box-shadow: var(--uc-box-shadow) !important;
            }
        }
        /* when extended = scale */
        &[breakout-extend] {
            transform: translateY(20vh) scale(1.1);
            @media (min-width: 1925px) { max-width:37vw !important; margin-left:1vw !important;}
            @media (min-width: 2500px) { max-width:33vw !important; margin-left:9vw !important;}
        }
        /*situational = scale */
        &:hover:not([open]) {
            transition: transform 0.3s ease-in-out 5s !important;
            transform: translateY(20vh) scale(1.2) !important;
        }
    }
    /*situational = scale */
    :root:has(#urlbar-searchmode-switcher[open]) {
        & #urlbar  {
            padding-bottom:0px !important;
            transition: transform 0.3s ease-in-out 5s !important;
            transform: translateY(20vh) scale(1.2) !important;
        }
    }
}
}

@media -moz-pref("ultima.urlbar.drags.window") {
    #urlbar-container, .urlbar-input-box, .urlbar-input {
      -moz-window-dragging: drag;
      cursor: default;
    }
    .urlbar-input-container > box,
    #page-action-buttons, #urlbar-container:focus-within,
    #urlbar-container:focus-within :is(#urlbar-container, .urlbar-input-box, .urlbar-input) {
      -moz-window-dragging: no-drag;
      cursor: auto;
    }
}

@media -moz-pref("ultima.urlbar.scrollable") {
    #urlbar-results{
        max-height: 400px;
        overflow-y: auto;
        scrollbar-color: var(--urlbar-separator-color,currentColor) transparent;
        scrollbar-width: thin
    }
    .urlbarView-no-wrap{
        position: relative;
    }
}

@media -moz-pref("ultima.urlbar.focus.blur") {
    #tabbrowser-tabpanels::before {
        content: "";
        backdrop-filter: blur(25px);
        background-color:rgba(1,1,1,0.1);

        z-index: 999;
        display: flex;
        position: fixed;
        top: 0; bottom: 0; left: 0; right: 0;

        border-radius: 10px;
        margin: var(--uc-content-margins);

        opacity: 0;
        pointer-events: none;
        transition: opacity 0.7s ease;
    }
    #main-window:has(#urlbar[breakout-extend="true"]) {
        #tabbrowser-tabpanels::before {
            opacity: 1;
        }
        browser[type] {
            backdrop-filter: blur(25px);
        }
    }
}

@media -moz-pref("ultima.urlbar.focus.blur.all") {
    /* Add the base state for the browser with transitions */
    #browser {
        filter: blur(0px);
        transition: 
            scale     100ms ease-in,
            filter    300ms ease-out !important;
    }
    /* Base state for the overlay */
    #browser::before {
        content: '';
        position: absolute;
        background: rgba(0, 0, 0, 0);
        pointer-events: none;
        z-index: 999;
        transition: background-color 200ms ease-in-out;
    }
    /* Active state with blur and overlay */
    :root:not([inDOMFullscreen="true"]):not([chromehidden~="location"]):not([chromehidden~="toolbar"]) {
        &:has(#urlbar:is([breakout][breakout-extend], [breakout][usertyping][focused])) {
            #browser {
                filter: blur(6px);
                pointer-events: none;
                scale: 1.03 !important;
                &::before {
                    background: rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
}

@media -moz-pref("ultima.urlbar.focus.text.aligns.left") {
    /* Center URL within the address bar */
    .urlbar-input-box {
      text-align: center !important;
      justify-content: center !important;
    }

    /* Align text to the left when the urlbar or its input is focused */
    #urlbar:focus-within .urlbar-input-box, #urlbar-input:focus {
      text-align: left !important;
    }
}

@media -moz-pref("ultima.urlbar.extension.label.fullwidth") {
    #urlbar:has(#identity-icon[tooltiptext*="extension"]) {
        #identity-icon-box {
            max-width: fit-content !important;
            #identity-icon[tooltiptext*="extension"] {
                visibility: collapse !important;
            }
        }
        #urlbar-input {
            font-size: 11px !important;
        }
    }
}

/* Hide tracking protection icon */
@media -moz-pref("ultima.urlbar.hide.trackingprotection.icon") {
    #tracking-protection-icon-container {
        display: none !important;
    }
}
