/*///////////////////////////////////////////////////////////////////////////////////////\

FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
File Desc:         Styles for Tab Groups and Container Tabs

tab groups adjustments
tab groups labels
tab groups backgrounds
tab groups background transitions
tab containers

\////////////////////////////////////////////////////////////////////////////////////////*/

/* tab groups adjustments --------------------------------------------------------------------------------------- */

/*force collapsing, cursor*/
tab-group { &[collapsed] > .tabbrowser-tab {visibility:collapse !important;}}

/* default style with minor adjustments */
.tab-group-label {
    cursor: pointer !important;
    tab-group[collapsed] > .tab-group-label-container > & {
        /* these are all default values below */
        background-color: light-dark(var(--tab-group-color-pale), var(--tab-group-color));
        color: light-dark(var(--tab-group-color), var(--tab-group-color-pale));
        outline-offset: -1px;
        /* except for this below - outline reduction */
        outline: 1px solid light-dark(var(--tab-group-color), rgba(0,0,0,0.3)) !important;
    }
}
/* new default label spacing */
@media not -moz-pref("ultima.tabs.tabgroups.label.1"),
@media not -moz-pref("ultima.tabs.tabgroups.label.2"),
@media not -moz-pref("ultima.tabs.tabgroups.label.tthornton") {
    .tab-group-label {
        margin-left:15px !important;
    }
}
/* new default indentation */
#tabbrowser-tabs[orient="vertical"][expanded] {
    & tab-group > :is(.tab-group-label-container, .tabbrowser-tab),
    &[movingtab][movingtab-addToGroup]:not([movingtab-createGroup],
    [movingtab-ungroup]) .tabbrowser-tab:is(:active, [multiselected]) {
        margin-inline-start: -1px !important;
    }
}
/* horizontal version border */
#main-window:has(#tabbrowser-tabs[orient="horizontal"]) {
    tab-group .tabbrowser-tab:first-of-type {
        border-radius: 8px 0px 0px 8px !important;
    }
    tab-group .tabbrowser-tab:last-of-type {
        border-radius: 0px 8px 8px 0px !important;
    }
}
/* group line adjust */
.tab-group-label-container {
    #tabbrowser-tabs:is([orient="horizontal"], [orient="vertical"]:not([expanded])) tab-group:not([collapsed]) > &::after {
        opacity:0 !important;
    }
}
/* fix tab group padding resizes when expand on hover */
.tab-group-label {
    #tabbrowser-tabs[orient="vertical"][expanded] & {
        padding-block: 2px !important;
    }
    #tabbrowser-tabs[orient="vertical"]:not([expanded]) & {
        &::first-letter {
            line-height: var(--tab-label-line-height) !important;
            padding-block: 2px !important;
        }
    }
}
/* 7/27/2025 new tab group overflow counter? */
.tab-group-overflow-count-container, .tab-group-overflow-count-container::after, .tab-group-overflow-count {
    background-color: transparent !important;
}
.tab-group-overflow-count {
    margin-left:10px !important;
}
#sidebar-main[sidebar-launcher-expanded] .tab-group-overflow-count {
    margin-left:-1px !important;
}

/* 9/12/2025 new tab hover element creating extra backgrounds */

.tab-group-label-hover-highlight {
    background: none !important;
    box-shadow: none !important;
    margin: 0 !important;
}

/* 9/25?/2025 tab group counter adjustment to fix the unpleasant default spacing */

.tab-group-label-container, .tab-group-overflow-count-container {
  #tabbrowser-tabs:is([orient="horizontal"], [orient="vertical"]:not([expanded])) tab-group:not([collapsed]) > &::after, #tabbrowser-tabs:is([orient="horizontal"], [orient="vertical"]:not([expanded])) tab-group[hasactivetab] > &::after, #tabbrowser-tabs[orient="vertical"] tab-group[hasactivetab][hasmultipletabs] > &.tab-group-overflow-count-container::after {
    content: "SELECTED" !important;
    top: 6px !important;
    left: 36px;
  }
}

/* 10/5/2025 tab group labels when using Light Mode need more visibility */
/* font weight approach */
@media (prefers-color-scheme: light) {
    .tab-group-label {
        font-weight: 900 !important;
        text-shadow: 1px 1px 1.3px rgba(45,45,45,0.7) !important;
        font-size: 1.05em;
    }
}

/* tab groups labels -------------------------------------------------------------------------------------------- */

/* Label Style T, Contributed by @tthornton3-chwy https://github.com/tthornton3-chwy, always visible label */
@media -moz-pref("ultima.tabs.tabgroups.label.tthornton") {
    /*defaults*/
    .tab-group-label {
        min-width:20px !important;
        max-width:150px !important;
        border-radius:2px !important;
        margin-left:15px !important;
    }
}

/* Label Style 1, Label shrinks into a circular tab like Icon */
@media -moz-pref("ultima.tabs.tabgroups.label.1") {
    .tab-group-label {
        min-width:20px !important;
        max-width:150px !important;
        border-radius:17px !important;
        margin-left:15px !important;
    }
    .tab-group-label[aria-description="Unnamed Group — Tab Group"] {
        max-width:25px !important; width:25px !important; min-width: 25px !important;
        padding-inline: 0 !important;
    }
}

/* Label Style 2, Label shrinks into compact pill style label */
@media -moz-pref("ultima.tabs.tabgroups.label.2") {
    :root:has(#tabbrowser-tabs[orient="vertical"]) {
        /*defaults*/
        .tab-group-label-container, .tab-group-label {
            max-height:10px !important; height:10px !important; min-height:10px !important;
            min-width:18px !important; max-width:150px !important;
        }
        .tab-group-label {
            border-radius:17px !important;
            line-height:0.7 !important;
            z-index:5 !important;
            margin-top: -2px !important;
            &[aria-expanded="true"] {
                margin-top: 2px !important;
            }
            &:hover {transform:scale(1.05); transition: transform ease 0.4s;}
        }
        #sidebar-main:not([sidebar-launcher-expanded]) .tab-group-label {
            color: transparent !important;
        }
        .tab-group-label {
            #tabbrowser-tabs[orient="vertical"][expanded] & {
                padding: 0px 12px !important;
            }
        }
    }
    :root:has(#tabbrowser-tabs[orient="horizontal"]) {
        /*defaults*/
        .tab-group-label-container, .tab-group-label {
            max-height:12px !important; height:12px !important; min-height:12px !important;
            min-width:55px !important; max-width:200px !important;
        }
        .tab-group-label {
            border-radius:17px !important;
            margin-top: 30px !important;
            line-height:0.8 !important;
            z-index:5 !important;
            margin-inline:0 !important;
            &[aria-expanded="true"] {
                margin-top: 30px !important;
            }
            &:hover {transform:scale(1.05); transition: transform ease 0.4s;}
        }
    }
}
/* Label Style 3, Label becomes an arrow indicator */
@media -moz-pref("ultima.tabs.tabgroups.label.3") {
    :root:has(#tabbrowser-tabs[orient="vertical"]) {
        /*defaults*/
        .tab-group-label-container, .tab-group-label {
            max-height:25px !important; height:25px !important; min-height:25px !important;
            min-width:18px !important; max-width:95% !important;
        }
        /* visibility */
        .tab-group-label {
            border-radius: 17px !important;
            line-height: 0.9 !important;
            z-index: 5 !important;
            margin-top: 5px !important;
            &[aria-expanded="true"] {margin-top: 10px !important;}
            /*&:hover {transform:scale(1.01); transition: transform ease 0.4s;}*/
        }
         /*appearance*/
        .tab-group-label {
            outline: none !important;
            color: var(--tab-group-color-invert) !important;
            background-color: transparent !important;
            background-image: url("chrome://global/skin/icons/arrow-right-12.svg");
            background-repeat: no-repeat;
            background-position: left 5.5px top 1px;
            -moz-context-properties: fill; fill: var(--tab-group-color-invert);
            align-self: unset !important;
        }
        /*collapsed*/
        tab-group[collapsed] .tab-group-label {
            background-image: url("chrome://global/skin/icons/arrow-down-12.svg");
        }
        #sidebar-main:not([sidebar-launcher-expanded]) .tab-group-label {
            color: transparent !important;
            margin-left: 15px !important;
        }
        .tab-group-label {
            margin-left: 16px !important;
        }
        .tab-group-label {
            text-align: left !important;
            #tabbrowser-tabs[orient="vertical"][expanded] & {
                padding: 0px 32px !important;
            }
        }
    }
    :root:has(#tabbrowser-tabs[orient="horizontal"]) {
        /*defaults*/
        .tab-group-label-container, .tab-group-label {
            max-height:13px !important; height:13px !important; min-height:13px !important;
            min-width:55px !important; max-width:200px !important;
        }
        /* visibility */
        .tab-group-label {
            border-radius:17px !important;
            margin-top: 30px !important;
            line-height:0.8 !important;
            z-index:5 !important;
            margin-inline:0 !important;
            &[aria-expanded="true"] {margin-top: 30px !important;}
            &:hover {transform:scale(1.05); transition: transform ease 0.4s;}
        }
        /*appearance*/
        .tab-group-label {
            outline: none !important;
            padding-left:15px !important;
            color: var(--tab-group-color-invert) !important;
            background-color:transparent !important;
            background-image: url("chrome://global/skin/icons/arrow-right-12.svg");
            background-repeat: no-repeat;
            background-position: left -2px top -1px;
            -moz-context-properties: fill; fill: var(--tab-group-color-invert);
        }
        /*collapsed*/
        tab-group[collapsed] .tab-group-label {
            background-image: url("chrome://global/skin/icons/arrow-right-12.svg");
        }



    }
}

/* tab groups backgrounds --------------------------------------------------------------------------------------- */

/* hide default line so that it can be optionally selected/combined with other background options via background.3 */
.tab-group-line {opacity:0 !important;}

/* background adjustments */
tab-group .tabbrowser-tab {
    & .tab-background {
        overflow: clip;
    }
    & .tab-context-line {
        transition: width 2s ease 0.1s !important;
        width: 20px !important;
        height: 100% !important;
        margin: 0 !important;
        opacity:  0.0;
    }
    & :hover .tab-context-line {
        transition: width 0.3s ease 0.1s !important;
        width: 90% !important;
    }
}

/* Background Style 1, color mixed background */
@media -moz-pref("ultima.tabs.tabgroups.background.1") {
    tab-group[style*="blue"] .tabbrowser-tab,
    tab-group[style*="purple"] .tabbrowser-tab,
    tab-group[style*="cyan"] .tabbrowser-tab,
    tab-group[style*="orange"] .tabbrowser-tab,
    tab-group[style*="yellow"] .tabbrowser-tab,
    tab-group[style*="pink"] .tabbrowser-tab,
    tab-group[style*="green"] .tabbrowser-tab,
    tab-group[style*="red"] .tabbrowser-tab,
    tab-group[style*="gray"] .tabbrowser-tab {
        background: color-mix(in lab, var(--tab-group-color-invert) 40%, transparent) !important;
    }
    @media -moz-pref("sidebar.verticalTabs") {
        tab-group { #tabbrowser-tabs & { &:not([collapsed])::before {
            inset-inline-start: -10px !important;
        }}}
    }
}

/* Background Style 2, color mixed background */
@media -moz-pref("ultima.tabs.tabgroups.background.2") {
    .tab-context-line {
        border-radius: 5px !important;
        translate: 0px 10px !important;
        margin: 0 !important;
        width: 50% !important;
        height: 13px !important;
        filter: blur(13px) !important;
        overflow: visible !important;
        z-index: 10 !important;
        background-color: var(--tab-group-color-invert) !important;
        position: relative !important;
        opacity: 0.5 !important;
    }
    @media (prefers-color-scheme: light) {
        .tab-context-line {opacity: 0.8 !important;}
    }
}

/* Background Style 3, default group line */
@media -moz-pref("ultima.tabs.tabgroups.background.3") {
    :root:has(#tabbrowser-tabs[orient="vertical"]),
    :root:has(#tabbrowser-tabs[orient="horizontal"]) {
        .tab-group-line {opacity:1 !important;}
    }
    .tab-group-line {
      #tabbrowser-tabs[orient="vertical"] & {
        #tabbrowser-tabs[expanded] & {
          inset-inline-start: 3px !important;
        }
      }
    }
}

/* Background Style 4, dashed border container */
@media -moz-pref("ultima.tabs.tabgroups.background.4") {
    #main-window:has(#tabbrowser-tabs[orient="vertical"]) {
        tab-group tab:first-of-type {
            border-top: 1px var(--tab-group-color) dashed !important;
        }
        tab-group tab:last-of-type {
            border-bottom: 1px var(--tab-group-color) dashed !important;
        }
    }
    #main-window:has(#tabbrowser-tabs[orient="horizontal"]) {
        tab-group tab:first-of-type {
            border-left: 2px var(--tab-group-color) dashed !important;
        }
        tab-group tab:last-of-type {
            border-right: 2px var(--tab-group-color) dashed !important;
        }
    }
}

/* tab groups background transitions ---------------------------------------------------------------------------- */

.toolbarbutton-badge-stack, .toolbarbutton-text {
    transition: background-color 0.6s ease !important;
}
.tab-context-line/*, .tabbrowser-tab*/ {
    transition: background-color 2s ease 0.5s !important;
    /* 8/30/2025 .tabbrowser-tab:not([pinned]) {transition: min-width 100ms ease-out, max-width 100ms ease-out;}*/
}
.tab-group-line {
    transition: opacity 0.8s ease 0.2s !important;
}

/* tab containers ----------------------------------------------------------------------------------------------- */

/* A modification of 3 styles originally by Kaedriz @ https://github.com/Kaedriz */

/* Container Style 1, Tab adopts Group line with subtle backdrop */
@media -moz-pref("ultima.tabs.tabContainer.1") {
    .tabbrowser-tab[usercontextid] {
        @media not -moz-pref("ultima.tabs.tabgroups.background.2") {
            & .tab-context-line {display: none !important;}
        }
        & .tab-group-line {
            opacity: 1 !important;
            display: flex !important;
            margin-inline-start: 0px !important;
            background: var(--identity-icon-color) !important;
            margin-bottom: -2px !important;
            transition: width 0.4s ease 0s, opacity 0.7s ease 0.3s !important;
        }
        & :hover .tab-group-line {
            width: 100% !important;
            @media -moz-pref("ultima.tabs.tabgroups.background.3") {width:calc(100% - 6px) !important;}
            opacity: 0 !important;
            margin-bottom: -4px !important;
            transition: width 0.4s ease 0.1s, opacity 0.7s ease 0.3s !important;
        }
    }
}

/* Container Style 2, Tab Border becomes container color */
@media -moz-pref("ultima.tabs.tabContainer.2") {
    .tabbrowser-tab[usercontextid] {
        & .tab-background {
            border: 2px solid var(--identity-icon-color);
        }
        & .tab-context-line {
            display: none !important;
        }
    }
}

/* Container Style 3, tab becomes container color */
@media -moz-pref("ultima.tabs.tabContainer.3") {
    .tabbrowser-tab[usercontextid] {
        & .tab-context-line {
            width: 100% !important;
            height: 100% !important;
            margin: 0 !important;
            opacity:  0.0;
        }
        & .tab-context-line {
            display:none !important;
        }
        & .tab-background {
            background:color-mix(in lab, var(--identity-icon-color) 90%, var(--uc-browser-color) 40%) !important;
        }
        & .tab-text[selected] {
            color: var(--uc-browser-color) !important;
        }
    }
}
