/*///////////////////////////////////////////////////////////////////////////////////////\

FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
File Desc:         tab outline styles

tab outline colors
left empty
full
top

setting ultima.tabs.tab.outline can  be set to:
- (left empty) - for no tab outline
- full - basic 4 border outline
- top - top sided outlines-style, similar to proton

we set these outlines with ultima.tabs.tab.outline.color, then manipulate them with the ultima.tabs.tab.outline string for different "styles"

\////////////////////////////////////////////////////////////////////////////////////////*/

/* tab outline colors ------------------------------------------------------------------------------------------- */

@media -moz-pref("ultima.tabs.tab.outline.color","black") {
    #main-window[lwtheme], #main-window:not([lwtheme]) {
        --tab-selected-outline-color: black !important;
    }
}
@media -moz-pref("ultima.tabs.tab.outline.color","white") {
    #main-window[lwtheme], #main-window:not([lwtheme]) {
        --tab-selected-outline-color: white !important;
    }
}
@media -moz-pref("ultima.tabs.tab.outline.color","blue") {
    #main-window[lwtheme], #main-window:not([lwtheme]) {
        --tab-selected-outline-color: #3d2bd9 !important;
    }
}
@media -moz-pref("ultima.tabs.tab.outline.color","gold") {
    #main-window[lwtheme], #main-window:not([lwtheme]) {
        --tab-selected-outline-color: gold !important;
    }
}
@media -moz-pref("ultima.tabs.tab.outline.color","green") {
    #main-window[lwtheme], #main-window:not([lwtheme]) {
        --tab-selected-outline-color: green !important;
    }
}
@media -moz-pref("ultima.tabs.tab.outline.color","lightblue") {
    #main-window[lwtheme], #main-window:not([lwtheme]) {
        --tab-selected-outline-color: lightblue !important;
    }
}
@media -moz-pref("ultima.tabs.tab.outline.color","pink") {
    #main-window[lwtheme], #main-window:not([lwtheme]) {
        --tab-selected-outline-color: pink !important;
    }
}
@media -moz-pref("ultima.tabs.tab.outline.color","purple") {
    #main-window[lwtheme], #main-window:not([lwtheme]) {
        --tab-selected-outline-color: purple !important;
    }
}
@media -moz-pref("ultima.tabs.tab.outline.color","gradient") {
    @media -moz-pref("ultima.tabs.tab.outline","full") {
        @keyframes filter{from{ filter: hue-rotate(0deg) } to { filter: hue-rotate(360deg) }}
        .tabbrowser-tab[selected] > .tab-stack::after{
            grid-area: 1/1;
            content: "";
            display: inherit;
            border-radius:3px;
            z-index: 0;
            background-image: conic-gradient(
                hsl(0 100% 70%),
                hsl(60 100% 45%) 70deg,
                hsl(120 100% 55%) 105deg,
                hsl(160 100% 60%) 160deg,
                hsl(200 100% 60%) 200deg,
                hsl(240 100% 65%) 255deg,
                hsl(300 100% 60%) 290deg,
                hsl(360 100% 70%) 360deg);
            mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KICA8cmVjdCB4PSIwIiB5PSIwIiByeD0iNCIgc3Ryb2tlPSJyZWQiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHN0cm9rZS13aWR0aD0iMiIgZmlsbD0ibm9uZSIgdmVjdG9yLWVmZmVjdD0ibm9uLXNjYWxpbmctc3Ryb2tlIi8+DQo8L3N2Zz4");
            background-size: cover;
            background-position: center;
            animation: filter steps(30) 2s infinite;
        }
        .tab-content {
            z-index: 1 !important;
        }
        #tabbrowser-tabs[orient="vertical"] .tabbrowser-tab[selected]:not([pinned]) > .tab-stack::after {
            margin: -1px 11px;
        }
        #tabbrowser-tabs[orient="vertical"] .tabbrowser-tab[selected][pinned] > .tab-stack::after {
            margin: 0px 5px 0px 5px;
        }
        #main-window[sidebar-expand-on-hover=""] #tabbrowser-tabs[orient="vertical"] .tabbrowser-tab[selected][pinned] > .tab-stack::after {
            margin: 0px 9px -2px 9px;
        }
        @media (-moz-platform: windows) {
            #tabbrowser-tabs[orient="vertical"] .tabbrowser-tab[selected]:not([pinned]) > .tab-stack::after {
                margin: -1px 9px -1px 11px;
            }
            #tabbrowser-tabs[orient="vertical"] .tabbrowser-tab[selected][pinned] > .tab-stack::after {
                margin: 0px 5px 0px 5px;
            }
            #main-window[sidebar-expand-on-hover=""] #tabbrowser-tabs[orient="vertical"] .tabbrowser-tab[selected][pinned] > .tab-stack::after {
                margin: 0px 9px -1px 9px;
            }
        }
    }
}

/* left empty ----------------------------------------------------------------------------------------------------- */

/* simply leave it transparent when not empty or full */

@media not -moz-pref("ultima.tabs.tab.outline","full"),
@media not -moz-pref("ultima.tabs.tab.outline") {
    .tab-background {
        &:is([selected]) {
            outline-color: transparent !important;
        }
    }
}

/* full ---------------------------------------------------------------------------------------------------------- */

/* nothing to do, --tab-selected-outline-color simply gets applied with 'outline' */

/* top ----------------------------------------------------------------------------------------------------------- */

/* 
a proton style top sided border, that adopts @He23251's faded outline effect
recommended by @AuRiMaS666 https://github.com/soulhotel/FF-ULTIMA/issues/445
*/

@media -moz-pref("ultima.tabs.tab.outline","top") {
    #tabbrowser-tabs {
        .tabbrowser-tab[selected] .tab-background::before {
            content:"";
            position: absolute !important;
            top: 1px; left: 0; right: 0; height: 3px;
            pointer-events: none !important;
            background: var(--tab-selected-outline-color) !important;
            @media -moz-pref("ultima.tabs.tab.outline.color","gradient") {
                background: linear-gradient(
                    90deg,
                    var(--uc-accent-color-5) 0%,
                    var(--uc-accent-color-2) 52.08%,
                    #FFBD4F 100%,
                    #9059FF 0%,
                    #FF4AA2 52.08%,
                    var(--uc-accent-color-4) 100%
                ) !important;
                animation: ffuGradientSlide 6s linear infinite, ffuHue 1s ease-in-out infinite alternate !important;    
            }
            background-size: 150% 100% !important;
            background-position: 0% 0% !important;
            background-repeat: repeat-x !important;
            will-change: background-position, filter !important;
            /* fade both ends to transparent so OS/window corner shapes never clash */
            --uc-privatebar-edge-fade: min(55px,50%);
            mask-image: linear-gradient(90deg,
                transparent 0,
                #000 var(--uc-privatebar-edge-fade),
                #000 calc(100% - var(--uc-privatebar-edge-fade)),
                transparent 100%
            );
            -webkit-mask-image: linear-gradient(90deg,
                transparent 0,
                #000 var(--uc-privatebar-edge-fade),
                #000 calc(100% - var(--uc-privatebar-edge-fade)),
                transparent 100%
            );
            z-index: 2 !important;
        }
    }
    @keyframes ffuGradientSlide {
        0%   { background-position:   0% 0%; }
        100% { background-position: 200% 0%; }
    }

    @keyframes ffuHue {
        0%   { filter: hue-rotate(0deg); }
        100% { filter: hue-rotate(60deg); }
    }
    /* vertical tabs expanded */
    #sidebar-main[sidebar-launcher-expanded=""] #tabbrowser-tabs[orient="vertical"] {
        .tabbrowser-tab[selected] .tab-background::before {
            margin-inline: 5%;
            width: calc(100% - 10%);
            top: -1px; 
        }
        .tabbrowser-tab[selected][pinned] .tab-background::before {
            margin-inline:2.5%;
            width: 90%;
            top: -1px; 
        }
    }
    /* vertical tabs collapsed */
    #sidebar-main:not([sidebar-launcher-expanded=""]) #tabbrowser-tabs[orient="vertical"] {
        .tabbrowser-tab[selected] .tab-background::before {
            margin-inline: 20%;
            width: calc(100% - 40%);
        }
        .tabbrowser-tab[selected][pinned] .tab-background::before {
            margin-inline:2.5%;
            width: 90%;
            top: -1px; 
        } 
    }
    /* horizontal tabs */
    #tabbrowser-tabs[orient="horizontal"] {
        .tabbrowser-tab[selected] .tab-background::before {
            /* width controls the size, margin controls the center, both should equal 100% */
            margin-inline: 2.5%; /* x2 */
            width: 95%;
            top: 1px; /* offset how high or low it appears: -1px or 0 or 1px or 2px, etc */
            --uc-privatebar-edge-fade: min(55px,50%); /* 55px works for regular width tabs, 50% for smaller width tabs */
        }        
    }
}

/* another style ------------------------------------------------------------------------------------------------- */

@media -moz-pref("ultima.tabs.tab.outline","style") {

/*
preferably manipulate a tabs outline/border to create a style
or apply :before/:after on the tabs .tab-background for finer control
*/    

}

/* another style ------------------------------------------------------------------------------------------------- */