/*///////////////////////////////////////////////////////////////////////////////////////\
 
FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
File Desc:         ALTERNATIVE STYLES for seperate sections of the browser

compact tabs
pinned tabs
vertical tab action buttons
nav bar
bookmarks centered
bookmarks fade out
bookmarks autohide
new tab button
sidebar extra theming (not sidebery)
sidebery expand on inactive windows
sidebar hide new header
highlight aboutconfig tab
tab containers
tab groups

\////////////////////////////////////////////////////////////////////////////////////////*/


/* compact tabs ------------------------------------------------------------------------------------------------- */
@media -moz-pref("ultima.spacing.compact.tabs") {
    .tab-background {
          margin-block: -0.4px !important;
      }
}
@media -moz-pref("ultima.spacing.relaxed") {
    :root, #main-window, body {--uc-content-margins: 15px 40px 40px 15px !important;}
    #sidebar-box {margin-top:15px !important; margin-bottom: 40px !important;}
    /*wip design tbd - setting for the fullscreen/uw enjoyers */
}

/* pinned tabs -------------------------------------------------------------------------------------------------- */

@media -moz-pref("ultima.tabs.pinnedtabs.style.1") {
    #vertical-pinned-tabs-container {
        height: fit-content !important;
        min-height: fit-content !important;
        max-height: fit-content !important;
    }
    #vertical-pinned-tabs-splitter {
        display:none !important;
    }
}

/* vertical tab action buttons ---------------------------------------------------------------------------------- */
@media -moz-pref("ultima.tabs.vertical.hide.the.bottom.buttons") {
    .tools-and-extensions.actions-list {
        & moz-button:not([view="viewCustomizeSidebar"]) {display:none !important;}
    }
    .tools-and-extensions.actions-list[orientation="horizontal"] {
        max-width: 53px !important;
        & moz-button[view="viewCustomizeSidebar"] {}
    }
}
@media -moz-pref("ultima.tabs.vertical.hide.the.bottom.buttons.off.hover") {
    .tools-and-extensions.actions-list[orientation="vertical"] {
        & moz-button:not([view="viewCustomizeSidebar"]) {display:none !important;}
    }
}

/* nav bar ------------------------------------------------------------------------------------------------------ */

@media -moz-pref("ultima.navbar.hidebuttons") {
    #nav-bar:not(:focus-within):not(:hover) toolbarbutton:not(.titlebar-button) {
        opacity:0 !important;
        transition:opacity ease 2s;
    }
    :root:has(#appMenu-popup[panelopen="true"]) #PanelUI-menu-button,
    :root:has(#unified-extensions-panel[panelopen="true"]) #unified-extensions-button,
    :root:has(#downloadsPanel[panelopen="true"]) #downloads-button,
    #nav-bar:not(:focus-within):not(:hover) #downloads-button[progress="true"] {
        opacity: 1 !important;
    }
}

/* bookmarks centered -------------------------------------------------------------------------------------- */

@media -moz-pref("ultima.navbar.bookmarks.centered") { #PlacesToolbarItems {
    justify-content: center !important;
}}
#personal-toolbar-empty {
    width: 5px !important;
}
/* bookmarks fade out -------------------------------------------------------------------------------------- */

@media -moz-pref("ultima.navbar.bookmarks.fadeout") {
    :root:has(#navigator-toolbox:not(:hover)) {
        #PlacesToolbar {
          opacity: 0.05 !important;
          transition: opacity 4s ease-out;
        }
        #PlacesToolbar:hover {
          opacity: 1 !important;
          transition: opacity 0.2s ease-in;
        }
    }
}
 
/* bookmarks autohide -------------------------------------------------------------------------------------- */

@media -moz-pref("ultima.navbar.bookmarks.autohide") {
:root:has(#PersonalToolbar[collapsed="false"]):not(:has(#navigator-toolbox:hover)):has(#placesContext:not(:hover)) {
&#main-window:not([inFullscreen="true"]) {           
            /* set smaller height when not hovered, compatible with all features */
            --uc-bookbar-height:4px !important;
            /* make-shift indicator, consistent with theming */
            #PlacesToolbar:not(:hover) {
                background-color:var(--uc-accent-ii) !important;
                border-radius:12px !important;
                opacity:0.5 !important;
                width:80% !important; margin-inline:10% !important;
            }    
            /* hide internal elements */   
            #PlacesToolbarItems {
                opacity: 0 !important;
                transition: opacity 0.3s ease-out; 
            }
            #PlacesToolbarItems:hover {
                opacity: 1 !important;
                transition: opacity 0.2s ease-in;
            }          
}}}

/* new tab button ------------------------------------------------------------------------------------------ */

@media -moz-pref("ultima.tabs.newtabbutton.ontop.1") { 
    #vertical-tabs-newtab-button {
        order: -1 !important;
    }
    #tabbrowser-tabs[orient="horizontal"] > #vertical-tabs-newtab-button,
    #tabbrowser-tabs[orient="vertical"]:not([overflow]) > #vertical-tabs-newtab-button {
        display: flex !important;
        margin-top:10px !important;
    }
    #tabbrowser-tabs[orient="vertical"] #tabs-newtab-button {
        display: none !important;      
    }
}
@media -moz-pref("ultima.tabs.newtabbutton.ontop.2") { 
    /*first button visible in vertical tabs collapsed state*/
    #tabbrowser-arrowscrollbox-periphery { order: -1 !important; }
    /*not necessary but #tabbrowser-arrowscrollbox-periphery is the container for this button*/
    #vertical-tabs-newtab-button { order: -1 !important; } 
    /*second button visible in vertical tabs expanded state*/
    #vertical-tabs-newtab-button { order: -1 !important; }
    /*vertical-pinned-tabs-container*/
    #vertical-pinned-tabs-container { order: -2 !important; }
}

/* disable tab update dot ---------------------------------------------------------------------------------- */

@media -moz-pref("ultima.tabs.disable.update.dot") {
    .tab-content[titlechanged]:not([selected]) {
        background-image:none !important;
    }
}

/* sidebar extra theming (not sidebery) -------------------------------------------------------------------- */

@media -moz-pref("ultima.xstyle.sidebar.theming") {
    /* customize sidebar ------------------------------------------------*/   
    /*sidebar header*/
    button[title="Close"] .button-background {
        cursor: pointer !important;
    }  
    /*sidebar check boxes*/
    @layer input-common { #input {
        accent-color: var(--uc-accent-v) !important;
    }}    
    /*sidebar links*/
    .customize-group .text-link, .customize-group a, .customize-group ::part(support-link) {
        color: var(--uc-accent-v) !important;
        cursor: pointer; text-decoration: underline;      
    }
    .sidebar-panel .text-link, .sidebar-panel a, .sidebar-panel ::part(support-link) {
        color: var(--uc-accent-v) !important;
        cursor: pointer; text-decoration: underline;    
    }
    /* bookmarks sidebar ------------------------------------------------*/
    /*sidebar header*/
    button[title="Close sidebar"] .button-background {
        cursor: pointer !important;
    }
    /*text list*/
    .sidebar-placesTree {
        appearance: none;
        background-color: rgba(150,150,150,0.05) !important;
        color: var(--uc-accent-i) !important;
        border: 0.5px solid color-mix(in srgb, currentColor 24%, transparent) !important;
        border-radius: var(--border-radius-medium) !important;
        box-shadow: 0.1rem 0.4rem 0.4rem -0.1rem rgba(25,25,25,0.6) !important;
        margin: 2% 2% 133px 2% !important;
        padding-left:12px !important
    }
    /* history sidebar --------------------------------------------------*/
}

/* sidebery expand on inactive windows --------------------------------------------------------------------- */

@media -moz-pref("ultima.sidebery.expandon.inactive.windows") {
    #sidebar-box:-moz-window-inactive:not(:hover) { 
        max-width: unset !important;
    }
}
/* sidebar hide new header ---------------------------------------------------------------------------------- */

@media -moz-pref("ultima.sidebar.hide.header") {
    #sidebar-panel-header {
      display: none !important;
    }
}

/* highlight aboutconfig tab ------------------------------------------------------------------------------- */
/*
@media -moz-pref("ultima.xstyle.highlight.aboutconfig") {
    #tabbrowser-tabs tab[label="Advanced Preferences"] .tab-background {
        outline-color: color-mix(in srgb, var(--uc-accent-ii) 60%, transparent) !important;
    }
}
*/
/* alternative styling for container tabs ------------------------------------------------------------------ */
/* By Kaedriz @ https://github.com/Kaedriz */
/* Needs to be added to avoid overflowing, needs testing if this doesn't break anything */
.tabbrowser-tab .tab-background {
    overflow: clip;
}
/* Style 1 */
/* Simply changing border to the left side of tab icon */
@media -moz-pref("ultima.xstyle.containertabs.i") {
    .tabbrowser-tab .tab-context-line {
        border: 2px solid var(--identity-icon-color);
        margin: 0 !important;
        width: 100%;
        height: 100% !important;
        background: transparent !important;
        border-radius: var(--tab-border-radius) !important;
        opacity: 0.7;
    } 
}
/* Style 2 */
/* Border around full tab */
@media -moz-pref("ultima.xstyle.containertabs.ii") {
    .tabbrowser-tab .tab-context-line {
        border: 2px solid var(--identity-icon-color);
        margin: 0 !important;
        width: 100%;
        height: 100% !important;
        background: transparent !important;
        border-radius: var(--tab-border-radius) !important;
        opacity: 0.0;
    } 
    .tabbrowser-tab .tab-background {border: 2px solid var(--identity-icon-color);}
}
/* Style 3 */
/* Full color overlay */
@media -moz-pref("ultima.xstyle.containertabs.iii") {
/* Will needs tweaks as text color could be unreadable in some combinations */
    .tabbrowser-tab .tab-context-line {
        width: 100%;
        height: 100% !important;
        margin: 0 !important;
        opacity:  0.0;
    }
    .tabbrowser-tab.identity-color-purple,.tabbrowser-tab.identity-color-red,.tabbrowser-tab.identity-color-blue,
    .tabbrowser-tab.identity-color-green,.tabbrowser-tab.identity-color-black,.tabbrowser-tab.identity-color-pink,.tabbrowser-tab.identity-color-purple {
        .tab-background {background:color-mix(in lab, var(--identity-icon-color) 90%, var(--uc-ultima-window) 40%) !important;}
        .tab-text[selected] {color: var(--uc-ultima-window) !important;}
    }
} 

/* tab groups ---------------------------------------------------------------------------------------------- */
/* alternative styling for tab groups for the new vertical tabs */
.tab-group-label {
  tab-group[collapsed] > .tab-group-label-container > & {
    background-color: light-dark(var(--tab-group-color-pale), var(--tab-group-color));
    color: light-dark(var(--tab-group-color), var(--tab-group-color-pale)); 
    outline-offset: -1px;
    /* above ^ are all default values except for the change in alpha seen below */
    outline: 1px solid light-dark(var(--tab-group-color), rgba(0,0,0,0.3)) !important;
  }
}
/*----------------------------------------------------------------
Spacing correction for all tab group styles
----------------------------------------------------------------*/
@media not -moz-pref("ultima.tabs.tabgroups.label.1"), @media not -moz-pref("ultima.tabs.tabgroups.label.2") {
    tab-group {
        #tabbrowser-tabs & {
            &:not([collapsed])::before {
                inset-inline-start: 1px !important;
            }
        }
    }
    .tab-group-label {
        margin-left:15px !important;
    }
}
.tab-group-label {
    #tabbrowser-tabs[orient="vertical"]:not([expanded]) & {
        font-size: 12px !important;
    }
}
@media -moz-pref("sidebar.verticalTabs") {
    tab-group {
        #tabbrowser-tabs[expanded] & {
            &:not([collapsed])::before {
                margin-top: 5px !important;
            }
        }
    }
}
/*spacing as of ultima 2.0*/
#tabbrowser-tabs[orient="vertical"][expanded] {
  & tab-group > :is(.tab-group-label-container,
    .tabbrowser-tab), &[movingtab][movingtab-addToGroup]:not([movingtab-createGroup],
    [movingtab-ungroup]) .tabbrowser-tab:is(:active,
    [multiselected]) {
    margin-inline-start: 0 !important;
  }
}
/* rounded border */
/*vert*/
/*
#main-window:has(#tabbrowser-tabs[orient="vertical"]) {
    tab-group .tabbrowser-tab:first-of-type {
        border-radius: 8px 8px 0px 0px !important;
    }
    tab-group .tabbrowser-tab:last-of-type {
        border-radius: 0px 0px 8px 8px !important;
    }
}*/
/*hori*/
#main-window:has(#tabbrowser-tabs[orient="horizontal"]) {
    tab-group .tabbrowser-tab:first-of-type {
        border-radius: 8px 0px 0px 8px !important;
    }
    tab-group .tabbrowser-tab:last-of-type {
        border-radius: 0px 8px 8px 0px !important;
    }
}
/*group line doesnt except tabs*/
.tab-group-label-container {
    #tabbrowser-tabs:is([orient="horizontal"], [orient="vertical"]:not([expanded])) tab-group:not([collapsed]) > &::after {
        opacity:0 !important;
    }
}
/*group line hidden with color mix*/
@media -moz-pref("ultima.tabs.tabgroups.background.1") {
    .tab-group-line {
        opacity: 0 !important;
        /*display: none !important;
         background-color: transparent !important;*/
    }
} 

/* may 10th? 2025, tab sizing optimization */
/*tab group padding resizes when expand on hover*/
.tab-group-label {

    #tabbrowser-tabs[orient="vertical"][expanded] & {
        padding-block: 2px !important;
    }
    #tabbrowser-tabs[orient="vertical"]:not([expanded]) & {
        &::first-letter {
            line-height: var(--tab-label-line-height) !important;
            padding-block: 2px !important;
        }
    }
  
}

tab-group { &[collapsed] > .tabbrowser-tab {visibility:collapse !important;}}
.tab-group-label {cursor: pointer !important;}

/*----------------------------------------------------------------
Style T: Text labels always visible
Contributed by @tthornton3-chwy https://github.com/tthornton3-chwy
----------------------------------------------------------------*/
 
@media -moz-pref("ultima.tabs.tabgroups.label.tthornton") {
    /*defaults*/
    .tab-group-label {
        min-width:20px !important;
        max-width:150px !important;
        border-radius:2px !important;
        margin-left:15px !important;
    }
}
 
/*----------------------------------------------------------------
 Style 1: Tab Group shrinks into a tab like Icon 
----------------------------------------------------------------*/
 
@media -moz-pref("ultima.tabs.tabgroups.label.1") { 
    .tab-group-label {
        min-width:20px !important;
        max-width:150px !important;
        border-radius:17px !important;
        margin-left:15px !important;
    }
    .tab-group-label[aria-description="Unnamed Group — Tab Group"] {
        max-width:25px !important; width:25px !important; min-width: 25px !important;
        padding-inline: 0 !important;
    }
}

/*----------------------------------------------------------------
 Style 2: Tab Group Line Indicator
----------------------------------------------------------------*/

@media -moz-pref("ultima.tabs.tabgroups.label.2") { 
    /*defaults*/
    .tab-group-label-container, .tab-group-label {
        max-height:10px !important; height:10px !important; min-height:10px !important;
        min-width:18px !important; max-width:150px !important;
    }
    .tab-group-label {
        border-radius:17px !important;
        line-height:0.8 !important;
        z-index:5 !important;
    }
    #sidebar-main:not([sidebar-launcher-expanded]) .tab-group-label {
        color: transparent !important;
    }
    .tab-group-label[aria-expanded="true"] {
        margin-top: 7px !important;
    }
    .tab-group-line {
        opacity:0 !important;
    }
    .tab-group-label:hover {
        transform:scale(1.05);
    }
    .tab-group-label {
        #tabbrowser-tabs[orient="vertical"][expanded] & {
            padding: 0px 12px !important;
        }
    }
}
    
/*----------------------------------------------------------------
Tab groups with Color mixed backgrounds
----------------------------------------------------------------*/
 
@media -moz-pref("ultima.tabs.tabgroups.background.1") {
     
   /* remove accent group color border */ 
    @media -moz-pref("sidebar.verticalTabs") {
        tab-group {
            #tabbrowser-tabs & {
                &:not([collapsed])::before {
                    inset-inline-start: -10px !important;
                }
            }
        }
    }
    /* tab groups colors */
    tab-group[style*="--tab-group-color-blue"] .tabbrowser-tab {
        background: color-mix(in lab, blue 20%, var(--uc-ultima-window) 50%) !important;
    }
    tab-group[style*="--tab-group-color-purple"] .tabbrowser-tab {
        background: color-mix(in lab, purple 20%, var(--uc-ultima-window) 50%) !important;
    }
    tab-group[style*="--tab-group-color-cyan"] .tabbrowser-tab {
        background: color-mix(in lab, cyan 20%, var(--uc-ultima-window) 50%) !important;
    }
    tab-group[style*="--tab-group-color-orange"] .tabbrowser-tab {
        background: color-mix(in lab, orange 20%, var(--uc-ultima-window) 50%) !important;
    }
    tab-group[style*="--tab-group-color-yellow"] .tabbrowser-tab {
        background: color-mix(in lab, yellow 20%, var(--uc-ultima-window) 50%) !important;
    }
    tab-group[style*="--tab-group-color-pink"] .tabbrowser-tab {
        background: color-mix(in lab, pink 20%, var(--uc-ultima-window) 50%) !important;
    }
    tab-group[style*="--tab-group-color-green"] .tabbrowser-tab {
        background: color-mix(in lab, green 20%, var(--uc-ultima-window) 50%) !important;
    }
    tab-group[style*="--tab-group-color-red"] .tabbrowser-tab {
        background: color-mix(in lab, red 20%, var(--uc-ultima-window) 50%) !important;
    }
    tab-group[style*="--tab-group-color-gray"] .tabbrowser-tab {
        background: color-mix(in lab, gray 20%, var(--uc-ultima-window) 50%) !important;
    } 
}

@media -moz-pref("ultima.tabs.tabgroups.background.2") {
    .tab-context-line {
        border-radius: 5px !important;
        translate: 0px 10px !important;
        margin: 0 !important;
        width: 50% !important;
        height: 13px !important;
        filter: blur(13px) !important;
        overflow: visible !important;
        z-index: 10 !important;
        background-color: var(--tab-group-color-invert) !important;
        position: relative !important;
        opacity: 0.5 !important;
    }
    @media (prefers-color-scheme: light) {
        .tab-context-line {opacity: 0.8 !important;}
    }
}     

@media -moz-pref("ultima.tabs.tabgroups.background.3") {
    .tab-group-line {
        opacity:1 !important;
    }
    .tab-group-line {
      #tabbrowser-tabs[orient="vertical"] & {
        #tabbrowser-tabs[expanded] & {
          inset-inline-start: 2px !important;
        }
      }
    }
}
