/*///////////////////////////////////////////////////////////////////////////////////////\

FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
File Desc:         permanent tab audio playing indicator

\////////////////////////////////////////////////////////////////////////////////////////*/


/* Firefox Version <= 135 */


/* Firefox Version = 135+ */

    .tab-audio-button {
        position:absolute !important;
        margin-top:-18px !important;
        margin-left:8px !important;
        background-color: rgba(30,30,30,0.2) !important;
        border-radius:100% !important;
        --button-icon-fill:  var(--uc-light-color, white) !important;
        --button-size-icon-small: 15px !important;
        --button-min-height-small: 15px !important;
    }
    .tab-audio-button:hover {
        --button-icon-fill: var(--tab-loading-fill) !important;
    }    
