/* -------------------------------------------------------------
- return the window-controls/titlebar-buttons
- linux support added as of version 1.6.5 -> override-linux.css & override-mac.css
 ------------------------------------------------------------- */
@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#titlebar{
    order: 2;
    -moz-appearance: none !important;
    --tabs-navbar-shadow-size: 0px;
    --uc-menubar-vertical-overlap: 19px;
}

#navigator-toolbox > div{ display: contents; }

.global-notificationbox, #tab-notification-deck{order: 2;}

#TabsToolbar .titlebar-spacer{ display: none; }

#navigator-toolbox::after{ display: none !important; }

toolbox#navigator-toolbox > toolbar#nav-bar.browser-toolbar{ animation: none; }

#navigator-toolbox:hover #TabsToolbar{ animation: slidein ease-out 48ms 1; }

#navigator-toolbox:not(:-moz-lwtheme){ background-color: -moz-dialog; }


/* to return the title bar buttons */


:root[tabsintitlebar] .titlebar-buttonbox{
    position: fixed !important;
    display: flex !important;
    z-index: 2 !important;
    top: 4.2px !important;
    right: 2px !important;
    /* left instead of right, if you want it on left side */
}

/* adjust nav bar margin for fixed button */
#nav-bar {
    margin-right: 96px;
} /* margin-left if you have it on left side*/

/* 30px total button size to match toolbar buttons. */
@media (-moz-platform: windows) {
    .titlebar-buttonbox .titlebar-button {
        padding: 11px 11px !important;
    }
}

/* (optional) flip button order
.titlebar-buttonbox-container{ direction: rtl; } */

/* when in fullscreen mode, and the navigation bar isnt hovered, workaround for fixed title bar buttons */

:root[inFullscreen="true"] #navigator-toolbox:not(:hover) .titlebar-buttonbox {
    display: none !important;
}

/* when in fullscreen mode, and the navigation bar isnt hovered, match the themes rounded corners */

@media not (-moz-bool-pref: "ultima.xstyle.squared") {
    :root[inFullscreen="true"] #navigator-toolbox:not(:hover) + #browser {
        padding-top: 5px !important;
    }
}
