/*///////////////////////////////////////////////////////////////////////////////////////\

FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
File Desc:         Alternative styles and settings for elements within the browser

URL Bar
theme colors
pinned tabs
tab groups
compact tabs
container tabs
bookmarks fade out

\////////////////////////////////////////////////////////////////////////////////////////*/

/* alternative styling for URL Bar ------------------------------------------------------------------------------- */


@media (-moz-bool-pref: "ultima.xstyle.urlbar") {

    #main-window[lwtheme], #main-window:not([lwtheme]) {
      & #urlbar-background, & #searchbar {
          background-color: transparent !important;
          box-shadow: 0.1rem 0.4rem 0.4rem -0.1rem rgba(0,0,0,0);
      }
    }
}

/*extras*/
:root { --urlbar-box-bgcolor: color-mix(in srgb, var(--uc-button-selected) 50%, transparent) !important;}
#identity-box, #tracking-protection-icon-container, #page-action-buttons {
    margin-top:1px !important; margin-bottom:-1px !important; cursor: pointer !important;
}

/* theme colors -------------------------------------------------------------------------------------------------- */
/*alternative styling for theme colors by rearranging current color palette/variables*/
/*
@media (-moz-bool-pref: "ultima.theme.color.swap") {

    #main-window[lwtheme] #unified-extensions-button {
        list-style-image: url("icons/extensions.svg") !important;
        fill: var(--lwt-text-color) !important;
    }
    #main-window[lwtheme] body {
        background: var(--arrowpanel-background) !important;
    }    
    #main-window[lwtheme] #tabbrowser-tabpanels browser[type] {
        margin-top:4px !important;
        outline: 4px solid var(--arrowpanel-background) !important;
    }
}
*/

/* pinned tabs -------------------------------------------------------------------------------------------------- */
/*alternative styling for pinned tabs*/

@media (-moz-bool-pref: "ultima.xstyle.pinnedtabs.i") {
  @media (prefers-color-scheme: dark) {
    .tabbrowser-tab[pinned=""] .tab-background, .tabbrowser-tab[pinned="true"] .tab-background {
      background-color: var(--tab-selected-bgcolor) !important;
      box-shadow: inset 0 !important;
    }
  }
  @media (prefers-color-scheme: light) {
    .tabbrowser-tab[pinned=""] .tab-background, .tabbrowser-tab[pinned="true"] .tab-background {
      background-color: var(--tab-selected-bgcolor) !important;
      box-shadow: inset 0 !important;
    }
  }
}

/* tab groups ---------------------------------------------------------------------------------------------- */
/* alternative styling for tab groups for the new vertical tabs */

@media (-moz-bool-pref: "ultima.xstyle.tabgroups.ii") { 

    /*safeguard - shrink the group container label when tabs are not expanded*/
    @media not (-moz-bool-pref: "ultima.tabs.autohide") { @media (-moz-bool-pref: "sidebar.verticalTabs") {
        #sidebar-main:has([closebuttons="activetab"]) .tab-group-label-container {width:23px !important;}
        #sidebar-main:has([closebuttons="activetab"]) .tab-group-label {color: transparent !important;}
    }}
    @media (-moz-bool-pref: "ultima.tabs.autohide") { @media (-moz-bool-pref: "sidebar.verticalTabs") {
        .tab-group-label-container {width:23px !important;}
        #sidebar-main:has([expanded=""],[closebuttons="activetab"]):not(:hover) .tab-group-label {color: transparent !important;}
    }}    
    /*forced sizing*/
    .tab-group-label {
      #tabbrowser-tabs[orient="vertical"]:not([expanded]) & {
        width: 23px !important;
        min-height: 23px !important;
        max-width: 23px !important;
        margin: auto;
        font-size: 0;
        height: 23px !important;
        border-radius: 100% !important;
      }
    }   
    /* remove double-background/border */
    .tab-group-label-container { tab-group:not([collapsed]) > &::after {
        background-color: transparent !important;
    }}
    /* give tab-group label spacing similar to tabs + styling */
    .tab-group-label-container {
        margin-inline: 18px !important;
        height: 29px !important;
        background-color: transparent !important;
        border-radius: var(--uc-tab-border-radius) !important;
    }
    .tab-group-label {
      /*height: 18px !important;*/
      cursor: pointer !important;
      border-radius: var(--uc-tab-border-radius) !important;
      /*min-width: 10px !important;*/
      border: 0px transparent solid !important;
    }
    /* tab groups colors *//*
    tab-group[style*="--tab-group-color-blue"] .tabbrowser-tab {
      background: color-mix(in lab, blue 30%, var(--uc-ultima-window) 10%) !important;
    }
    tab-group[style*="--tab-group-color-purple"] .tabbrowser-tab {
      background: color-mix(in lab, purple 30%, var(--uc-ultima-window) 10%) !important;
    }
    tab-group[style*="--tab-group-color-cyan"] .tabbrowser-tab {
      background: color-mix(in lab, cyan 50%, var(--uc-ultima-window) 70%) !important;
    }
    tab-group[style*="--tab-group-color-orange"] .tabbrowser-tab {
      background: color-mix(in lab, orange 50%, var(--uc-ultima-window) 70%) !important;
    }
    tab-group[style*="--tab-group-color-yellow"] .tabbrowser-tab {
      background: color-mix(in lab, yellow 50%, var(--uc-ultima-window) 10%) !important;
    }
    tab-group[style*="--tab-group-color-pink"] .tabbrowser-tab {
      background: color-mix(in lab, pink 70%, var(--uc-ultima-window) 50%) !important;
    }
    tab-group[style*="--tab-group-color-green"] .tabbrowser-tab {
      background: color-mix(in lab, green 30%, var(--uc-ultima-window) 10%) !important;
    }
    tab-group[style*="--tab-group-color-red"] .tabbrowser-tab {
      background: color-mix(in lab, red 30%, var(--uc-ultima-window) 10%) !important;
    }
    tab-group[style*="--tab-group-color-gray"] .tabbrowser-tab {
      background: color-mix(in lab, gray 30%, var(--uc-ultima-window) 10%) !important;
    }
*/
    /* toggle collapse visibility */
      tab-group { &[collapsed] > .tabbrowser-tab {visibility:collapse !important;}}

} /* end tab groups styling */


/* tab groups ---------------------------------------------------------------------------------------------- */

/* by @tthornton3-chwy https://github.com/tthornton3-chwy */

@media (-moz-bool-pref: "ultima.xstyle.tabgroups.i") { 

    @media (-moz-bool-pref: "sidebar.verticalTabs") {
        .tab-group-label-container {
            width: calc(var(--uc-vertical-collapsed-width) - 4px) !important;
        }
        @media not (-moz-bool-pref: "ultima.tabs.autohide") {
            .tab-group-label-container {
                width: 100px !important;
            }            
        }
    }

    @media not (-moz-bool-pref: "sidebar.verticalTabs") {
        .tab-group-label-container {
            margin-inline: 18px !important;
            height: 39px !important;
        }
    }

    .tab-group-label-container {
        background-color: transparent !important;
        border-radius: var(--uc-tab-border-radius) !important;
     }
    .tab-group-label {
        height: 18px !important;
        cursor: pointer !important;
      }
    tab-group { &[collapsed] > .tabbrowser-tab {visibility:collapse !important;}}

    /* tab groups colors */
    tab-group[style*="--tab-group-color-blue"] .tabbrowser-tab {
        background: color-mix(in lab, blue 20%, var(--uc-ultima-window) 50%) !important;
    }
    tab-group[style*="--tab-group-color-purple"] .tabbrowser-tab {
        background: color-mix(in lab, purple 20%, var(--uc-ultima-window) 50%) !important;
    }
    tab-group[style*="--tab-group-color-cyan"] .tabbrowser-tab {
        background: color-mix(in lab, cyan 20%, var(--uc-ultima-window) 50%) !important;
    }
    tab-group[style*="--tab-group-color-orange"] .tabbrowser-tab {
        background: color-mix(in lab, orange 20%, var(--uc-ultima-window) 50%) !important;
    }
    tab-group[style*="--tab-group-color-yellow"] .tabbrowser-tab {
        background: color-mix(in lab, yellow 20%, var(--uc-ultima-window) 50%) !important;
    }
    tab-group[style*="--tab-group-color-pink"] .tabbrowser-tab {
        background: color-mix(in lab, pink 20%, var(--uc-ultima-window) 50%) !important;
    }
    tab-group[style*="--tab-group-color-green"] .tabbrowser-tab {
        background: color-mix(in lab, green 20%, var(--uc-ultima-window) 50%) !important;
    }
    tab-group[style*="--tab-group-color-red"] .tabbrowser-tab {
        background: color-mix(in lab, red 20%, var(--uc-ultima-window) 50%) !important;
    }
    tab-group[style*="--tab-group-color-gray"] .tabbrowser-tab {
        background: color-mix(in lab, gray 20%, var(--uc-ultima-window) 50%) !important;
    }

}


@media (-moz-bool-pref: "ultima.xstyle.tabgroups.i") {
    #sidebar-main:hover .tab-group-label-container {min-width:200px !important;}
}

@media (-moz-bool-pref: "ultima.xstyle.tabgroups.ii"),@media (-moz-bool-pref: "ultima.xstyle.tabgroups.i") {
    @media (-moz-bool-pref: "sidebar.verticalTabs") {
        tab-group {
            #tabbrowser-tabs[expanded] & {
                margin-inline-start: 0px !important;
            }
        }
    }
}
/* compact tabs ------------------------------------------------------------------------ */

@media (-moz-bool-pref: "ultima.spacing.compact.tabs") { 
    .tab-background {
          margin-block: 0px !important;
      }
}
/* ------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------------------------ */

/*alternative styling for container tabs*/
/* by Kaedriz */

/* Needs to be added to avoid overflowing, needs testing if this doesn't break anything */
.tabbrowser-tab .tab-background {
    overflow: clip;
}

/* Style 1 */
/* Simply changing border to the left side of tab icon */
@media (-moz-bool-pref: "ultima.xstyle.containertabs.i") {
    .tabbrowser-tab .tab-context-line {
        border: 2px solid var(--identity-icon-color);
        margin: 0 !important;
        width: 100%;
        height: 100% !important;
        background: transparent !important;
        border-radius: var(--tab-border-radius) !important;
        opacity: 0.7;
    } 
}

/* Style 2 */
/* Border around full tab */
@media (-moz-bool-pref: "ultima.xstyle.containertabs.ii") {
    .tabbrowser-tab .tab-context-line {
        border: 2px solid var(--identity-icon-color);
        margin: 0 !important;
        width: 100%;
        height: 100% !important;
        background: transparent !important;
        border-radius: var(--tab-border-radius) !important;
        opacity: 0.0;
    } 
    .tabbrowser-tab .tab-background {border: 2px solid var(--identity-icon-color);}
}

/* Style 3 */
/* Full color overlay */
@media (-moz-bool-pref: "ultima.xstyle.containertabs.iii") {
/* Will needs tweaks as text color could be unreadable in some combinations */
    .tabbrowser-tab .tab-context-line {
        width: 100%;
        height: 100% !important;
        margin: 0 !important;
        opacity:  0.0;
    }
    .tabbrowser-tab.identity-color-purple,.tabbrowser-tab.identity-color-red,.tabbrowser-tab.identity-color-blue,
    .tabbrowser-tab.identity-color-green,.tabbrowser-tab.identity-color-black,.tabbrowser-tab.identity-color-pink,.tabbrowser-tab.identity-color-purple {
        .tab-background {background:color-mix(in lab, var(--identity-icon-color) 90%, var(--uc-ultima-window) 40%) !important;}
        .tab-text[selected] {color: var(--uc-ultima-window) !important;}
    }
} 


/* bookmarks fade out -------------------------------------------------------------------------------------- */

@media (-moz-bool-pref: "ultima.xstyle.bookmarks.fading") {
    #PlacesToolbar {
      opacity: 0.2 !important;
      transition: opacity 4s ease-out; /* Slow ease-out when not hovered */
    }

    #PlacesToolbar:hover {
      opacity: 1 !important;
      transition: opacity 0.2s ease-in; /* Fast ease-in when hovered */
    }
}


/* ---------------------------------------------------------------------------------------------- */

img[src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACRUlEQVQ4T41TTWjUQBjNTBJ3I7vZzZ/Wi4sX8WBlDwpWsCy9qqhHqR6KWL160It49eDJk7UoKP7gQQTFiyfFFqmg4LkI7epFYZPNZtWkJJOMb7bZEktZDczu/Hzzvve9Nx+RNn31en1SUZQz2J6SON81OCbkO37fMMae9nq9heIVUljItmHclxXl3GbQ4jpl7JHr+zPYSwfY+aFsWdaiQunEqMvDM5ZlS57nHRUgAwBkfozM0wljCyxNr/T7/WO6rk9vU1W2XgFpdFz3uqZpi1q5fFNVlEkweQImZ4lpmodVWV4SgUmazne73UuYVjAyjDDPKta/MTji7yD+Yh4/QZD94bDulPNDrut+GlWGbdstmZC3IkboQRzHWaGStCfNshgl7AuCYHUUAFxqoIRlSkgJFFeJY9sRFmVk/4bsjf8RESy+gsXujPM1ARACQANAAAAzr30UDrUty5cp1QEQEaAtA22vuAF7TsGel//Q4DjiXw004PyL0OAeXtx51/PSuq5zidKW7/vvtwLZUa0e4aXSczAey124KwCa8Vr8OfgZxPD7F4YoI4JYU7D0gwisVCqtMAyfOZZlF4Fjxg6sPyTbnget2TiKxiVVbXLOL2DMwJGV/Pwg+uBjSVU37sOBW51O5/JGL5iG8Y5SOg47m7Vard9ut3uFbFWI/QPUt+f+v8ArPC3mxWYSTG5Dj1nsB9BkP/5FF4pvbKfjDOZgcsPz/WtD8L8AxKZlGFch5MkkSU6gJ7piD4wMldIHnNLXcGmuqMMfsGP6IYOu2qkAAAAASUVORK5CYII="],
img[src="page-icon:https://github.com/sponsors/accounts"],
img[src*="github"] {
background-image: url('https://w7.pngwing.com/pngs/319/426/png-transparent-github-gitlab-computer-icons-logo-github-thumbnail.png') !important;
background-size: contain !important;
background-repeat: no-repeat !important;
display: inline-block !important;
border-radius:100% !important;
  
}

/* ---------------------------------------------------------------------------------------------- */

