/* -------------------------------------------------------------
- status panel theming
 ------------------------------------------------------------- */

#statuspanel-label {border-radius: 7px !important;}

#statuspanel {
&:not([hidden]) {
    max-width: calc(100% - 5px);
    position: absolute;
    bottom: 1vh !important;
    left: 1vw !important;
    border-radius: 7px !important;
    padding-top: 2em;
    pointer-events: none;  
}
}

#main-window:not([lwtheme="true"]) #statuspanel-label {
  @media (not (prefers-contrast)) and (not (-moz-platform: linux)) {
    & {
      background-color: var(--uc-ultima-background-iii) !important;
      border-color: rgba(15,15,15,0.5);
    }
  }
}



