/* -------------------------------------------------------------
- permanent-positioning for the indicator of tabs projecting audio
 ------------------------------------------------------------- */

:root {
    --tab-icon-overlay-stroke: var(--uc-active) !important;
}

.tab-icon-image, .tab-throbber{ 
    opacity: 1 !important;
}


.tab-icon-overlay:not([crashed]) {
    z-index: 1; 
    opacity: 1 !important;
    top: -5.5px; 
    inset-inline-end: -6px; 
    padding: 2px;
    stroke: var(--tab-icon-overlay-stroke, black) !important;
    fill: var(--tab-icon-overlay-fill, white) !important;
    fill-opacity: 1 !important;
}

.tab-icon-overlay:not([crashed]):hover {
    background-color: var(--tab-loading-fill) !important;
    border-radius: var(--uc-all-border-radius) !important;
}
