/*///////////////////////////////////////////////////////////////////////////////////////\

FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
File Desc:         Theming the context menu (right-click menu)

removing excess items from the context menu
context menu theming
color correction relative to system color scheme

\////////////////////////////////////////////////////////////////////////////////////////*/

#context-take-screenshot
#context-sep-screenshots,
#context-sendimage,
#context-sep-setbackground,
#context-openlinkinusercontext-menu {
display: none !important;}
#context-pocket,
#context-savelinktopocket,
#tabContextMenu #context_duplicateTab,         
#tabContextMenu #context_duplicateTabs,
#tabContextMenu #context_bookmarkSelectedTabs{
display: none !important;}

/* context menu theming */

menupopup, panel {
  color-scheme: light dark;
  --panel-background: var(--uc-context-menu) !important;
  --panel-border-radius: var(--uc-all-border-radius) !important;
  --panel-border-color: var(--uc-panel-border-ii) !important;
  --panel-shadow: 0 0 var(--panel-shadow-margin) hsla(0,0%,0%,.2); 
}

menuitem:hover{
  background-color: var(--uc-button-selected) !important;
  color: var(--uc-text) !important;
 }

menu:where([_moz-menuactive="true"]:not([disabled="true"])),
menuitem:where([_moz-menuactive="true"]:not([disabled="true"])){
  background-color: var(--uc-button-selected) !important;
  color: var(--uc-text) !important;
}

#main-window[lwtheme]{
    
    menupopup, panel {
  color-scheme: light dark;
  --panel-background: var(--lwt-accent-color) !important;
  --panel-color: color-mix(in srgb, var(--toolbar-color) 35%, var(--tab-loading-fill)) !important;
  --panel-border-radius: var(--uc-all-border-radius) !important;
  --panel-border-color: var(--uc-panel-border-ii) !important;
  --panel-shadow: 0 0 var(--panel-shadow-margin) hsla(0,0%,0%,.2); 
}

menuitem:hover{
  background-color: var(--uc-button-selected) !important;
  color: var(--uc-text) !important;
 }

menu:where([_moz-menuactive="true"]:not([disabled="true"])),
menuitem:where([_moz-menuactive="true"]:not([disabled="true"])){
  background-color: var(--uc-button-selected) !important;
  color: var(--uc-text) !important;
}
}


