/*///////////////////////////////////////////////////////////////////////////////////////\

FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
File Desc:         Alternative Styles for the URL Bar

\////////////////////////////////////////////////////////////////////////////////////////*/

/* some visual clarity modifications --------------------------------- */

.search-one-offs button {
    cursor: pointer !important;
    &:hover{
        transform:scale(1.1);
    }
}

#identity-box,#tracking-protection-icon-container, #page-action-buttons {
    margin-top:1px !important;
    margin-bottom:-1px !important;
    cursor: pointer !important;
}
:root {
    --urlbar-box-bgcolor: color-mix(in srgb, var(--uc-button-selected) 50%, transparent) !important;
}

#urlbar[open] {
    box-shadow: var(--uc-box-shadow) !important;
}

#urlbar[focused]:not([suppress-focus-border]) > #urlbar-background, #searchbar:focus-within {
        outline-offset: 0px !important;
        outline-width: 2px !important;
        outline-color: color-mix(in srgb, var(--toolbar-field-focus-border-color) 80%, transparent) !important;
}

/* 5/28/2025 - new urlbar searchmode switcher */
#urlbar-searchmode-switcher {
  &[open] {
    background-color: var(--uc-button-selected) !important;
  }
}

/* urlbar settings --------------------------------------------------- */

@media -moz-pref("ultima.urlbar.transparent") {
    #main-window[lwtheme], #main-window:not([lwtheme]) {
        & #urlbar-background, & #searchbar {
            background-color: transparent !important;
            box-shadow: 0.1rem 0.4rem 0.4rem -0.1rem rgba(0,0,0,0);
        }
    }
}

@media -moz-pref("ultima.urlbar.suggestions") {
    #urlbar .search-one-offs:not([hidden]) {
        display:none !important;
    }
}

@media -moz-pref("ultima.urlbar.centered") {   
    #urlbar .urlbar-input-box {
        text-align: center;
    }  
    #urlbar .urlbar-input {
        text-overflow: ellipsis !important;
        overflow: hidden;
        white-space: nowrap; 
    }
}

@media -moz-pref("ultima.urlbar.hidebuttons") {
    #urlbar #identity-box,
    #urlbar #page-action-buttons,
    #urlbar #tracking-protection-icon-container {
        opacity: 0 !important;
    }
    #urlbar:hover #identity-box,
    #urlbar:hover #page-action-buttons,
    #urlbar:hover #tracking-protection-icon-container {
        opacity: 1 !important;
        transition: opacity 100ms ease !important;
    }
}

@media -moz-pref("ultima.urlbar.animate.open") {
    #urlbar[breakout] {
        max-height: var(--urlbar-min-height) !important;
        transition: max-height 1s ease !important;
        will-change: max-height;
    }
    #urlbar[breakout][breakout-extend] {
        overflow: hidden !important;
        max-height: 600px !important; /* Choose a value big enough to cover the tallest state */
    }
}
@media -moz-pref("ultima.urlbar.animate.options") {
    .urlbarView-row-inner {
        .urlbarView-favicon, .urlbarView-type-icon {
            transition: margin-left 1s ease-in-out !important;
        }
    }
    .urlbarView-row-inner:hover {
        .urlbarView-favicon, .urlbarView-type-icon {
            margin-left:-27px !important;
            transition: margin-left 1.6s ease-in-out !important;
        }
    }
}
