/*///////////////////////////////////////////////////////////////////////////////////////\

FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
File Desc:         Theming the find bar 

\////////////////////////////////////////////////////////////////////////////////////////*/

findbar{
  border-top: 0px !important;
  padding-block: 2px !important;
  margin-inline: 4px !important;
  border-radius: 10px !important;
}

.findbar-container{
  height: 38px !important;
  padding-bottom: 4px !important;
  margin-top:-2px;
}

.findbar-textbox{
  width: 27vw !important;
  padding-bottom: 9px !important;
  padding-top: 8px !important;
  border: 0px !important;
  background-color: var(--uc-background-main) !important;
  color: var(--uc-text) !important;
  box-shadow: var(--uc-box-shadow);
}

.findbar-textbox:focus{
  background-color: var(--uc-background-main) !important;
}

.findbar-closebutton {
  border-radius: var(--uc-button-border-radius) !important;
  width: 33px !important;
  margin: -2px 8px 7px auto !important;
  box-shadow: var(--uc-box-shadow);
}
