/*///////////////////////////////////////////////////////////////////////////////////////\

FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
File Desc:         PiP (picture-in-picture) Styling

\////////////////////////////////////////////////////////////////////////////////////////*/

/*seek bar progress bar*/

#scrubber::-moz-range-progress{
    background-color: var(--uc-accent-i) !important;
} #scrubber::-moz-range-thumb{
    background-color: var(--uc-accent-i) !important;
    border: 3px solid var(--uc-accent-i) !important;
}

/*close and PIP buttons are hovered*/

#close, #unpip{
    background-color: rgba(255, 255, 255, 0.1) !important;
    fill: #fff !important;
}

#close:is(:hover, :focus-visible), #unpip:is(:hover, :focus-visible){
    background-color: var(--uc-accent-i) !important;
    fill: #1c1c1c !important;
}

/*remove rounded corners*/
.player-holder #browser
    {border-radius:0px !important;}
