/*///////////////////////////////////////////////////////////////////////////////////////\
 
FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
File Desc:         About Config Messaging & Auto theming

color management
if you see this text
warning messages

\////////////////////////////////////////////////////////////////////////////////////////*/

@-moz-document url("about:config") {
@media -moz-pref("ultima.xstyle.highlight.aboutconfig") {

/* style ------------------------------------------------------------------------------*/
:root {  
    --in-content-page-background: var(--uc-browser-color) !important;
    --in-content-box-border-color: var(--uc-accent-color-2) !important;
}
input, #prefs {
    border-radius: 8px !important;
}

/* if you see this text --------------------------------------------------------------------------*/
body::before {
    content:
        "\✅ If you see this text, congratulations! FF Ultima is properly setup. \A 📝 To change theme settings, Type: ultima \A 📝 To change color schemes, Type: user.theme \A 🇺 Need help? Visit the FF Ultima Wiki: https://ff-ultima.github.io/ \A";
    display: block;
    z-index:-1 !important;
    margin: 10px 10px 0px 10px;
    padding:12px 32px;
    border: var(--prefs-table-border);
    border-radius: 8px;
    white-space: pre-line;
    line-height: 1.5;
    font-size: var(--font-size-root);
    color: var(--in-content-text-color);
    background: var(--background-color-box);
}
/* if you see this - setting is on */
#prefs .has-user-value:has(span[data-l10n-args='{"value":"true"}']) th[scope="row"]::before {
    content: "🟢 ";
    position:absolute;
    left:18px;
}

/* warning messages ------------------------------------------------------------------------------*/
/* conflicting setting warn */
body::after {
    position: fixed;
    display: none;
    z-index: 100;
    top: 180px;
    right: 110px;
    height: 115px;
    min-height:90px;
    max-height:13vh;
    width: 25vw;
    min-width: 200px;
    padding: 22px 32px;
    border: 1px solid rgb(255,150,50);
    border-radius: 8px;
    white-space: pre-line;
    line-height: 1.3;
    font-size: 1.1em;
    text-align: center;
    color: var(--in-content-text-color);
    background: var(--background-color-box);
    box-shadow: 0px 6px 6px 6px rgba(15, 15, 15, 0.6);
    @media (prefers-color-scheme: light) {box-shadow: 1px 5px 6px 6px rgba(15, 15, 15, 0.3);}
}
/* depreciated setting inform */
#toolbar::after {
    position: fixed;
    display: none;
    z-index: 100;
    bottom: 30px;
    right: 110px;
    height: 470px;
    width: 25vw;
    min-width: 200px;
    padding: 22px 32px;
    border: 1px solid rgb(50,150,255);
    border-radius: 8px;
    white-space: pre-line;
    line-height: 1;
    font-size: 1.1em;
    color: var(--in-content-text-color);
    background-image: url(icons/aboutconfig.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: var(--background-color-box);
    box-shadow: 0px 6px 6px 6px rgba(15, 15, 15, 0.6);
    @media (prefers-color-scheme: light) {box-shadow: 1px 5px 6px 6px rgba(15, 15, 15, 0.3);}
}
@media -moz-pref("ultima.tabs.vertical.hide.in.screencorner") {
    @media -moz-pref("ultima.tabs.vertical.hide.in.screenedge") {
        body::after {
            content: "\ Only use one of these settings! \A \A  hide.in.screencorner \A hide.in.screenedge \A ";
            display: block;
        }
    }
}
@media -moz-pref("ultima.sidebar.autohide") {
    @media -moz-pref("ultima.sidebery.autohide") {
        body::after {
            content: "\ Only use one of these settings! \A \A  ultima.sidebery.autohide \A ultima.sidebar.autohide \A ";
            display: block;
        }
    }
}
@media -moz-pref("ultima.navbar.windowcontrols.carl") {
    @media -moz-pref("ultima.navbar.windowcontrols.trafficlights") {
        body::after {
            content: "\ Only use one of these settings! \A \A  ultima.navbar.windowcontrols \A ";
            display: block;
        }
    }
}
@media -moz-pref("ultima.spacing.relaxed") {
    @media -moz-pref("ultima.spacing.compact") {
        body::after {
            content: "\ Only use one of these settings! \A \A  ultima.spacing.compact \A ultima.spacing.relaxed (NOTE: relaxed spacing is WIP design) \A ";
            display: block;
        }
    }
}
@media -moz-pref("ultima.navbar.bookmarks.float.left") {
    @media -moz-pref("ultima.navbar.bookmarks.float") {
        body::after {
            content: "\ FYI \A \A  ultima.navbar.bookmarks.float is a WIP \A and ultima.navbar.bookmarks.float.left is not worth using right now \A ";
            display: block;
        }
    }
}
@media -moz-pref("ultima.navbar.bookmarks.float.autohide") {
    @media -moz-pref("ultima.navbar.bookmarks.float") {
        body::after {
            content: "\ FYI \A \A  ultima.navbar.bookmarks.float is a WIP \A and ultima.navbar.bookmarks.float.autohide is not worth using right now \A ";
            display: block;
        }
    }
}
@media -moz-pref("ultima.tabs.vertical.hide.private") {
    @media not -moz-pref("ultima.tabs.vertical.hide") {
        body::after {
            content: "\ You need both of these settings! \A \A  ultima.tabs.vertical.hide \A ultima.tabs.vertical.hide.private \A ";
            display: block;
        }
    }
}
@media -moz-pref("ultima.tabs.reverse.content.order") {
    @media -moz-pref("ultima.tabs.closetabbutton.on.icon") {
        body::after {
            content: "\ Only use one of these settings! \A \A  ultima.tabs.reverse.content.order \A ultima.tabs.closetabbutton.on.icon \A ";
            display: block;
        }
    }
}
@media -moz-pref("ultima.xstyle.sidebar.theming") {
    #toolbar::after {
        content: "\ ultima.xstyle.sidebar.theming is now handled automatically. \A \A You can delete it. Here's an example of deleting old settings:\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A This message will dissappear once the setting is removed.";
        display: block;
        background-image: url(icons/oldsettings.gif);
    } 
}
@media -moz-pref("user.theme.dark.a"), -moz-pref("user.theme.light.a"), -moz-pref("user.theme.light.gruvbox"), -moz-pref("user.theme.dark.gruvbox"),
-moz-pref("user.theme.dark.catppuccin"), -moz-pref("user.theme.dark.catppuccin-frappe"), -moz-pref("user.theme.dark.catppuccin-mocha"), -moz-pref("user.theme.dark.midnight"), -moz-pref("user.theme.dark.scarlet") {
    #toolbar::after {
        content: "\ All user.theme settings have been renamed! \A \A To avoid confusion, delete them from your options list. Here's how:\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A This message will dissappear once the settings are removed.";
        display: block;
        background-image: url(icons/aboutconfig.gif);
    } 
}
@media -moz-pref("user.theme.adaptive") {
    #toolbar::after {
        content: "\ user.theme.adaptive is now handled automatically. \A \A You can delete it. Here's an example of deleting old settings:\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A This message will dissappear once the setting is removed.";
        display: block;
        background-image: url(icons/aboutconfig.gif);
    } 
}
@media -moz-pref("user.theme.transparent") {
    @media not -moz-pref("browser.tabs.allow_transparent_browser") {
        body::after {
            content: "\ Both of these settings should be on or off \A \A  user.theme.transparent \A browser.tabs.allow_transparent_browser \A ";
            display: block;
        }
    }
}
@media -moz-pref("browser.tabs.allow_transparent_browser") {
    @media not -moz-pref("user.theme.transparent") {
        body::after {
            content: "\ Both of these settings should be on or off \A \A  user.theme.transparent \A browser.tabs.allow_transparent_browser \A ";
            display: block;
        }
    }
}

@media -moz-pref("ultima.navbar.bookmarks.fading") {
    body::after {
        content: "\ Old setting detected ! \A \A  ultima.navbar.bookmarks.fading is no more... please delete the old setting \A ";
        display: block;
    }
}
@media -moz-pref("ultima.navbar.bookmarks.float.autohide") {
    body::after {
        content: "\ Old setting detected ! \A \A  `ultima.navbar.bookmarks.float.autohide` is now handled via `ultima.navbar.bookmarks.autohide`... please delete the old setting \A ";
        display: block;
    }
}
@media -moz-pref("ultima.navbar.bookmarks.float.left") {
    body::after {
        content: "\ Old setting detected ! \A \A  `ultima.navbar.bookmarks.float.left` is no more... please delete the old setting \A ";
        display: block;
    }
}
@media -moz-pref("ultima.navbar.bookmarks.float.compact") {
    body::after {
        content: "\ Old setting detected ! \A \A  `ultima.navbar.bookmarks.float.compact` is now handled by `ultima.navbar.bookmarks.compact`... please delete the old setting \A ";
        display: block;
    }
}

@media -moz-pref("ultima.tabs.pinnedtabs.style.1") {
    body::after {
        content: "\ Old setting detected ! \A \A  `ultima.tabs.pinnedtabs.style.1` is now handled by `ultima.tabs.always.show.pinned`... please delete the old setting \A ";
        display: block;
    }
}

@media -moz-pref("ultima.theme.color.swap") {
    body::after {
        content: "\ Old setting detected ! \A \A  `ultima.theme.color.swap` is now handled by `user.theme.xtension.swap.addon.colors`... please delete the old setting \A ";
        display: block;
    }
}

@media -moz-pref("ultima.urlbar.suggestions") {
    body::after {
        content: "\ Old setting detected ! \A \A  `ultima.urlbar.suggestions` renamed to `ultima.urlbar.hide.searchsuggestions`... please delete the old setting \A ";
        display: block;
    }
}

@media -moz-pref("ultima.urlbar.hidebuttons") {
    body::after {
        content: "\ Old setting detected ! \A \A  `ultima.urlbar.hidebuttons` renamed to `ultima.urlbar.hide.buttons`... please delete the old setting \A ";
        display: block;
    }
}

@media -moz-pref("ultima.navbar.float") {
    @media -moz-pref("ultima.navbar.autohide") {
        body::after {
            content: "\ Only use one of these settings! \A \A  ultima.navbar.autohide \A ultima.navbar.float \A ";
            display: block;
        }
    }
}

@media -moz-pref("ultima.navbar.float") {
    @media -moz-pref("ultima.navbar.bookmarks.float") {
        body::after {
            content: "\ These settings dont mix well! \A \A  ultima.navbar.float \A ultima.navbar.bookmarks.float \A ";
            display: block;
        }
    }
}


@media -moz-pref("ultima.navbar.bookmarks.centered") {
    body::after {
        content: "\ Old setting detected ! \A \A  `navbar.bookmarks.centered` is no more. Try typing `center` into bookmarks.position \A ";
        display: block;
    }
}

@media -moz-pref("ultima.navbar.bookmarks.centered") {
    body::after {
        content: "\ Old setting detected ! \A \A  `navbar.bookmarks.float.right` is no more. Try typing `right` into bookmarks.position \A ";
        display: block;
    }
}

@media -moz-pref("ultima.navbar.bookmarks.centered") {
    body::after {
        content: "\ Old setting detected ! \A \A  `ultima.navbar.bookmarks.centered` is handled by bookmarks.position now. Please delete the old setting \A ";
        display: block;
    }
}


@media -moz-pref("ultima.navbar.float") {
    @media -moz-pref("ultima.navbar.bookmarks.float") {
        body::after {
            content: "\ These settings dont mix well! \A \A  ultima.navbar.float \A ultima.navbar.bookmarks.float \A ";
            display: block;
        }
    }
}

@media -moz-pref("ultima.disable.contextmenu.icons") {
    body::after {
        content: "\ Old setting detected ! \A \A  `ultima.disable.contextmenu.icons` has been renamed to `ultima.contextmenu.no.icons`. Please delete the old setting \A ";
        display: block;
    }
}

@media -moz-pref("ultima.disable.contextmenu.icons.all") {
    body::after {
        content: "\ Old setting detected ! \A \A  `ultima.disable.contextmenu.icons.all` has been renamed to `ultima.contextmenu.no.navigation.icons`. Please delete old setting \A ";
        display: block;
    }
}

@media -moz-pref("ultima.navbar.hidebuttons") {
    body::after {
        content: "\ Old setting detected ! \A \A  `ultima.navbar.hidebuttons` has been renamed to `ultima.navbar.hide.buttons` \A ";
        display: block;
    }
}

@media -moz-pref("ultima.tabs.vertical.hide") {
    body::after {
        content: "\ Old setting detected ! \A \A  `ultima.tabs.vertical.hide` has been renamed to `ultima.tabs.tabbar.disabled` \A ";
        display: block;
    }
}

@media -moz-pref("ultima.tabs.vertical.hide.in.screencorner") {
    body::after {
        content: "\ Old setting detected ! \A \A  `ultima.tabs.vertical.hide.in.screencorner` is no more. Try `ultima.tabs.tabbar.autohide` instead \A ";
        display: block;
    }
}

@media -moz-pref("ultima.tabs.vertical.hide.in.screenedge") {
    body::after {
        content: "\ Old setting detected ! \A \A  `ultima.tabs.vertical.hide.in.screenedge` is no more. Try `ultima.tabs.tabbar.autohide` instead \A ";
        display: block;
    }
}

@media -moz-pref("ultima.tabs.vertical.hide.the.bottom.buttons") {
    body::after {
        content: "\ Old setting detected ! \A \A  `ultima.tabs.vertical.hide.the.bottom.buttons` is no more. Try `ultima.tabs.tabbar.hide.buttonstrip` instead  \A ";
        display: block;
    }
}


@media -moz-pref("ultima.tabs.vertical.hide.the.bottom.buttons.off.hover") {
    body::after {
        content: "\ Old setting detected ! \A \A  `ultima.tabs.vertical.hide.the.bottom.buttons.off.hover` is no more. Try `ultima.tabs.tabbar.hide.buttonstrip` instead  \A ";
        display: block;
    }
}

@media -moz-pref("ultima.sidebar.autohide") {
    body::after {
        content: "\ Old setting detected ! \A \A  `ultima.sidebar.autohide` is no more because there werent many usecases for it \A ";
        display: block;
    }
}

@media -moz-pref("ultima.tabs.tabbar.disabled") {
    @media -moz-pref("sidebar.visibility", "expand-on-hover") {
        body::after {
            content: "\ When using tabbar.disabled, You should turn off expandonHover (Sidebar Settings) for the Vertical Tab Bar";
            display: block;
        }
    }
}

}} /* end aboutconfig page */
