/*
color management
if you see this text
warning messages
*/

@-moz-document url("about:config") {
@media -moz-pref("ultima.xstyle.highlight.aboutconfig") {

/* color management ------------------------------------------------------------------------------*/
    
:root {
    /* apply dark mode colors */
    @media (prefers-color-scheme: dark) {
        @media -moz-pref("user.theme.dark.a") {
            --ut-background: rgb(40, 39, 48);
            --uc-accent-i: rgb(121, 161, 195);
            --in-content-page-background: var(--ut-background) !important;
            --in-content-box-border-color: var(--uc-accent-i) !important;
        }
        @media -moz-pref("user.theme.dark.catppuccin") {
            --ut-background: rgb(38, 36, 50);
            --uc-accent-i: rgb(198, 170, 232);
            --in-content-page-background: var(--ut-background) !important;
        }
        @media -moz-pref("user.theme.dark.catppuccin-frappe") {
            --ut-background: rgb(41, 44, 60);
            --uc-accent-i: rgb(244, 184, 228);
            --in-content-page-background: var(--ut-background) !important;
            --in-content-box-border-color: var(--uc-accent-i) !important;
        }
        @media -moz-pref("user.theme.dark.catppuccin-mocha") {
            --ut-background: rgb(24, 24, 37);
            --uc-accent-i: rgb(203, 166, 247);
            --in-content-page-background: var(--ut-background) !important;
            --in-content-box-border-color: var(--uc-accent-i) !important;
        }
        @media -moz-pref("user.theme.dark.gruvbox") {
            --ut-background: rgb(40, 40, 45);
            --uc-accent-i: rgb(237, 221, 170);
            --in-content-page-background: var(--ut-background) !important;
            --in-content-box-border-color: var(--uc-accent-i) !important;
        }
        @media -moz-pref("user.theme.dark.midnight") {
            --ut-background: rgb(0, 0, 0);
            --uc-accent-i: rgb(75,75,95);
            --in-content-page-background: var(--ut-background) !important;
            --in-content-box-border-color: var(--uc-accent-i) !important;
        }
    }
    /* apply light mode colors */
    @media (prefers-color-scheme: light) {
        @media -moz-pref("user.theme.light.a") {
            --ut-background: rgb(250, 250, 250);
            --uc-accent-i: rgba(144,144,200,0.8);
            --in-content-page-background: var(--ut-background) !important;
            --in-content-box-border-color: var(--uc-accent-i) !important;
        }
        @media -moz-pref("user.theme.light.gruvbox") {
            --ut-background: rgb(215, 215, 215);
            --uc-accent-i: pink;
            --in-content-page-background: var(--ut-background) !important;
            --in-content-box-border-color: var(--uc-accent-i) !important;
        }
    }
}

    
/* if you see this text --------------------------------------------------------------------------*/

body::before {
    content:
        "\✅ If you see this text, congratulations! FF Ultima is properly setup. \A 📝 To change theme settings, Type: ultima \A 📝 To change color schemes, Type: user.theme \A 🇺 Need help? Visit the FF Ultima Wiki https://github.com/soulhotel/FF-ULTIMA/wiki \A";
    display: block;
    z-index:-1 !important;
    margin: 10px 10px 0px 10px;
    padding:12px 32px;
    border: var(--prefs-table-border);
    border-radius: 5px;
    white-space: pre-line;
    line-height: 1.5;
    font-size: var(--font-size-root);
    color: var(--in-content-text-color);
    background: var(--background-color-box);
}

input, #prefs {
    border-radius: 8px !important;
}

#prefs .has-user-value:has(span[data-l10n-args='{"value":"true"}']) th[scope="row"]::before {
    content: "🟢 ";
    position:absolute;
    left:18px;
}


/* warning messages ------------------------------------------------------------------------------*/

    
body::after {
    position: absolute;
    display: none;
    z-index: 100;
    top: 0.8%;
    left: 50%;
    transform: translateX(-50%);
    height: 115px;
    width: 25vw;
    min-width: 200px;
    padding: 22px 32px;
    border: 2px solid rgb(255,150,50);
    border-radius: 8px;
    white-space: pre-line;
    line-height: 1.6;
    font-size: 1.2em;
    color: var(--in-content-text-color);
    background: var(--background-color-box);
    box-shadow: 0px 8px 15px 10px rgba(35, 25, 15, 1);
}
@media -moz-pref("ultima.tabs.vertical.hide.in.screencorner") {
    @media -moz-pref("ultima.tabs.vertical.hide.in.screenedge") {
        body::after {
            content: "\ Only use one of these settings! \A \A  hide.in.screencorner \A hide.in.screenedge \A ";
            display: block;
        }
    }
}
@media -moz-pref("ultima.sidebar.autohide") {
    @media -moz-pref("ultima.sidebery.autohide") {
        body::after {
            content: "\ Only use one of these settings! \A \A  ultima.sidebery.autohide \A ultima.sidebar.autohide \A ";
            display: block;
        }
    }
}
@media -moz-pref("ultima.navbar.windowcontrols.carl") {
    @media -moz-pref("ultima.navbar.windowcontrols.trafficlights") {
        body::after {
            content: "\ Only use one of these settings! \A \A  ultima.navbar.windowcontrols \A ";
            display: block;
        }
    }
}
@media not -moz-pref("user.theme.adaptive") { @media not -moz-pref("user.theme.dark.a") { @media not -moz-pref("user.theme.dark.catppuccin") { @media not -moz-pref("user.theme.dark.catppuccin-frappe") { 
@media not -moz-pref("user.theme.dark.catppuccin-mocha") { @media not -moz-pref("user.theme.dark.gruvbox") { @media not -moz-pref("user.theme.dark.midnight") {
        body::after {
            content: "\ No Color Scheme is selected for Dark Mode! \A \A  This can cause issues! \A ";
            display: block;
        }
}}}}}}}

@media not -moz-pref("user.theme.light.a") { @media not -moz-pref("user.theme.light.gruvbox") {
        body::after {
            content: "\ No Color Scheme is selected for Light Mode! \A \A  This can cause issues! \A ";
            display: block;
        }
}}
@media -moz-pref("ultima.xstyle.tabgroups.with.colormix.ii") {
    @media -moz-pref("ultima.xstyle.tabgroups.with.colormix") {
        body::after {
            content: "\ Only use one tab group color mix! \A \A  they don't blend well together! \A ";
            display: block;
        }
    }
}
@media -moz-pref("ultima.spacing.relaxed") {
    @media -moz-pref("ultima.spacing.compact") {
        body::after {
            content: "\ Only use one of these settings! \A \A  ultima.spacing.compact \A ultima.spacing.relaxed (NOTE: relaxed spacing is WIP design) \A ";
            display: block;
        }
    }
}

}} /* end aboutconfig page */
