/*///////////////////////////////////////////////////////////////////////////////////////\

FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
File Desc:        Theming YT through color schemes and subtle blur (user.theme.xtension.YT)

All color schemes
Transparent color scheme

\////////////////////////////////////////////////////////////////////////////////////////*/

@-moz-document domain("youtube.com") { @media -moz-pref("user.theme.xtension.YT") {  

/* all themes except Transparent -------------------------------------------------------*/
@media not -moz-pref("user.theme.transparent") {  
    :root { @media (prefers-color-scheme: dark) {
        --uc-seamless-bg: var(--uc-browser-window) !important;
        --yt-spec-base-background: var(--uc-layered-background) !important;
        @media -moz-pref("user.theme.0.default") {
            --uc-seamless-bg: rgba(1,1,1,0.4) !important;
            --yt-spec-base-background: rgba(1,1,1,0.5) !important;
        }
    }}
    :root { @media (prefers-color-scheme: light) {
        --uc-seamless-bg: var(--yt-spec-base-background) !important;
    }}
    /*page color*/
    html, html[dark], body, ytd-app {
        background-color: var(--uc-seamless-bg) !important;
    }
    /*sidebar*/
    #background.ytd-masthead {
        background: var(--uc-seamless-bg) !important;
        filter: saturate(140%) !important;
        backdrop-filter: blur(33px);
    }
    #contentContainer {
        background: var(--uc-seamless-bg) !important;
        backdrop-filter: blur(33px);
    }
    /* header*/
    #background.ytd-masthead {
        background: var(--uc-seamless-bg) !important;
        backdrop-filter: blur(50px);
    }
    #header {
        background: transparent !important;
        backdrop-filter: blur(50px);    
    }
    /*search bar*/
    .ytSearchboxComponentInputBoxDark, html[dark] .sbsb_a,
    .ytSearchboxComponentSearchButton {
        background-color: var(--uc-layered-background) !important;
        border-color: rgba(0,0,0,0.1) !important;
        backdrop-filter: blur(17px);
    }
    /*search results popup*/
    .ytSearchboxComponentSuggestionsContainer {
        background-color: rgba(0,0,0,0.5) !important;
        @media (prefers-color-scheme: light) {background-color: rgba(100,100,100,0.1) !important;}
        backdrop-filter: blur(35px);
    }
    /*notifications popup*/
    .ytd-multi-page-menu-renderer {
        background-color: var(--uc-seamless-bg) !important;
    }
    .style-scope.ytd-popup-container {
        background-color: rgba(0,0,0,0.2) !important;
        @media (prefers-color-scheme: light) {background-color: transparent !important;}
        border-radius: 10px !important;
        backdrop-filter: blur(35px);
    }
    /*video player context menu*/
    .ytp-popup {background-color: var(--uc-seamless-bg) !important;}
    .ytp-popup.ytp-contextmenu { 
        background-color: var(--uc-seamless-bg) !important;
        @media (prefers-color-scheme: light) {background-color: rgba(100,100,100,0) !important;}
        border-radius: 10px !important;
        backdrop-filter: blur(33px); 
    }
    .ytp-panel-menu {padding: 8px !important;}
    .ytp-menuitem:hover {
        border-radius: 10px !important; /* nogo for tables */
        clip-path: xywh(0 0 100% 100% round 0.5em) !important;
        background-color: rgba(40,40,50,0.5) !important;
        @media (prefers-color-scheme: light) {background-color: rgba(0,0,0,0.3) !important;}
    }
    .ytp-panel-menu {
        background-color: rgba(0,0,0,0.5) !important;
        @media (prefers-color-scheme: light) {background-color: rgba(100,100,100,0.3) !important;}
        backdrop-filter: blur(33px);    
    }
    .ytp-popup.ytp-settings-menu {
        @media (prefers-color-scheme: light) {background-color: rgba(0,0,0,0.3) !important;}
    }
    /*thumbnails*/
    .yt-spec-icon-badge-shape--style-overlay .yt-spec-icon-badge-shape__badge {
        border: 0px solid rgba(0,0,0,0.8) !important;
    }
    .badge-style-type-live-now-alternate.ytd-badge-supported-renderer {
        background: rgba(92, 198, 223, 0.9) !important;
        color: var(--yt-spec-static-brand-white) !important;
    }
} /* end theme */    
   
    
    
/* transparent -------------------------------------------------------------------------*/
@media -moz-pref("user.theme.transparent") {  
    :root {
        --uc-seamless-bg: var(--uc-browser-window) !important;
        --yt-spec-base-background: var(--uc-layered-background) !important; 
    }
    /*page color*/
    html, html[dark], body, ytd-app {
        background-color: var(--uc-seamless-bg) !important;
    }
    /*sidebar*/
    #background.ytd-masthead {
        background: var(--uc-seamless-bg) !important;
        filter: saturate(140%) !important;
        backdrop-filter: blur(33px);
    }
    #contentContainer {
        background: var(--uc-seamless-bg) !important;
        backdrop-filter: blur(33px);
    }
    /* header*/
    #background.ytd-masthead {
        background: var(--uc-seamless-bg) !important;
        backdrop-filter: blur(50px);
    }
    #header {
        background: var(--uc-seamless-bg) !important;
        backdrop-filter: blur(50px);    
    }
    /*search bar*/
    .ytSearchboxComponentInputBoxDark, html[dark] .sbsb_a {
        background-color: var(--uc-seamless-bg) !important;
        border-color: rgba(0,0,0,0.1) !important;
        backdrop-filter: blur(17px);
    }
    /*search results popup*/
    .ytSearchboxComponentSuggestionsContainer {
        background-color: rgba(0,0,0,0.5) !important;
        backdrop-filter: blur(35px);
    }
    /*notifications popup*/
    .ytd-multi-page-menu-renderer {
        background-color: var(--uc-seamless-bg) !important;
    }
    .style-scope.ytd-popup-container {
        background-color: rgba(0,0,0,0.2) !important;
        border-radius: 10px !important;
        backdrop-filter: blur(35px);
    }
    /*video player context menu*/
    .ytp-popup {background-color: var(--uc-seamless-bg) !important;}
    .ytp-popup.ytp-contextmenu { 
        background-color: var(--uc-seamless-bg) !important;
        border-radius: 10px !important;
        backdrop-filter: blur(33px); 
    }
    .ytp-panel-menu {padding: 8px !important;}
    .ytp-menuitem:hover {
        border-radius: 10px !important; /* nogo for tables */
        clip-path: xywh(0 0 100% 100% round 0.5em) !important;
        background-color: rgba(40,40,50,0.5) !important;
    }
    .ytp-panel-menu {
        background-color: rgba(0,0,0,0.5) !important;
        backdrop-filter: blur(33px);    
    }
    /*thumbnails*/
    .yt-spec-icon-badge-shape--style-overlay .yt-spec-icon-badge-shape__badge {
        border: 0px solid rgba(0,0,0,0.8) !important;
    }
    .badge-style-type-live-now-alternate.ytd-badge-supported-renderer {
        background: rgba(92, 198, 223, 0.9) !important;
        color: var(--yt-spec-static-brand-white) !important;
    }
} /* end theme */
     
    
}} /* end YT */
    
