@-moz-document url(about:privatebrowsing) {
    @media (-moz-bool-pref: "ultima.xstyle.private"){
    
        /*hide private browsing tab info*//*
        .showPrivate {
            display: none !important;
        }*/
        .logo-and-wordmark, search-handoff-button {
            display: none !important;
        }
        .search-handoff-button, .search-handoff-button:active, .search-handoff-button:enabled:hover:active {
            filter: saturate(140%) !important;
            border-radius: 18px !important;
            box-shadow: 0 10px 15px rgb(0 0 0 / 20%) !important;
            backdrop-filter: blur(33px);
            background-blend-mode: overlay;
        }
        /*replace 'pic/private-dark.png' source for custom picture*/
        /*replace with 'pic.png` if the picture is in chrome folder*/
        /*replace with 'example/pic.png' if the picture is in a folder within the chrome folder*/

        /*wallpaper for dark mode*/
        @media (prefers-color-scheme: dark) {
            body{background-image: url("pic/private-dark.png") !important;}
        }
        /*wallpaper for light mode*/
        @media (prefers-color-scheme: light) {
            body{background-image: url("pic/gruvbox-l.png") !important;}
        }  
    }
}
