/*
Note: this new tab theme is the creation of @Hachiko
https://github.com/hachikoharuno/Beautiful-newtab-Firefox
check them out if you like this theme!
*/

/*----------------------NEW TAB HOME-----------------------*/


@-moz-document url(chrome://browser/content/browser.xul), url(about:newtab), url(about:home) {

@media (prefers-color-scheme: light){

:root {
  --uc-active: rgba(224, 224, 224, 0.8);
  --uc-selected: rgba(224, 224, 224, 0.3);
  --uc-text: #1a1a1a;
  --uc-background: rgba(214, 214, 233, 0.6);
  --uc-background-ii: rgba(154, 165, 197, 0.6);
  --uc-background-iii: rgba(214, 214, 233, 0.1);
  --newtab-element-active-color: var(--uc-active) !important;
}

body {
  --newtab-background-color-secondary: transparent !important;
  --newtab-element-hover-color: var(--uc-selected) !important;
  --newtab-element-secondary-hover-color: var(--uc-selected) !important;
  --newtab-element-secondary-active-color: var(--uc-active) !important;
  --newtab-border-color: color-mix(in srgb, var(--newtab-background-color) 88%, var(--newtab-wordmark-color)) !important;
  --newtab-primary-element-text-color: var(--newtab-text-primary-color) !important;
  --newtab-search-icon: url("chrome://global/skin/icons/search-glass.svg") !important;
  background-image: url("site-icons/newtabw.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

.section-title-container {
  visibility: hidden !important;
}

.section-title span {
  opacity: 80% !important;
  font-size: 20px !important;
  font-weight: bold !important;
}

.top-site-outer .tile {
  border-radius: 18px !important;
  background: transparent !important;
  filter: saturate(140%) !important;
  backdrop-filter: blur(33px);
}

.top-site-outer .default-icon {
  width: 101% !important;
  height: 101% !important;
  background-size: 100% !important;
  /*background: transparent !important;*/
}

/*---------------------------BIGGER ICONS HERE v-------------------------------------*/
.top-site-outer .tile .icon-wrapper {
/*width: 100% !important;height: 100% !important;*/
  border-radius: 18px !important;
}

.top-site-outer .tile .icon-wrapper::before {
  translate: 0px 10px;
  font-size: 100px !important;
  opacity: 0.75 !important;
}

.search-wrapper .logo-and-wordmark .wordmark {
  width: 66vw !important;
  opacity: 85% !important;
  fill: var(--uc-text) !important;
}

.search-inner-wrapper {
  display: flex !important;
  margin-top: 16px !important;
  outline: none !important;
  filter: saturate(140%) !important;
  background-color: rgba(154, 165, 197, 0.1) !important;
  border-radius: 18px !important;
  padding: 0;
  position: relative;
  box-shadow: 0 10px 15px rgb(0 0 0 / 20%) !important;
  backdrop-filter: blur(33px);
  background-blend-mode: overlay;
  height: auto !important;
}

@supports -moz-bool-pref("browser.newtabpage.activity-stream.improvesearch.handoffToAwesomebar"){
  .search-inner-wrapper:not(:focus){
    background: var(--newtab-pinnedsites-background) !important;
    backdrop-filter: blur(33px) !important;
    filter: saturate(140%) !important;
}}
    
.search-inner-wrapper:not(:focus) input, .search-wrapper:not(:active) input:focus{
  background-color: var(--newtab-pinnedsites-background) !important;
  backdrop-filter: blur(33px) !important;
  filter: saturate(140%) !important;
  border-radius: 34px !important;
}

.search-handoff-button{
  border-color: transparent !important;
  border-radius: 34px !important;
  box-shadow: none !important;
}
    
.search-wrapper .search-inner-wrapper:active input, .search-wrapper input:focus {
  outline: 1px solid var(--button-active-bgcolor) !important;
  outline-offset: -1px !important;
  border: transparent !important;
  margin-left: 1px !important;
  z-index: 1 !important;
}

.search-wrapper .search-handoff-button, .search-wrapper input {
  padding-inline-start: 0px !important;
  padding-inline-end: 0px !important;
}

.search-wrapper .logo-and-wordmark .wordmark { margin-inline-start: 0 !important; }

.search-wrapper .search-handoff-button { fill: var(--uc-text) !important; }

.search-wrapper .search-button:focus, .search-wrapper .search-button:hover {
  fill: rgb(78, 78, 78) !important;
}

.search-wrapper .search-inner-wrapper:active input, .search-wrapper input:focus {
  box-shadow: none !important;
}

/*--search bar oneliners for aesthetic ;)--*/
.search-handoff-button .fake-textbox { text-align: center !important;}

.search-wrapper .search-handoff-button { filter: contrast(110%); }

browser[primary="true"][tabDialogShowing="true"],
#main-window[window-modal-open="true"] > body > #browser{
  filter: blur(10px)
}

@media (height > 700px) {
  body:not(.inline-onboarding) .fixed-search .search-wrapper {
    background-color: rgba(154, 165, 197, 0.1)  !important;
    box-shadow: 0 10px 15px rgb(0 0 0 / 20%) !important;
    backdrop-filter: blur(33px);
    border-color: transparent !important;
}}
/*--other panel, popup--*/

.section-top-bar { display: block !important; }

.personalize-button { padding: 10px !important; }

.logo{ display: none !important; }

.icon.icon-settings {opacity: 85% !important;}

.context-menu {
  background-color: var(--uc-background-ii)  !important;
  border-radius: 18px !important;
  padding: 0.4rem;
  position: relative;
  box-shadow: 0 10px 15px rgb(0 0 0 / 20%) !important;
  backdrop-filter: blur(33px);
  background-blend-mode: overlay;
  display: flex;
  line-height: 25px;
}

.context-menu > ul > li > a, .context-menu > ul > li > button {
  line-height: unset !important;
  font-weight: normal !important;
  color: var(--uc-text) !important;
}
    
.context-menu > ul > li.separator {
  display:flex !important;
  border-bottom: none !important;
  margin: 0px 0 !important;
  font-size: flex !important;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

button, input {
  color: inherit !important;
  font-size: unset !important;
}

@media (min-width: 1122px) and (max-width: 1506px) {
  .top-sites-list :nth-child(8n) .context-menu {
    font-size: unset !important;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5) !important;
    box-shadow: 0 10px 15px rgb(0 0 0 / 20%) !important;
}}

/*--customize menu--*/

.customize-menu.customize-animate-enter-done,
.customize-menu.customize-animate-enter-active,
.customize-menu.customize-animate-exit-active,
.customize-menu.customize-animate-exit-done
{ box-shadow: 0 0px 15px rgb(0 0 0 / 35%) !important; }

.context-menu > ul > li > button:is(:focus, :hover) {
  border-radius: 10px;
  background: var(--uc-background-ii) !important;
}

.customize-menu {
  background-color: var(--uc-background-ii)  !important;
  border-radius: 12px !important;
  padding: 0.4rem;
  position: relative;
  backdrop-filter: blur(33px);
  background-blend-mode: overlay;
  margin: 10px 10px 10px 0px !important;
  height: auto !important;
  font-weight: normal !important;
  box-shadow: unset !important;
}

.top-site-outer .context-menu-button { transform: scale(1.3); }

.home-section .divider { border-top: unset !important; }

.home-section .section .selector {
  border: none !important;
  box-shadow: 3px 10px 15px rgb(0 0 0 / 20%) !important;
  background: url("icons/down.svg") right no-repeat !important;
  background-origin: content-box !important;
}

.home-section .external-link { text-decoration: none !important; }

/*.toggle-button { transform: scale(1.4) !important; }*/

.toggle-button {
  --toggle-background-color-pressed: #2186fb !important;
  --toggle-dot-background-color: #0a0a0a !important;
  --toggle-dot-background-color-on-pressed: #0a0a0a !important;
/*  --toggle-background-color-pressed-hover: #449afc !important;
  --toggle-background-color-pressed-active: #7fbbff !important;*/
  --toggle-border-color: #0a0a0a !important;
  --toggle-border-radius: var(--border-radius-circle);
  --toggle-border-width: var(--border-width);
  --toggle-height: var(--size-item-small);
  --toggle-width: calc(var(--size-item-large)*0.9) !important;
  --toggle-dot-margin: -1px !important;
  --toggle-dot-height: calc(var(--toggle-height)) !important;
  --toggle-dot-width: var(--toggle-dot-height) !important;
  --toggle-dot-transform-x: calc(var(--toggle-width) - 1 * var(--toggle-dot-margin) - var(--toggle-dot-width)) !important;
  }
    
.customize-menu .close-button {
  box-shadow: 3px 10px 15px rgb(0 0 0 / 20%) !important;
  font-weight: unset !important;
  border-radius: 10px !important;
  background-color: var(--uc-background-iii) !important;
}

.home-section .section .sponsored-checkbox:checked
{ background-color: #2186fb !important; }

.home-section .section .selector {
  background-color: var(--uc-background-iii) !important;
  border-radius: 10px !important;
}

.customize-menu .close-button:hover
{ background-color: var(--uc-selected) !important; }

} /*--<--end media query--*/


/*------------------------------------------------------------------------------*/


@media (prefers-color-scheme: light){

.top-site-icon{ background-color: transparent !important; }

.top-site-outer .title {
  opacity: 80% !important;
  font-weight: normal !important;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  text-transform: capitalize!important;
}

.collapsible-section { margin-left: -12px !important; }

.top-site-outer:hover .tile, .card-outer:hover .card
{ background-color: var(--uc-background-ii) !important; transform: scale(1.15);}

.top-site-outer:is(:focus-within) .tile, .card-outer:is(.active,:focus-within) .card{
  background-color: var(--uc-background-ii) !important;
  box-shadow: none !important;
}

.top-site-outer:is(:focus-within) .title, .card-outer:is(.active,:focus-within) .card
{ text-decoration: underline !important; }

.top-site-outer .context-menu-button {
  background-color: transparent !important;
  border-radius: 50% !important;
  inset-inline-end: -10px !important;
  top: 2px !important;
  transition: opacity 200ms;
  border-radius: 80px !important;
  fill: var(--newtab-text-primary-color) !important;
}

.top-site-outer .context-menu-button:is(:hover, :focus) {
  background-color: color-mix(in srgb, var(--contrast-color), transparent) !important;
  transition: opacity 200ms;
  fill: var(--newtab-text-primary-color) !important;
}

.top-sites-list:not(.dnd-active) .top-site-outer:is(.active, :focus, :hover) {
  background: transparent !important;
}

/*--latest activity--*/

.card-outer .card {
  filter: saturate(140%) !important;
  border-radius: 18px !important;
  background-color: rgba(154, 165, 197, 0.6)  !important;
  position: relative;
  box-shadow: 0 10px 15px rgb(0 0 0 / 20%) !important;
  backdrop-filter: blur(33px);
  height: auto !important;
}

.card-outer > a { color: auto !important; }

.outer-wrapper a { color: auto !important; }

:root[lwt-newtab-brighttext] { --newtab-wordmark-color: #fdfdfdcb !important; }

.compact-cards .card-outer .card-context {
  background-color: var(--newtab-background-color-secondary);
  border-radius: 18px;
  clip-path: inset(-1px -1px 4px);
  height: 32px;
  width: 32px;
  padding: 8px;
  top: 108px !important;
  inset-inline-end: 3px !important;
  inset-inline-start: auto;
}

.compact-cards .card-outer .card-preview-image-outer { 
  border-radius: 16px 16px 0 0 !important;
}
    
.ds-highlights .section .section-list .card-outer .card-host-name {
  text-shadow: 1px -1px 2px color-mix(in srgb, var(--contrast-color) 60%, transparent) !important;
  color: var(--newtab-text-primary-color) !important;
}
    
.card-outer:not(.placeholder) .card-title {
  text-shadow: 1px -1px 2px color-mix(in srgb, var(--contrast-color) 60%, transparent) !important;
}
    
.card-outer:is(:hover, :focus, :active, :focus-within, .active):not(.placeholder) .card-title, 
.card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title {
  --newtab-primary-action-background: blue !important;
  color: var(--newtab-text-primary-color) !important;
  text-shadow: 1px -1px 2px color-mix(in srgb, var(--contrast-color) 60%, transparent) !important;
  text-decoration: underline !important;
}

.compact-cards .card-outer .card-context>.card-context-icon {
  fill: var(--newtab-text-primary-color) !important;
  opacity: 0.7 !important;
}

    
.card-outer .context-menu-button, .card-outer .context-menu-button:active, .card-outer .context-menu-button:focus{
  margin-top: -5px !important;
  margin-right: -5px !important;
  background-color: color-mix(in srgb, var(--contrast-color) 70%, transparent) !important;
  fill: var(--newtab-text-primary-color) !important;
  border-color: transparent !important;
  transition-delay: 0ms !important;
  background-image: url("icons/more.svg") !important;
}

.card-outer .context-menu-button { box-shadow: unset !important; }

.ds-card .meta {
  filter: saturate(140%) !important;
  background-color: rgba(154, 165, 197, 0.8)  !important;
  position: relative;
  backdrop-filter: blur(33px);
  height: auto !important;
  border-radius: 0 0 16px 16px !important;
}

.ds-onboarding-container:not(.placeholder), .ds-card-grid .ds-card:not(.placeholder) {
  border-radius: 18px !important;
  box-shadow: 0 10px 15px rgb(0 0 0 / 20%) !important;
  background-color: transparent !important;
}

.ds-onboarding-container:not(.placeholder) .img-wrapper .img img, .ds-onboarding-container:not(.placeholder) .img-wrapper .img .placeholder-image, .ds-card-grid .ds-card:not(.placeholder) .img-wrapper .img img, .ds-card-grid .ds-card:not(.placeholder) .img-wrapper .img .placeholder-image
{ border-radius: 16px 16px 0 0 !important; }


.ds-card:is(:hover, :focus, .active) .context-menu-button, .ds-signup:is(:hover, :focus, .active) .context-menu-button
{ box-shadow: unset !important; }

@media (prefers-color-scheme: dark){
.ds-card .context-menu-button, .ds-signup .context-menu-button {
  border: transparent !important;
  margin-top: -5px !important;
  margin-right: -5px !important;
  background-color: color-mix(in srgb, var(--contrast-color) 70%, transparent) !important;
  fill: var(--newtab-text-primary-color) !important;
  transition-delay: 0ms !important;
  background-image: url("icons/more.svg") !important;
}
}

.ds-card .ds-card-link:hover header {color: var(--newtab-text-primary-color) !important;}

.outer-wrapper a { color: var(--newtab-text-primary-color) !important; }

:root {
  --newtab-primary-element-active-color: var(--newtab-text-primary-color) !important;
  --newtab-primary-action-background: transparent !important;
  --newtab-background-color: unset !important;
}

/*--recommendations, customizing--*/

.personalize-button:hover {
  background-color: transparent;
  transform: scale(1.3);
  cursor: pointer;
}

.modalOverlayOuter {
  background-color: rgba(154, 165, 197, 0.6)  !important;
  box-shadow: 0 10px 15px rgb(0 0 0 / 20%) !important;
  backdrop-filter: blur(33px);
  background-blend-mode: overlay;
}

.modal {
  background-color: rgba(154, 165, 197, 0.8)  !important;
  font-size: unset !important;
  border-radius: 16px !important;
  box-shadow: 0 10px 15px rgb(0 0 0 / 20%) !important;
  border-color: transparent !important;
}

.topsite-form .form-wrapper input[type="text"] {
  background-color: #ffffff1e !important;
  font-size: unset !important;
  border-color: transparent !important;
  box-shadow: 0 10px 15px rgb(0 0 0 / 20%) !important;
  border-radius: 8px !important;
}

.actions {
  border-top: 1px solid var(--newtab-border-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 15px 25px 0;
  border-color: transparent !important;
}

.button, .actions button {
  background-color: #ffffff1e !important;
  border-color: transparent !important;
  border-radius: 10px !important;
  box-shadow: 0 10px 15px rgb(0 0 0 / 20%) !important;
}

.modal-overlay {
  background-color: rgba(154, 165, 197, 0.4)  !important;
  backdrop-filter: blur(33px) !important;
}

:root{
  --newtab-pinnedsites-background: color-mix(in srgb, white 14%, transparent) ;
  --newtab-pinnedsites-position-top: 0px ;
}

}/*--<--end media query--*/


.outer-wrapper  .top-site-inner .title,
.outer-wrapper  .top-site-inner .icon-pin-small {
   opacity: 0 !important;
}


.outer-wrapper  .top-site-inner:hover .title,
.outer-wrapper  .top-site-inner:hover .icon-pin-small {
  opacity: 1 !important;
}


} /*--<--close out new tab document--*/
