/*--linux support, mac support, nav bar margin correction included--*/
/*--note: this file has been implemented into the latest release.*/

@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#titlebar{order: 2;
-moz-appearance: none !important;--tabs-navbar-shadow-size: 0px;
--uc-menubar-vertical-overlap: 19px;
}

#navigator-toolbox > div{ display: contents }
.global-notificationbox, #tab-notification-deck
{order: 2;}
#TabsToolbar .titlebar-spacer{ display: none; }
#navigator-toolbox::after{ display: none !important; }


toolbox#navigator-toolbox > toolbar#nav-bar.browser-toolbar{ animation: none; }
#navigator-toolbox:hover #TabsToolbar{ animation: slidein ease-out 48ms 1 }

#navigator-toolbox:not(:-moz-lwtheme){ background-color: -moz-dialog }


/*-----------------------------------------*/
/*--to return the title bar buttons--*/
/*-----------------------------------------*/

:root[tabsintitlebar] .titlebar-buttonbox {
position: fixed !important; display: flex !important; z-index: 1;
top: 8px !important;
right: 1px !important;
/* left instead of right, if you want it on left side */
}

/* adjust nav bar margin for fixed button */
#nav-bar { margin-right: 105px; } /* margin-left if you have it on left side*/

/* 40px button, match nav bar */
.titlebar-buttonbox .titlebar-button {padding: 11px 11px !important;}

/* (optional) flip button order
.titlebar-buttonbox-container{ direction: rtl;}
*/

/* --- */

#navigator-toolbox[inFullscreen="true"] .titlebar-buttonbox,
#navigator-toolbox[fullscreenShouldAnimate="true"] .titlebar-buttonbox .titlebar-button
{display: none !important;}


@media (-moz-os-version: linux) {
:root[tabsintitlebar] .titlebar-buttonbox {
top: 9px !important;
}
}

@media not (-moz-platform: windows) {
:root[tabsintitlebar] .titlebar-buttonbox {
top: 9px !important;
}
}

/*--More Linux targetted tweaks--*/

@media (-moz-platform: linux) {

:root {--inactive-titlebar-opacity: 1 !important;}
  
#nav-bar { margin-right: 80px !important; }

.titlebar-button{
list-style-image: none !important;
appearance: auto !important;
}

.titlebar-min {
-moz-default-appearance: -moz-window-button-minimize !important;
}

.titlebar-max {
-moz-default-appearance: -moz-window-button-maximize !important;
}
.titlebar-restore {
-moz-default-appearance: -moz-window-button-restore !important;
}
.titlebar-close {
-moz-default-appearance: -moz-window-button-close !important;
}

#main-window:not([lwtheme="true"]) .titlebar-button
{stroke: var(--uc-ultima-accent-iii) !important;}

#main-window[lwtheme="true"] .titlebar-button
{stroke: var(--toolbarbutton-icon-fill) !important;}

.sidebar-splitter{
border: 0 solid !important;border-inline-end-width: 1px !important;
border-color: transparent !important;min-width: 1px !important;
width: 4px !important;background-color: transparent !important;
margin-inline-start: -4px !important; }

:root:where([tabsintitlebar]) {
--toolbox-non-lwt-textcolor: var(--uc-light-dark);
--toolbox-non-lwt-textcolor-inactive: var(--uc-light-dark);
}

} /*--<--end linux query--*/

