/*///////////////////////////////////////////////////////////////////////////////////////\

FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
File Desc:         This enables Color Schemes in FF Ultima
Tutorial:          https://github.com/soulhotel/FF-ULTIMA/wiki/Create-a-Color-Scheme

 * There are 3 list here:
    * Browser.
    * Websites/Extensions.
    * Wallpapers.

 * Add your own theme by adding it's name into the lists.
 * You can name your color scheme anything you want, even your own username
 * I suggest using find/replace (ctrl+f) on "YourName"

\////////////////////////////////////////////////////////////////////////////////////////*/


@import url('default/ffu-colorscheme.css')            -moz-pref("user.theme.0.default");
@import url('transparent/ffu-colorscheme.css')        -moz-pref("user.theme.transparent");
@import url('catppuccin/ffu-colorscheme.css')         -moz-pref("user.theme.catppuccin");
@import url('catppuccin-frappe/ffu-colorscheme.css')  -moz-pref("user.theme.catppuccin-frappe");
@import url('catppuccin-mocha/ffu-colorscheme.css')   -moz-pref("user.theme.catppuccin-mocha");
@import url('gruvbox/ffu-colorscheme.css')            -moz-pref("user.theme.gruvbox");
@import url('kanagawa-wave/ffu-colorscheme.css')      -moz-pref("user.theme.kanagawa-wave");
@import url('midnight/ffu-colorscheme.css')           -moz-pref("user.theme.midnight");
@import url('scarlet/ffu-colorscheme.css')            -moz-pref("user.theme.scarlet");
@import url('fluent/ffu-colorscheme.css')             -moz-pref("user.theme.fluent");
@import url('fluent/ffu-colorscheme.thinkpad.css')    -moz-pref("user.theme.fluent.thinkpad");
@import url('catppuccin-mocha-variant/ffu-colorscheme.css') -moz-pref("user.theme.catppuccin-mocha-variant");
@import url('YourName/ffu-colorscheme.css')           -moz-pref("user.theme.YourName");


/* Add your Theme (Above) for the Browser ------------------------------------------------------------------------ */


@-moz-document url(about:newtab), url(about:home), url(about:privatebrowsing), url-prefix("file://"), regexp("moz-extension://.*") {

@import url('default/ffu-colorscheme.css')            -moz-pref("user.theme.0.default");
@import url('transparent/ffu-colorscheme.css')        -moz-pref("user.theme.transparent");
@import url('catppuccin/ffu-colorscheme.css')         -moz-pref("user.theme.catppuccin");
@import url('catppuccin-frappe/ffu-colorscheme.css')  -moz-pref("user.theme.catppuccin-frappe");
@import url('catppuccin-mocha/ffu-colorscheme.css')   -moz-pref("user.theme.catppuccin-mocha");
@import url('gruvbox/ffu-colorscheme.css')            -moz-pref("user.theme.gruvbox");
@import url('kanagawa-wave/ffu-colorscheme.css')      -moz-pref("user.theme.kanagawa-wave");
@import url('midnight/ffu-colorscheme.css')           -moz-pref("user.theme.midnight");
@import url('scarlet/ffu-colorscheme.css')            -moz-pref("user.theme.scarlet");
@import url('fluent/ffu-colorscheme.css')             -moz-pref("user.theme.fluent");
@import url('fluent/ffu-colorscheme.thinkpad.css')    -moz-pref("user.theme.fluent.thinkpad");
@import url('catppuccin-mocha-variant/ffu-colorscheme.css') -moz-pref("user.theme.catppuccin-mocha-variant");
@import url('YourName/ffu-colorscheme.css')           -moz-pref("user.theme.YourName");


/* Adding your Theme (Above) makes the colors available to websites & extensions -------------------------------- */
}

@-moz-document url(about:newtab), url(about:home), url(about:privatebrowsing) { :root {


@media -moz-pref("user.theme.0.default") {
    @media (prefers-color-scheme: dark)  {--uc-wallpaper: url("walls/fullmoon.jpg");}
    @media (prefers-color-scheme: light) {--uc-wallpaper: url("walls/dusky.jpg");}
}

@media -moz-pref("user.theme.transparent") {
    @media (prefers-color-scheme: dark) {{--uc-wallpaper: /* url("walls/transparent.jpg")*/;}}
    @media (prefers-color-scheme: light) {--uc-wallpaper: /* url("walls/transparent.jpg")*/;}
}

@media -moz-pref("user.theme.catppuccin") {
    @media (prefers-color-scheme: dark) {--uc-wallpaper: url("walls/catppuccin.jpg");}
    @media (prefers-color-scheme: light) {--uc-wallpaper: url("walls/catppuccin.jpg");}
}

@media -moz-pref("user.theme.catppuccin-frappe") {
    @media (prefers-color-scheme: dark) {--uc-wallpaper: url("walls/catppuccin-frappe.jpg");}
    @media (prefers-color-scheme: light) {--uc-wallpaper: url("walls/catppuccin-frappe.jpg");}
}

@media -moz-pref("user.theme.catppuccin-mocha") {
    @media (prefers-color-scheme: dark) {--uc-wallpaper: url("walls/catppuccin-mocha.jpg");}
    @media (prefers-color-scheme: light) {--uc-wallpaper: url("walls/catppuccin-mocha.jpg");}
}

@media -moz-pref("user.theme.gruvbox") {
    @media (prefers-color-scheme: dark) {--uc-wallpaper: url("walls/gruvbox.jpg");}
    @media (prefers-color-scheme: light) {--uc-wallpaper: url("walls/gruvbox-l.jpg");}
}

@media -moz-pref("user.theme.kanagawa-wave") {
    @media (prefers-color-scheme: dark) {--uc-wallpaper: url("walls/kanagawa-wave.jpg");}
    @media (prefers-color-scheme: light) {--uc-wallpaper: url("walls/kanagawa-wave.jpg");}
}

@media -moz-pref("user.theme.midnight") {
    @media (prefers-color-scheme: dark) {--uc-wallpaper: url("walls/midnight.jpg");}
    @media (prefers-color-scheme: light) {--uc-wallpaper: url("walls/old.midnight.jpg");}
}

@media -moz-pref("user.theme.scarlet") {
    @media (prefers-color-scheme: dark) {--uc-wallpaper: url("walls/scarlet.jpg");}
    @media (prefers-color-scheme: light) {--uc-wallpaper: url("walls/scarlet.jpg");}
}

@media -moz-pref("user.theme.fluent") {
    @media (prefers-color-scheme: dark) {--uc-wallpaper: url("walls/FluentMonochrome-d.jpg");}
    @media (prefers-color-scheme: light) {--uc-wallpaper: url("walls/FluentMonochrome-l.jpg");}
}

@media -moz-pref("user.theme.fluent.thinkpad") {
    @media (prefers-color-scheme: dark) {--uc-wallpaper: url("walls/FluentMonochrome-d.jpg");}
    @media (prefers-color-scheme: light) {--uc-wallpaper: url("walls/FluentMonochrome-l.jpg");}
}

@media -moz-pref("user.theme.catppuccin-mocha-variant") {
    @media (prefers-color-scheme: dark) {--uc-wallpaper: url("walls/catppuccin-mocha.jpg");}
    @media (prefers-color-scheme: light) {--uc-wallpaper: url("walls/catppuccin-frappe2.jpg");}
}

@media -moz-pref("user.theme.yourName") {
    @media (prefers-color-scheme: dark) {--uc-wallpaper: url("walls/YourWallpaper.jpg");}
    @media (prefers-color-scheme: light) {--uc-wallpaper: url("walls/YourWallpaper.jpg");}
}

/* Adding your Theme (Above) and a wallpaper for it, you can reuse existing wallpapers too ---------------------- */
}} /*end*/



