/*///////////////////////////////////////////////////////////////////////////////////////\

FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
File Desc:         This enables Color Schemes in FF Ultima
Tutorial:          https://github.com/soulhotel/FF-ULTIMA/wiki/Create-a-Color-Scheme

 * There are 4 list here:
    * Stylesheet Registration list.
    * Browser list.
    * Websites/Extensions list.
    * Wallpaper list.

 * Add your own theme by entering it's name into the lists.
 * You can name your color scheme anything you want, even your own username
 * Note: You can find/replace (ctrl+f) on "YourName". *Replace All* on "YourName" will enter it into every list.

\////////////////////////////////////////////////////////////////////////////////////////*/


/* The list below makes color schemes available to the Browser --------------------------------------------------- */

@import url('default/theme-default.css')                       -moz-pref("ultima.theme.default");
@import url('transparent/theme-transparent.css')               -moz-pref("ultima.theme.transparent");
@import url('catppuccin/theme-catppuccin.css')                 -moz-pref("ultima.theme.catppuccin");
@import url('catppuccin-frappe/theme-catppuccin-frappe.css')   -moz-pref("ultima.theme.catppuccin-frappe");
@import url('catppuccin-mocha/theme-catppuccin-mocha.css')     -moz-pref("ultima.theme.catppuccin-mocha");
@import url('gruvbox/theme-gruvbox.css')                       -moz-pref("ultima.theme.gruvbox");
@import url('kanagawa-wave/theme-kanagawa-wave.css')           -moz-pref("ultima.theme.kanagawa-wave");
@import url('midnight/theme-midnight.css')                     -moz-pref("ultima.theme.midnight");
@import url('black/theme-black.css')                           -moz-pref("ultima.theme.black");
@import url('scarlet/theme-scarlet.css')                       -moz-pref("ultima.theme.scarlet");
@import url('fluent/theme-fluent.css')                         -moz-pref("ultima.theme.fluent");
@import url('fluent/theme-fluent-thinkpad.css')                -moz-pref("ultima.theme.fluent-thinkpad");
@import url('ayu/theme-ayu.css')                               -moz-pref("ultima.theme.ayu");
@import url('rose-pine/theme-rose-pine.css')                   -moz-pref("ultima.theme.rose-pine");
@import url('YourName/theme-YourName.css')                     -moz-pref("ultima.theme.YourName");



/* The list below makes color schemes available Websites & Extensions -------------------------------------------- */

@-moz-document url(about:newtab), url(about:home), url(about:privatebrowsing), url-prefix("file://"), regexp("moz-extension://.*") {

@import url('default/theme-default.css')                       -moz-pref("ultima.theme.default");
@import url('transparent/theme-transparent.css')               -moz-pref("ultima.theme.transparent");
@import url('catppuccin/theme-catppuccin.css')                 -moz-pref("ultima.theme.catppuccin");
@import url('catppuccin-frappe/theme-catppuccin-frappe.css')   -moz-pref("ultima.theme.catppuccin-frappe");
@import url('catppuccin-mocha/theme-catppuccin-mocha.css')     -moz-pref("ultima.theme.catppuccin-mocha");
@import url('gruvbox/theme-gruvbox.css')                       -moz-pref("ultima.theme.gruvbox");
@import url('kanagawa-wave/theme-kanagawa-wave.css')           -moz-pref("ultima.theme.kanagawa-wave");
@import url('midnight/theme-midnight.css')                     -moz-pref("ultima.theme.midnight");
@import url('black/theme-black.css')                           -moz-pref("ultima.theme.black");
@import url('scarlet/theme-scarlet.css')                       -moz-pref("ultima.theme.scarlet");
@import url('fluent/theme-fluent.css')                         -moz-pref("ultima.theme.fluent");
@import url('fluent/theme-fluent-thinkpad.css')                -moz-pref("ultima.theme.fluent-thinkpad");
@import url('ayu/theme-ayu.css')                               -moz-pref("ultima.theme.ayu");
@import url('rose-pine/theme-rose-pine.css')                   -moz-pref("ultima.theme.rose-pine");
@import url('YourName/theme-YourName.css')                     -moz-pref("ultima.theme.YourName");

}

/* The list below makes color scheme Wallpapers available to the New Tab Page ---------------------------------- */

/* Note: You can reuse existing wallpapers too*/
@-moz-document url(about:newtab), url(about:home), url(about:privatebrowsing) { :root {

@media -moz-pref("ultima.theme.default") {
    @media (prefers-color-scheme: dark)  { --uc-wallpaper: url("walls/fullmoon.jpg"); }
    @media (prefers-color-scheme: light) { --uc-wallpaper: url("walls/dusky.jpg");    }
}

@media -moz-pref("ultima.theme.transparent") {
    @media (prefers-color-scheme: dark)  { /* --uc-wallpaper: url("walls/transparent.jpg"); */ }
    @media (prefers-color-scheme: light) { /* --uc-wallpaper: url("walls/transparent.jpg"); */ }
}

@media -moz-pref("ultima.theme.catppuccin") {
    @media (prefers-color-scheme: dark)  { --uc-wallpaper: url("walls/catppuccin.jpg"); }
    @media (prefers-color-scheme: light) { --uc-wallpaper: url("walls/catppuccin.jpg"); }
}

@media -moz-pref("ultima.theme.catppuccin-frappe") {
    @media (prefers-color-scheme: dark)  { --uc-wallpaper: url("walls/catppuccin-frappe.jpg"); }
    @media (prefers-color-scheme: light) { --uc-wallpaper: url("walls/catppuccin-frappe.jpg"); }
}

@media -moz-pref("ultima.theme.catppuccin-mocha") {
    @media (prefers-color-scheme: dark)  { --uc-wallpaper: url("walls/catppuccin-mocha.jpg"); }
    @media (prefers-color-scheme: light) { --uc-wallpaper: url("walls/catppuccin-mocha.jpg"); }
}

@media -moz-pref("ultima.theme.gruvbox") {
    @media (prefers-color-scheme: dark)  { --uc-wallpaper: url("walls/gruvbox.jpg");   }
    @media (prefers-color-scheme: light) { --uc-wallpaper: url("walls/gruvbox-l.jpg"); }
}

@media -moz-pref("ultima.theme.kanagawa-wave") {
    @media (prefers-color-scheme: dark)  { --uc-wallpaper: url("walls/kanagawa-wave.jpg"); }
    @media (prefers-color-scheme: light) { --uc-wallpaper: url("walls/kanagawa-wave.jpg"); }
}

@media -moz-pref("ultima.theme.midnight") {
    @media (prefers-color-scheme: dark)  { --uc-wallpaper: url("walls/fullmoon.jpg"); }
    @media (prefers-color-scheme: light) { --uc-wallpaper: url("walls/midnight.jpg"); }
}

@media -moz-pref("ultima.theme.black") {
    @media (prefers-color-scheme: dark)  { --uc-wallpaper: url("walls/midnight.jpg");     }
    @media (prefers-color-scheme: light) { --uc-wallpaper: url("walls/old.midnight.jpg"); }
}

@media -moz-pref("ultima.theme.scarlet") {
    @media (prefers-color-scheme: dark)  { --uc-wallpaper: url("walls/scarlet.jpg"); }
    @media (prefers-color-scheme: light) { --uc-wallpaper: url("walls/scarlet.jpg"); }
}

@media -moz-pref("ultima.theme.fluent") {
    @media (prefers-color-scheme: dark)  { --uc-wallpaper: url("walls/FluentMonochrome-d.jpg"); }
    @media (prefers-color-scheme: light) { --uc-wallpaper: url("walls/FluentMonochrome-l.jpg"); }
}

@media -moz-pref("ultima.theme.fluent-thinkpad") {
    @media (prefers-color-scheme: dark)  { --uc-wallpaper: url("walls/FluentMonochrome-d.jpg"); }
    @media (prefers-color-scheme: light) { --uc-wallpaper: url("walls/FluentMonochrome-l.jpg"); }
}

@media -moz-pref("ultima.theme.ayu") {
    @media (prefers-color-scheme: dark)  { --uc-wallpaper: url("walls/ayu.jpg");                }
    @media (prefers-color-scheme: light) { --uc-wallpaper: url("walls/FluentMonochrome-l.jpg"); }
}

@media -moz-pref("ultima.theme.rose-pine") {
    @media (prefers-color-scheme: dark)  { --uc-wallpaper: url("walls/rose-pine-dawn.jpg"); }
    @media (prefers-color-scheme: light) { --uc-wallpaper: url("walls/rose-pine.jpg");      }
}

@media -moz-pref("ultima.theme.YourName") {
    @media (prefers-color-scheme: dark)  { --uc-wallpaper: url("walls/YourName.jpg"); }
    @media (prefers-color-scheme: light) { --uc-wallpaper: url("walls/YourName.jpg"); }
}

}} /*end*/