/*///////////////////////////////////////////////////////////////////////////////////////\

FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
Tutorial:          https://github.com/soulhotel/FF-ULTIMA/wiki/Create-a-Color-Scheme

 * This file applies color scheme wallpapers by replacing the default new tab grey background
 * This file also handles the wallpaper override setting "user.theme.wallpaper"
 * To add your own wallpaper to the list use the template below
 * You can also reuse any wallpaper from the pics folder

\////////////////////////////////////////////////////////////////////////////////////////*/

@-moz-document url(chrome://browser/content/browser.xul), url(about:newtab), url(about:home), url(about:privatebrowsing) {  :root {


@media not -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper") {
    /* wallpaper only applies if a custom wallpaper is NOT set */
    body {background-image: var(--uc-wallpaper) !important;}
}

/*------------------------------- OVERRIDE WALLPAPERS FEATURE ----------------------------------*/

@media not -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper") {
    @media -moz-pref("user.theme.wallpaper.catppuccin"){--uc-wallpaper: url("walls/catppuccin.jpg") !important;}
    @media -moz-pref("user.theme.wallpaper.catppuccin-frappe"){--uc-wallpaper: url("walls/catppuccin-frappe.jpg") !important;}
    @media -moz-pref("user.theme.wallpaper.catppuccin-mocha"){--uc-wallpaper: url("walls/catppuccin-mocha.jpg") !important;}
    @media -moz-pref("user.theme.wallpaper.dusky"){--uc-wallpaper: url("walls/dusky.jpg") !important;}
    @media -moz-pref("user.theme.wallpaper.fullmoon"){--uc-wallpaper: url("walls/fullmoon.jpg") !important;}
    @media -moz-pref("user.theme.wallpaper.midnight"){--uc-wallpaper: url("walls/midnight.jpg") !important;}
    @media -moz-pref("user.theme.wallpaper.midnight2"){--uc-wallpaper: url("walls/old.midnight.jpg") !important;}
    @media -moz-pref("user.theme.wallpaper.green"){--uc-wallpaper: url("walls/green.jpg") !important;}
    @media -moz-pref("user.theme.wallpaper.gruvbox"){--uc-wallpaper: url("walls/gruvbox.jpg") !important;}
    @media -moz-pref("user.theme.wallpaper.gruvbox.light"){--uc-wallpaper: url("walls/gruvbox-l.jpg") !important;}
    @media -moz-pref("user.theme.wallpaper.gruvbox.flowers"){--uc-wallpaper: url("walls/gruvbox-3.jpg") !important;}
    @media -moz-pref("user.theme.wallpaper.fluent.dark"){--uc-wallpaper: url("walls/FluentMonochrome-d.jpg") !important;}
    @media -moz-pref("user.theme.wallpaper.fluent.light"){--uc-wallpaper: url("walls/FluentMonochrome-l.jpg") !important;}
    @media -moz-pref("user.theme.wallpaper.kanagawa-wave"){--uc-wallpaper: url("walls/kanagawa-wave.jpg") !important;}
}

}}