/*---------------------------------vertical tabs-------------------------------------*/

/*--first, the body margin should match the tabs width--*/

#tab-notification-deck, .global-notificationbox,
#main-window:not([inDOMFullscreen]) #browser
{margin-left: calc(var(--uc-vertical-tabs-width) + var(--uc-margin-inline));}

#tab-notification-deck, .global-notificationbox
{ width: auto !important; }


/*----------------------------------now tabs-----------------------------------*/
/*--
#tabbrowser-tabs -> the tabs panel container
#tabbrowser-arrowscrollbox -> the scrollbox
.tabbrowser-tab -> individual tabs
--*/

/*--set position of container--*/

:root:not([customizing]) #tabbrowser-tabs {
position: fixed !important;
height: var(--uc-tabbar-height) !important;
width: var(--uc-vertical-tabs-width);
left: 0px;
contain: size !important;
overflow: hidden !important;

border-radius: var(--uc-all-border-radius);
border-inline-start: 0 !important;
margin: var(--uc-tab-margins) !important;
padding-inline: 0 !important;
}

/*--tab scrollbox position--*/

#tabbrowser-arrowscrollbox,
#tabbrowser-arrowscrollbox .scrollbox-clip,
#tabbrowser-arrowscrollbox scrollbox
{width: var(--uc-vertical-tabs-width) !important;}

/*--force consistent model--*/

:root:not([customizing]) #tabbrowser-arrowscrollbox{
--uc-scrollbox-box-model: -webkit-box;
--uc-scrollbox-height: 100vh;
--uc-scrollbutton-display: none;
--uc-scrollbox-overflow: auto;}

#tabbrowser-tabs:is(haspinnedtabs="") scrollbox[orient="horizontal"],
#tabbrowser-tabs[positionpinnedtabs] scrollbox[orient="horizontal"],
scrollbox[orient="horizontal"] {
display: var(--uc-scrollbox-box-model,flex);
-webkit-box-orient: vertical;
height: 100%;
overflow: var(--uc-scrollbox-overflow,initial) !important;} 

#tabbrowser-tabs:is(haspinnedtabs="") scrollbox[orient="horizontal"],
#tabbrowser-tabs[positionpinnedtabs] scrollbox[orient="horizontal"]
{
display: var(--uc-scrollbox-box-model,flex);
-webkit-box-orient: vertical;
height: 100%;
overflow: var(--uc-scrollbox-overflow,initial);
}

/*--required to keep from scolling < >--*/

#tabbrowser-arrowscrollbox, #tabbrowser-arrowscrollbox .scrollbox-clip {
contain: inline-size !important;
margin-left: -1px !important;
}

/*--------------------------------tab container height----------------------------*/

/*height when menubar activated*/
/*
:root:not([customizing]) #toolbar-menubar:not([inactive="true"]) +
#TabsToolbar #tabbrowser-tabs{
top: calc(var(--uc-bookbar-height) + 36px) !important;
height: calc(var(--uc-tabbar-height-adjust) - 52px) !important;}

:root:not([customizing]) #toolbar-menubar[autohide="false"] + #TabsToolbar #tabbrowser-tabs{
top: var(--uc-bookbar-height) !important; 
height: var(--uc-tabbar-height-adjust) !important;}

:root:not([customizing]) #titlebar > #toolbar-menubar:not([inactive="true"]) ~ #TabsToolbar > #tabbrowser-tabs{
top: var(--uc-bookbar-height) !important;
height: var(--uc-tabbar-height-adjust) !important;}

:root:not([customizing]) #titlebar > #toolbar-menubar[autohide="false"] ~ #TabsToolbar > #tabbrowser-tabs{
top: var(--uc-bookbar-height) !important; 
height: var(--uc-tabbar-height-adjust) !important;}
*/
/*--height when bookmark bar activated--*/

:root:has([collapsed="false"]) #tabbrowser-tabs{
top: calc(var(--uc-bookbar-height) + var(--uc-navbar-height));  
height:var(--uc-tabbar-height-adjust) !important;}

/*--height in full screen mode--*/

#main-window:is([inDOMFullscreen]) #tabbrowser-tabs
{ top: var(--uc-navbar-height) !important; }

/*--------------------------------END of tab container height----------------------------*/


/*--------------------------Individual tabs---------------------------*/

/*--do not touch or i will find you. and when i find you..--*/
.tabbrowser-tab:not([pinned]), .tabbrowser-tab:is([pinned]) {
min-width: calc(var(--uc-vertical-tabs-width)-1px) !important;
width: calc(var(--uc-vertical-tabs-width)-1px) !important;
padding: 0 2px !important;
--tab-label-mask-size: 2em !important;}
.tabbrowser-tab:not([pinned]) {
max-width: calc(var(--uc-vertical-tabs-width)-1px) !important;
min-width: calc(var(--uc-vertical-tabs-width)-1px) !important;
transition: min-width 100ms ease-out, max-width 100ms ease-out;
}
/*--i will kill you...--*/


/*--pinned position, ignore above :)--*/

.tabbrowser-tab:is([pinned]),
#tabbrowser-tabs[positionpinnedtabs] > #tabbrowser-arrowscrollbox > .tabbrowser-tab[pinned] {
position: initial !important;
flex-shrink: initial !important;
margin-left: initial !important;
margin: 0 !important;
align-items: stretch !important;
justify-content: flex-start !important;
overflow: clip !important;
overflow-clip-margin: 2px !important;}

.tab-icon-stack:is([pinned]) {margin-right: 5.5px;}

.tab-throbber,.tab-icon-pending,.tab-icon-image,
.tab-sharing-icon-overlay,.tab-icon-overlay { &:not([pinned])
{margin-inline-end: 5.5px;}}

.tab-label-container[textoverflow][labeldirection="ltr"]:not([pinned]),
.tab-label-container[textoverflow]:not([labeldirection], [pinned]):-moz-locale-dir(ltr) {
mask-image: linear-gradient(to left, transparent, black var(--tab-label-mask-size));
direction: ltr;
}

/*--unpinned position--*/

/*--no extra modification needed--*/


/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

/*--position the content inside of individual tabs--*/

/*--tab container for (favicon,url,closebutton)--*/

.tab-stack {margin-inline: 0px !important;}

.tab-background {
border-radius: var(--tab-border-radius) !important;
margin-block: var(--tab-block-margin) !important;
min-height: var(--tab-min-height) !important;}

.tab-content {
padding: 0 10px !important;
min-width: 0 !important;}

.tab-content {
:root:not([uidensity="compact"]) &[pinned] { padding: 0px; }}

/*
.tab-icon-stack{}
.tab-icon-image{}
*/

.tab-label-container {overflow: hidden;}

.tab-label {margin-inline: 0; white-space: nowrap;}

.tabbrowser-tab:not([labelendaligned], :hover)
> .tab-stack > .tab-content > .tab-close-button {
  padding-inline-start: 0px !important;
  width: 16px !important; height: 16px !important;}

/*--close buttons disabled, but still positioned--*/

#tabbrowser-tabs .tab-close-button{
margin-inline-end: -3px !important;
height: 16px !important; width: 16px !important;
border-radius: var(--uc-button-border) !important;
display: none !important; /*--removable--*/
}
#tabbrowser-tabs .close-icon {
padding: 2px !important;
border-radius: var(--uc-button-border) !important;
display: none !important; /*--removable--*/
}

.tab-throbber, .tab-icon-pending, .tab-icon-image,
.tab-sharing-icon-overlay, .tab-icon-overlay
{height: 16px; width: 16px;}


/*--END of tab container content--*/
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/


/*-------------------tab container extra buttons--------------------*/

#tabs-newtab-button, #tabs-newtab-button > .toolbarbutton-icon {
background: none !important; 
border-radius: var(--tab-border-radius);}

#tabbrowser-tabs[hasadjacentnewtabbutton] #tabs-newtab-button {
display: flex !important;
width: 100%; height: 50px;}

#tabbrowser-tabs:hover #tabs-newtab-button
{ justify-content: center !important;}

#tabs-newtab-button:active
{ background: rgba(0,0,0,0.2) !important; }




/*-------------------------------adjustments DO NOT TOUCH------------------------------*/


/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

/*--(dont touch) removal of inconsistent buttons, and adjustments--*/

#scrollbutton-up, #scrollbutton-down
{display: var(--uc-scrollbutton-display,initial);}

#titlebar
{will-change: none !important;transition: none !important;opacity: 1 !important;z-index: 1 !important;}

#tabbrowser-arrowscrollbox {
&:not([scrolledtostart])::part(overflow-start-indicator) {
margin-inline: -2 !important; opacity: 0 !important;}}

#tabbrowser-arrowscrollbox {
&[scrolledtostart]::part(overflow-start-indicator), &[scrolledtoend]::part(overflow-end-indicator) {
opacity: 1;}}

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^END^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^END^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/



/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

@media (-moz-bool-pref: "userchrome.vertical-tabs.on-right.enabled"){
#PersonalToolbar, #tab-notification-deck, .global-notificationbox,
#main-window:not([inDOMFullscreen]) > body > #browser
{/*margin-left: 0 !important;margin-right: 0 !important;*/}
:root:not([customizing]) #tabbrowser-tabs{
left: unset;right: 0;}}

.tabbrowser-tab:not([pinned], [fadein]) {
  max-width: 0.1px;
  min-width: 0.1px;
  visibility: initial;
  opacity: 1;
}
.tabbrowser-tab:not([pinned]){
flex: 100 100;}

.tabbrowser-tab, .tabbrowser-tab:not([pinned]), .tabbrowser-tab:is([pinned]) {
  padding: 0 2px !important;
  flex-shrink: 0;
  --tab-label-mask-size: 2em;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
  margin-inline-start: 0px !important;
}

/*THIS IS THE EXTRA NEW TAB BUTTON THAT TRIGGERS THE ELEMENT SITTING UNDER TABS*/
/* DO NOT TOUCH THIS. FIREFOX REALLY F'D THIS ONE UP. */

#tabbrowser-tabs[hasadjacentnewtabbutton]:not([overflow]) ~ #new-tab-button, 
#tabbrowser-tabs[overflow] > #tabbrowser-arrowscrollbox > #tabbrowser-arrowscrollbox-periphery > 
#tabs-newtab-button, #tabbrowser-tabs:not([hasadjacentnewtabbutton]) > 
#tabbrowser-arrowscrollbox > #tabbrowser-arrowscrollbox-periphery > 
#tabs-newtab-button, #TabsToolbar[customizing="true"] #tabs-newtab-button
{ display: flex !important; justify-content: left; pointer-events: none !important;}

#new-tab-button {
  background: transparent !important;
  opacity: 0 !important;
  left: 5px;
  position: absolute;
  display: none !important;
}
/* this button is a pain */
#alltabs-button {display: none;}

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^END^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^END^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

/* make sure closed tabs update the scrollbox */
.tabbrowser-tab:not([pinned], [fadein]){
  max-width: 0.1px !important;
  min-width: 0.1px !important;
  visibility: collapse !important;
}


/*-----------------------------------END OF ADJUSTMENTS-------------------------------------*/
