
/*----------------------NEW TAB HOME-----------------------*/

@-moz-document url(about:newtab), url(about:home) {

/*--background--*/
body { 
background: url("site-icons/newtab.png") !important;
background-position: center center;
background-size: cover;}

/*--logo--*/
.search-wrapper .logo-and-wordmark .logo {
height: 128px !important; width: 128px !important;
background: url("site-icons/ultimafox.png") no-repeat center !important; }

/* next, shortcuts -> borders get a little more curve, and background color */
.top-site-outer .tile { border-radius: 18px; background-color: rgba(1, 2, 1, 0.4) !important; }
.top-site-outer .top-site-icon { background-color: rgba(1, 2, 1, 0.0) !important; }

/*search bar*/
.search-wrapper .search-inner-wrapper {min-width: 200px !important;width: 30vw !important;}

.search-wrapper .search-handoff-button, .search-wrapper input {background: rgba(0,0,0,0.4) !important;}

.search-handoff-button .fake-textbox {opacity: 0.7 !important;}

.fake-textbox {justify-content: center;display: flex;margin-left: -10%;}

.customize-menu.customize-animate-enter-done, .customize-menu.customize-animate-enter-active {border-radius: 10px;}


.outer-wrapper  .top-site-inner .title,
.outer-wrapper  .top-site-inner .icon-pin-small {
        opacity: 0 !important;
    }


.outer-wrapper  .top-site-inner:hover .title,
.outer-wrapper  .top-site-inner:hover .icon-pin-small {
        opacity: 1 !important;
    }




} /* <-- close out new tab document */
















/*----------------------FIREFOX VIEW PAGE-----------------------*/

@-moz-document url(about:firefoxview) {

body {background-color: rgba(28, 27, 34, 0.7) !important;}

.sticky-container.bottom-fade {
  background: rgba(28, 27, 34, 0.7) !important;
}
} /* <-- close out document */
