
/*--------------------------Global positioning--------------------------*/
/*---------------Global variables for quick custom modifications-------------*/

:root:not([customizing],[chromehidden~="menubar"]){
--uc-vertical-tabs-width: 41px;
--uc-vertical-tabs-width-revert: 41px;
--uc-navbar-height: 40px;
--uc-collapsed-tabs-width: 41px;
} /*--DO NOT GO LOWER THAN 41PX--*/

:root[uidensity="compact"]:not([customizing],[chromehidden~="menubar"])
{ --uc-navbar-height: 34px; }

:root, body, * {

/*bookmarkbar height*/
--uc-bookbar-height: 22px;
/*calculate tab height based on nav bar*/
/*then adjust for bookmark being active*/
--uc-tabbar-height:
calc(100vh - var(--uc-navbar-height) - var(--uc-margin-top) - var(--uc-margin-bottom));
--uc-tabbar-height-adjust:
calc(100vh - var(--uc-bookbar-height) - var(--uc-navbar-height) - var(--uc-margin-top) - var(--uc-margin-bottom));

/*rounded corners*/
--uc-all-border-radius: 10px;
--tab-border-radius: 10px;
--uc-button-border: 4px;

/* ^ > v < (space the windows from each other) */
/*tabs get there own margins*/
--uc-all-margins: 3px 6px 6px 6px; 
--uc-margin-inline: 6px; /* < > */
--uc-margin-top:3px;     
--uc-margin-bottom:6px;      
--uc-tab-margins: 3px 0px 6px 6px;
--uc-sb-margin-leftside: 3px 3px 6px 6px;
--uc-sb-margin-rightside: 3px 6px 6px 0px;
--uc-tab-padding: 2px;

/*individual tabs*/
--tab-min-height: 35px;
--tab-min-width: initial !important; /*dont touch*/
--tab-overflow-pinned-tabs-width: initial !important; /*dont touch*/
--inline-tab-padding: 10px;
--tab-block-margin: 2px;

}

/*---------------------------------------------------------------------------------*/
/*
the firefox browser orders content like this:

[  =  ] [main window] > navigation bar - on top, browser - on bottom
[ | | ]   [browser]   > sidebar |< on left, then browser content >| on right]

so im going to follow this order and section parts individually
I havent modified the nav bar so we go straight to the browser starting with the side bar
*/
/*---------------------------------------------------------------------------------*/

/*---------------Browser - Side bar---------------*/

/*--quick hack, bigger sidebar, 50vw = 50% of the screen width--*/
/*--great for view-tab-in-sidebar extensions--*/
#sidebar-box { max-width: 50vw !important; }
#sidebar-box { min-width: 14em; width: 18em; } /*defaults*/

/*--default left side--<--*/
#sidebar-box {
border-radius: var(--uc-all-border-radius);
margin: var(--uc-sb-margin-leftside) !important;
}
/*--right side-->--*/
#sidebar-box[positionend="true"]
{margin: var(--uc-sb-margin-rightside) !important;}

#sidebar-header {
border-top-left-radius: var(--uc-all-border-radius) !important;
border-top-right-radius: var(--uc-all-border-radius) !important; }
/*--sidebar content--*/
#sidebar {
border-bottom-left-radius: var(--uc-all-border-radius) !important;
border-bottom-right-radius: var(--uc-all-border-radius) !important; }

/*remove ugly border*/
/*but keep the splitter accessible, it resizes the sidebar*/
#sidebar-box[positionend] + .sidebar-splitter{
border: 2px rgba(0,0,0,0) solid !important;
border-inline-width: 0px !important;
margin-inline: 0px !important;
border-inline-end-width: 0px !important;}

.sidebar-splitter
{width: 2px !important;}


/*--------------bookmarks bar---------------*/

/* smaller bookmarks bar */

#PersonalToolbar{
max-height: var(--uc-bookbar-height) !important;
padding-bottom: 2px !important;}

/* center bookmarks bar, can remove this part if you dont like */

/*#PlacesToolbar, #PlacesToolbarItems
{ justify-content: center; padding-right: var(--uc-vertical-tabs-width); }
 */

#personal-toolbar-empty-description, #personal-toolbar-empty-description .text-link, a
{cursor: auto !important; opacity: 0 !important;}

/*---------------------------------------------------------------------------------*/

/*---------------Browser - Browser content---------------*/

/*browser is the container, browser stack is the content*/

#browser, #appcontent, #tabbrowser-tabbox,
#tabbrowser-tabpanels, .browserSidebarContainer,
.browserStack{
border-radius: var(--uc-all-border-radius) !important;}

.browserContainer {border-radius: var(--uc-all-border-radius) !important;}

#main-window
#tabbrowser-tabpanels { browser[type] {
border-radius: var(--uc-all-border-radius) !important;
margin: var(--uc-all-margins) !important;
}}

/*maychangeremoteness="true"
primary="true"
remote="true"
preloadedState="preloaded"
nodefaultsrc="true"
manualactiveness="true"*/


/*-------------------menu bar--------------------*/

/*--quick styling--*/

#menubar-items {
background: var(--uc-ultima-background-ii) !important;
border-radius: 5px !important;
justify-content: center !important;
}
#toolbar-menubar:not([inactive="true"]) #main-menubar > menu { &[_moz-menuactive] {
background-color: var(--uc-selected) !important;
color: inherit;
border-radius: 5px !important;}}


/*--positioning when active--*/

/*#toolbar-menubar:not([inactive="true"]), */
#toolbar-menubar[autohide="false"] {
position: fixed;
left: calc(50vw - 150px);
top: var(--uc-navbar-height);
height:23px !important;
}
#toolbar-menubar:not([inactive="true"]) #main-menubar > menu { &[_moz-menuactive] {
background-color: var(--uc-selected) !important;
color: inherit;
border-radius: 5px !important;}}


/*--positioning when pressing alt--*/

/*#toolbar-menubar:not([inactive="true"]), */
#toolbar-menubar[autohide="true"]:not([inactive="true"]) {
position: fixed;
left: calc(50vw - 150px);
top: var(--uc-navbar-height);
height:23px !important;
}

/*-------------------fin--------------------*/