
/*--option 1 - tabs overlay browser content instead of pushing it to the side--*/

/*--added autohide on hover support--*/

:root:not([customizing]) #navigator-toolbox:not(hover) #tabbrowser-tabs
{width: var(--uc-collapsed-tabs-width);}

:root:not([customizing]) #navigator-toolbox:hover #tabbrowser-tabs
{width: var(--uc-vertical-tabs-width-revert);}

/*--browser content will not move to the side--*/

#tab-notification-deck, .global-notificationbox,
#main-window:not([inDOMFullscreen]) #browser
{margin-left: calc(var(--uc-collapsed-tabs-width) + var(--uc-margin-inline)) !important;}

/*--background, and visibility--*/

:root:not([customizing]) #tabbrowser-arrowscrollbox
{background: var(--uc-ultima-background-iii) !important;}

#navigator-toolbox {z-index: 3 !important;}
