findbar { border-top: 0px !important; padding-block: 2px !important; }
  

.findbar-container { height: 38px !important; padding-bottom: 4px !important; }

.findbar-textbox {
  width: 20em !important;
padding-bottom: 9px !important;
padding-top: 8px !important;
border: 0px !important;
background-color: var(--toolbar-field-background-color) !important;
}

.findbar-textbox:focus {background-color: var(--toolbar-field-background-color) !important;}

findbar {
  margin-inline: 4px !important;
  border-radius: 10px !important;}