/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
SOME ICON REPLACEMENTS
made icons myself very minimal, made to blend in with default release buttons
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

#unified-extensions-button {list-style-image: url("icons/extensions-l.png") !important;}

/*this is the bookmark toolbars folder icon*/
.bookmark-item[container=true] {list-style-image: url("icons/bm-l.png") !important;}


/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
EXTENSIONS
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

#ublock0_raymondhill_net-BAP image{
list-style-image: url("icons/ubon-l.png") !important;}

#ublock0_raymondhill_net-BAP[tooltiptext="uBlock Origin (off)"] image{
list-style-image: url("icons/uboff.png") !important;}


/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
NOTIFICATION BADGE'S COLOR - THE BADGE THAT POPS UP ON EXTENSIONS
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.toolbarbutton-badge {
background-color: rgba(0,0,0,0.4) !important;
box-shadow: 0 !important;
color: black !important;
text-shadow: #FDFFFF 0.5px 0 15px!important;}


/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
DOWNLOAD BUTTON ICON AND COMPLETED STATUS - removed
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/*
#downloads-button image{
list-style-image: url(icons/downloads.png) !important;
width:16px !important; height:16px !important;}

#downloads-button[attention="success"] image{
list-style-image: url(icons/downloadssuccess.gif) !important;
width:16px !important; height:16px !important; opacity: 1 !important;}

#downloads-button[progress] image{
list-style-image: url(icons/downloadsprogress.gif) !important;
width:16px !important; height:16px !important;}
*/



