/*---------------------------- Dark Mode Global Variables -----------------------------
- Global variables used for ease of modification, and future customization
 
[Index] ctrl+f a line to find the specified section:
Establishing custom variables
Overwriting existing variables
Applying variables to create the Dark Mode theme
Adapting to add-on-theme styling
Global styling - applies everywhere
Global styling - Icons
-------------------------------------------------------------------------------------*/


@media (prefers-color-scheme: dark) {

    /* Establishing custom variables - allowing most(/all) customization to be done in one place. */
        
    :root, body, * {
        color-scheme: dark !important; /*--<--dont touch--*/
        --uc-ultima-window: rgb(30, 30, 46);
        --uc-dark-color: rgb(27, 25, 35);
        --uc-light-color: rgb(215, 218, 224);
        --uc-accent-i: rgb(203, 166, 247); /*purp*/
        --uc-accent-ii: rgb(137, 180, 250); /*blue*/
        --uc-accent-iii: rgb(186, 194, 222); /*light*/
        --uc-accent-iv: rgb(24, 24, 37); /*dark*/
        --uc-accent-v: rgb(166, 227, 161); /*green*/
        --uc-accent-vi: rgb(243, 139, 168); /*red*/
        --uc-accent-vii: rgb(44, 55, 80); /*darker blue*/
        --uc-background-main: rgb(24, 24, 37);
        --uc-background-panel: rgb(17, 17, 27);
        --uc-background-solid: rgb(17, 17, 27);
        --uc-background-secondary: var(--uc-background-main);
        --uc-transparent: rgba(0,0,0,0);
        --uc-selected: rgb(24, 24, 37);
        --uc-active: rgb(17, 17, 27);
        --uc-text: rgb(205, 214, 244);
        --uc-panel-border: rgba(27, 25, 35, 1);
        --uc-panel-border-ii: rgba(70, 70, 80, 0.2);
        --uc-context-menu: rgb(49, 50, 68);
        --uc-tabs-background: var(--uc-background-main);
        --uc-sb-background: var(--uc-background-main);
        --uc-sb-background-header: var(--uc-accent-iv);
        --uc-sb-background-container: var(--uc-transparent);
        --uc-tabs-lwt: color-mix(in srgb, var(--lwt-accent-color) 75%, #000);
        --uc-sb-lwt: color-mix(in srgb, var(--lwt-accent-color) 75%, #000);
        --urlbar-icon-border-radius: var(--uc-all-border-radius);
        --arrowpanel-menuitem-border-radius: var(--uc-all-border-radius);
        --arrowpanel-border-radius: var(--uc-all-border-radius);
        --toolbarbutton-border-radius: var(--uc-all-border-radius);
        --urlbar-icon-border-radius: var(--uc-all-border-radius);
        --button-border-radius: 10px;
        --uc-button-border-radius: 10px;
      }
    
        
        
        
    /* Overwriting existing variables -------------------------------------------------*/
      
    #main-window:not([lwtheme]), :root:not([lwtheme]) {    
        
      --toolbar-bgcolor: var(--uc-ultima-window) !important;
        
      --tab-selected-bgcolor: var(--uc-active) !important;
      --tab-selected-textcolor: var(--uc-text) !important;
      --tab-loading-fill: var(--uc-accent-ii) !important;
    
      --button-hover-bgcolor: var(--uc-selected) !important;
      --toolbarbutton-hover-background: var(--uc-selected) !important;
      --button-active-bgcolor: var(--uc-active) !important;
      --toolbarbutton-active-background: var(--uc-active) !important;
      --button-primary-bgcolor: var(--uc-accent-i) !important;
      --button-primary-hover-bgcolor: var(--uc-accent-i) !important;
      --buttons-destructive-hover-bgcolor: var(--uc-accent-vi);  /*red*/
      --buttons-destructive-active-bgcolor: var(--uc-accent-vi); /*red*/
      --toolbarbutton-icon-fill: var(--uc-accent-i) !important; /*toolbar button color*/
    
      --toolbar-field-background-color: var(--uc-accent-iv) !important;
      --toolbar-field-border-color: var(--uc-accent-iii) !important;
      --toolbar-field-focus-border-color: var(--uc-accent-v) !important;
      --urlbarView-result-button-selected-color: var(--uc-text) !important;
      --urlbarView-result-button-selected-background-color: var(--uc-selected) !important;
      --urlbarView-highlight-background: var(--uc-selected) !important;
      --urlbarView-hover-background: var(--uc-selected) !important;
      --urlbar-box-hover-bgcolor: var(--uc-selected) !important;
      --urlbar-box-hover-text-color: var(--uc-text) !important;
    
      --toolbar-field-color: var(--uc-text) !important;
      --toolbar-field-focus-color: var(--uc-text) !important;
      --toolbar-color: var(--uc-text) !important;
      --toolbar-field-color: var(--uc-text) !important;
      --toolbar-field-focus-color: var(--uc-text) !important;
    
      --sidebar-text-color: var(--uc-text) !important;
      --arrowpanel-background: var(--uc-background-panel) !important;
      --arrowpanel-border-color: var(--uc-active) !important;
      --arrowpanel-color: var(--uc-text) !important;
      --newtab-background-color: var(--uc-tabs-background) !important;
    
      --panel-background: var(--uc-background-panel) !important;
      --panel-item-hover-bgcolor: var(--uc-selected) !important;
      --panel-banner-item-hover-bgcolor: var(--uc-selected) !important;
      --short-notification-background: var(--uc-accent-ii) !important;
      --panel-border-color: var(--uc-panel-border) !important;
      --organizer-toolbar-background: var(--uc-accent-iv) !important;
      --organizer-pane-background: var(--uc-accent-iv) !important;
      --organizer-content-background: var(--uc-accent-iv) !important;
      --organizer-hover-background: var(--uc-accent-iv) !important;
      --organizer-selected-background: var(--uc-selected) !important;
      --organizer-focus-selected-color: var(--uc-selected) !important;
      --organizer-outline-color: rgb(0,221,255) !important;
      --organizer-toolbar-field-background: var(--uc-accent-iv) !important;
      --organizer-toolbar-field-background-focused: rgb(66, 61, 98) !important;
      --content-select-background-image: none !important;
    } 
        
        
        
        
    /* Applying variables to create the Dark Mode theme --------------------------------*/
    
    #main-window:not([lwtheme]) {
        
        /* main browser window background color */
        background-color: var(--uc-ultima-window) !important;  
        & body {background: var(--uc-ultima-window) !important;}
    
        /* keep consistency with the navigation assets (including the tabs container) */
        & #navigator-toolbox {
            background-color: var(--toolbar-bgcolor) !important;
            border-bottom: 1px solid rgba(0,0,0,0) !important;
            &:-moz-window-inactive {
                background-color: var(--toolbar-bgcolor) !important;
                color: var(--uc-text) !important;
            }
        }    
        
        /* content window */
        & #appcontent, 
        & #browser, 
        & #tabbrowser-tabbox, 
        & #tabbrowser-tabpanels, 
        & .browserSidebarContainer { 
            background: var(--toolbar-bgcolor) !important; 
        }
        & .browserStack { 
            background: var(--uc-transparent) !important; 
        }
        & #tabbrowser-tabpanels browser[type] {
            outline: 4px solid var(--toolbar-bgcolor);
        }
           
        /* tabs container */
        & #tabbrowser-tabs {
            background: transparent;
            --tab-loading-fill: var(--uc-accent-i) !important;
        }
        & #TabsToolbar-customization-target {
            box-shadow: 0.15rem 0.3rem 0.4rem -0.1rem rgba(25,25,25,0.8);
            background: var(--uc-background-main);
        }
        /*tabs styling - for unselected and unpinned*/
        & .tab-label-container:not([selected=""],[pinned]) {
            color: var(--uc-text) !important;
        }
        /*tabs styling - for selected tab*/
        & .tab-label-container[selected] {
            color: var(--uc-accent-v) !important;
        }
        /* pinned tabs style */
        .tab-label-container[pinned] {
            color: var(--uc-accent-vi) !important;
        }
        & .tabbrowser-tab[pinned=""] .tab-background,
        & .tabbrowser-tab[pinned="true"] .tab-background {
            background-color: var(--tab-selected-bgcolor) !important;
        }
        /* tabs tooltip styling */
        & .tab-preview-container {
            background-color: var(--uc-tabs-background) !important;
            color: var(--uc-text) !important;
            width: 225px !important;
            border: 1px solid var(--uc-panel-border) !important;
        }
    
        /* URL bar */
        & #urlbar:is([focused="true"], & [open]) > #urlbar-background, & #searchbar:focus-within {
            margin-top: 3px !important; /*new*/
            background-color: var(--uc-context-menu) !important;
            border-radius: var(--uc-all-border-radius) !important;
        }
    
        & #urlbar:is([focused="true"], & [open]) > #urlbar-background, & #searchbar:focus-within {
            border-radius: var(--uc-all-border-radius) !important;
        }
    
        & #urlbar-background, & #searchbar {
            background-color: var(--uc-accent-iv) !important;
            border-radius: 10px !important;
            border: 0 !important;
            box-shadow: 0.1rem 0.4rem 0.4rem -0.1rem rgba(25,25,25,0.8);
        }
    
        & #urlbar[open] > #urlbar-background {
            border-color: var(--uc-accent-iii) !important;
        }
    
        & #urlbar[breakout][breakout-extend] {
            background-color: transparent !important;
            border-radius: 10px;
        }
    
        & #urlbar-zoom-button {
            background-color: var(--uc-active) !important;
            margin-top:3px !important;
        }
    
        & .urlbarView-row {
            &[selected] {
                color: var(--uc-text) !important;
            }
        }
                    
        /* toolbar buttons */
        & .toolbarbutton-icon:hover,
        & .toolbarbutton-icon[open] {
            background-color: var(--uc-selected) !important;
        }        
        & #TabsToolbar #firefox-view-button:hover:not([open]) > .toolbarbutton-icon
          {background-color: var(--uc-selected) !important;}
        /* bookmark button in URL bar */
        & #star-button[starred] {
          fill-opacity: 1 !important;
          fill: var(--uc-accent-i) !important;
        }
        /* title bar buttons - min, max, close */
        & .titlebar-button {
          border-radius: var(--uc-button-border-radius);
        }
        & .titlebar-button:hover {
          background-color: var(--uc-selected) !important;
        }
        @media (-moz-platform: windows) {
            .titlebar-close:hover {
                background-color: var(--uc-accent-vi) !important;
            }
        }        
    
        /* other panels & extensions panel */
        & .panel-subview-body {
            background: var(--uc-background-panel) !important;
        }
        & panelview,
        & #unified-extensions-view {
            background: var(--uc-background-panel) !important;
        }
        
        /* drop down menus */
        & #ContentSelectDropdown > menupopup[customoptionstyling="true"]::part(arrowscrollbox) {
            --panel-color: black !important;
        }
    
        & #ContentSelectDropdownPopup .menupopup-arrowscrollbox::part(content) {
            --panel-color: black !important;
        }
        & #ContentSelectDropdownPopup menupopup,
        & #ContentSelectDropdownPopup panel {
            --panel-color: black !important;
        }        
            
        /* extra styling - bookmark toolbar adjustment */
        & #PersonalToolbar {background: var(--uc-transparent) !important;}
            
        /* extra styling - customize toolbar page */     
        & #customization-container {background-color: var(--uc-ultima-window) !important;}    
        
        /* menu popups */
        & .panel-subview-body {
            background: color-mix(in srgb, var(--uc-background-panel) 10%, var(--ultima-window) 90%) !important;
        }
        & .menupopup-arrowscrollbox {
            background-color: var(--uc-background-panel) !important;
        }
        
    } /* < end of Dark Mode Theme */
        
        
        
        
    /* Adapting to add-on-theme styling ------------------------------------------------*/   
    
    #main-window[lwtheme] {
        
        /* main browser window background color */
        background-color: var(--lwt-accent-color) !important; 
        & body {background: var(--lwt-accent-color) !important;}
        /*if (this) preference is applied, use (that) variable instead*/
        @media (-moz-bool-pref: "ultima.xstyle.lwtheme") {
            background-color: var(--arrowpanel-background) !important;
            & body {background: var(--arrowpanel-background) !important;}
        }   
    
        /* keep consistency with the navigation assets (including the tabs container) */
        & #navigator-toolbox {
            background-color: var(--toolbar-bgcolor) !important;
            border-bottom: 1px solid rgba(0,0,0,0) !important;
            &:-moz-window-inactive {
                background-color: var(--toolbar-bgcolor) !important;
                color: var(--uc-text) !important;
            }
        }    
        & #nav-bar {background: initial !important;}
        
        /* content window */
        & #appcontent, 
        & #browser, 
        & #tabbrowser-tabbox, 
        & #tabbrowser-tabpanels, 
        & .browserSidebarContainer { 
            background: var(--uc-transparent) !important; 
        }
        & .browserStack { 
            background: var(--uc-transparent) !important; 
        }
        & #tabbrowser-tabpanels browser[type] {
            margin-top: 2px !important; /*new*/
            outline: 3px solid var(--lwt-accent-color);
            @media (-moz-bool-pref: "ultima.xstyle.lwtheme") {
                outline: 3px solid var(--arrowpanel-background);
            }
        }    
        
        /* side bar*/
        & #sidebar-header, & #sidebar {
            background-color: var(--uc-sb-lwt) !important;
        }
        & #sidebar-box {
            background-color: var(--uc-transparent) !important;
            box-shadow: 0.1rem 0.3rem 0.4rem -0.1rem rgba(25,25,25,0.4);
        }
        & #sidebar-search-container #search-box, & #sidebar-search-container #viewButton {
            appearance: none !important;
            border-radius: 10px !important;
            background-color: var(--uc-accent-iv) !important;
            box-shadow: 0.1rem 0.3rem 0.4rem -0.1rem rgba(25,25,25,0.8);
        }
        & #bookmarksPanel #sidebar-search-container #search-box {
            appearance: none !important;
            border-radius: 10px !important;
            background-color: var(--uc-accent-iv) !important;
        }
        & .sidebar-panel[lwt-sidebar] {
            background-color: var(--uc-transparent) !important;
        }
    
        /* tabs and tabs container */
        --tab-selected-bgcolor: var(--lwt-accent-color) !important;
        @media (-moz-bool-pref: "ultima.xstyle.lwtheme") {
            * {
            --uc-tabs-lwt: color-mix(in srgb, var(--uc-background-main) 30%, var(--arrowpanel-background) 70%);
            --tab-selected-bgcolor: var(--uc-background-main) !important;
            }
        }
        & :root:not([customizing]) #tabbrowser-tabs:-moz-lwtheme {
            background-color: var(--uc-tabs-lwt) !important;
        }
        & #TabsToolbar-customization-target {
            background: var(--uc-tabs-lwt) !important;
        }
        /* pinned tabs style */       
        & .tab-content[pinned=""] .tab-background,
        & .tab-content[pinned="true"] .tab-background { 
            background: var(--lwt-accent-color);
        }
        & .tabbrowser-tab[pending="true"] {
            opacity: 0.3 !important;
        }
        
        /* URL bar */
        & #urlbar:is([focused="true"], & [open]) > #urlbar-background, & #searchbar:focus-within {
            margin-top: 3px !important; /*new*/
            background-color: color-mix(in srgb, var(--uc-background-main) 10%, var(--lwt-accent-color) 90%) !important;
            border-radius: var(--uc-all-border-radius) !important;
        }
    
        & #urlbar:is([focused="true"], & [open]) > #urlbar-background, & #searchbar:focus-within {
            border-radius: var(--uc-all-border-radius) !important;
        }
    
        & #urlbar-background, & #searchbar {
            background-color: var(--uc-accent-iv) !important;
            border-radius: 10px !important;
            border: 0 !important;
            box-shadow: 0.1rem 0.4rem 0.4rem -0.1rem rgba(0,0,0,0.5);
        }
    
        & #urlbar[open] > #urlbar-background {
            border-color: var(--uc-accent-iii) !important;
        }
    
        & #urlbar[breakout][breakout-extend] {
            background-color: transparent !important;
            border-radius: 10px;
        }
    
        & #urlbar-zoom-button {
            background-color: var(--uc-active) !important;
            margin-top:3px !important;
        }
    
        & .urlbarView-row {
            &[selected] {
                color: var(--uc-text) !important;
            }
        }
    
        /* extra styling - customize toolbar page */     
        & #customization-container {background-color: var(--lwt-accent-color) !important;} 
            
    } /* < end of Add-On Theme Styling */
        
        
    
        
    /* Global styling - applies everywhere ---------------------------------------------*/
    
    /* scroll bars */
    * {scrollbar-width:auto !important; scrollbar-color:rgba(50, 50, 60, 0.0) rgba(5,5,5, 0.0) !important;}
    #navigator-toolbox {scrollbar-width:auto !important; scrollbar-color:rgba(50, 50, 60, 0.3) rgba(5,5,5, 0.0) !important;}     
        
    /* global dialog box */
    :root[dialogroot] {
      --in-content-page-background: var(--uc-background-solid) !important;
      color: var(--uc-text)  !important;
    }    
        
    /* fix for inactive/unfocused window altering nav bar color */    
    @media (-moz-platform: windows), (-moz-platform: linux) {
        root{--inactive-titlebar-opacity: 1 !important;}
    }    
            
    /* tooltip, worth a try */    
    tooltip {
        background-color: var(--uc-background-main) !important;
        color: var(--uc-text) !important;
        border-color: var(--uc-panel-border) !important;
    }
    
    /* side bar - font size, padding, borders, etc */
    #sidebar-header {
      font-size: 1.333em;
      padding: 7px !important;
      border-bottom: 0px !important;
    }
    #sidebar-close { /*side bar close button*/
        opacity: 0.6 !important;
    } 
    /* bookmarks, history, splitter */
    #sidebar-search-container #search-box {
        height: 3em;
    }
    splitter {@media (-moz-platform: windows) { & {
      border-width: 0 0px !important;
      border-style: solid !important;
      background-color: transparent !important;
    } } }
    @media not (-moz-platform: linux) { .sidebar-splitter {
      border: 0 solid !important;
      border-inline-end-width: 1px !important;
      border-color: transparent !important;
      min-width: 1px !important;
      width: 4px !important;
      background-color: transparent !important;
      margin-inline-start: -7px !important;
    } }
    
    
    /*new experimental status for side bar - keeping a universal style*/
    
    #sidebar-header {
        background-color: var(--uc-sb-background-header) !important;
    }
    #sidebar {
        background: var(--uc-sb-background) !important;
    }
    #sidebar-box {
        background-color: transparent !important;
        box-shadow: 0.1rem 0.3rem 0.4rem -0.1rem rgba(25,25,25,0.7);
    }
    #sidebar-search-container #search-box, & #sidebar-search-container #viewButton {
        appearance: none !important;
        border-radius: 10px !important;
        background-color: var(--uc-accent-iv) !important;
        box-shadow: 0.1rem 0.3rem 0.4rem -0.1rem rgba(25,25,25,0.8);
    }
    #bookmarksPanel #sidebar-search-container #search-box {
        appearance: none !important;
        border-radius: 10px !important;
        background-color: var(--uc-accent-iv) !important;
    }
    
    /* title bar buttons - min max close*/
    #main-window {
        &:not([lwtheme]) .titlebar-button {
            stroke: var(--uc-accent-ii) !important;
        } 
        &[lwtheme="true"] .titlebar-button {
            stroke: var(--toolbarbutton-icon-fill) !important;
        }
    }
    
    /* titlebar opacity safe guard, hopefully */
    :root { @media (-moz-platform: windows) {
      --inactive-titlebar-opacity: 1 !important;
    }}
    
    /* full screen indicator label */
    /*--the label that says ("website.com is now in full screen...")--*/
    #fullscreen-warning { 
        &, *.pointerlockfswarning {
            opacity: 0 !important;
            border-radius: 20px !important;
        }
        & * {
            border-radius: var(--uc-all-border-radius) !important;
        }
    } 
    
        
    
        
    /* Global styling - Icons --------------==========----------------------------------*/
    
    /*--extension menu--*/
    #main-window:not([lwtheme]) #unified-extensions-button {
      list-style-image: url("icons/extensions.svg") !important;
      fill: var(--uc-accent-i) !important;
    }
    #main-window[lwtheme="true"] #unified-extensions-button {
      list-style-image: url("icons/extensions.svg") !important;
      fill: var(--lwt-accent-color) !important;
    }
    /*--bookmarks folder icon--*/
    .bookmark-item[container=true] {
      list-style-image: url("icons/bm.png") !important;
    }
    /*--ublock on--*/
    #ublock0_raymondhill_net-BAP image{
      list-style-image: url("icons/ubon.png") !important;
    }
    /*--ublock off--*/
    #ublock0_raymondhill_net-BAP[tooltiptext="uBlock Origin (off)"] image{
      list-style-image: url("icons/uboff.png") !important;
    }
    #forward-button image{
      list-style-image: url("chrome://global/skin/icons/arrow-right.svg") !important;
      stroke: var(--uc-accent-iii) !important;
    }
    #back-button image{
      list-style-image: url("chrome://global/skin/icons/arrow-left.svg") !important;
      stroke: var(--uc-accent-iii) !important;
    }
    
    /*--notification badges--*/
    .toolbarbutton-badge {
      background-color: rgba(0,0,0,0.3) !important;
      box-shadow: 0 !important;
      color: var(--uc-text) !important;
      text-shadow: #FDFFFF 0.5px 0 15px!important;
    }
    
    }
    